@use 'styles/uswds/milmove' as milmove_uswds;

.OfficeDefinitionLists {
  // remove browser defaults
  dl {
    margin: 0;
  }

  dt {
    width: 25%;
  }

  dd {
    width: 75%;
  }

  .missingInfoError {
    color: milmove_uswds.$error;
    @include milmove_uswds.u-border-left(0.5); //4px
    @include milmove_uswds.u-border-left('error');
    @include milmove_uswds.u-font-weight(bold);
  }
}
