@use 'shared/styles/_basics' as *;
@use 'shared/styles/colors';

.OfficeDefinitionLists {
  // remove browser defaults
  dl {
    margin: 0;
  }

  dt {
    width: 25%;
  }

  dd {
    width: 75%;
  }

  .missingInfoError.missingInfoError {
    color: colors.$error;
    @include u-border-left(0.5); //4px
    @include u-border-left('error');
    @include u-font-weight(bold);
    @include u-font-size('body', 'md');
  }
}
