@import 'shared/styles/uswdsImports';
@import 'shared/styles/colors';

.OfficeDefinitionLists {
  // remove browser defaults
  dl {
    margin: 0;
  }

  dt {
    width: 25%;
  }

  dd {
    width: 75%;
  }

  .missingInfoError {
    color: $error;
    @include u-border-left(0.5); //4px
    @include u-border-left('error');
    @include u-font-weight(bold);
  }
}
