@import 'shared/styles/_basics';
@import 'shared/styles/colors';
@import 'shared/styles/_mixins';
@import 'shared/styles/_variables';

.ShipmentDefinitionLists {
  .missingInfoError {
    dt {
      @include u-border-left(0.5); //4px
      @include u-border-left('error');
    }
    // These first-child styles added here since the descriptionList compact
    // display removes the border.
    dt:first-child {
      @include u-border-left(0.5); //4px
      @include u-padding-left(0.5); // Adjust padding so that content still ines up
    }

    dd {
      color: $error;
      font-weight: bold;
    }
  }

  .warning {
    dt {
      border-left: 4px solid $mm-gold;
    }
    // These first-child styles added here since the descriptionList compact
    // display removes the border.
    dt:first-child {
      @include u-border-left(0.5); //4px
      @include u-padding-left(0.5); // Adjust padding so that content still ines up
    }
  }
}

.evaluationReportDLContainer {
  @include u-padding-left(12px);
  @include u-padding-right(12px);
}

.evaluationReportDL {
  @include u-margin-left(0 !important);
  @include u-margin-right(0 !important);
}

.sideBySideContainer {
  display: flex;
  justify-content: space-between;
  @include u-padding-left(1);
  dd {
    font-size: 13px;
    width: 206px;
    word-break: break-all;
  }
  dt {
    font-size: 13px;
  }
}

.sidebySideItem {
  flex-grow: 1;
}

.ppmRightLonerDataRow {
  border-bottom-color: $base-lighter;
  border-bottom-width: 1px !important;
  border-bottom-style: solid;
}





