@import 'shared/styles/uswdsImports';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';

.editBtn {
  width: fit-content;
  @include u-margin-top(2);
}

.wrapper {
  @include u-margin-top(2);
}

.header {
  @include u-margin-bottom(0.5);
  margin-top: 2rem;
  font-size: 17px;
  color: $base-darker;
  font-weight: bold;
}

h5.remarksHeader {
  margin: 0;
  @include u-margin-top(2);
}

.remarks {
  margin: 0;
  @include u-margin-bottom(3);
}

.container {
  .hintText {
    line-height: 18px;
  }

  strong,
  span {
    font-size: 13px;
    color: $base;
  }

  .maxBillableWeight {
    display: inline-block;
    width: 96px;
    border: 1px solid #1b1b1b;
    appearance: none; // removes up and down arrow for number inputs on firefox

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none; // removes up and down arrow for number inputs on all other browsers
    }
  }

  .errorMessage {
    margin-top: 0;
    color: #b50909;
    font-weight: 700;
    font-size: 15px;
  }

  .fieldset {
    padding: 0;

    :global(.usa-label) {
      color: $base-darker;
      @include u-margin-top(3);
    }

    :global(.usa-textarea) {
      height: 96px;
    }

    .label {
      margin: 0;
    }
  }
  .btnContainer {
    display: flex;
    @include u-margin-top(2);
  }

  :global(.usa-form-group--error),
  :global(.usa-label--error) {
    margin-top: 0;
  }
}
