@import 'shared/styles/colors';
@import 'shared/styles/_basics';
@import 'shared/styles/_variables';

.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 64rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: $tablet) {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .secondaryBtn {
    box-shadow: inset 0 0 0 2px $primary;

    &:disabled {
      box-shadow: none;
    }
  }
}

.lockWarning {
  margin-bottom: 2rem;
}

.customerHeader {
  color: white;
  background-color: $base-darker;

  // undoes padding of parent container
  margin-top: -21px;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  @include u-margin-bottom(2);

  @include u-padding-top(3);
  @include u-padding-bottom(3);
  padding-left: 20px;
  padding-right: 20px;

  h2 {
    font-size: 28px;
    margin: 0px;
  }

  p {
    font-size: 15px;
    margin: 0px;
  }
}

.helper-paragraph-only {
  p:last-of-type {
    @include u-margin-bottom(0);
  }
}

.centeredContainer {
  display: flex;
  justify-content: center;
}

.createMoveBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include u-margin-top(-1);
  span {
    @include u-margin-right(0.5em);
  }

  @media (max-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    span {
      @include u-margin-right(0);
    }
  }
}

.movesContainer {
  border: 1px solid $base-lighter;
  border-radius: 3px;
  margin-top: 1rem;
  padding-top: 1vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vh;
}

.flashMessage {
  margin-top: -1rem;
}
