// HHG details form

@import '../../../shared/styles/basics';
@import '../../../shared/styles/mixins';
@import '../../../shared/styles/colors';

.HHGDetailsForm {
  h1 {
    @include u-margin-x(auto);
    max-width: 64rem;
    @include u-padding-x(2);
  }

  :global {
    .usa-label:first-of-type {
      margin-top: 0;
    }

    .usa-fieldset {
      p:first-of-type {
        @include u-margin-top(0);
      }
    }

    .usa-form-group {
      @include u-margin-bottom(1);
    }

    .display-flex .usa-radio:not(:first-child) {
      @include u-margin-left('105');
      @include u-margin-bottom(1);
    }

    .usa-fieldset {
      @include u-padding-top(2);
    }

    .usa-hint {
      @include u-font-size('body', '3xs');
      @include u-padding-top(1);
      label & {
        @include u-padding-left('05');
      }
    }
  }
}
