.doc-viewer .doc-viewer-tabs {
  border-bottom: 1px solid #d7d7d7;
  width: 100%;
  margin-top: 2em;
  position: relative;
  left: -1.5em;
  padding-left: 1.5em;
}

.doc-viewer .nav-tab {
  display: inline-block;
  font-weight: bold;
  color: #5b616b;
  border-bottom: 6px solid #fff;
  margin-right: 1.5em;
  margin-bottom: 0;
  cursor: pointer;
  text-decoration: none;
}
.doc-viewer .react-tabs__tab-list {
  padding-left: 0;
}
.doc-viewer .react-tabs__tab--selected {
  color: black;
  border-bottom-color: #0070bd;
  cursor: auto;
}

.doc-viewer .tab-content {
  border-top: none;
}

.doc-viewer .tab-content a {
  text-decoration: none;
  color: #0071bc;
}

.pad-ns {
  padding: 2rem 0rem 2rem 0rem;
}