@import 'shared/styles/uswdsImports';
@import 'shared/styles/mixins';
@import 'shared/styles/colors';

.shipmentDatesContainer {
  @include u-padding-x(0);
  @include u-margin-x(0);
}

.header,
.date {
  width: 50%;
}
