.restrict-left {
  margin-right: 3rem;
}
.grey-title {
  font-size: 0.8em;
  color: #525252;
}
.smaller-text {
  font-size: 0.8em;
}
.move-type-button {
  text-align: left;
  min-height: 630px;
}
.move-type-button p,
ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 1.7rem;
}
.move-type-button ul {
  padding-left: 0;
}

.move-type-button li {
  /*clear:both;*/
  list-style-type: none;
}
.move-type-button li:before {
  content: ' - ';
}

.move-type-button img {
  margin-top: 2.5rem;
  height: 35px;
  margin-bottom: 2.5rem;
}

.move-type-button-more-info {
  text-align: center;
  color: rgb(55, 155, 252);
}
.move-type-button-more-info a:visited {
  color: rgb(55, 155, 252);
}

.select-move-type h2 a {
  font-size: 14px;
}

.select-move-type h2 a:visited {
  color: #0071bc;
}
/* This matches the width at which submit buttons go full-width for mobile devices */
@media only screen and (max-width: 481px) {
  .move-type-button {
    min-height: 100%;
  }
  .collapse-btn {
    border-top: 2px solid #e2e2e2;
    padding: 1em 0rem 1em 0em;
  }
}
