.wizard-header .icon {
  margin: 0;
  margin-right: 1rem;
  max-width: 75px;
}

.wizard-header h3 {
  font-size: 1.7rem;
  font-weight: normal;
}

.icon {
  height: 75;
  width: auto;
}

.wizard-header .wizard-left {
  float: left;
}

.wizard-header .wizard-right {
  float: right;
  margin-right: -17px;
}

@media only screen and (max-width: 375px) {
  .wizard-header .wizard-right {
    margin-top: -30px;
  }
}

@media only screen and (min-width: 380px) {
  .wizard-header .wizard-right {
    margin-top: 30px;
  }
}
