@import '../../shared/styles/basics';
@import '../../shared/styles/mixins';
@import '../../shared/styles/variables';

// conflicts with left nav border style
nav.tabNav a {
  &:active {
    border: none;
    font-weight: inherit;
  }
}

.tabList {
  @include u-margin(0);
  @include u-line-height('body', 1);
  @include u-position('relative');
  @include u-bg('white');
  @include u-padding-left(0);
}

.tabItem a {
  display: inline-block;
  // we don't want the :visited styling to show up here
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.tabItem :global a .tab-title {
  @include u-padding-bottom(1);
  @include u-position('relative');
  @include u-font-size('body', 4);
  @include u-text('gray-cool-70');
  font-weight: normal;
  &:hover {
    @include u-text('blue-warm-60v');
    @include underline(0.25rem, 'blue-warm-60v');
  }
}
.tabItem :global .usa-current .tab-title {
  @include u-text('gray-cool-70', 'bold');
  @include underline(0.25rem, 'blue-warm-60v');
  @include u-position('relative');
  &:hover {
    @include u-text('gray-cool-70', 'bold');
  }
}

.tabItem a :global .usa-tag {
  @include u-text('gray-cool-70');
  @include u-bg('gold-20v');
  @include u-margin-left('05');
  @include u-margin-right(0);
  padding-bottom: 0px;
}

.tabList .tabItem {
  border: none;
  @include u-padding(2);
  @include u-display('inline-block');
  &:focus {
    @include u-outline('05', 'blue-40v');
  }
}
