@use 'styles/uswds/milmove' as milmove_uswds;

// conflicts with left nav border style
nav.tabNav a {
  &:active {
    border: none;
    font-weight: inherit;
  }
}

.tabList {
  @include milmove_uswds.u-margin(0);
  @include milmove_uswds.u-line-height('body', 1);
  @include milmove_uswds.u-position('relative');
  @include milmove_uswds.u-bg('white');
  @include milmove_uswds.u-padding-left(0);
}

.tabItem a {
  display: inline-block;
  // we don't want the :visited styling to show up here
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.tabItem :global a .tab-title {
  @include milmove_uswds.u-padding-bottom(1);
  @include milmove_uswds.u-position('relative');
  @include milmove_uswds.u-font-size('body', 4);
  @include milmove_uswds.u-text('gray-cool-70');
  font-weight: normal;
  &:hover {
    @include milmove_uswds.u-text('blue-warm-60v');
    @include milmove_uswds.underline(0.25rem, 'blue-warm-60v');
  }
}
.tabItem :global .usa-current .tab-title {
  @include milmove_uswds.u-text('gray-cool-70', 'bold');
  @include milmove_uswds.underline(0.25rem, 'blue-warm-60v');
  @include milmove_uswds.u-position('relative');
  &:hover {
    @include milmove_uswds.u-text('gray-cool-70', 'bold');
  }
}

.tabItem a :global .usa-tag {
  @include milmove_uswds.u-text('gray-cool-70');
  @include milmove_uswds.u-bg('gold-20v');
  @include milmove_uswds.u-margin-left('05');
  @include milmove_uswds.u-margin-right(0);
  padding-bottom: 0px;
}

.tabList .tabItem {
  border: none;
  @include milmove_uswds.u-padding(2);
  @include milmove_uswds.u-display('inline-block');
  &:focus {
    @include milmove_uswds.u-outline('05', 'blue-40v');
  }
}
