@import 'shared/styles/colors';
@import 'shared/styles/_basics';
@import 'shared/styles/_variables';

.shipment-list-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 5px 5px 0;
  border: 1px solid $base-lighter;
  padding: 12px 12px;
  height: 52px;
  @include u-margin-bottom(1);

  .shipment-info {
    flex: 1;
  }

  .shipment-buttons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
  }

  &.shipment-display {
    cursor: default;
    justify-content: start;
  }

  @media (max-width: 768px) {
    .shipment-buttons {
      margin-left: 3vw;
      margin-right: -3vw;
    }
  }
}

:global(.usa-button).edit-btn {
  background-color: transparent;
  color: $primary;
  font-weight: normal;
  margin: 0;
  @include u-padding(1.5);

  &:active,
  &:hover,
  &:focus {
    color: $primary;
    background-color: white;
  }
}

.warning {
  color: $warning;
}

.warningText {
  color: $base;
  font-size: 13px;
  margin-left: 5px;
}

.warning-section {
  text-align: center;
}

.shipmentWeight {
  width: 200px;
  text-align: center;
}

.shipment-code {
  font-weight: lighter;
  word-wrap: anywhere;
}

.shipment-list-item-PPM {
  border-left: 5px solid $accent-ppm;
}

.shipment-list-item-HHG {
  border-left: 5px solid $accent-hhg;
}

.shipment-list-item-NTS {
  border-left: 5px solid $accent-nts;
}

.shipment-list-item-NTS-release {
  border-left: 5px solid $accent-ntsr;
}

.shipment-list-item-Boat {
  border-left: 5px solid $accent-boat;
}

.shipment-list-item-MobileHome {
  border-left: 5px solid $accent-mobile-home;
}

.shipment-list-item-UB {
  border-left: 5px solid $accent-ub;
}

.spaceBetween {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textAlignRight {
  text-align: right;
}

.textAlignLeft {
  text-align: left;
}
