@import 'shared/styles/colors';
@import 'shared/styles/_basics';
@import 'shared/styles/_variables';

.shipment-list-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 5px 5px 0;
  border: 1px solid $base-lighter;
  padding-left: 6px;
  padding-right: 13px;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 52px;
  @include u-margin-bottom(1);

  strong {
    white-space: nowrap;
    @media (min-width: $tablet) {
      @include u-minw(15);
    }
    @include u-minw(7);
    text-align: left;
  }

  &:last-child {
    margin-bottom: 0px;
  }

  &.shipment-display {
    cursor: default;
    justify-content: start;
  }
}

.shipment-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

:global(.usa-button).edit-btn {
  background-color: transparent;
  color: $primary;
  font-weight: normal;
  margin: 0;
  @include u-padding(1.5);

  &:active,
  &:hover,
  &:focus {
    color: $primary;
    background-color: white;
  }
}

.warning {
  color: $warning;
}

.warningText {
  color: $base;
  font-size: 13px;
  margin-left: 5px;
}

.warning-section {
  text-align: center;
}

.shipmentWeight {
  width: 200px;
  text-align: center;
}

.shipment-code {
  font-size: 15px;
  font-weight: normal;
  word-wrap: anywhere;
}

.shipment-list-item-PPM {
  border-left: 5px solid $accent-ppm;
}

.shipment-list-item-HHG {
  border-left: 5px solid $accent-hhg;
}

.shipment-list-item-NTS {
  border-left: 5px solid $accent-nts;
}

.shipment-list-item-NTS-release {
  border-left: 5px solid $accent-ntsr;
}
