@import 'shared/styles/colors.scss';

.system-admin-filters {
  div {
    font-size: 13px;
    margin: 1.5em 0 0 0;
  }
  input {
    width: 30em;
    font-size: 13px;
    padding: 0;
    margin: 1.5em 0 0 0;
  }
  label {
    width: 25em;
  }
}