.admin-system-wrapper {
  // overflowing entire content for now until bug is fixed
  // https://github.com/marmelab/admin-on-rest/issues/2
  overflow: auto;
  font-family: sans-serif;

  a, p, span {
    font-size: 1rem;
  }

  table {
    margin: 0;
  }

  th, td {
    border: 1px solid #efefef;
  }

  a {
    &:visited {
      color: #0071bc;
    }
  }

  .headroom-wrapper {
    font-size: 2rem !important;
  }

  input {
    padding-top: 3rem;
    padding-bottom: 0;
    font-size: 14px;
  }
}

.system-admin-filters {
  div {
    width: 30em;
    font-size: 13px;
    margin: 1.5em 0 0 0;
  }
  input {
    font-size: 13px;
    padding: 0;
    margin: 1.5em 0 0 0;
  }
  label {
    width: 25em;
  }
}
