/*
 * Typography
 *
 * using the uswds typeset mixin which does (font family, size tolken,
 * line height tolken)
 *
 * use the uswds packages directly so that we don't get a circular
 * dependency with milmove_uswds
 */

@use './required' as milmove_uswds;
@use './colors' as milmove_colors;

// theme colors needed in one spot below
@use '~uswds/scss/theme/uswds-theme-color' as uswds_theme;

h1,
.usa-prose > h1 {
  @include milmove_uswds.typeset('body', 11, 2);
  @include milmove_uswds.u-text('normal');
  @include milmove_uswds.at-media('tablet') {
    @include milmove_uswds.typeset('body', '2xl', 2);
  }
}
h2,
.usa-prose > h2 {
  @include milmove_uswds.typeset('body', 9, 2);
  @include milmove_uswds.at-media('tablet') {
    @include milmove_uswds.typeset('body', 11, 2);
  }
}
h3,
.usa-prose > h3 {
  @include milmove_uswds.typeset('body', 6, 2);
  @include milmove_uswds.at-media('tablet') {
    @include milmove_uswds.typeset('body', 9, 2);
  }
}
h4,
.usa-prose > h4 {
  @include milmove_uswds.u-text('normal');
  @include milmove_uswds.typeset('body', 6, 2);
}
h5,
.usa-prose > h5 {
  @include milmove_uswds.typeset('body', 4, 3);
}
h6,
.usa-prose > h6 {
  @include milmove_uswds.typeset('body', 2, 3);
  @include milmove_uswds.u-text('uppercase');
  @include milmove_uswds.u-text('normal');
}
p,
.usa-prose > p {
  @include milmove_uswds.typeset('body', 4, 3);
}
small,
.usa-prose > small {
  @include milmove_uswds.typeset('body', 2, 2);
}
legend {
  @extend h2;
  @include milmove_uswds.u-text('bold');
}

a,
.usa-link,
.usa-prose > a,
.usa-prose .usa-link {
  @include milmove_uswds.u-text('no-underline', uswds_theme.$theme-link-color);

  &:hover,
  &.hover {
    @include milmove_uswds.u-text('underline', uswds_theme.$theme-link-hover-color);
  }

  &:visited,
  &.visited {
    @include milmove_uswds.u-text(uswds_theme.$theme-link-visited-color);
  }

  &:disabled,
  &.disabled {
    @include milmove_uswds.u-text('base');
    &:hover {
      @include milmove_uswds.u-text('no-underline');
    }
  }

  &:focus,
  &.focus {
    @include milmove_uswds.u-outline('05', 'blue-40v');
  }
  &-light {
    @include milmove_uswds.u-text('bold');
    color: milmove_colors.$link-light;
    &:hover,
    &.hover {
      color: milmove_colors.$link-light-hover;
      @include milmove_uswds.u-text('no-underline');
    }
    &:focus,
    &.focus {
      @include milmove_uswds.u-outline('05', 'blue-40v');
    }
    &:visited,
    &.visited {
      color: milmove_colors.$link-light;
    }
  }
}

ul {
  @include milmove_uswds.u-line-height('body', 4);
  color: milmove_colors.$base-darkest;
  @include milmove_uswds.u-padding-left(1.5);
}

.usa-prose {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif,
      Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  }
}
