@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/_variables';
@import 'shared/styles/colors';

.nameFormContainer {
    width: 40vw;
    display: flex;
    justify-content: center;
}

.nameForm {
    width: 100%;
}

.header {
    text-align: center;
}

.noTopMargin {
  @media (max-width: $tablet) {
      margin-top: 0;
  }
}

.noBottomMargin {
  @media (max-width: $tablet) {
      margin-bottom: 0;
  }
}

:global(.usa-form-group:first-child){
  @media (max-width: $tablet) {
      margin-top: 0;
  }
}
