@import 'shared/styles/uswdsImports';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';

.AllowancesDetailForm {
  h3 {
    @include u-margin-top(0);
  }

  label {
    @include u-margin-top(1);
    color: $base-darker;
  }

  input + label {
    @include u-margin-top(1);
  }

  dt {
    @include u-font-size('base', 2);
    @include u-font-weight(bold);
    color: $base-darker;
  }

  dd {
    @include u-margin-left(0);
    @include u-margin-bottom(3);
  }

  .wrappedCheckbox {
    @include u-margin-top(4);
    @include u-margin-bottom(4);
    @include u-padding-top(1);
    @include u-padding-bottom(1);
    @include u-padding-left(2);
    border: 1px solid $base-lighter;
    border-radius: 4px;
    max-width: 32rem;
    :global(.usa-checkbox__label) {
      @include u-margin-top(0);
    }
  }

  .wrappedCheckbox:last-of-type {
    @include u-margin-bottom(0);
  }

  .fieldWithHint {
    @include u-margin-top(0);
  }

  span.usa-hint {
    display: block;
  }

  :global(.usa-form-group:not(:first-child)) {
    @include u-margin-top(4);
  }
}
