@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';
@import 'shared/styles/_custom';

.AllowancesDetailForm {
  :global .usa-form-group {
    @include u-margin-bottom(3);
  }

  label {
    @include u-margin-bottom(1);
    color: $base-darker;
  }

  dt {
    @include u-font-size('base', 2);
    @include u-font-weight(bold);
    color: $base-darker;
  }

  dd {
    @include u-margin-left(0);
    @include u-margin-bottom(3);
  }

  .DependentsAuthorized {
    @include u-padding-top(1);
    @include u-padding-bottom(1);
    @include u-padding-left(2);
    border: 1px solid $base-lighter;
    border-radius: 4px;
  }
}
