@use 'styles/uswds/milmove' as milmove_uswds;

@media (max-width: milmove_uswds.$tablet) {
  .remarksRow {
    flex-direction: column;
    .remarksCell {
      width: 100%;
    }
  }
}

.ShipmentCard {
  @include milmove_uswds.u-margin-top(3);
  .ShipmentCardHeader {
    display: flex;
    justify-content: space-between;
    @include milmove_uswds.u-margin-top('205');
    @include milmove_uswds.u-padding-x('105');
    @include milmove_uswds.u-padding-bottom('105');
    @include milmove_uswds.u-border-bottom('1px');
    @include milmove_uswds.u-border-bottom('base-lighter');

    .shipmentTypeNumber {
      flex: 1;
      h3 {
        @include milmove_uswds.u-text('normal');
        @include milmove_uswds.u-margin-bottom('05');
        margin: 0;
      }

      p {
        color: #92979b;
        margin: 0;
      }
    }

    .btnContainer {
      display: inline-flex;
      flex: 0;
      align-items: center;
      min-width: auto;
      @include milmove_uswds.u-padding-x(0);
      @include milmove_uswds.u-font('body', 'xs');

      button {
        @include milmove_uswds.u-padding(1.5);
      }
    }
  }

  .shipmentCardSubsection {
    @include milmove_uswds.u-margin-y(0);
    @include milmove_uswds.u-padding-x('05');

    &:first-child {
      div:first-child {
        dt,
        dd {
          @include milmove_uswds.u-border-top('1px');
          @include milmove_uswds.u-border-top('base-lighter');
        }
      }
    }
  }

  .container {
    @include milmove_uswds.u-padding-left(0);
    @include milmove_uswds.u-padding-right(0);
    @include milmove_uswds.u-padding-bottom(2);
  }

  dt {
    @include milmove_uswds.u-text('bold');
    @include milmove_uswds.u-text('base-darker');
    width: 40%;
  }

  dd {
    @include milmove_uswds.u-margin(0);
    width: 60%;
    overflow-wrap: break-word;
  }

  .subsectionHeader {
    border-top: 1px solid milmove_uswds.$base-lighter;
    @include milmove_uswds.u-margin-top('105');
    @include milmove_uswds.u-padding-top('05');

    h4 {
      @include milmove_uswds.u-text('bold');
      @include milmove_uswds.u-text('base-darker');
      display: flex;
      align-items: center;
      margin: 0;
    }

    display: flex;
    justify-content: space-between;
    @include milmove_uswds.u-padding-x('105');

    .editBtn {
      @include milmove_uswds.u-font('body', 'xs');
      min-width: auto;
      padding: 0;
      width: 40px;
      height: 42px;
    }
  }

  .row {
    display: flex;
    @include milmove_uswds.u-font('body', 'xs');
    @include milmove_uswds.u-line-height('body', 2);

    dt,
    dd {
      @include milmove_uswds.u-padding-x(1);
      @include milmove_uswds.u-padding-y(1.5);

      @include milmove_uswds.u-border-bottom('1px');
      @include milmove_uswds.u-border-bottom('base-lighter');
    }

    &:last-of-type {
      dt, dd {
        border-bottom: none;
      }
    }

    .noBorder {
      @include milmove_uswds.u-border(0);
    }
  }

  .remarksRow {
    .remarksCell {
      @include milmove_uswds.u-font('body', 'xs');
    }
    dt,
    dd {
      @include milmove_uswds.u-border-bottom(0);
    }
  }
}

@media (min-width: milmove_uswds.$tablet) {
  .ShipmentCard {
    .shipmentCardSubsection {
      @include milmove_uswds.u-padding-x(3);
    }

    .ShipmentCardHeader {
      @include milmove_uswds.u-padding-x(3);
    }

    .subsectionHeader {
      @include milmove_uswds.u-padding-x(3);
      @include milmove_uswds.u-padding-top(2);
    }
  }
}
