@import 'shared/styles/basics';

div.EditFacilityInfoModal {
  min-width: 40rem;
  fieldset,
  fieldset + fieldset {
    margin-top: 0;
    margin-bottom: 0;
    border: none;
  }
  .ModalSubTitle {
    margin-bottom: 0;
  }
}
