@import 'shared/styles/basics';

div.EditFacilityInfoModal {
  min-width: 40rem;
  fieldset,
  fieldset + fieldset {
    @include u-margin-top(0);
    @include u-margin-bottom(0);
    border: none;
  }
  .ModalTitle {
    @include u-margin-top(2);
  }
  .ModalSubTitle {
    @include u-margin-bottom(0);
    @include u-margin-top(1);
  }
}
