# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only matches a later pattern, only those later code
# owners will be requested for a review.
# Add language specific code owners if it becomes relevant

# ADRs are architectural decisions records that should all be approved by all teams
/docs/adr/* @transcom/truss-sr-eng

# Docs about the database should be reviewed by people working on our database guidelines
/docs/database/* @transcom/truss-db

# Migrations are where database schema changes are made and we want them reviewed by people working on our database guidelines
/migrations/ @transcom/truss-db

# These are raw SQL files that are embedded in the project after ADR 0073 Use
# Templates for SQL Queries
# NOTE: Specific queries can be excluded from truss-db ownership
# in order to prevent teams from experiencing bottlenecks in PR reviews
# Excluded SQL files:
/pkg/assets/sql_scripts/move_history_fetcher.sql

/pkg/assets/sql_scripts/ @transcom/truss-db


# Require design / frontend reviews on Storybook
/src/stories/ @transcom/truss-design
*.stories.jsx @transcom/truss-design

# Require design / frontend reviews CSS changes
*.css @transcom/truss-design
*.scss @transcom/truss-design

# README: Because the Prime UI Simulator work is outside the scope of design /
# frontend reviewing CSS changes, we set the following directories to have an
# "empty owner". This revokes the ownership of .css and .scss files in the
# directive above across the whole repository for any directories below for
# src/*/PrimeUI/
# See an example in the official GitHub CODEOWNERS documentation about directoy
# exceptions in the syntax example here:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
# Read more about the caveat around negating patterns in the official GitHub
# CODEOWNERS documentation here:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#syntax-exceptions
src/components/PrimeUI/
src/pages/PrimeUI/


# Require security group to review changes to configs that may affect cATO static analysis compliancy
.golangci.yml @transcom/Truss-IS3
.pre-commit-config.yaml @transcom/Truss-IS3
.eslintrc.js @transcom/Truss-IS3
/eslint-plugin-ato/ @transcom/Truss-IS3
/pkg/ato-linter/ @transcom/Truss-IS3
