# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only matches a later pattern, only those later code
# owners will be requested for a review.
# Add language specific code owners if it becomes relevant

# ADRs are architectural decisions records that should all be approved by all teams
/docs/adr/* @transcom/truss-sr-eng

# Docs about the database should be reviewed by people working on our database guidelines
/docs/database/* @transcom/truss-db

# Migrations are where database schema changes are made and we want them reviewed by people working on our database guidelines
/migrations/ @transcom/truss-db

# Require design / frontend reviews on Storybook & CSS changes
/src/stories/ @transcom/truss-design
*.stories.jsx @transcom/truss-design
*.css @transcom/truss-design
*.scss @transcom/truss-design

# Require team Pamplemoose to review changes to configs that may affect cATO static analysis compliancy
.golangci.yaml @transcom/Truss-Pamplemoose
.pre-commit-config.yaml @transcom/Truss-Pamplemoose
