@use 'styles/uswds/milmove' as milmove_uswds;

//Left Nav
.LeftNav {
  @include milmove_uswds.u-font-size('body', 'xs'); //15px
  @include milmove_uswds.u-text('no-underline');
  @include milmove_uswds.u-border('base-lighter');
  @include milmove_uswds.u-border('1px');
  @include milmove_uswds.u-radius('md'); //4px
  @include milmove_uswds.u-bg('white');
  width: 230px;
  position: sticky;
  align-self: flex-start;
  margin-top: 26px;
  top: 26px;

  > a {
    @include milmove_uswds.u-text('base');
    @include milmove_uswds.u-text('no-underline');

    @include milmove_uswds.u-padding-y(1.5); //12px
    @include milmove_uswds.u-padding-x(2.5); //20px
    @include milmove_uswds.u-border(0);
    display: flex;
    justify-content: space-between;

    &:first-child {
      border-top-left-radius: 3px;
    }

    &:last-child {
      border-bottom-left-radius: 3px;
    }

    &:not(:first-child) {
      border-top: 1px solid;
      @include milmove_uswds.u-border-y('base-lighter');
      border-top-left-radius: 0px;
    }

    &:hover,
    &:focus {
      @include milmove_uswds.u-text('no-underline');
      @include milmove_uswds.u-text('primary-vivid');
    }

    &:active,
    &:global(.active) {
      @include milmove_uswds.u-text('bold');
      @include milmove_uswds.u-text('base-darker');
      @include milmove_uswds.u-border-left(0.5); //4px
      @include milmove_uswds.u-border-left('primary-vivid');
    }

    &:visited {
      @include milmove_uswds.u-text('base-darker');
    }
  }

  :global(.active) {
    @include milmove_uswds.u-text('bold');
    @include milmove_uswds.u-text('base-darker');
    @include milmove_uswds.u-border-left(0.5); //4px
    @include milmove_uswds.u-border-left('primary-vivid');
    @include milmove_uswds.u-padding-left(2);
    //changes to 16px to get the active item to still left align to the other items. accounts for the 4px of border.
  }
}

nav a:first-child:active,
nav a.active:first-child {
  border-top-left-radius: 4px;
}
nav a:last-child:active {
  border-bottom-left-radius: 4px;
}
