.review-customer-agreement {
  background-color: #ededed;
  padding: 1em;
}

.review-customer-agreement p {
  margin-top: 0;
  margin-bottom: 0;
}

.review-customer-agreement label {
  margin-top: 0;
  margin-bottom: 0;
}