@use 'styles/uswds/milmove' as milmove_uswds;

.ShipmentWeightDetails {
  display: flex;
  > div:first-child {
    @include milmove_uswds.u-margin-right(2);
  }
  > div:only-child {
      @include milmove_uswds.u-margin-right(0);
    }
  .rightAlignButtonWrapper {
    display: flex;
    justify-content: flex-end;
    button {
      padding-right: 0px;
      @include milmove_uswds.u-font-size('body', '3xs');
    }
  }
  .shipmentWeight {
    display: flex;
  }

  :global(.usa-tag) {
    @include milmove_uswds.u-font-size('body', 3xs);
    @include milmove_uswds.u-margin-left(1);
    @include milmove_uswds.u-margin-right(0);
    background-color: milmove_uswds.$info-light;
  }
}
