@import 'shared/styles/uswdsImports';
@import '../../../shared/styles/mixins';
@import '../../../shared/styles/colors';

.ShipmentWeightDetails {
  display: flex;
  > div:first-child {
    @include u-margin-right(2);
  }
  > div:only-child {
      @include u-margin-right(0);
    }
  .rightAlignButtonWrapper {
    display: flex;
    justify-content: flex-end;
    button {
      padding-right: 0px;
      @include u-font-size('body', '3xs');
    }
  }
  .shipmentWeight {
    display: flex;
  }

  :global(.usa-tag) {
    @include u-font-size('body', 3xs);
    @include u-margin-left(1);
    @include u-margin-right(0);
    background-color: $info-light;
  }
}
