@import '../../../shared/styles/basics';
@import '../../../shared/styles/mixins';
@import '../../../shared/styles/colors';

.DocViewerContent {
  height: 100%;
  position: relative;
  @include u-bg('base-lighter');

  :global {
    .pdf-viewer-container {
      height: 100%;
    }

    .pdf-viewer,
    .photo-viewer-container {
      height: 100%;
      overflow-y: scroll;
    }

    .pdf-canvas {
      text-align: center;
      // spacing for controls/title bar
      padding-top: 75px;
      padding-bottom: 75px;
    }

    .photo-viewer-container {
      align-items: unset; // must override to get it to respect calculating padding-top
      // spacing for controls/title bar
      padding-top: 75px;
      padding-bottom: 75px;
    }
  }
  .zoomDisplayButton {
    color: #0050d8;
    cursor: default;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    pointer-events: none;
    opacity: 1;
    background: transparent;
    border: none;
    margin-right: 1rem;
  }
}

:global(.pg-viewer-wrapper) {
  .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      @include u-margin-right(1);
    }
    @include icon-hover-state;

    button {
      display: flex;
    }
  }
}
