@use 'styles/uswds/milmove' as milmove_uswds;

.ReviewItems {
  @include milmove_uswds.at-media-max(mobile-lg) {
    .headingContainer {
      @include milmove_uswds.u-display(block);

      .headingContent {
        @include milmove_uswds.u-display(block);

        h1,h2,h3,h4,h5,h6 {
          @include milmove_uswds.u-display(inline);
          @include milmove_uswds.u-margin-right(1);
        }
      }

      .addButtonContainer {
        @include milmove_uswds.u-display(block);
        @include milmove_uswds.u-padding-top(2);
        @include milmove_uswds.u-padding-bottom(1);

        a {
          @include milmove_uswds.u-margin-bottom(0);
          @include milmove_uswds.u-margin-right(0);
        }
      }
    }
  }

  @include milmove_uswds.at-media(mobile-lg) {
    .headingContainer {
      @include milmove_uswds.u-display(flex);
      @include milmove_uswds.u-align-items(align-end);

      .headingContent {
        @include milmove_uswds.u-flex(1);

        h1, h2, h3, h4, h5, h6 {
          @include milmove_uswds.u-display(inline);
          @include milmove_uswds.u-margin-right(1);
        }
      }

      .addButtonContainer {
        @include milmove_uswds.u-flex(auto);

        a {
          @include milmove_uswds.u-margin-bottom(0);
          @include milmove_uswds.u-margin-right(0);
        }
      }
    }
  }

  .missingAlert {
     @include milmove_uswds.u-margin-bottom(2);
     @include milmove_uswds.u-font-weight(700);
     @include milmove_uswds.u-color('secondary-dark');
     display: flex;

  }

  .alertTag {
    @include milmove_uswds.u-margin-right(8px);
    @include milmove_uswds.u-margin-top(2px);
    width: 20px;
    height: 20px;
    @include milmove_uswds.u-bg('secondary-dark');
  }

  .contentsContainer {
    .headingWrapper {
      @include milmove_uswds.u-border(1px, solid);
      @include milmove_uswds.u-radius(3px);
      border-color: milmove_uswds.$border-color;
      @include milmove_uswds.u-margin-top(2);
      @include milmove_uswds.u-padding(3);
    }

    .subheadingWrapper {
      @include milmove_uswds.u-margin-top(0);

      h1, h2, h3, h4, h5, h6, dl {
        @include milmove_uswds.u-margin-top(0);
      }

      .actionContainer {
        @include milmove_uswds.u-margin-top(0);
        @media(max-width: milmove_uswds.$mobile) {
          button {
            @include milmove_uswds.u-width(auto);
          }
        }
      }

      .emptyMessage {
        @include milmove_uswds.u-font-size('body', '3xs');
        color: milmove_uswds.$base;
      }
    }

    .emptyWrapper {
      @include milmove_uswds.u-border(1px, solid);
      @include milmove_uswds.u-radius(3px);
      border-color: milmove_uswds.$border-color;
      @include milmove_uswds.u-margin-top(2);
      @include milmove_uswds.u-padding(3);
    }

    .emptyMessage {
        @include milmove_uswds.u-font-size('body', '3xs');
        color: milmove_uswds.$base;
      }

    .subheading {
      @include milmove_uswds.u-margin-right(2);
    }

    dl {
      @include milmove_uswds.u-margin-bottom(0);
      @include milmove_uswds.u-flex(1);
      .w2Address {
        @include milmove_uswds.u-margin-top(2);
      }
    }

    .actionContainer {
      @include milmove_uswds.u-margin-top(2);

      a {
        @include milmove_uswds.u-font-size('body', 'xs');
      }

      button {
        @include milmove_uswds.u-padding-x(0);
        @include milmove_uswds.u-display(inline);
      }

      .actionSeparator{
        @include milmove_uswds.u-margin-x(1);
      }
    }

    .hiddenTerm {
      @include milmove_uswds.u-display(none);
    }

    dt, dd {
      @include milmove_uswds.u-display(inline);
    }

    dd {
      @include milmove_uswds.u-margin-left(0);
    }

    dt {
      @include milmove_uswds.u-margin-right('05');
    }

    @include milmove_uswds.at-media-max(mobile-lg) {
      .subheadingWrapper {
        flex-wrap: wrap;

        .subheading {
          @include milmove_uswds.u-margin-right(0);
          flex-basis: 50%;
          flex-shrink: 0;
          order: 1;
        }

        dl {
          order: 3;
        }

        .actionContainer {
          text-align: right;
          flex-basis: 50%;
          flex-shrink: 0;
          order: 2;

          button {
            @include milmove_uswds.u-width(auto);
          }
        }
      }
    }
  }

  :global(.usa-button--secondary:visited) {
    color: milmove_uswds.$primary;
  }

  :global(.usa-button--secondary:hover) {
    color: milmove_uswds.$primary-dark;
  }

  :global(.usa-button--secondary:hover) {
    text-decoration: none;
  }
}
