@import 'shared/styles/colors';
@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';

.ShipmentTag {
  background-color: $accent-default;
  display: inline-block;
  line-height: 1.3;
  @include u-padding-y(0);

  &.HHG {
    background-color: $accent-hhg;
  }
  &.PPM {
    background-color: $accent-ppm;
  }
  &.NTS {
    background-color: $accent-nts;
  }
  &.NTSR {
    background-color: $accent-ntsr;
  }
}
