@import 'shared/styles/colors';
@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';

.ShipmentTag {
  background-color: $accent-default;
  display: inline-block;
  font-size: 13px;
  line-height: 1.3;
  @include u-padding-y(0);

  @include at-media('tablet') {
    font-size: 16px;
    line-height: 1;
    @include u-padding-y(0.5);
    @include u-padding-x(1);
  }

  &.HHG {
    background-color: $accent-hhg;
  }
  &.PPM {
    background-color: $accent-ppm;
  }
  &.NTS {
    background-color: $accent-nts;
  }
  &.NTSR {
    background-color: $accent-ntsr;
  }
}
