@import 'shared/styles/uswdsImports';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';

.cardContainer {
  max-width: 1046px;
  @include u-padding-x(2);
  @include u-padding-y(1);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    text-transform: none;
  }

  button {
    margin: 0;
  }

  h4,
  h5 {
    color: $base-darkest;
  }

  h4 {
    font-weight: bold;
    font-size: 22px;

    &:first-of-type {
      @include u-margin-bottom(3);
    }

    &:last-of-type {
      @include u-margin-bottom(2);
    }
  }

  h5 {
    font-weight: normal;

    &:first-of-type {
      @include u-margin-bottom('05');
    }

    &:last-of-type {
      @include u-margin-bottom(1);
    }
  }

  h6 {
    color: $base;
    font-size: 13px;
    &:first-of-type {
      @include u-margin-bottom('05');
    }

    strong {
      font-size: 15px;
      color: $base-darker;
      @include u-margin-left(1);
    }
  }

  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    @include u-margin-bottom(5);
  }

  .spaceBetween {
    display: flex;
    justify-content: space-between;
  }

  .shipmentSection {
    min-width: 584px;
  }

  .shipmentList button {
    margin-bottom: 10px;
  }

  .errorFlag {
    color: $error;
    @include u-margin-right(.5);
  }

  .errorText {
    font-weight: bold;
    display: inline-block;
  }
}
