@use 'styles/uswds/milmove' as milmove_uswds;

.ShipmentForm {
  @include milmove_uswds.u-padding-x(0.5);

  @include milmove_uswds.at-media('tablet') {
    margin-top: 20px; // + global 20px padding = 40px = 5 units
  }

  .headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;

    button {
      padding: 0;
      font-size: 13px;
    }
  }

  h1 {
    @include milmove_uswds.u-margin-top(1);
    @include milmove_uswds.u-margin-bottom(2);
    min-width: 400px;

    @include milmove_uswds.at-media('tablet') {
      @include milmove_uswds.u-margin-top(2);
      @include milmove_uswds.u-margin-bottom(3);
    }
  }

  .SectionHeader {
    @include milmove_uswds.u-margin-bottom(2);
  }

  .SectionHeaderExtraSpacing {
    @include milmove_uswds.u-margin-bottom(3);
  }

  .NoSpacing {
    @include milmove_uswds.u-margin-bottom(0);
  }

  .AdvanceText {
    @include milmove_uswds.u-font-size('body', 'xs');
    @include milmove_uswds.u-margin-top(2.5);
  }

  .weightAllowance {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .remarksField :global(.usa-form-group) {
    @include milmove_uswds.u-margin-top(0);

    input {
      @include milmove_uswds.u-margin-top(1);
      width: 70%;
    }
  }

  .buttonGroup {
    display: flex;
  }

  table {
    width: 100%;
  }

  form {
    @media (min-width: 480px) {
      max-width: none;
    }
  }
}

.Fieldset {
  h2 {
    @include milmove_uswds.u-margin-bottom(2);
  }
}

.Label {
  span {
    font-weight: normal;
  }
}

.VendorExplainerText {
  @include milmove_uswds.u-margin-y(2);
  @include milmove_uswds.u-padding(2);
  @include milmove_uswds.u-font-size('body', 2);
  border: solid 1px milmove_uswds.$border-color;
  background: milmove_uswds.$bg-gray;
  border-radius: 5px;

  ul {
    @include milmove_uswds.u-margin-x(1);
    @include milmove_uswds.u-margin-y(0);
  }
}

.RemarksTable {
  width: 100%;

  & + .RemarksTable {
    margin-top: 16px;
  }
}
