@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/_variables';
@import 'shared/styles/colors';

.ShipmentForm {
  @include u-padding-x(0.5);

  @include at-media('tablet') {
    margin-top: 20px; // + global 20px padding = 40px = 5 units
  }

  :global .usa-alert--slim::before {
    height: 2.3rem !important; // Centers the alert icon vertically
  }

  .headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;

    button {
      padding: 0;
      @include u-font-size('body', '3xs');
    }
  }

  h1 {
    @include u-margin-top(1);
    @include u-margin-bottom(2);
    min-width: 400px;

    @include at-media('tablet') {
      @include u-margin-top(2);
      @include u-margin-bottom(3);
    }
  }

  h4 {
    font-weight: bold;
  }

  .SectionHeader {
    @include u-margin-bottom(2);
  }

  .SectionHeaderExtraSpacing {
    @include u-margin-bottom(3);
  }

  .NoSpacing {
    @include u-margin-bottom(0);
  }

  .AdvanceText {
    @include u-font-size('body', 'xs');
    @include u-margin-top(2.5);
  }

  .weightAllowance {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .remarksField :global(.usa-form-group) {
    @include u-margin-top(0);

    input {
      @include u-margin-top(1);
      width: 70%;
    }
  }

  .mockLegend {
    width: 100%;
    max-width: none;
    @include u-text('bold');
    @include typeset('body', 9, 2);
    margin-bottom: 0;
  }

  .deliveryAddressUpdateAlert {
    @include u-margin-top(3);
  }

  .deliveryAddressUpdateAlertContent {
    @include u-font-size('body', '3xs');
    font-weight: normal;

    .reviewRequestLink {
      @include u-font-size('body', '3xs');
      padding: 0;
      display: inline;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .buttonGroup {
    display: flex;
    gap: 10px;
  }

  table {
    width: 100%;
  }

  form {
    @media (min-width: 480px) {
      max-width: none;
    }
  }

  .tagInfo {
    background-color: $info-light;
  }
}

.alertClose {
  color: $base-darkest;
}

.Fieldset {
  h2 {
    @include u-margin-bottom(2);
  }
}

.Label {
  span {
    font-weight: normal;
  }
}

.VendorExplainerText {
  @include u-margin-y(2);
  @include u-padding(2);
  @include u-font-size('body', 2);
  border: solid 1px $border-color;
  background: $bg-gray;
  border-radius: 5px;

  ul {
    @include u-margin-x(1);
    @include u-margin-y(0);
  }
}

.RemarksTable {
  width: 100%;

  & + .RemarksTable {
    @include u-margin-top(2);
  }
}

.alert {
  a {
    color: $link;
    &:link,
    &:visited {
      color: $link;
    }
    &:hover,
    &:focus {
      color: $primary-dark;
    }
  }
}
