@import 'shared/styles/uswdsImports';
@import 'shared/styles/_mixins';
@import 'shared/styles/_variables';
@import 'shared/styles/colors';

.ShipmentForm {
  @include u-padding-x(0.5);

  @include at-media('tablet') {
    margin-top: 20px; // + global 20px padding = 40px = 5 units
  }

  .headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;

    button {
      padding: 0;
      font-size: 13px;
    }
  }

  h1 {
    @include u-margin-top(1);
    @include u-margin-bottom(2);
    min-width: 400px;

    @include at-media('tablet') {
      @include u-margin-top(2);
      @include u-margin-bottom(3);
    }
  }

  .SectionHeader {
    @include u-margin-bottom(2);
  }

  .SectionHeaderExtraSpacing {
    @include u-margin-bottom(3);
  }

  .weightAllowance {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .buttonGroup {
    display: flex;
  }

  table {
    width: 100%;
  }

  form {
    @media (min-width: 480px) {
      max-width: none;
    }
  }
}

.Fieldset {
  h2 {
    @include u-margin-bottom(2);
  }
}

.Label {
  span {
    font-weight: normal;
  }
}

.VendorExplainerText {
  @include u-margin-y(2);
  @include u-padding(2);
  @include u-font-size('body', 2);
  border: solid 1px $border-color;
  background: $bg-gray;
  border-radius: 5px;

  ul {
    @include u-margin-x(1);
    @include u-margin-y(0);
  }
}

.RemarksTable {
  width: 100%;

  & + .RemarksTable {
    margin-top: 16px;
  }
}
