# direnv
.envrc.local
.envrc.chamber

# dependencies
/vendor
/node_modules
/.vendor-new

# testing
/coverage
coverage.out
__snapshots__

# development
/mnt
/tmp
/log

# Ignore
/docs/packages.txt

#debugging
/cmd/milmove/debug
/cmd/webserver/debug

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea
.vscode
*.swp
*.sublime-*

# In case somebody accidentally runs npm install instead of using yarn
package-lock.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

schema.sql

*.stamp

# Cypress integration tests
cypress/videos
cypress/screenshots
cypress/results

# XLSX backup files
~$*.xlsx

# SQLEditor
*.sqs

# Anti-Virus
*.fp
*.sfp
*.ign
*.ign2

# Certs
*.srl
