root = true

[*]
indent_style = space
indent_size = 2
tab_width = 2
trim_trailing_whitespace = true

[*.{go,sql}]
indent_size = 4
tab_width = 4
indent_style = tab

[Makefile]
indent_style = tab
indent_size = 2
tab_width = 2

[*.fizz]
indent_style = tab
indent_size = 2
tab_width = 2
