{
  "plugins": ["prettier", "security", "no-only-tests"],
  "extends": ["react-app", "airbnb", "prettier", "prettier/react", "plugin:security/recommended"],
  "root": true,
  "rules": {
    "prettier/prettier": "error",
    "no-only-tests/no-only-tests": "error",
    "no-debugger": "warn",
    "no-console": "warn",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["noHref", "preferButton"] }],
    "react/button-has-type": "error",
    "react/jsx-no-target-blank": "error",
    "react/jsx-curly-brace-presence": "error",
    "react/require-default-props": "warn",
    "no-unused-vars": "warn",
    "import/order": [
      "error",
      {
        "newlines-between": "always"
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.stories.js", "*.stories.jsx", "setupTests.js"],
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
