{
  "plugins": ["prettier", "security", "no-only-tests"],
  "extends": [
    "react-app",
    "plugin:react/recommended",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "plugin:security/recommended"
  ],
  "root": true,
  "ignorePatterns": ["src/shared/**/*", "src/scenes/**/*"],
  "rules": {
    "import/order": [
      "error",
      {
        "newlines-between": "always"
      }
    ],

    "prettier/prettier": "error",
    "no-only-tests/no-only-tests": "error",
    "no-debugger": "warn",
    "jsx-a11y/anchor-is-valid": "off",
    "react/jsx-no-target-blank": "off",
    "react/jsx-curly-brace-presence": "error",
    "react/require-default-props": ["error", { "ignoreFunctionalComponents": true }],
    "no-unused-vars": "error"
  },
  "overrides": [
    {
      "files": ["*.stories.js", "*.stories.jsx"],
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
