*.swp

# dependencies
/vendor
/node_modules

/pkg/gen

# testing
/coverage
__snapshots__

# production
/build

# built dependencies
/bin/webserver
/bin/soda
/bin/golint
/bin/swagger

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.swp
*.sublime-*

migrations/schema.sql

*.stamp

public/swagger-ui/*
!public/swagger-ui/index.html
