# direnv
.envrc.local
.envrc.chamber
.envrc.okta

# dependencies
/vendor
/node_modules
/.vendor-new

# testing
/coverage
coverage.out
__snapshots__

# production
/build

# development
/mnt
/tmp
/log

# Ignore all compiled binary directories found anywhere in the project
bin/

# Ignore
/docs/packages.txt

#debugging
/cmd/milmove/debug
/cmd/webserver/debug
__debug_bin*

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea
.vscode
*.swp
*.sublime-*
.eslintcache

# In case somebody accidentally runs npm install instead of using yarn
package-lock.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

schema.sql

*.stamp

public/static/react-file-viewer/*
public/swagger-ui/*
!public/swagger-ui/api.html
!public/swagger-ui/internal.html
!public/swagger-ui/admin.html
!public/swagger-ui/prime.html
!public/swagger-ui/prime_v2.html
!public/swagger-ui/prime_v3.html
!public/swagger-ui/ghc.html
!public/swagger-ui/support.html
!public/swagger-ui/pptas.html

# Playwright integration tests
playwright/.cache
playwright/html-report
playwright/results
playwright-report
playwright-results.xml

# Spreadsheets that might accidentally include sensitive pricing data
*.xls*
*.csv
*.numbers
*.ods

!pkg/parser/pricing/fixtures/10_3a_oconus_to_oconus_prices_golden.csv
!pkg/parser/pricing/fixtures/11_3b_conus_to_oconus_prices_golden.csv
!pkg/parser/pricing/fixtures/12_3c_oconus_to_conus_prices_golden.csv
!pkg/parser/pricing/fixtures/13_3d_other_intl_prices_golden.csv
!pkg/parser/pricing/fixtures/14_3e_non_standard_locn_prices_golden.csv
!pkg/parser/pricing/fixtures/16_4a_mgmt_coun_trans_prices_counsel_golden.csv
!pkg/parser/pricing/fixtures/16_4a_mgmt_coun_trans_prices_management_golden.csv
!pkg/parser/pricing/fixtures/16_4a_mgmt_coun_trans_prices_transition_golden.csv
!pkg/parser/pricing/fixtures/17_5a_access_and_add_prices_additional_golden.csv
!pkg/parser/pricing/fixtures/17_5a_access_and_add_prices_domestic_golden.csv
!pkg/parser/pricing/fixtures/17_5a_access_and_add_prices_international_golden.csv
!pkg/parser/pricing/fixtures/18_5b_price_escalation_discount_golden.csv
!pkg/parser/pricing/fixtures/4_1b_service_areas_domestic_golden.csv
!pkg/parser/pricing/fixtures/4_1b_service_areas_international_golden.csv
!pkg/parser/pricing/fixtures/6_2a_domestic_linehaul_prices_golden.csv
!pkg/parser/pricing/fixtures/7_2b_domestic_service_area_prices_golden.csv
!pkg/parser/pricing/fixtures/8_2c_domestic_other_prices_pack_golden.csv
!pkg/parser/pricing/fixtures/8_2c_domestic_other_prices_sit_golden.csv
!pkg/parser/pricing/fixtures/pricing_template_2019-09-19_fake-data.xlsx
!pkg/parser/transittime/fixtures/Appendix_C(i)_-_Transit_Time_Tables_Fake_Data.xlsx
!pkg/testdatagen/testdata/Weight Estimator Full.xlsx
!pkg/testdatagen/testdata/Weight Estimator.xlsx
!pkg/testdatagen/testdata/Weight Estimator.xls
!pkg/testdatagen/testdata/test.xls
!playwright/fixtures/constructedWeight.xlsx
!playwright/fixtures/constructedWeight.xls
!src/components/DocumentViewer/sample.xls

# SQLEditor
*.sqs

# Ignore static storybook content
storybook-static

# Anti-Virus
*.fp
*.sfp
*.ign
*.ign2

# Certs
*.srl

# nix
.nix-hash
.nix-disable
.npmglobal
.gopath

# fresh-brew
# The first two files are meant to be updated in the trussworks/fresh-brew repo
# The lock files can be helpful to troubleshoot homebrew issues. They will
# represent the last known good state.
Brewfile
pour.sh
Brewfile.local.lock.json
Brewfile.lock.json
/junit.xml
.envrc.okta
