*.swp

.envrc

# dependencies
/vendor
/node_modules

/pkg/gen

# testing
/coverage
coverage.out
__snapshots__

# production
/build

# development
/tmp

# built binaries
/bin/webserver
/bin/tsp-award-queue
/bin/generate-test-data
/bin/soda
/bin/golint
/bin/swagger
/bin/gin

#debugging
/cmd/webserver/debug

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea
.envrc

.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.swp
*.sublime-*

migrations/schema.sql

*.stamp

public/swagger-ui/*
!public/swagger-ui/api.html
!public/swagger-ui/internal.html
