default_language_version:
  # this should match the version in .node-version at the root of this project
  node: 12.16.3

repos:
  - repo: local
    hooks:
      - id: go-version
        name: go version
        entry: scripts/check-go-version
        language: script
        types: [go]

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
        exclude: config/database.yml # database.yml is not a valid yaml file, it contains go templating
      - id: detect-private-key
        #RA Summary: detect-private-key - Private key found for config/tls/devlocal-client_auth_secret.key$,
        #RA config/tls/devlocal-faux-air-force-orders.key$, config/tls/devlocal-faux-all-orders.key$,
        #RA config/tls/devlocal-faux-army-hrc-orders.key$, config/tls/devlocal-faux-coast-guard-orders.key$,
        #RA config/tls/devlocal-faux-marin-corps-orders.key$, config/tls/devlocal-faux-navy-orders.key$,
        #RA config/tls/devlocal-https.key$, config/tls/devlocal-mtls.key$, config/tls/devlocal-not-dps.key$.
        #RA: detect-private-key detected a private key, but all keys in the directory "config/tls/devlocal-" are fake keys intended to
        #RA: be used for a local environments only.
        #RA: The risk of a production key being introduced is mitigated by this detect-private-key hook failing, and
        #RA: the PR requiring approval by a team designated to gate changes to this file, specifically attempts to exclude
        #RA: new key additions.
        #RA Developer Status: Mitigated
        #RA Validator Status: {RA Accepted, Return to Developer, Known Issue, Mitigated, False Positive, Bad Practice}
        #RA Validator: jneuner@mitre.org
        #RA Modified Severity:
        #RA Summary: detect-private-key - Private key found for config/tls/devlocal-.+\.key$, pkg/server/testdata/localhost.key$,
        #RA pkg/server/testdata/localhost-invalid.key$, pkg/server/testdata/officelocal.key$.
        #RA: detect-private-key detected a private key, but all keys in the directory "testdata" are fake keys intended to
        #RA: be used for testing purposes only.
        #RA: The risk of a production key being introduced is mitigated by this detect-private-key hook failing, and
        #RA: the PR requiring approval by a team designated to gate changes to this file, specifically attempts to exclude
        #RA: new key additions.
        #RA Developer Status: Mitigated
        #RA Validator Status: {RA Accepted, Return to Developer, Known Issue, Mitigated, False Positive, Bad Practice}
        #RA Validator: jneuner@mitre.org
        #RA Modified Severity:
        #RA Summary: detect-private-key - Private key found for pkg/auth/authentication/auth_test.go$.
        #RA: detect-private-key detected a private key, but the failing value (called "FakeRSAKey") is a fake key intended to
        #RA: be used for testing the authentication package only.
        #RA: The risk of a production key being introduced is mitigated by this detect-private-key hook failing, and
        #RA: the PR requiring approval by a team designated to gate changes to this file, specifically attempts to exclude
        #RA: new key additions.
        #RA Developer Status: Mitigated
        #RA Validator Status: {RA Accepted, Return to Developer, Known Issue, Mitigated, False Positive, Bad Practice}
        #RA Validator: jneuner@mitre.org
        #RA Modified Severity:
        #RA Summary: detect-private-key - Private key found for .envrc.local.template.
        #RA: detect-private-key detected a private key, but key in the local envrc template is intended to
        #RA: be used for local development only.
        #RA: The risk of a production key being introduced is mitigated by this detect-private-key hook failing, and
        #RA: the PR requiring approval by a team designated to gate changes to this file, specifically attempts to exclude
        #RA: new key additions.
        #RA Developer Status: Mitigated
        #RA Validator Status: {RA Accepted, Return to Developer, Known Issue, Mitigated, False Positive, Bad Practice}
        #RA Validator: jneuner@mitre.org
        #RA Modified Severity:
        #RA Summary: detect-private-key - Private key found for pkg/cli/auth.go$.
        #RA: detect-private-key detected a private key, but the trigger in the CLI package is due to formatting the key via
        #RA: string interpolation. That is, the key value itself is not included in this file.
        #RA: The risk of a production key being introduced is mitigated by this detect-private-key hook failing, and
        #RA: the PR requiring approval by a team designated to gate changes to this file, specifically attempts to exclude
        #RA: new key additions.
        #RA Developer Status: Mitigated
        #RA Validator Status: {RA Accepted, Return to Developer, Known Issue, Mitigated, False Positive, Bad Practice}
        #RA Validator: jneuner@mitre.org
        #RA Modified Severity:
        exclude: >
          (?x)^(
            config/tls/devlocal-ca.key$|
            config/tls/devlocal-client_auth_secret.key$|
            config/tls/devlocal-faux-air-force-orders.key$|
            config/tls/devlocal-faux-all-orders.key$|
            config/tls/devlocal-faux-army-hrc-orders.key$|
            config/tls/devlocal-faux-coast-guard-orders.key$|
            config/tls/devlocal-faux-marin-corps-orders.key$|
            config/tls/devlocal-faux-navy-orders.key$|
            config/tls/devlocal-https.key$|
            config/tls/devlocal-mtls.key$|
            config/tls/devlocal-not-dps.key$|
            pkg/server/testdata/localhost.key$|
            pkg/server/testdata/localhost-invalid.key$|
            pkg/server/testdata/officelocal.key$|
            pkg/auth/authentication/auth_test.go$|
            .envrc.local.template|
            pkg/cli/auth.go$|
          )$
      - id: trailing-whitespace
        exclude: public/swagger-ui/*

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.32.2
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -v ${GOLANGCI_LINT_VERBOSE} -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.24.0
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore .github/*.md

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
        language: node
        files: \.(js|jsx)$
        exclude: >
          (?x)^(
            cypress/|
            .storybook/|
            wallaby.js|
            config-overrides.js|
            .happo.js
          )

  - repo: local
    hooks:
      - id: swagger
        name: Swagger
        entry: scripts/pre-commit-swagger-validate
        language: script
        files: swagger/*
        types: [yaml]

  - repo: local
    hooks:
      - id: gomod
        name: gomod
        entry: scripts/pre-commit-go-mod
        language: script
        files: go.mod
        pass_filenames: false

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v1.0.0
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: circleci-validate
      - id: markdown-toc
      - id: mdspell
        exclude: >
          (?x)^(
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: migrations-manifest
        name: migrations manifest
        entry: scripts/update-migrations-manifest
        language: script
        pass_filenames: false

  - repo: local
    hooks:
      - id: scripts-docs
        name: scripts are documented
        entry: scripts/find-scripts-missing-in-readme
        language: script
        pass_filenames: false

  - repo: local
    hooks:
      - id: spectral
        name: Spectral yaml linter
        entry: scripts/lint-yaml-with-spectral
        language: script
        files: swagger/(support|prime).yaml
        types: [yaml]
