repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    sha: v1.1.1
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
        exclude: config/database.yml # database.yml is not a valid yaml file, it contains go templating
      - id: detect-private-key
      - id: trailing-whitespace
        exclude: public/swagger-ui/*

  - repo: git://github.com/igorshubovych/markdownlint-cli
    sha: v0.7.0
    hooks:
      - id: markdownlint

  - repo: git://github.com/detailyang/pre-commit-shell
    sha: 1.0.2
    hooks:
      - id: shell-lint

  - repo: git://github.com/kintoandar/pre-commit.git
    sha: v2.1.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: swagger
        name: swagger
        entry: bin/swagger validate swagger.yaml
        language: script

  - repo: git://github.com/dnephin/pre-commit-golang
    sha: v0.2
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint
