version: '3'

services:
  database:
    image: postgres:12.4
    # ports:
    #   - '5432:5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=mysecretpassword
      - POSTGRES_DB=dev_db
    logging:
      driver: awslogs
      options:
        awslogs-group: mymove
        awslogs-region: us-west-2
        awslogs-stream-prefix: mymove

  redis:
    image: redis:5.0.6
    logging:
      driver: awslogs
      options:
        awslogs-group: mymove
        awslogs-region: us-west-2
        awslogs-stream-prefix: mymove

  milmove_migrate:
    image: ${MILMOVE_MIGRATE_IMG}
    environment:
      - DB_ENV=development
      - DB_HOST=127.0.0.1
      - DB_NAME=dev_db
      - DB_PASSWORD=mysecretpassword
      - DB_PORT=5432
      - DB_SSL_MODE=disable
      - DB_USER=postgres
      - ENVIRONMENT=review
      - MIGRATION_PATH=file:///migrate/schema;file:///migrate/secure
      - MIGRATION_MANIFEST=/migrate/migrations_manifest.txt
      - DOD_CA_PACKAGE=/config/tls/Certificates_PKCS7_v5.6_DoD.der.p7b
      - MOVE_MIL_DOD_CA_CERT
      - MOVE_MIL_DOD_TLS_CERT
      - MOVE_MIL_DOD_TLS_KEY
    logging:
      driver: awslogs
      options:
        awslogs-group: mymove
        awslogs-region: us-west-2
        awslogs-stream-prefix: mymove

  milmove:
    image: ${MILMOVE_IMG}
    ports:
      - '4000:4000'
      - '9443:9443'
    environment:
      - CLIENT_AUTH_SECRET_KEY
      - CSRF_AUTH_KEY
      - DB_DEBUG=1
      - DB_ENV=development
      - DB_HOST=127.0.0.1
      - DB_NAME=dev_db
      - DB_PASSWORD=mysecretpassword
      - DB_PORT=5432
      - DB_REGION=us-west-2
      - DB_RETRY_INTERVAL=5s
      - DB_SSL_MODE=disable
      - DB_USER=postgres
      - DEVLOCAL_AUTH=1
      - DEVLOCAL_CA=/config/tls/devlocal-ca.pem
      - DOD_CA_PACKAGE=/config/tls/Certificates_PKCS7_v5.6_DoD.der.p7b
      - DPS_AUTH_COOKIE_SECRET_KEY
      - DPS_COOKIE_EXPIRES_IN_MINUTES
      - EIA_KEY=db2522a43820268a41a802a16ae9fd26 # dummy key generated with openssl rand -hex 16
      - ENVIRONMENT=review
      - FEATURE_FLAG_ACCESS_CODE=false
      - HERE_MAPS_APP_CODE
      - HERE_MAPS_APP_ID
      - HERE_MAPS_GEOCODE_ENDPOINT
      - HERE_MAPS_ROUTING_ENDPOINT
      - HTTP_ADMIN_SERVER_NAME=admin-${REVIEW_BASE_DOMAIN}
      - HTTP_MY_SERVER_NAME=my-${REVIEW_BASE_DOMAIN}
      - HTTP_OFFICE_SERVER_NAME=office-${REVIEW_BASE_DOMAIN}
      - HTTP_ORDERS_SERVER_NAME=orders-${REVIEW_BASE_DOMAIN}
      - HTTP_PRIME_SERVER_NAME=prime-${REVIEW_BASE_DOMAIN}
      - AWS_CF_DOMAIN=assets.devlocal.move.mil
      - IWS_RBS_ENABLED=1
      - IWS_RBS_HOST
      - LOCAL_STORAGE_ROOT=/tmp
      - LOCAL_STORAGE_WEB_ROOT=storage
      - LOGIN_GOV_ADMIN_CLIENT_ID
      - LOGIN_GOV_CALLBACK_PORT=443
      - LOGIN_GOV_CALLBACK_PROTOCOL
      - LOGIN_GOV_HOSTNAME
      - LOGIN_GOV_MY_CLIENT_ID
      - LOGIN_GOV_OFFICE_CLIENT_ID
      - LOGIN_GOV_SECRET_KEY
      - MOVE_MIL_DOD_CA_CERT
      - MOVE_MIL_DOD_TLS_CERT
      - MOVE_MIL_DOD_TLS_KEY
      - MUTUAL_TLS_ENABLED=0
      - NO_TLS_ENABLED=1
      - NO_TLS_PORT=4000
      - PGPASSWORD=mysecretpassword
      - REDIS_HOST=127.0.0.1
      - REVIEW_BASE_DOMAIN
      - SERVE_ADMIN=true
      - SERVE_API_GHC=true
      - SERVE_API_INTERNAL=true
      - SERVE_API_PRIME=true
      - SERVE_SWAGGER_UI=true
      - STORAGE_BACKEND=local
      - TLS_ENABLED=1
      - TZ=UTC
    logging:
      driver: awslogs
      options:
        awslogs-group: mymove
        awslogs-region: us-west-2
        awslogs-stream-prefix: mymove
