version: '3.4'

services:
  database_review:
    image: postgres:12.7
    restart: always
    ports:
      - '6432:5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=mysecretpassword
      - POSTGRES_DB=dev_db
    tmpfs:
      - /var/lib/postgresql/data

  redis_review:
    image: redis:5.0.6

  milmove_migrate_review:
    depends_on:
      - database_review
    build:
      context: .
      dockerfile: Dockerfile.reviewapp
      target: migrate
      args:
        GIT_BRANCH: ${GIT_BRANCH:-unknown}
        GIT_COMMIT: ${GIT_COMMIT:-unknown}
    links:
      - database_review
    env_file:
      - config/env/review.app.env
    environment:
      - DB_HOST=database_review
      - DB_DEBUG=0
      - MIGRATION_PATH=file:///migrate/schema;file:///migrate/secure
      - MIGRATION_MANIFEST=/migrate/migrations_manifest.txt
      - MOVE_MIL_DOD_CA_CERT
      - MOVE_MIL_DOD_TLS_CERT
      - MOVE_MIL_DOD_TLS_KEY

  milmove_review:
    depends_on:
      - database_review
      - milmove_migrate_review
      - redis_review
    build:
      context: .
      dockerfile: Dockerfile.reviewapp
      args:
        GIT_BRANCH: ${GIT_BRANCH:-unknown}
        GIT_COMMIT: ${GIT_COMMIT:-unknown}
      target: milmove
    links:
      - database_review
    env_file:
      - config/env/review.app.env
    environment:
      - DB_HOST=database_review
      - CLIENT_AUTH_SECRET_KEY
      - CSRF_AUTH_KEY
      - HERE_MAPS_APP_CODE
      - HERE_MAPS_APP_ID
      - HERE_MAPS_GEOCODE_ENDPOINT
      - HERE_MAPS_ROUTING_ENDPOINT
      - HTTP_ADMIN_SERVER_NAME=admin-${REVIEW_BASE_DOMAIN}
      - HTTP_MY_SERVER_NAME=my-${REVIEW_BASE_DOMAIN}
      - HTTP_OFFICE_SERVER_NAME=office-${REVIEW_BASE_DOMAIN}
      - HTTP_ORDERS_SERVER_NAME=orders-${REVIEW_BASE_DOMAIN}
      - HTTP_PRIME_SERVER_NAME=prime-${REVIEW_BASE_DOMAIN}
      - IWS_RBS_HOST
      - LOGIN_GOV_ADMIN_CLIENT_ID
      - LOGIN_GOV_CALLBACK_PROTOCOL
      - LOGIN_GOV_HOSTNAME
      - LOGIN_GOV_MY_CLIENT_ID
      - LOGIN_GOV_OFFICE_CLIENT_ID
      - LOGIN_GOV_SECRET_KEY
      - MOVE_MIL_DOD_CA_CERT
      - MOVE_MIL_DOD_TLS_CERT
      - MOVE_MIL_DOD_TLS_KEY
      - REDIS_HOST=redis_review
      - REVIEW_BASE_DOMAIN
