version: '3.3'

services:
  database:
    image: postgres:12.4
    restart: always
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 4096M
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=mysecretpassword
      - POSTGRES_DB=test_db

  redis:
    image: redis:5.0.6

  server_test:
    depends_on:
      - database
      - redis
    image: milmove/circleci-docker:milmove-app-411dc0acf41406c34eecdef5dfe6868e2aefeade
    deploy:
      resources:
        limits:
          cpus: '4.0'
          memory: 8192M
    links:
      - database
    volumes:
      - ./:/home/circleci/transcom/mymove
    working_dir: /home/circleci/transcom/mymove
    environment:
      - APPLICATION
      - CLIENT_AUTH_SECRET_KEY
      - CSRF_AUTH_KEY
      - CIRCLECI=1
      - DB_ENV=development
      - DB_HOST=database
      - DB_NAME=test_db
      - DB_NAME_TEST=test_db
      - DB_PASSWORD=mysecretpassword
      - DB_PASSWORD_LOW_PRIV=mysecretpassword
      - DB_PORT=5432
      - DB_PORT_TEST=5432
      - DB_SSL_MODE=disable
      - DB_USER=postgres
      - DB_USER_LOW_PRIV=crud
      - DEVLOCAL_AUTH=true
      - DEVLOCAL_CA=/config/tls/devlocal-ca.pem
      - DOD_CA_PACKAGE=/config/tls/Certificates_PKCS7_v5.6_DoD.der.p7b
      - DPS_AUTH_COOKIE_SECRET_KEY
      - DPS_COOKIE_EXPIRES_IN_MINUTES
      - EIA_KEY=db2522a43820268a41a802a16ae9fd26 # dummy key generated with openssl rand -hex 16
      - ENV=test
      - ENVIRONMENT=test
      - FEATURE_FLAG_ACCESS_CODE=false
      - HERE_MAPS_APP_CODE
      - HERE_MAPS_APP_ID
      - HERE_MAPS_GEOCODE_ENDPOINT
      - HERE_MAPS_ROUTING_ENDPOINT
      - HTTP_ADMIN_SERVER_NAME=adminlocal
      - HTTP_MY_SERVER_NAME=milmovelocal
      - HTTP_OFFICE_SERVER_NAME=officelocal
      - HTTP_ORDERS_SERVER_NAME=orderslocal
      - AWS_CF_DOMAIN=assets.devlocal.move.mil
      - IWS_RBS_HOST
      - LOGIN_GOV_ADMIN_CLIENT_ID
      - LOGIN_GOV_CALLBACK_PORT=4000
      - LOGIN_GOV_CALLBACK_PROTOCOL
      - LOGIN_GOV_HOSTNAME
      - LOGIN_GOV_MY_CLIENT_ID
      - LOGIN_GOV_OFFICE_CLIENT_ID
      - LOGIN_GOV_SECRET_KEY
      - MIGRATION_PATH=file:///home/circleci/transcom/mymove/migrations/app/secure;file:///home/circleci/transcom/mymove/migrations/app/schema
      - MIGRATION_MANIFEST=/home/circleci/transcom/mymove/migrations/app/migrations_manifest.txt
      - MOVE_MIL_DOD_CA_CERT
      - MOVE_MIL_DOD_TLS_CERT
      - MOVE_MIL_DOD_TLS_KEY
      - NO_TLS_ENABLED=1
      - NO_TLS_PORT=4000
      - PGPASSWORD=mysecretpassword
      - REDIS_HOST=redis
      - SERVE_ADMIN=true
      - SERVE_API_GHC=true
      - SERVE_API_INTERNAL=true
      - SERVE_API_SUPPORT=true
      - STORAGE_BACKEND=local
    command: ./scripts/run-server-test-in-circle-container
