swagger: '2.0'
info:
  description: The API for my.move.mil
  version: 0.0.1
  title: my.move.mil
  contact:
    email: ppp@truss.works
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
basePath: /api/v1
consumes:
  - application/json
produces:
  - application/json
paths:
  /issues:
    post:
      summary: Create a new issue
      description: Issues represent problems or suggestions for the app, this creates a new one.
      operationId: createIssue
      tags:
        - issues
      parameters:
        - in: body
          name: createIssuePayload
          required: true
          schema:
            $ref: '#/definitions/CreateIssuePayload'
      responses:
        201:
          description: created issue
          schema:
            $ref: '#/definitions/IssuePayload'
        400:
          description: invalid request
    get:
      summary: List all issues
      description: List all issues
      operationId: indexIssues
      tags:
        - issues
      responses:
        200:
          description: list of issues
          schema:
            $ref: '#/definitions/IndexIssuesPayload'
        400:
          description: invalid request
  /form1299s:
    post:
      summary: Create a new shipment or storage of personal property application
      description: Create an instance of form 1299
      operationId: createForm1299
      tags:
        - form1299s
      parameters:
        - in: body
          name: createForm1299Payload
          required: true
          schema:
            $ref: "#/definitions/CreateForm1299Payload"
      responses:
        201:
          description: created instance of form 1299
          schema:
            $ref: '#/definitions/Form1299Payload'
        400:
          description: invalid request
    get:
      summary: List all submitted 1299 forms
      description: List all submitted 1299 forms
      operationId: indexForm1299s
      tags:
        - form1299s
      responses:
        200:
          description: list of submitted forms 1299
          schema:
            $ref: '#/definitions/IndexForm1299sPayload'
        400:
          description: invalid request

definitions:
  CreateIssuePayload:
    type: object
    properties:
      description:
        type: string
        example: This is a test issue
        minLength: 1
        maxLength: 1024
      reporter_name:
        type: string
        example: Jane Doe
        x-nullable: true
      due_date:
        type: string
        format: date
        example: 2018-03-15
        x-nullable: true
    required:
      - description
  IndexIssuesPayload:
    type: array
    items:
      $ref: '#/definitions/IssuePayload'
  IssuePayload:
    type: object
    properties:
      id:
        type: string
        format: uuid
        example: c56a4180-65aa-42ec-a945-5fd21dec0538
      description:
        type: string
        example: This is a test issue
        minLength: 1
        maxLength: 1024
      reporter_name:
        type: string
        example: Jane Doe
        x-nullable: true
      due_date:
        type: string
        format: date
        example: 2019-03-15
        x-nullable: true
      created_at:
        type: string
        format: date-time
      updated_at:
        type: string
        format: date-time
    required:
      - id
      - description
      - created_at
      - updated_at
  CreateForm1299Payload:
    type: object
    properties:
      date_prepared:
        type: string
        format: date
        example: 2018-01-03
        x-nullable: true
        title: Date Prepared
      shipment_number:
        type: string
        example: "4550"
        x-nullable: true
        title: Shipment Number
      name_of_preparing_office:
        type: string
        example: pumpernickel office
        x-nullable: true
        title: Name of Preparing Office
      dest_office_name:
        type: string
        example: pecan office
        title: Name of Destination Personal Property Shipping Office
        x-nullable: true
      origin_office_address_name:
        type: string
        example: Office manager John Dough
        x-nullable: true
        title: Name
      origin_office_address:
        type: string
        example: '3450 Kneading Way, San Francisco, California 94104'
        x-nullable: true
        title: Address
      service_member_first_name:
        type: string
        example: Focaccia
        x-nullable: true
        title: First Name
      service_member_middle_initial:
        type: string
        example: L.
        x-nullable: true
        title: Middle Initial
      service_member_last_name:
        type: string
        example: Roll
        x-nullable: true
        title: Last Name
      service_member_rank:
        $ref: '#/definitions/RankGrade'
        x-nullable: true
        title: Rank/Grade
      service_member_ssn:
        type: string
        pattern: '^\d{3}-\d{2}-\d{4}$'
        example: 555-55-5555
        x-nullable: true
        title: SSN
      service_member_agency:
        type: string
        example: Air Force
        x-nullable: true
        title: Agency
      hhg_total_pounds:
        type: integer
        example: 10000
        x-nullable: true
        title: Pounds
      hhg_progear_pounds:
        type: integer
        example: 350
        x-nullable: true
        title: PBP&E Pounds
      hhg_valuable_items_cartons:
        type: integer
        example: 3
        x-nullable: true
        title: Expensive And Valuable Items Number Of Cartons
      mobile_home_serial_number:
        type: string
        example: 45kljs98kljlkwj5
        x-nullable: true
        title: Serial Number
      mobile_home_length_ft:
        type: integer
        example: 72
        x-nullable: true
        title: Length
      mobile_home_length_inches:
        type: integer
        example: 4
        x-nullable: true
      mobile_home_width_ft:
        type: integer
        example: 15
        x-nullable: true
        title: Width
      mobile_home_width_inches:
        type: integer
        example: 4
        x-nullable: true
      mobile_home_height_ft:
        type: integer
        example: 10
        x-nullable: true
        title: Height
      mobile_home_height_inches:
        type: integer
        example: 3
        x-nullable: true
      mobile_home_type_expando:
        type: string
        example: bathroom and shower unit
        x-nullable: true
        title: Type Expando
      mobile_home_services_requested:
        type: string
        enum:
        - contents packed
        - mobile home blocked
        - mobile home unblocked
        - stored at origin
        - stored at destination
        x-nullable: true
        title: Services Requested
      station_orders_type:
        type: string
        enum:
        - permanent
        - temporary
        x-nullable: true
        title: Type Orders
      station_orders_issued_by:
        type: string
        example: Sergeant Naan
        x-nullable: true
        title: Issued By
      station_orders_new_assignment:
        type: string
        example: ACCOUNTING OPS
        x-nullable: true
        title: New Duty Assignment
      station_orders_date:
        type: string
        format: date
        example: 2018-03-15
        x-nullable: true
        title: Date of Orders
      station_orders_number:
        type: string
        example: "98374"
        x-nullable: true
        title: Orders Number
      station_orders_paragraph_number:
        type: string
        example: "5"
        x-nullable: true
        title: Paragraph Number
      station_orders_in_transit_telephone:
        type: string
        pattern: '^[2-9]\d{2}-\d{3}-\d{4}$'
        example: 212-666-6666
        x-nullable: true
        title: In Transit Telephone No
      in_transit_address:
        type: string
        example: '3450 Kneading Way, San Francisco, California 94104'
        x-nullable: true
        title: In Transit Address
      pickup_address:
        type: string
        example: '3450 Kneading Way, San Francisco, California 94104'
        x-nullable: true
        title: Pickup Address
      pickup_address_mobile_court_name:
        type: string
        example: Winnebagel court
        x-nullable: true
      pickup_telephone:
        type: string
        pattern: '^[2-9]\d{2}-\d{3}-\d{4}$'
        example: 212-555-5555
        x-nullable: true
        title: Pickup telephone
      dest_address:
        type: string
        example: '3450 Kneading Way, San Francisco, California 94104'
        x-nullable: true
        title: Destination Address
      dest_address_mobile_court_name:
        type: string
        example: Carraway Court
        x-nullable: true
      agent_to_receive_hhg:
        type: string
        x-nullable: true
        title: Agent Designated To Receive Property
      extra_address:
        type: string
        example: '3450 Kneading Way, San Francisco, California 94104'
        x-nullable: true
        title: Extra Pickup/Delivery Address (if applicable)
      pack_scheduled_date:
        type: string
        format: date
        example: 2018-03-08
        x-nullable: true
        title: Pack
      pickup_scheduled_date:
        type: string
        format: date
        example: 2018-03-09
        x-nullable: true
        title: Pickup
      delivery_scheduled_date:
        type: string
        format: date
        example: 2018-03-10
        x-nullable: true
        title: Delivery
      remarks:
        type: string
        example: please be careful with my stuff
        x-nullable: true
        title: Remarks
      other_move_from:
        type: string
        x-nullable: true
        title: Other Move From
      other_move_to:
        type: string
        x-nullable: true
        title: Other Move To
      other_move_net_pounds:
        type: integer
        example: 2000
        x-nullable: true
        title: Other Move Pounds
      other_move_progear_pounds:
        type: integer
        example: 100
        x-nullable: true
        title: Other Move PBP&E Pounds
      service_member_signature:
        type: string
        example: Focaccia Roll
        x-nullable: true
        title: Signature Of Member/Employee
      date_signed:
        type: string
        format: date
        example: 2018-01-23
        x-nullable: true
        title: Date Signed
      contractor_address:
        type: string
        example: '3450 Kneading Way, San Francisco, California 94104'
        x-nullable: true
        title: Address Of Contractor
      contractor_name:
        type: string
        example: Mayflower Transit
        x-nullable: true
        title: Name Of Contractor
      nonavailability_of_signature_reason:
        type: string
        example: service member not present
        x-nullable: true
        title: Reason For Nonavailability Of Signature
      certified_by_signature:
        type: string
        example: Sally Crumpet
        x-nullable: true
        title: Signature
      title_of_certified_by_signature:
        type: string
        example: Colonel Crumpet
        x-nullable: true
        title: Title
  IndexForm1299sPayload:
    type: array
    items:
      $ref: '#/definitions/Form1299Payload'
  Form1299Payload:
    type: object
    properties:
      id:
        type: string
        format: uuid
        example: c56a4180-65aa-42ec-a945-5fd21dec0538
      created_at:
        type: string
        format: date-time
      updated_at:
        type: string
        format: date-time
      form_completed:
        type: boolean
        example: false
        x-nullable: true
      date_prepared:
        type: string
        format: date
        example: 2018-01-03
        x-nullable: true
      shipment_number:
        type: string
        example: "4550"
        x-nullable: true
      name_of_preparing_office:
        type: string
        example: pumpernickel office
        x-nullable: true
      dest_office_name:
        type: string
        x-nullable: true
      origin_office_address_name:
        type: string
        example: Office manager John Dough
        x-nullable: true
      origin_office_address:
        type: string
        example: '3450 Kneading Way, San Francisco, California 94104'
        x-nullable: true
      service_member_first_name:
        type: string
        example: Focaccia
        x-nullable: true
      service_member_middle_initial:
        example: L.
        x-nullable: true
      service_member_last_name:
        type: string
        example: Roll
        x-nullable: true
      service_member_rank:
        $ref: '#/definitions/RankGrade'
        x-nullable: true
      service_member_ssn:
        type: string
        pattern: '^\d{3}-\d{2}-\d{4}$'
        example: 555-55-5555
        x-nullable: true
      service_member_agency:
        type: string
        example: Air Force
        x-nullable: true
      hhg_total_pounds:
        type: integer
        example: 10000
        x-nullable: true
      hhg_progear_pounds:
        type: integer
        example: 3000
        x-nullable: true
      hhg_valuable_items_cartons:
        type: integer
        example: 3
        x-nullable: true
      mobile_home_serial_number:
        type: string
        example: 45kljs98kljlkwj5
        x-nullable: true
      mobile_home_length_ft:
        type: integer
        example: 72
        x-nullable: true
      mobile_home_length_inches:
        type: integer
        example: 4
        x-nullable: true
      mobile_home_width_ft:
        type: integer
        example: 15
        x-nullable: true
      mobile_home_width_inches:
        type: integer
        example: 4
        x-nullable: true
      mobile_home_height_ft:
        type: integer
        example: 10
        x-nullable: true
      mobile_home_height_inches:
        type: integer
        example: 3
        x-nullable: true
      mobile_home_type_expando:
        type: string
        example: bathroom and shower unit
        x-nullable: true
      mobile_home_services_requested:
        type: string
        enum:
        - contents packed
        - mobile home blocked
        - mobile home unblocked
        - stored at origin
        - stored at destination
        x-nullable: true
      station_orders_type:
        type: string
        enum:
        - permanent
        - temporary
        x-nullable: true
      station_orders_issued_by:
        type: string
        example: Sergeant Naan
        x-nullable: true
      station_orders_new_assignment:
        type: string
        example: ACCOUNTING OPS
        x-nullable: true
      station_orders_date:
        type: string
        format: date
        example: 2018-03-15
        x-nullable: true
      station_orders_number:
        type: string
        example: "98374"
        x-nullable: true
      station_orders_paragraph_number:
        type: string
        example: "5"
        x-nullable: true
      station_orders_in_transit_telephone:
        type: string
        pattern: '^[2-9]\d{2}-\d{3}-\d{4}$'
        example: 212-666-6666
        x-nullable: true
      in_transit_address:
        type: string
        example: '3450 Kneading Way, San Francisco, California 94104'
        x-nullable: true
      pickup_address:
        type: string
        example: '3450 Kneading Way, San Francisco, California 94104'
        x-nullable: true
      pickup_address_mobile_court_name:
        type: string
        example: Winnebagel court
        x-nullable: true
      pickup_telephone:
        type: string
        pattern: '^[2-9]\d{2}-\d{3}-\d{4}$'
        example: 212-555-5555
        x-nullable: true
      dest_address:
        type: string
        example: '3450 Kneading Way, San Francisco, California 94104'
        x-nullable: true
      dest_address_mobile_court_name:
        type: string
        example: Carraway Court
        x-nullable: true
      agent_to_receive_hhg:
        type: string
        x-nullable: true
      extra_address:
        type: string
        example: '3450 Kneading Way, San Francisco, California 94104'
        x-nullable: true
      pack_scheduled_date:
        type: string
        format: date
        example: 2018-03-08
        x-nullable: true
      pickup_scheduled_date:
        type: string
        format: date
        example: 2018-03-09
        x-nullable: true
      delivery_scheduled_date:
        type: string
        format: date
        example: 2018-03-10
        x-nullable: true
      remarks:
        type: string
        example: please be careful with my stuff
        x-nullable: true
      other_move_from:
        type: string
        x-nullable: true
      other_move_to:
        type: string
        x-nullable: true
      other_move_net_pounds:
        type: integer
        example: 4000
        x-nullable: true
      other_move_progear_pounds:
        type: integer
        example: 88
        x-nullable: true
      service_member_signature:
        type: string
        example: Focaccia Roll
        x-nullable: true
      date_signed:
        type: string
        format: date
        example: 2018-01-23
        x-nullable: true
      contractor_address:
        type: string
        example: '3450 Kneading Way, San Francisco, California 94104'
        x-nullable: true
      contractor_name:
        type: string
        example: Mayflower Transit
        x-nullable: true
      nonavailability_of_signature_reason:
        type: string
        example: service member not present
        x-nullable: true
      certified_by_signature:
        type: string
        example: Sally Crumpet
        x-nullable: true
      title_of_certified_by_signature:
        type: string
        example: Colonel Crumpet
        x-nullable: true
    required:
      - id
      - created_at
      - updated_at
  RankGrade:
    type: string
    enum:
      - E_1
      - E_2
      - E_3
      - E_4
      - E_5
      - E_6
      - E_7
      - E_8
      - E_9
      - W_1
      - W_2
      - W_3
      - W_4
      - W_5
      - O_1
      - O_2
      - O_3
      - O_4
      - O_5
      - O_6
      - O_7
      - O_8
      - O_9
      - O_10
      - academy_cadet
      - academy_graduate
      - aviation_cadet
      - civilian_employee
      - midshipman
    description: >
      Rank/Pay Grade:
        * E_1 - E-1
        * E_2 - E-2
        * E_3 - E-3
        * E_4 - E-4
        * E_5 - E-5
        * E_6 - E-6
        * E_7 - E-7
        * E_8 - E-8
        * E_9 - E-9
        * W_1 - W-1
        * W_2 - W-2
        * W_3 - W-3
        * W_4 - W-4
        * W_5 - W-5
        * O_1 - O-1
        * O_2 - O-2
        * O_3 - O-3
        * O_4 - O-4
        * O_5 - O-5
        * O_6 - O-6
        * O_7 - O-7
        * O_8 - O-8
        * O_9 - O-9
        * O_10 - O-10
        * academy_cadet - Service Academy Cadet
        * academy_graduate - Service Academy Graduate
        * aviation_cadet - Aviation Cadet
        * civilian_employee - Civilian Employee
        * midshipman - Midshipman
