swagger: '2.0'
info:
  description: The API for my.move.mil
  version: 0.0.1
  title: my.move.mil
  contact:
    email: ppp@truss.works
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
basePath: /api/v1
consumes:
  - application/json
produces:
  - application/json
paths:
  /issues:
    post:
      summary: Create a new issue
      description: Issues represent problems or suggestions for the app, this creates a new one.
      operationId: createIssue
      tags:
        - issues
      parameters:
        - in: body
          name: createIssuePayload
          required: true
          schema:
            $ref: '#/definitions/CreateIssuePayload'
      responses:
        201:
          description: created issue
          schema:
            $ref: '#/definitions/IssuePayload'
        400:
          description: invalid request
    get:
      summary: List all issues
      description: List all issues
      operationId: indexIssues
      tags:
        - issues
      responses:
        200:
          description: list of issues
          schema:
            $ref: '#/definitions/IndexIssuesPayload'
        400:
          description: invalid request
  /form1299s:
    post:
      summary: Create a new shipment or storage of personal property application
      description: Create an instance of form 1299
      operationId: createForm1299
      tags:
        - form1299s
      parameters:
        - in: body
          name: createForm1299Payload
          required: true
          schema:
            $ref: "#/definitions/CreateForm1299Payload"
      responses:
        201:
          description: created instance of form 1299
          schema:
            $ref: '#/definitions/Form1299Payload'
        400:
          description: invalid request
    get:
      summary: List all submitted 1299 forms
      description: List all submitted 1299 forms
      operationId: indexForm1299s
      tags:
        - form1299s
      responses:
        200:
          description: list of submitted forms 1299
          schema:
            $ref: '#/definitions/IndexForm1299sPayload'
        400:
          description: invalid request

definitions:
  CreateIssuePayload:
    type: object
    properties:
      description:
        type: string
        example: This is a test issue
    required:
      - description
  IndexIssuesPayload:
    type: array
    items:
      $ref: '#/definitions/IssuePayload'
  IssuePayload:
    type: object
    properties:
      id:
        type: string
        format: uuid
        example: c56a4180-65aa-42ec-a945-5fd21dec0538
      description:
        type: string
        example: This is a test issue
      created_at:
        type: string
        format: date-time
      updated_at:
        type: string
        format: date-time
    required:
      - id
      - description
      - created_at
      - updated_at
  CreateForm1299Payload:
    type: object
    properties:
      date_prepared:
        type: string
        format: date
        example: 2018-01-03
      shipment_number:
        type: string
        example: "4550"
      name_of_preparing_office:
        type: string
        example: pumpernickel office
      dest_office_name:
        type: string
      origin_office_address_name:
        type: string
        example: Office manager John Dough
      origin_office_address:
        type: string
        example: '3450 Kneading Way, San Francisco, California 94104'
      service_member_first_name:
        type: string
        example: Focaccia
      service_member_middle_initial:
        example: L.
      service_member_last_name:
        type: string
        example: Roll
      service_member_rank:
        $ref: '#/definitions/RankGrade'
      service_member_ssn:
        type: string
        pattern: '^\d{3}-\d{2}-\d{4}$'
        example: 555-55-5555
      service_member_agency:
        type: string
        example: Air Force
      hhg_total_pounds:
        type: integer
        example: 10000
      hhg_progear_pounds:
        type: integer
        example: 350
      hhg_valuable_items_cartons:
        type: integer
        example: 3
      mobile_home_serial_number:
        type: string
        example: 45kljs98kljlkwj5
      mobile_home_length_ft:
        type: integer
        example: 72
      mobile_home_length_inches:
        type: integer
        example: 4
      mobile_home_width_ft:
        type: integer
        example: 15
      mobile_home_width_inches:
        type: integer
        example: 4
      mobile_home_height_ft:
        type: integer
        example: 10
      mobile_home_height_inches:
        type: integer
        example: 3
      mobile_home_type_expando:
        type: string
        example: bathroom and shower unit
      mobile_home_services_requested:
        type: string
        enum:
        - contents packed
        - mobile home blocked
        - mobile home unblocked
        - stored at origin
        - stored at destination
      station_orders_type:
        type: string
        enum:
        - permanent
        - temporary
      station_orders_issued_by:
        type: string
        example: Sergeant Naan
      station_orders_new_assignment:
        type: string
        example: ACCOUNTING OPS
      station_orders_date:
        type: string
        format: date
        example: 2018-03-15
      station_orders_number:
        type: string
        example: "98374"
      station_orders_paragraph_number:
        type: string
        example: "5"
      station_orders_in_transit_telephone:
        type: string
        pattern: '^[2-9]\d{2}-\d{3}-\d{4}$'
        example: 212-666-6666
      in_transit_address:
        type: string
        example: '3450 Kneading Way, San Francisco, California 94104'
      pickup_address:
        type: string
        example: '3450 Kneading Way, San Francisco, California 94104'
      pickup_address_mobile_court_name:
        type: string
        example: Winnebagel court
      pickup_telephone:
        type: string
        pattern: '^[2-9]\d{2}-\d{3}-\d{4}$'
        example: 212-555-5555
      dest_address:
        type: string
        example: '3450 Kneading Way, San Francisco, California 94104'
      dest_address_mobile_court_name:
        type: string
        example: Carraway Court
      agent_to_receive_hhg:
        type: string
      extra_address:
        type: string
        example: '3450 Kneading Way, San Francisco, California 94104'
      pack_scheduled_date:
        type: string
        format: date
        example: 2018-03-08
      pickup_scheduled_date:
        type: string
        format: date
        example: 2018-03-09
      delivery_scheduled_date:
        type: string
        format: date
        example: 2018-03-10
      remarks:
        type: string
        example: please be careful with my stuff
      other_move_from:
        type: string
      other_move_to:
        type: string
      other_move_net_pounds:
        type: integer
        example: 2000
      other_move_progear_pounds:
        type: integer
        example: 100
      service_member_signature:
        type: string
        example: Focaccia Roll
      date_signed:
        type: string
        format: date
        example: 2018-01-23
      contractor_address:
        type: string
        example: '3450 Kneading Way, San Francisco, California 94104'
      contractor_name:
        type: string
        example: Mayflower Transit
      nonavailability_of_signature_reason:
        type: string
        example: service member not present
      certified_by_signature:
        type: string
        example: Sally Crumpet
      title_of_certified_by_signature:
        type: string
        example: Colonel Crumpet
  IndexForm1299sPayload:
    type: array
    items:
      $ref: '#/definitions/Form1299Payload'
  Form1299Payload:
    type: object
    properties:
      id:
        type: string
        format: uuid
        example: c56a4180-65aa-42ec-a945-5fd21dec0538
      created_at:
        type: string
        format: date-time
      updated_at:
        type: string
        format: date-time
      form_completed:
        type: boolean
        example: false
      date_prepared:
        type: string
        format: date
        example: 2018-01-03
      shipment_number:
        type: string
        example: "4550"
      name_of_preparing_office:
        type: string
        example: pumpernickel office
      dest_office_name:
        type: string
      origin_office_address_name:
        type: string
        example: Office manager John Dough
      origin_office_address:
        type: string
        example: '3450 Kneading Way, San Francisco, California 94104'
      service_member_first_name:
        type: string
        example: Focaccia
      service_member_middle_initial:
        example: L.
      service_member_last_name:
        type: string
        example: Roll
      service_member_rank:
        $ref: '#/definitions/RankGrade'
      service_member_ssn:
        type: string
        pattern: '^\d{3}-\d{2}-\d{4}$'
        example: 555-55-5555
      service_member_agency:
        type: string
        example: Air Force
      hhg_total_pounds:
        type: integer
        example: 10000
      hhg_progear_pounds:
        type: integer
        example: 3000
      hhg_valuable_items_cartons:
        type: integer
        example: 3
      mobile_home_serial_number:
        type: string
        example: 45kljs98kljlkwj5
      mobile_home_length_ft:
        type: integer
        example: 72
      mobile_home_length_inches:
        type: integer
        example: 4
      mobile_home_width_ft:
        type: integer
        example: 15
      mobile_home_width_inches:
        type: integer
        example: 4
      mobile_home_height_ft:
        type: integer
        example: 10
      mobile_home_height_inches:
        type: integer
        example: 3
      mobile_home_type_expando:
        type: string
        example: bathroom and shower unit
      mobile_home_services_requested:
        type: string
        enum:
        - contents packed
        - mobile home blocked
        - mobile home unblocked
        - stored at origin
        - stored at destination
      station_orders_type:
        type: string
        enum:
        - permanent
        - temporary
      station_orders_issued_by:
        type: string
        example: Sergeant Naan
      station_orders_new_assignment:
        type: string
        example: ACCOUNTING OPS
      station_orders_date:
        type: string
        format: date
        example: 2018-03-15
      station_orders_number:
        type: string
        example: "98374"
      station_orders_paragraph_number:
        type: string
        example: "5"
      station_orders_in_transit_telephone:
        type: string
        pattern: '^[2-9]\d{2}-\d{3}-\d{4}$'
        example: 212-666-6666
      in_transit_address:
        type: string
        example: '3450 Kneading Way, San Francisco, California 94104'
      pickup_address:
        type: string
        example: '3450 Kneading Way, San Francisco, California 94104'
      pickup_address_mobile_court_name:
        type: string
        example: Winnebagel court
      pickup_telephone:
        type: string
        pattern: '^[2-9]\d{2}-\d{3}-\d{4}$'
        example: 212-555-5555
      dest_address:
        type: string
        example: '3450 Kneading Way, San Francisco, California 94104'
      dest_address_mobile_court_name:
        type: string
        example: Carraway Court
      agent_to_receive_hhg:
        type: string
      extra_address:
        type: string
        example: '3450 Kneading Way, San Francisco, California 94104'
      pack_scheduled_date:
        type: string
        format: date
        example: 2018-03-08
      pickup_scheduled_date:
        type: string
        format: date
        example: 2018-03-09
      delivery_scheduled_date:
        type: string
        format: date
        example: 2018-03-10
      remarks:
        type: string
        example: please be careful with my stuff
      other_move_from:
        type: string
      other_move_to:
        type: string
      other_move_net_pounds:
        type: integer
        example: 4000
      other_move_progear_pounds:
        type: integer
        example: 88
      service_member_signature:
        type: string
        example: Focaccia Roll
      date_signed:
        type: string
        format: date
        example: 2018-01-23
      contractor_address:
        type: string
        example: '3450 Kneading Way, San Francisco, California 94104'
      contractor_name:
        type: string
        example: Mayflower Transit
      nonavailability_of_signature_reason:
        type: string
        example: service member not present
      certified_by_signature:
        type: string
        example: Sally Crumpet
      title_of_certified_by_signature:
        type: string
        example: Colonel Crumpet
    required:
      - id
      - created_at
      - updated_at
  RankGrade:
    type: string
    enum:
      - E_1
      - E_2
      - E_3
      - E_4
      - E_5
      - E_6
      - E_7
      - E_8
      - E_9
      - W_1
      - W_2
      - W_3
      - W_4
      - W_5
      - O_1
      - O_2
      - O_3
      - O_4
      - O_5
      - O_6
      - O_7
      - O_8
      - O_9
      - O_10
      - academy_cadet
      - academy_graduate
      - aviation_cadet
      - civilian_employee
      - midshipman
    description: >
      Rank/Pay Grade:
        * E_1 - E-1
        * E_2 - E-2
        * E_3 - E-3
        * E_4 - E-4
        * E_5 - E-5
        * E_6 - E-6
        * E_7 - E-7
        * E_8 - E-8
        * E_9 - E-9
        * W_1 - W-1
        * W_2 - W-2
        * W_3 - W-3
        * W_4 - W-4
        * W_5 - W-5
        * O_1 - O-1
        * O_2 - O-2
        * O_3 - O-3
        * O_4 - O-4
        * O_5 - O-5
        * O_6 - O-6
        * O_7 - O-7
        * O_8 - O-8
        * O_9 - O-9
        * O_10 - O-10
        * academy_cadet - Service Academy Cadet
        * academy_graduate - Service Academy Graduate
        * aviation_cadet - Aviation Cadet
        * civilian_employee - Civilian Employee
        * midshipman - Midshipman
