{
  "plugins": ["prettier", "security", "no-only-tests"],
  "extends": ["react-app", "plugin:prettier/recommended", "plugin:security/recommended"],
  "rules": {
    "consistent-return": "error",
    "react/no-access-state-in-setstate": "error",
    "prettier/prettier": "error",
    "no-only-tests/no-only-tests": "error",
    "no-case-declarations": "error",
    "no-debugger": "warn",
    "jsx-a11y/anchor-is-valid": "off",
    "react/jsx-no-target-blank": "error",
    "react/jsx-curly-brace-presence": "error",
    "security/detect-object-injection": "off"
  },
  "globals": {
    "cy": "readonly",
    "Cypress": "readonly",
    "before": "readonly"
  }
}
