@import 'shared/styles/uswdsImports';
@import 'shared/styles/mixins';
@import 'shared/styles/colors';

.RequestedShipments {
  @include u-bg('white');
  @include u-padding-x(4);
  @include u-padding-y(2);

  h4 {
    @include u-margin(0);
    font-weight: bold;
  }

  h4 + table {
    @include u-margin-top(2);
  }

  .serviceItems {
    @include u-padding-top(2);
    @include u-border-top('1px');
    @include u-border-top('base-lighter');

    table {
      @include u-width(full);
    }

    :global(.usa-fieldset) {
      @include u-padding-x(2);
    }

    :global(.usa-checkbox) {
      @include u-margin-bottom(2);
    }
  }
}

.serviceItemApproval {
  @include u-height(1rem);
  @include u-width(1rem);
  color: $success;
}

.serviceItemRejection {
  @include u-height(1rem);
  @include u-width(1rem);
  color: $error;
}

.approveButton {
  @include u-margin-top(2);
  @include u-margin-left(0);
}

.serviceCounselingCompleted {
  @include u-margin-top(3);
}
