@use 'styles/uswds/milmove' as milmove_uswds;

.DaysInSITAllowance {
  @include milmove_uswds.u-padding(2);
  border: 1px solid milmove_uswds.$base-lighter;
  border-radius: 3px;
  background-color: milmove_uswds.$bg-gray;

  /* the parent service item card style would apply here unless we add the class for greater specificity/precedence */
  dl.daysInSITList {
    @include milmove_uswds.u-margin-top(0);
    @include milmove_uswds.u-margin-bottom(0);

    dt {
      @include milmove_uswds.u-font-size('body', '3xs');
      color: milmove_uswds.$base-dark;
      font-weight: normal;
    }

    dd {
      @include milmove_uswds.u-font-size('body', 'xs');
      @include milmove_uswds.u-margin-left(0);
      @include milmove_uswds.u-margin-top(0);
      color: milmove_uswds.$base-darkest;
    }

    dd:not(:last-of-type) {
      @include milmove_uswds.u-margin-bottom(1);
    }

    dd:last-of-type {
      @include milmove_uswds.u-margin-bottom(0);
    }
  }
}
