.stickyHeader {
  position: fixed; /* Keeps it at the top while scrolling */
  top: 0px; /* Stick to the top */
  width: 100%; /* Full width */
  flex-direction: column;
  display: block;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensures it stays above other content */
  margin-bottom: 200px;
}

.changeRole {
  background-color: white;
  margin-top: 0px;
  z-index: 1000;
}
