@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';

.accordion {
  :global {
    .usa-prose {
      @include u-padding-bottom(0);
      @include u-padding-top(0.5);
      @include u-padding-left(1);
      @include u-padding-right(1);
    }
  }

  :global {
    .usa-accordion__button {
      padding-bottom: 8px;
      padding-top: 8px;
    }
  }
}

.accordionOption {
  @include u-border-bottom('1px', 'solid', 'base-lightest');
  @include u-padding-bottom(0.5);

  h5 {
    @include u-margin-top(1);
    margin-bottom: -6px;
    @include u-color('base-darkest');
  }
}

.flex {
  @include u-display('flex');
}

.grow {
  flex-grow: 1;
}

.checkbox {
  @include u-color('base');

  :global {
    .usa-checkbox__label::before {
      box-shadow: 0 0 0 2px $base;
    }
  }
}

.detailIcon {
  @include u-color('base-dark');
  @include u-margin-top(1);
  margin-right: 0.73rem;
  @include u-cursor('pointer');
}

.requirementStatement {
  @include u-color('base');
  margin: 8px 8px 8px 32px;
}
