@import 'shared/styles/basics';
@import 'shared/styles/mixins';
@import 'shared/styles/colors';
@import 'shared/styles/_variables';

.dropdownWrapper {
    display: flex;
    min-height: 38px;
    flex-wrap: wrap;

  // TODO B-22876 is this primary outline or danger?
  .btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        @include u-margin-right(.5em)
      }
  }
  // TODO B-22876 is this primary outline or danger?
  .btnMinimal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    box-shadow: none;
    span {
      @include u-margin-right(.5em)
    }
    &:focus {
      outline: none;
    }
}

  .dropdownContainer {
      position: relative;
  }

  .dropdownList {
      position: absolute; /* Set absolute positioning for the dropdown list */
      top: 100%; /* Position it below the button */
      left: 0;
      padding: 0;
      margin: 0;
      width: 100%;
      z-index: 1; /* Ensure it appears above other elements */

    li {
      list-style-type: none;
      // TODO B-22876 is this primary outline or danger?
      &:first-of-type {
        > button {
          border-top: 1px solid #ccc;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
      }

      &:last-of-type > button {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      // TODO B-22876 is this primary outline or danger?
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        font-size: 16px;
        padding: 15px 20px 15px 20px;
        border: 0;
        border-bottom: 1px solid #ccc;
        width: 100%;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;

        &:hover, &:focus {
          font-weight: bold;
          background-color: #ccc;
        }
      }
    }
  }
}