@use 'styles/uswds/milmove' as milmove_uswds;

@media (max-width: milmove_uswds.$mobile) {
  .legend-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
  }
}
