@use 'styles/uswds/milmove' as milmove_uswds;

.OrdersInfoForm {
  .calloutLabel {
    @include milmove_uswds.u-margin-top(5);
    @include milmove_uswds.u-margin-bottom(1);
    font-size: 17px;
    line-height: 20px;
    color: milmove_uswds.$base-darkest;
  }
}
