@import 'shared/styles/_basics';
@import 'shared/styles/colors.scss';

.OrdersInfoForm {
  .calloutLabel {
    @include u-margin-top(5);
    @include u-margin-bottom(1);
    font-size: 17px;
    line-height: 20px;
    color: $base-darkest;
  }
}

.radioWithToolTip {
  display: flex;
  align-items: center;
  gap: 8px;
}

.labelwithToolTip {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 5px;
  font-weight: bold;
}

.toolTipText {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 5px;
  font-weight: normal !important;
}

.civilianUBAllowanceWarning {
  display: flex;
  align-items: center;
  color: #6e7377;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 13px !important;
}