form.default {
  padding: 2rem;
}

form.default fieldset {
  margin-top: 1em;
  margin-bottom: 2em;
  background-color: #ffffff;
  padding-left: 3rem;
  padding-bottom: 2em;
  border: 1px solid #eeeeee;
}

form.default legend {
  font-size: 2rem;
  font-weight: 700;
}

h1.sm-heading {
  font-size: 3rem;
}

h2.sm-heading-2 {
  font-size: 2.5rem;
}

.DayPicker {
  border: 0.1rem solid #5b616b;
}

.usa-input span.dollar-sign:before,
.usa-input-error span.dollar-sign:before {
  content: '$';
  position: absolute;
  color: #212121;
  font-size: 1.7rem;
  line-height: 1.3;
  margin: 0 0;
  padding: 1.1rem 0.7em;
}

.usa-input-error span.dollar-sign:before {
  margin: 0.1em 0;
  padding: 1.2rem 0.7em;
}

.dollar-input input {
  padding: 1rem 1.3em;
}
