form.default {
  padding: 2rem;
}

.DayPicker {
  border: 0.1rem solid #5b616b;
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.usa-form-group span.dollar-sign:before {
  content: '$';
  position: absolute;
  margin: 0 0;
  padding: 1rem 0.7em;
}

.dollar-input input {
  padding: 1rem 1.3em;
}

.usa-input-error {
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}

.usa-input-error-message {
  max-width: 460px;
}

.usa-input-error-long-message {
  padding-bottom: 1.8rem;
}

@media only screen and (max-width: 419px) {
  .usa-input-error-long-message {
    padding-bottom: 6rem;
  }
}
