@import 'styles/uswds_for_module';

.rangeslider-output {
  border-color: $color-gray-light;
}

.range-label-container {
  display: flex;
  justify-content: space-between;
}

:global {
  .usa-range {
    max-width: 100%;
    height: auto;
    padding: 0;
  }

  .usa-range:focus {
    box-shadow: none;
  }

  input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    border-radius: 1em;
  }

  input[type='range']::-moz-range-progress {
    width: 100%;
    height: 16px;
    cursor: pointer;
    background: $color-blue;
    border-radius: 1em;
  }
  input[type='range']::-ms-fill-lower {
    width: 100%;
    height: 16px;
    cursor: pointer;
    background: $color-blue;
    border-radius: 1em;
  }

  input[type='range']::-ms-track {
    color: transparent;
  }

  input[type='range']::-ms-tooltip {
    display: none;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type='range']::-webkit-slider-runnable-track {
      width: 100%;
      cursor: pointer;
      border-radius: 1em;
    }
  }
}
