@import 'shared/styles/themes.scss';
@import 'shared/styles/colors.scss';

.rangeslider-output:after {
  content: '';
  border: 5px solid transparent;
  border-top-color: #000;
  border-bottom: 0;
  position: relative;
  top: 28px;
  left: -8%;
}

.slider-min-label {
  float: left;
}

.slider-max-label {
  float: right;
}

:global {
  .usa-range {
    max-width: 100%;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    border-radius: 1em;
  }
  input[type=range]::-moz-range-progress {
    width: 100%;
    height: 16px;
    cursor: pointer;
    background: $color-blue;
    border-radius: 1em;
  }
  input[type="range"]::-ms-fill-lower {
    width: 100%;
    height: 16px;
    cursor: pointer;
    background: $color-blue;
    border-radius: 1em;
  }

  input[type="range"]::-ms-track {
    color: transparent;
  }

  input[type="range"]::-ms-tooltip {
    display: none;
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range']::-webkit-slider-runnable-track {
      width: 100%;
      cursor: pointer;
      border-radius: 1em;
    }
  }


}