@use 'styles/uswds/milmove' as milmove_uswds;

.qaeAndCustomerInfo {
  @include milmove_uswds.u-margin-top(68px);
  @include milmove_uswds.u-width(218px);
  th, td {
    min-width: 218px !important;
  }
}

.cardContainer {
  @include milmove_uswds.u-padding-bottom(40px);
  max-width: 960px;
  width: 960px;
  @include milmove_uswds.u-bg('white');
  @include milmove_uswds.u-radius('05');
  @include milmove_uswds.u-border('base-lighter');
  @include milmove_uswds.u-border('1px');
  @include milmove_uswds.u-padding-top(4);
  @include milmove_uswds.u-padding-left(0);
  @include milmove_uswds.u-padding-right(0);
  @include milmove_uswds.u-margin-bottom(4);
}

.sidebySideContainer {
  display: flex;
  justify-content: space-evenly;
}

.shipmentCardColumn {
  width: 602px;
}
