@import 'shared/styles/colors.scss';

.usa-form-group--warning {
  border-left: 0.26667rem $warning solid;
  margin-top: 2.13333rem;
  padding-left: 1.06667rem;
  position: relative;
}

.usa-label--warning {
  @include u-margin-top(0);
}

.usa-warning-message {
  color: #967019;
  display: block;
  font-weight: 700;
}

.usa-input-warning {
  border: 0.26667rem $warning solid;
}