@import 'shared/styles/colors.scss';
@import 'shared/styles/basics.scss';

.formGroupWarning {
  border-left: 0.26667rem $warning solid;
  padding-left: 1.06667rem;
  position: relative;
}

.label {
    color: $base-darker;
}

.hintText {
    @include u-font-size('body', 'xs');
    color: $base-darker;
}