@import 'shared/styles/colors.scss';

.formGroupWarning {
  border-left: 0.26667rem $warning solid;
  margin-top: 2.13333rem;
  padding-left: 1.06667rem;
  position: relative;
}

label {
    color: $base-darker;
}
