@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';

.cardContainer {
  @include u-padding-bottom(40px);
  @include u-bg('white');
  @include u-radius('05');
  @include u-border('base-lighter');
  @include u-border('1px');
  @include u-padding(4);
  @include u-margin-bottom(4);
}

.buttonContainer {
  @include u-padding(0);
  @include u-margin-bottom(115px);
}

.buttonRow {
  @include u-display('flex');

  :global {
    .usa-button--unstyled {
      @include u-font-weight(700);
    }
  }
}

.backToEvalButton {
  @include u-padding(0);
}

.grow {
  flex-grow: 1;
}

.detailText {
  @include u-margin(0);
}

.incidentTextAreaLabel {
  @include u-margin-bottom(1px);
  @include u-margin-top(34px);
  @include u-font-weight(700);
  @include u-color('base-darker');
  font-size: 13px;

}

.siHeading {
  margin-bottom: 0 !important;
}

.usa-form-group {
  @include u-margin-top(0);
}

.incident {

  :global {
    .usa-form-group {
      @include u-margin-top(0);
    }
  }
}

.seriousIncident {
  :global {
    .usa-radio__label {
      @include u-margin-top(1px);
      @include u-margin-bottom(2);
    }
  }
}

.serious {
  :global {
    .usa-label {
      @include u-margin-bottom(4px);
      @include u-color('base-darker');
    }
  }
}

.divider {
  @include u-color('base-lighter');
  @include u-margin-top(4);
  border: 1px solid;

}
