openapi: 3.0.0

info:
  title: Move Task Orders API
  description: API that facilitates GHC move task orders
  version: 0.1.9

servers:
  - url: http://api.move-task-orders.com/v1
    description: Production server
  - url: http://staging-api.move-task-orders.com/v1
    description: Staging server
  - url: http://experimental-api.move-task-orders.com/v1
    description: Experimental server

paths:
  /move-task-order:
    post:
      summary: Creates a move task order
      description: Creates a move task order
      operationId: createMoveTaskOrder
      tags:
        - moveTaskOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveTaskOrder'
      responses:
        '201':
          description: Successfully created move task order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveTaskOrder'
        '400':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  schemas:
    MoveTaskOrder:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 1f2270c7-7166-40ae-981e-b200ebdf3054
    Error:
      type: object
      properties:
        message:
          type: string
      required:
        - message
  responses:
    InvalidRequest:
      description: The request payload is invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    PermissionDenied:
      description: The request was denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource wasn't found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
