swagger: '2.0'
info:
  description: API to submit, amend, and cancel orders for move.mil.
  version: 0.0.8
  title: MyMove Orders Gateway
  license:
    name: MIT
    url: https://github.com/transcom/mymove/blob/master/LICENSE.md
host: orders.move.mil
basePath: /v0
schemes:
  - http
paths:
  /orders:
    get:
      tags:
        - orders
      summary: Retrieve orders that match a particular search
      description: |
        Returns all orders that match all of the supplied parameters. At least one query parameter must be provided.
      operationId: indexOrders
      produces:
        - application/json
      parameters:
        - name: ordersNum
          in: query
          type: string
          description: "Orders number, corresponding to the ORDERS number (Army), the CT SDN (Navy, Marines), the SPECIAL ORDER NO (Air Force), the Travel Order No (Coast Guard), or the Travel Authorization Number (Civilian)."
        - name: edipi
          in: query
          description: Electronic Data Interchange Personal Identifier, AKA the 10 digit DoD ID Number of the member
          type: string
          pattern: '^\d{10}$'
        - name: latestOnly
          in: query
          description: |
            If true, look only at the latest Revision (by seqNum) of any set of Orders when applying the other Revision-specific parameters. If false, search all Revisions.

            Defaults to false if omitted.
          type: boolean
        - name: status
          in: query
          description: Return only Orders where the status of the latest Revision of the Orders matches the supplied status.
          type: string
          enum:
            - authorized
            - canceled
        - name: issuer
          in: query
          description: Name of the organization that issued the Orders.
          type: string
      responses:
        200:
          description: Successful
          schema:
            type: array
            items:
              $ref: '#/definitions/Orders'
        400:
          description: Bad request
        401:
          description: must be authenticated to use this endpoint
        403:
          description: Forbidden
        404:
          description: No orders found
        500:
          description: Server error
    post:
      tags:
        - orders
      summary: Submit a new set of orders, make an amendment to an existing set of orders, or cancel a set of orders.
      description: |
        Creates a Revision of a set of orders.

        ## New Orders
        The supplied Revision is considered part of a new set of Orders if the combination of `ordersNum`, EDIPI, and `issuingAuthority` has never been seen before. A new UUID is created and associated with the Orders, which is returned along with the supplied Revision.

        ## Amended Orders
        If the system determines that the supplied Revision is an amendment to an existing set of Orders, then the supplied Revision is added to the existing Orders.

        If you stored the UUID of the Orders from a previous call to this API, you have the option of using the `POST /orders/{uuid}` API instead.

        ## Canceled, Rescinded, or Revoked Orders
        To cancel, rescind, or revoke Orders, POST a new Revision with the status set to "canceled".

        # Errors
        It is an error to specify an already-created seqNum in the provided Revision for an existing set of Orders.
      operationId: postRevision
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: ordersNum
          in: query
          description: "Orders number, corresponding to the ORDERS number (Army), the CT SDN (Navy, Marines), the SPECIAL ORDER NO (Air Force), the Travel Order No (Coast Guard), or the Travel Authorization Number (Civilian)."
          required: true
          type: string
        - name: memberId
          in: query
          description: |
            Electronic Data Interchange Personal Identifier of the member (preferred). If the member's EDIPI is unknown, then the Social Security Number may be provided instead. The Orders Gateway will then fetch the member's EDIPI using DMDC's Identity Web Services. Calls using the 9 digit SSN instead of the 10 digit EDIPI will take longer to respond due to the additional overhead.
          required: true
          type: string
          pattern: '^\d{9}\d?$'
        - in: body
          name: revision
          required: true
          schema:
            $ref: '#/definitions/Revision'
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/Orders'
        400:
          description: Invalid
        401:
          description: must be authenticated to use this endpoint
        403:
          description: Forbidden
        500:
          description: Server error
  /orders/{uuid}:
    get:
      tags:
        - orders
      summary: Retrieve a set of Orders and all of its Revisions by UUID
      operationId: getOrders
      produces:
        - application/json
      parameters:
        - name: uuid
          in: path
          description: UUID of the orders to return
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Orders'
        401:
          description: must be authenticated to use this endpoint
        403:
          description: Forbidden
        404:
          description: Orders not found
        500:
          description: Server error
    post:
      tags:
        - orders
      summary: Make an amendment to or cancel an existing set of orders by UUID
      description: |
        Creates a Revision of a set of orders. The Orders to be amended or canceled must already exist with the supplied UUID.

        The seqNum in the supplied Revision must be unique, and not already present in the Orders. Nothing else is required to change in the Revision compared to any other Revision in the Orders.

        ## Errors
        It is an error to specify a non-existent UUID.

        It is an error to specify an already-created seqNum in the Revision.

        It is an error to specify a UUID for orders originally created by a different issuer.
      operationId: postRevisionToOrders
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: uuid
          in: path
          description: UUID of the orders to return
          required: true
          type: string
          format: uuid
        - in: body
          name: revision
          required: true
          schema:
            $ref: '#/definitions/Revision'
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/Orders'
        400:
          description: Invalid
        401:
          description: must be authenticated to use this endpoint
        403:
          description: Forbidden
        404:
          description: Orders not found
        500:
          description: Server error
definitions:
  Orders:
    type: object
    properties:
      uuid:
        type: string
        description: Universally Unique IDentifier. Generated internally.
        format: uuid
        example: 80200fa9-4ee2-49c5-b4fd-88b3ef4bd5eb
      ordersNum:
        type: string
        description: |
          Orders number. Supposed to be unique, but in practice uniqueness is not guaranteed for all branches of service.

          # Army
          Typically found in the upper-left hand corner of printed orders.

          # Navy
          Corresponds to the CT (Commercial Travel) SDN. On printed orders, this is found on the SDN line in the `------- ACCOUNTING DATA -------` section in the `PCS ACCOUNTING DATA` paragraph.

          The BUPERS Orders number is not suitable, because it includes the sailor's full SSN, and the included four digit date code could repeat for a sailor if he or she gets orders exactly 10 years apart.

          No-cost moves do not have a CT SDN, because they involve no travel. Without a CT SDN, USN Orders have nothing to use for the Orders number. Such Orders won't authorize any PCS expenses either, so they do not need to be submitted to this API.

          # Marine Corps
          Corresponds to the CT (Commercial Travel) SDN. On Web Orders, the CT SDN is found in the table at the bottom, in the last column of the row that begins with "Travel".

          No-cost moves do not have a CT SDN, because they involve no travel. Without a CT SDN, USMC Orders have nothing to use for the Orders number. Such Orders won't authorize any PCS expenses either, so they do not need to be submitted to this API.

          # Air Force
          Corresponds to the SPECIAL ORDER NO, found in box 27 on AF Form 899.

          # Coast Guard
          Corresponds to the Travel Order No.

          # Civilian
          Corresponds to the Travel Authorization Number.
        example: "030-00362 (Army), 0302018 9876543210 (Navy, after transformation), M7000213CTB28DZ (Marines), AJ-063322 (Air Force), 1214G85PRAAGK000 (Coast Guard), PS8D000025 (Civilian)"
      edipi:
        type: string
        description: Electronic Data Interchange Personal Identifier, AKA the 10 digit DoD ID Number of the member
        pattern: '^\d{10}$'
      issuer:
        type: string
        description: Military Department or Civilian Agency that authorized these orders; e.g., Department of the Army, Department of the Navy, Defense Information Systems Agency (DISA), etc. The issuer is inferred by the system when the Orders are first created, based on the authenticated client certificate.
      revisions:
        type: array
        items:
          $ref: '#/definitions/Revision'
    required:
      - ordersNum
      - edipi
      - issuer
      - revisions
  Revision:
    type: object
    properties:
      seqNum:
        type: integer
        minimum: 0
        description: |
          Sequence number. As Orders are amended, the Revision with the highest sequence number is considered the current, authoritative version of the Orders, even if its dateIssued is earlier.

          The sequence number is NOT required to increase monotonically or sequentially; in other words, if a set of orders is modified twice, the sequence numbers could be 1, 5858300, and 30.
      member:
        $ref: '#/definitions/Member'
      status:
        type: string
        description: Indicates whether these Orders are authorized or canceled. If omitted, then these Orders are assumed to be authorized.
        enum:
          - authorized
          - canceled
      dateIssued:
        type: string
        description: The date and time that these orders were cut. If omitted, the current date and time will be used.
        format: date-time
      noCostMove:
        type: boolean
        description: |
          No Cost Move. If true, then these orders do not authorize any move expenses. If omitted or false, then these orders are a PCS and should authorize move expenses.
          One scenario that leads to a no-cost move is a Permanent Change of Assignment without Permanent Change of Station. A PCA without PCS happens when a member is assigned to a new unit at the same duty station, or to a new duty station geographically close to the current duty station.
          It is not unheard of for the initial revision of orders to have this set to false and then later to be amended to true and vice-versa.
      tdyEnRoute:
        type: boolean
        description: TDY (Temporary Duty Yonder) en-route. If omitted, assume false.
      tourType:
        $ref: '#/definitions/TourType'
      ordersType:
        $ref: '#/definitions/OrdersType'
      hasDependents:
        type: boolean
        description: |
          True if the service member has any dependents (e.g., spouse, children, caring for an elderly parent, etc.), False otherwise.

          When the member has dependents, it usually raises their weight entitlement.
      losingUnit:
        $ref: '#/definitions/Unit'
      gainingUnit:
        $ref: '#/definitions/Unit'
      reportNoEarlierThan:
        type: string
        description: Earliest date that the service member is allowed to report for duty at the new duty station. If omitted, the member is allowed to report as early as desired.
        format: date
        x-nullable: true
      reportNoLaterThan:
        type: string
        description: Latest date that the service member is allowed to report for duty at the new duty station. Should be included for most Orders types, but can be missing for Separation / Retirement Orders.
        format: date
        x-nullable: true
      pcsAccounting:
        $ref: '#/definitions/Accounting'
      ntsAccounting:
        $ref: '#/definitions/Accounting'
      povShipmentAccounting:
        $ref: '#/definitions/Accounting'
      povStorageAccounting:
        $ref: '#/definitions/Accounting'
      ubAccounting:
        $ref: '#/definitions/Accounting'
      comments:
        type: string
        description: Free-form text that may or may not contain information relevant to moving.
    required:
      - seqNum
      - member
      - ordersType
      - hasDependents
      - losingUnit
      - gainingUnit
  Affiliation:
    type: string
    description: Military branch of service
    enum:
      - air-force
      - army
      - civilian-agency
      - coast-guard
      - marine-corps
      - navy
    x-display-value:
      air-force: Air Force
      army: Army
      civilian: Civilian Agency
      coast-guard: Coast Guard
      marine-corps: Marine Corps
      navy: Navy
  Member:
    type: object
    properties:
      givenName:
        type: string
        description: In languages that use Western order, like English, this is the first name.
      familyName:
        type: string
        description: In languages that use Western order, like English, this is the last name.
      middleName:
        type: string
        description: Middle name or middle initial
      suffix:
        type: string
        description: Jr., Sr., III, etc.
      affiliation:
        $ref: '#/definitions/Affiliation'
      rank:
        $ref: '#/definitions/Rank'
      title:
        type: string
        description: |
          If supplied, this is the preferred form of address or preferred human-readable title. This is especially useful when a rank has multiple possible titles. For example, in the Army, an E-4 can be either a Specialist or a Corporal. In the Navy, there are dozens of possible job titles and ratings for enlisted sailors. In the Marine Corps, an E-8 can be either a Master Sergeant or a First Sergeant, and they do care about the distinction.

          If omitted, MyMove will show the member the default name for the provided rank and affiliation.
      dateOfBirth:
        type: string
        description: |
          Date of Birth. Provide this if it is known, especially when POST-ing a Revision using the member's SSN as the memberId. In this case, the Orders Gateway will need to retrieve the member's EDIPI from DMDC's Identity Web Services, which expects first name, last name, date of birth, and SSN to guarantee a single EDIPI match.
        format: date
        x-nullable: true
    required:
      - givenName
      - familyName
      - affiliation
      - rank
  TourType:
    type: string
    description: |
      Accompanied or Unaccompanied; i.e., are dependents authorized to accompany the service member on the move. For certain OCONUS destinations, the tour type affects the member's entitlement. Otherwise, it doesn't matter.

      If omitted, assume accompanied.
    enum:
      - accompanied
      - unaccompanied
      - unaccompanied-dependents-restricted
    x-display-value:
      accompanied: Accompanied
      unaccompanied: Unaccompanied
      unaccompanied-dependents-restricted: Unaccompanied, Dependents Restricted
  OrdersType:
    type: string
    description: |
      The common types fit into the acronym ASTRO-UB.
        * **A**ccession - Joining the military
        * **S**eparation / Retirement - Leaving the military
        * **T**raining
        * **R**otational
        * **O**perational
        * **U**nit Move - When an entire unit is reassigned to another installation, often as a deployment
        * **B**RAC - Base Realignment and Closure. As of this writing, the most recent iteration of BRAC has ended, but Congress may start another one in the future.

      Consequences of this field include
        * Separation and retirement moves currently require the member to go through in-person counseling at the TMO / PPPO.
    enum:
      - accession
      - between-duty-stations
      - brac
      - cot
      - emergency-evac
      - ipcot
      - low-cost-travel
      - operational
      - oteip
      - rotational
      - separation
      - special-purpose
      - training
      - unit-move
    x-display-value:
      accession: Accession
      between-duty-stations: Between Duty Stations
      brac: BRAC (Base Realignment And Closure)
      cot: COT (Consecutive Overseas Travel)
      emergency-evac: Emergency Non-Member Evacuation
      ipcot: IPCOT (In-Place Consecutive Overseas Travel)
      low-cost-travel: Low Cost Travel
      operational: Operational
      oteip: OTEIP (Overseas Tour Extension Incentive Program)
      rotational: Rotational
      separation: Separation / Retirement
      special-purpose: Special Purpose Reimbursable
      training: Training
      unit-move: Unit Move
  Rank:
    type: string
    description: DoD paygrade or rank of the service member. Some of these ranks will have identical entitlements.
    enum:
      - aviation-cadet
      - cadet
      - civilian
      - e-1
      - e-2
      - e-3
      - e-4
      - e-5
      - e-6
      - e-7
      - e-8
      - e-9
      - midshipman
      - o-1
      - o-2
      - o-3
      - o-4
      - o-5
      - o-6
      - o-7
      - o-8
      - o-9
      - o-10
      - w-1
      - w-2
      - w-3
      - w-4
      - w-5
    x-display-value:
      aviation-cadet: Aviation Cadet
      cadet: Cadet
      civilian: Civilian
      e-1: E-1
      e-2: E-2
      e-3: E-3
      e-4: E-4
      e-5: E-5
      e-6: E-6
      e-7: E-7
      e-8: E-8
      e-9: E-9
      midshipman: Midshipman
      o-1: O-1
      o-2: O-2
      o-3: O-3
      o-4: O-4
      o-5: O-5
      o-6: O-6
      o-7: O-7
      o-8: O-8
      o-9: O-9
      o-10: O-10
      w-1: W-1
      w-2: W-2
      w-3: W-3
      w-4: W-4
      w-5: W-5
  Accounting:
    type: object
    properties:
      tac:
        type: string
        description: |
          Transportation Account Code - a reference to a line of accounting in the Transportation Global Edit Tables (TGET). This is the preferred way to charge a move expense to the correct pool of money.

          > TGET is a centralized repository that contains established transportation LOAs formatted in accordance with Service/Agency LOA requirements and associated TACs.

          ## Army
          Army orders do not include a TAC. Instead, they provide an MDC.

          > A movement designator code (MDC) provides the office of the Deputy Chief of Staff for Personnel with a record of the type of PCS travel performed by Active Army personnel. This record is used to centrally manage PCS funds.

          The correct TAC can be located by looking up the MDC, move type, and Fiscal Year (corresponding to the orders issuance date) in the CROSSWALK Excel spreadsheet.

          ## Navy
          Navy orders include TACs for PCS expenses (if moving expenses are authorized) and (sometimes) for NTS expenses. If present, the NTS TAC will have an underscore in the last column, which would ordinarily be populated with the last digit of the current FY. The Navy always wants to use the current Fiscal Year's TAC to pay NTS invoices, which can appear years after the Orders are cut. In other words, when it comes time to pay an NTS invoice, the underscore in the NTS TAC is replaced with the last digit of the current FY, and then that reconstructed TAC is used to look up the correct LOA in TGET.
      sdn:
        type: string
        description: |
          Standard Document Number. The SDN is one way to connect money that was obligated for a specific member's move at order issuance time to expenses incurred by that member's move at invoicing time. This obviously only works if the SDN is unique to the member and to the specific set of orders.

          ## Marine Corps
          The last four characters of the SDN should be same as the TAC.

          At the time of this writing, the Marines have separate SDNs for each category of moving expenses (HHG, POV Storage, NTS, etc.), but only one of them is unique to a specific Marine - the Commercial Travel (CT) SDN. The CT SDN **is** the Orders # for the Marines. In the future, the Marines would like to include the first 15 characters of the CT SDN in any transactions with the Third Party Payment System, and for the TPPS to include this unique value with every expense in the resulting report.
      loa:
        type: string
        description: The full Line Of Accounting. LOA is required if there is no TAC.
  Unit:
    type: object
    description: Information about either the losing or gaining Unit. If these are separation orders, the location information for the gaining Unit may be blank.
    properties:
      name:
        type: string
        description: Human-readable name of the Unit.
      uic:
        type: string
        description: |
          Unit Identification Code - a six character alphanumeric code that uniquely identifies each United States Department of Defense entity. Used in Army, Air Force, and Navy orders.

          Note that the Navy has the habit of omitting the leading character, which is always "N" for them.
        pattern: '^[A-Z][A-Z0-9]{5}$'
      city:
        type: string
        description: May be FPO or APO for OCONUS commands.
      locality:
        type: string
        description: State (US). OCONUS units may not have the equivalent information available.
      country:
        type: string
        description: ISO 3166-1 alpha-2 country code. If blank, but city and locality or postalCode are not blank, assume US
        pattern: '^[A-Z]{2}$'
      postalCode:
        type: string
        description: In the USA, this is the ZIP Code.
