@use 'styles/uswds/milmove' as milmove_uswds;

a.bypassBlock {
    display: block;
    position: absolute;
    left: -999px;
    top: -999px;
    background: white;
    font-weight: bold;
    padding: 8px;
}

a.bypassBlock:focus {
    left: 8px;
    top: 8px;
    z-index: 100;
}