@import 'shared/styles/uswdsImports';
@import 'shared/styles/_variables';
@import 'shared/styles/colors';

.formContainer {
  .form {
    max-width: none;

    :global(.usa-input) {
      @include u-display('inline-block');
      width: unset;
    }

    :global(.usa-form-group--error),
    :global(.usa-form-group.warning) {
      @include u-margin-top(2);
    }

    // last section wrapper on mobile shouldn't render divider
    @include at-media-max('tablet') {
      .sectionWrapper:nth-last-child(2) {
        border-bottom: none;
        @include u-padding-bottom(0);
        @include u-margin-bottom(3);
      }
    }
  }

  h2 {
    @include u-margin-bottom(2.5);
  }

  // fixes collapsing margins cross-browser for Storage section
  h2 + fieldset legend {
    @include u-padding-top(1.5);
  }

  .sectionWrapper {
    border-bottom: 1px solid $base-lighter;

    @include at-media('mobile') {
      @include u-padding-bottom(4);
      @include u-margin-top(4);
    }
  }

  .sectionWrapper:last-of-type {
    border-bottom: none;
  }

  fieldset {
    @include u-margin-top(2);
    @include u-padding-top(0);

    legend:global(.usa-label) {
      @include u-margin-top(0);
    }
  }

  :global(.usa-label), :global(.usa-checkbox__label) {
    @include u-margin-top(2);
  }

  :global(.usa-legend) {
    @include u-margin-top(0);
  }

  .innerHint {
    @include u-margin-top(1);
  }

  .hint {
    @include u-margin-top(2);
  }
}

.buttonContainer {
  @include u-display(flex);
  flex-wrap: wrap;

  button:global(.usa-button) {
    @include u-margin-top(2);
    @include u-margin-bottom(0);
  }

  @include at-media-max(mobile-lg) {
    .backButton {
      order: 2;
    }

    .saveButton {
      order: 1;
    }
  }
}
