@import 'shared/styles/basics';
@import 'shared/styles/colors';
@import 'styles/office.scss';

.MoveSearchForm {
  @include u-padding-y(3);
  @include u-padding-x(4);
  @include u-bg('white');
  @include u-radius(4px);
  border: 1px solid $border-color;
  max-width: none !important;

  :global(.usa-radio) {
    @include u-margin-left(0);
    @include u-margin-right(2);
  }
  :global(.usa-radio__label) {
    font-size: 15px;
    line-height: 23px;
  }
  :global(.usa-radio__input) + :global(.usa-radio__label::before) {
    box-shadow: 0 0 0 2px $base, inset 0 0 0 2px white;
  }
  :global(.usa-radio__input:checked) + :global(.usa-radio__label::before) {
    background-color: $link;
    box-shadow: 0 0 0 2px $link, inset 0 0 0 2px white;
  }

  legend {
    @include u-margin(0);
  }

  .searchBar {
    @include u-margin-top(2);
    display: flex;
    @include u-margin-top(2);
    :global(.usa-form-group) {
      @include u-margin(0);
    }
    legend {
      @include u-margin-bottom(1);
    }
  }

  .searchButton {
    height: 43px;
    width: 99px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    @include u-margin(0 !important);
    background-color: $link;
  }
  .searchButton:hover {
    background-color: $primary-dark;
  }
  :global(.usa-search__input) {
    height: 43px;
    width: 356px;
  }
}
