@import '../../../shared/styles/basics';
@import '../../../shared/styles/mixins';
@import '../../../shared/styles/colors';

.docViewerMenu {
  @include u-bg('white');
  @include u-shadow(2);
  @include u-padding-bottom(3);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 304px;
  z-index: $z-index-front;
  transform: translateX(0);
  transition: transform 0.5s;
  overflow: auto;

  &.collapsed {
    transform: translateX(-100%);
    visibility: hidden;
  }
}

.menuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include u-padding-x(2);
}

.menuControls {
  svg {
    @include u-width(2);
    @include u-height(2);
    path {
      fill: $primary;
    }
  }
  button {
    @include u-padding-right(2);
  }
}

.menuList {
  list-style-type: none;
  @include u-padding(0);
  @include u-margin(0);
  overflow-x: auto;
}

.menuItem {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.menuItemBtn {
  justify-content: flex-start;
  width: 100%;
  @include u-border-top(1px);
  @include u-border-top('base-lighter');
  @include u-padding-x(1.5);
  flex-direction: column;

  p {
    display: flex;
    @include u-padding-y(1);
    @include u-text('gray-50');
    word-wrap: break-word;
    @include u-margin-y(0);
    @include u-line-height('body', 2);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    justify-content: space-between;
    width: 100%;
    span {
      text-overflow: ellipsis;
      overflow: hidden;
      @include u-font-size('body', '3xs');
      @include u-font-weight(normal);
      color: #505559;
    }
  }

  &:hover {
    p {
      @include u-text('primary-vivid');
    }

    .thumbnailImage {
      @include u-border(2px);
      @include u-border('primary-vivid');
    }
  }

  &:active,
  &.active {
    @include u-border-left('05');
    @include u-border-left('primary-vivid');
    @include u-text('bold');
    .thumbnailImage {
      @include border-inset(2px, $link);
    }
  }

  &:focus {
    @include focus-outline;
  }
}

// Limit the max width of the filename when a tag is present
.fileNameWithTag {
  max-width: 55%;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

// This allows the filename to take up the full width when no tag is present
.fileNameFullWidth {
  max-width: 100%;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

// TODO
/*
.thumbnailImage {
  @include u-border('1px');
  @include u-border('base-lightest');
  @include u-width(6);
  @include u-height(6);
  @include u-margin-y(1.5);
  @include u-margin-left(1.5);
  overflow: hidden;
}
*/
