@use 'styles/uswds/milmove' as milmove_uswds;

.ServicesCounselingQueue {
  @include milmove_uswds.u-display(flex);
  flex-direction: column;
  flex: auto;
  border: (1px, solid, green);
  background-color: milmove_uswds.$bg-gray;
}
