@import 'shared/styles/_basics';
@import 'shared/styles/colors';

.ServicesCounselingQueue {
  @include u-display(flex);
  flex-direction: column;
  flex: auto;
  border: (1px, solid, green);
  background-color: $bg-gray;
}
