@use 'styles/uswds/milmove' as milmove_uswds;

.serviceItemsTable {
  @include milmove_uswds.u-width(100%);
  thead th {
    @include milmove_uswds.u-bg('transparent');
    @include milmove_uswds.u-padding-left(1.5);
    border-top: none;
  }
  td {
    @include milmove_uswds.u-bg('transparent');
  }

  caption {
    text-align: left;

    h4 {
      @include milmove_uswds.u-margin(0);
      @include milmove_uswds.u-margin-bottom(2);
      span {
        @include milmove_uswds.u-margin-top(1);
        display: block;
        font-weight: normal;
      }
    }
  }
}
