@use 'styles/uswds/milmove' as milmove_uswds;

.remarkForm {
  max-width: 100%;
}

.newRemarkLabel {
  color: milmove_uswds.$base-dark;
  @include milmove_uswds.u-margin-bottom(1);
  @include milmove_uswds.u-margin-top(0);
}

.newRemarkTextArea {
  resize: vertical;
}
