@import 'shared/styles/_basics';
@import 'shared/styles/colors';

.mtoShipmentSITExtensions {
  .title {
    display: flex;
    justify-content: space-between;
    // for now, to counteract top margin on table below it. When more content gets added below here, this might need to be changed
    margin-bottom: -1rem;
    button {
      padding-right: 0px;
    }
    span {
      margin-left: 0.5rem !important;
    }
    .submitSITEXtensionLink {
      @include u-margin-right(2);
    }
  }

  p {
    @include u-margin-left(1);
  }
  td {
    vertical-align: top;

    div {
      display: flex;
    }

    dl {
      margin-top: 0;
    }

    dt,
    dd {
      @include u-font-size('body', '3xs');
      @include u-line-height('body', 2);
      color: $base-darker;
    }

    dt {
      @include u-font-weight('bold');
      white-space: nowrap;
    }

    dd {
      margin-left: 5px;
    }
  }
}
