@import 'shared/styles/_basics';

.mtoShipmentSITExtensions {
  p {
    @include u-margin-left(1);
  }
  td {
    vertical-align: top;

    div {
      display: flex;
    }

    dl {
      margin-top: 0;
    }

    dt,
    dd {
      @include u-font-size('body', '3xs');
    }

    dt {
      @include u-font-weight('bold');
      white-space: nowrap;
    }

    dd {
      margin-left: 5px;
    }
  }
}
