@import 'shared/styles/colors.scss';
@import 'shared/styles/basics';

.ConvertSITToCustomerExpenseModal {
  //min-width: 45rem !important;
  overflow-y: auto;
  max-height: 90vh;

  .summarySITComponent {
    @include u-margin-bottom(3);
  }

  .approvedDaysInput {
    max-width: 7rem;
  }

  .ModalPanel {
    @include u-border('base-lighter');
    @include u-border('1px');
    @include u-radius('05');
    @include u-padding(3);
    display: flex;

    .reasonDropdown label {
      @include u-margin-top(0);
    }
  }

  .CancelButton {
    @include u-bg('transparent');
  }
  .errors {
    margin-top: 0;
    color: #b50909;
    font-weight: 700;
    font-size: 15px;
    padding: 4px 0px;
  }
}

.sitDisplayForm {
  // these styles conflict with the custom.scss .table--data-point-group, we should try to remove that custom class
  // @include u-padding-x(2);
  // padding-top: 18px;
  // padding-bottom: 18px;
  width: auto;
  padding: 16px;
  @include u-border('base-lighter');
  @include u-border('1px');
  @include u-radius('05');
  @include u-margin-bottom(3);
  background-color: $bg-gray;
  .title {
    display: flex;
    justify-content: space-between;
    // for now, to counteract top margin on table below it. When more content gets added below here, this might need to be changed
    p {
      @include u-margin-y(0);
      @include u-font-size('body', 'md');

      :global .usa-tag {
        @include u-font-size('body', 'sm');
      }
      font-weight: bold;
      //@include u-margin-left(1);
    }

    button {
      padding-right: 0px;
    }
    span {
      margin-left: 0.5rem !important;
    }
  }

  :global table.table--data-point {
    margin-top: 10px;
  }


  .currentLocation{
    th {
      padding: 4px
    }
    table.table--data-point {
      @include u-margin-top(0);
    }
  }
  .totalDaysTable{
    th{
      padding: 4px
    }
  }

  td {
    vertical-align: top;

    p,
    p + p {
      margin-top: 0;
      margin-bottom: 0;
    }

    dl {
      @include u-margin-top(0);
    }

    dl:last-child {
      @include u-margin-y(0);
    }

    dt,
    dd {
      @include u-font-size('body', '3xs');
      @include u-line-height('body', 2);
      color: $base-darker;
    }

    dt {
      @include u-font-weight('bold');
      white-space: nowrap;
      color: $base-darkest;
    }

    dd {
      margin-left: 5px;
    }
    :global .usa-form-group {
      @include u-margin-top(0)
    }
    :global .usa-input {
      @include u-margin-top(0)
    }
  }
}
.sitHistoryItem {
  th {
    padding: 0
  }
  .sitHistoryItemHeader {
    color: $base-darker;
    span {
      font-weight: 400;
    }
  }
}
p.sitHeader {
  @include u-font-size('body', 'sm');
  @include u-margin-bottom(0);
  @include u-margin-top(1);
  :global .usa-tag {
    @include u-font-size('body', 'sm');
  }
  font-weight: bold;
}
.tableContainer{
  margin-top:16px
}

