@use 'styles/uswds/milmove' as milmove_uswds;

.reviewMoveContainer {
  margin-top: -20px;
}

.reviewMoveHeaderContainer {
  @include milmove_uswds.u-margin-top(4);
  @include milmove_uswds.u-margin-bottom(3);

  h2 {
    margin: 0;
    font-size: 28px;
    font-weight: normal;
    @include milmove_uswds.u-margin-bottom(1);
  }

  p {
    margin: 0;
  }
}
