@import 'shared/styles/_variables';
@import 'shared/styles/_basics';
@import 'shared/styles/colors';

@media (min-width: $tablet) {
  .review-container {
    colgroup {
      col:first-of-type {
        width: 25%;
      }

      col:last-of-type {
        width: 75%;
      }
    }
  }
}

.review-container {
  col:first-of-type {
    width: 40%;
  }

  col:last-of-type {
    width: 60%;
  }

  h2 {
    margin: 0px;
  }

  .review-header {
    @include u-margin-bottom(3);
    display: flex;
    justify-content: space-between;

    .edit-btn {
      justify-content: flex-end;
      padding: 0px;
    }
  }

  table.review-table {
    table-layout: fixed;
    border-collapse: separate;
    border-radius: 4px;
    border: 1px solid $base-lighter;
    border-spacing: 0;
    width: 100%;
    @include u-bg('white');
    @include u-padding-left('05');
    @include u-padding-right('05');

    th {
      font-weight: bold;
      color: $base-darker;
      vertical-align: top;
    }

    td {
      vertical-align: top;
      word-break: break-word;
    }

    @media (min-width: $tablet) {
      border-color: white;
    }

    @include at-media-max('tablet') {
      // avoid double drawing of top border
      tr:first-of-type {
        th, td {
          @include u-border-top(0);
        }
      }
    }
  }

}

.table-divider-top {
  @include u-padding-bottom('105');
}

.table-divider:first-of-type {
  border-color: $base-light;
  @include u-padding-bottom('05');
}
