@import 'shared/styles/basics';
@import 'shared/styles/mixins';

.ShipmentDetails {
  @include u-display(flex);
  align-items: flex-start; // prevents the child table rows from stretching to match service item height
}

.ShipmentDetailsMain {
  @include u-margin-right(4);
  min-width: 633px; // minimum width to fit the widest shipment details row

  :global(.table--data-point-group),
  .shipmentSITSummary {
    @include u-margin-bottom(3);
  }

  .ShipmentRemarks:last-child {
    margin-bottom: 0;
  }
}
.submitSITEXtensionLink {
  @include u-margin-right(2);
}
.ShipmentDetailsSidebar {
  flex-grow: 1;
  min-width: 260px;

  > section {
    @include u-margin-bottom(1.5);
  }

  a {
    font-weight: normal;
  }
}
