.big-button {
  border: 1px solid #808080;
  text-align: center;
  box-shadow: 5px 5px 5px #e2e2e2;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: black;
  background-color: white;
  width: 100%;
  border-radius: 0%;
  font-weight: 400;
  height: 100%;
}

.big-button p:first-child {
  margin-top: 3rem;
}

.big-button p {
  font-size: 0.9em;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.big-button img {
  margin-top: 3rem;
  height: 50px;
  margin-bottom: 3rem;
}

/* On mouse-over, add a grey background color */
.big-button:hover {
  background-color: #f0f6fb;
  color: black;
}

.big-button.selected {
  background-color: #f0f6fb;
  border: 2px solid #949494;
  color: black;
}
