<p>
  You are receiving this notification because you are listed as a System Administrator of the MilMove app.
  A MilMove client cert has been {{.Action}}.
</p>

<p><strong>Activity details:</strong></p>
<ul>
  <li>Modified client cert ID: {{.ModifiedClientCertID}}</li>
  <li>Responsible user ID: {{.ResponsibleUserID}}</li>
  <li>Action: Account {{.Action}}</li>
  <li>Action source: {{.ActionSource}}</li>
  <li>Timestamp: {{.Timestamp}}</li>
</ul>

<p>
  Please visit the AWS Console
  (<a href="https://dp3.atlassian.net/wiki/spaces/MT/pages/1250066433/0029+AWS+Organization+Authentication">instructions</a>)
  or the <a href="https://admin.move.mil">MilMove Admin Interface</a> to see more details about the above activity.
</p>
