<p><strong>You're all set to move!</strong></p>

<p>
  The local transportation office <strong>approved your move</strong> {{if .OriginDutyLocation}}from <strong>{{.OriginDutyLocation}}</strong> {{end}}to
  <strong>{{.DestinationDutyLocation}}</strong
  >.
</p>

<p>Please <a href="{{.Link}}">review the Personally Procured Move (PPM) info sheet</a> for detailed instructions.</p>
<br />
<p>
  <strong>Next steps</strong> <br />Because you’ve chosen a do-it-yourself move, you can start whenever you are ready.
</p>

<p>
  Be sure to <strong>save your weight tickets and any receipts</strong> associated with your move. You’ll need them to
  request payment later in the process.
</p>

{{if .OriginDutyLocation}}<p>If you have any questions, call the {{.OriginDutyLocation}} PPPO at {{.OriginDutyLocationPhoneLine}} and reference your move locator code: {{.Locator}}</p>{{end}}

<p>You can <a href="https://my.move.mil">check the status of your move</a> anytime at https://my.move.mil"</p>
