<p>We hope your move to {{.DestinationDutyLocation}} went well.</p>

<p>It’s been a couple of weeks, so we want to make sure you get paid for that move. {{.IncentiveTxt}}</p>

<p>To get your incentive, you need to request payment.</p>

<p>Log in to MilMove and request payment</p>

<p>We want to pay you for your PPM, but we can’t do that until you document expenses and request payment.</p>

<p>To do that</p>

<ul>
  <li><a href="https://my.move.mil">Log in to MilMove</a></li>
  <li>Click Request Payment</li>
  <li>Follow the instructions.</li>
</ul>

<p>What documents do you need?</p>

<p>To request payment, you should have copies of:</p>
<ul>
  <li>Weight tickets from certified scales, documenting empty and full weights for all vehicles and trailers you used for your move</li>
  <li>Receipts for reimbursable expenses (see our moving tips PDF for more info)</li>
</ul>

<p>MilMove will ask you to upload copies of your documents as you complete your payment request.</p>

<p>What if you’re missing documents?</p>

<p>If you’re missing receipts, you can still request payment. You might not get reimbursement or a tax credit for those expenses.</p>
{{ if .TOName }}
<p>If you’re missing certified weight tickets, your PPPO will have to help. Call {{.TOName}}{{if .TOPhone}} at {{.TOPhone}}{{end}} to have them walk you through it. Reference your move locator code: {{.Locator}}.</p>
{{- end -}}

{{ if not .TOName }}
<p>If you are missing weight tickets, someone from the government will have to help. Consult Military OneSource's <a href="https://www.militaryonesource.mil/moving-housing/moving/planning-your-move/customer-service-contacts-for-military-pcs/">directory of PCS-related contacts</a> to find your best contact and reference your move code {{.Locator}}.</p>
{{- end }}

<p>Log in to MilMove to complete your request and get paid.</p>

<p>Request payment within 45 days of your move date or you might not be able to get paid.</p>

{{if .TOName}}<p>If you have any questions or concerns, you can talk to a human! Call your local PPPO at {{.TOName}}{{if .TOPhone}} at {{.TOPhone}}{{end}}. Reference your move locator code: {{.Locator}}.</p>{{end}}
