<p><strong>***</strong> DO NOT REPLY directly to this email <strong>***</strong></p>

<p>This is a reminder that your PPM with the <strong>assigned move code {{.Locator}}</strong> from
<strong>{{.OriginDutyLocation}}</strong> to <strong>{{.DestinationDutyLocation}}</strong> is awaiting action in MilMove.</p>

<p>Next steps:</p>

<p>To get your payment, you need to login to MilMove, document expenses, and request payment.</p>

<p>To do that:</p>

<p>
<ul>
  <li>Log into <a href={{.MyMoveLink}}>MilMove</a></li>
  <li>Click on "Upload PPM Documents"</li>
  <li>Follow the instructions</li>
</ul>
</p>

<p>To request payment, you should have copies of:</p>

<ul>
<li>       Weight tickets from certified scales, documenting empty and full weights for all vehicles and trailers you used for your move.</li>
<li>       Receipts for reimbursable expenses.</li>
</ul>

<p>MilMove will ask you to upload copies of your documents as you complete your payment request.

<p>If you are missing reciepts, you may still be able to request payment, but you will need assistance from your transportation office.</p>

<p>Payment request must be submitted within 45 days of your move date.</p>

<p>If you have any questions, contact a government transportation office. You can see a listing of
transportation offices on Military OneSource here: &lt;<a href="{{.OneSourceLink}}">{{.OneSourceLink}}</a>&gt;</p>

<p>Thank you,</p>
<p>USTRANSCOM MilMove Team</p>
<p>The information contained in this email may contain Privacy Act information and is therefore protected
under the Privacy Act of 1974. Failure to protect Privacy Act information could result in a $5,000 fine.</p>