<p>*** DO NOT REPLY directly to this email ***</p>

<p>
  This is a confirmation that a move task order has been placed for your move (Move Code {{.Locator}})
  {{if .OriginDutyLocation}}from {{.OriginDutyLocation}} {{ end }}to {{.DestinationLocation}}.
</p>

<p>
  What this means to you:
</p>
{{ if .ProvidesGovernmentCounseling }}
<p>
  Your government-arranged shipment(s) will be managed by HomeSafe Alliance, the DoD contractor under the Global Household Goods Contract (GHC).
</p>

<h4>Next steps for your government-arranged shipment(s): </h4>

<p>
  HomeSafe will send you an e-mail invitation (check your spam or junk folder) to log in to their system, HomeSafe Connect.
</p>

<ul>
  <li>
    Log in to HomeSafe Connect as soon as possible to schedule your pre-move survey.
    You can request either a virtual, or in-person pre-move survey.
  </li>
</ul>

<p>HomeSafe Customer Care is Required to:</p>

<ul>
  <li>
    Reach out to you within one Government Business Day.
  </li>
  <li>
    Within 3-7 days of your receipt of this e-mail, contact you to provide a 7-day pickup date spread window.
    This spread window must contain your requested pickup date.
    (What this means: your requested pickup date may fall on the spread start date, the spread end date, or anywhere in between.)
  </li>
</ul>
{{- end }}
{{- if not .ProvidesGovernmentCounseling }}
<p>
  If you have requested a Personally Procured Move (PPM), <strong>DO NOT</strong> start your PPM until it has been approved by your counselor.
  You will receive an email when that is complete.
</p>

<p>
  Your government-arranged shipment(s) will be managed by HomeSafe Alliance, the DoD contractor under the Global Household Goods Contract (GHC).
</p>

<h4>Next steps for your government-arranged shipment(s): </h4>

<p>
  HomeSafe will send you an e-mail invitation (check your spam or junk folder) to log in to their system, HomeSafe Connect.
</p>

<ul>
  <li>
    Log in to HomeSafe Connect as soon as possible to complete counseling and schedule your pre-move survey.
    You can request either a virtual, or in-person pre-move survey.
  </li>
</ul>

<p>HomeSafe Customer Care is Required to:</p>

<ul>
  <li>
    Reach out to you within one Government Business Day.
  </li>
  <li>
    Within 3-7 days of your receipt of this e-mail, contact you to assist in completion of counseling
    and provide a 7-day pickup date spread window. This spread window must contain your requested pickup date.
    (What this means: your requested pickup date may fall on the spread start date, the spread end date, or anywhere in between.)
  </li>
</ul>
{{- end }}

<p>
  If you are requesting to move in 5 days or less, HomeSafe should assist you with scheduling within one day of your
  receipt of this email.
</p>

<p>Utilize your HomeSafe Customer Care Representative:</p>
<ul>
  <li>As your first contact if you have any questions during your move.</li>
  <li>To provide any updates on your shipment or status.</li>
</ul>

<p>
  If you are unsatisfied at any time, contact a government transportation office.
  You can see a listing of transportation offices on Military One Source here:
  <a href="{{.MilitaryOneSourceLink}}">{{.MilitaryOneSourceLink}}</a>.
</p>

<p>Thank you,</p>

<p>USTRANSCOM MilMove Team</p>

<p>
  The information contained in this email may contain Privacy Act information and is therefore protected under the
  Privacy Act of 1974.  Failure to protect Privacy Act information could result in a $5,000 fine.
</p>
