<img src="https://raw.githubusercontent.com/transcom/mymove/blob/INT-B-18836-send-email-when-office-account-rejected/src/shared/images/milmove-logo-black.png" alt="MilMove Logo" width="500" height="200">

<p>Hi {{.FirstName}} {{.LastName}},</p>

<p>Your request for a MilMove account was <strong>denied</strong> for the following reason(s):</p>

<p><strong>{{.RejectionReason}}</strong></p>

<p>If you have any questions, you can contact the System Response Center (SRC) Help Desk at 1-800-462-2176.</p>

<p>V/R,</p>
<p>MilMove Admin</p>
