<img src="https://raw.githubusercontent.com/transcom/mymove-docs/main/static/img/logos/milmove-logo-black.png" alt="MilMove Logo" width="150" height="30">

<p>Hi {{.FirstName}} {{.LastName}},</p>

<p>&emsp;Your request for a MilMove account was <strong>denied</strong> for the following reason(s):</p>

<p>&emsp;<strong>{{.RejectionReason}}</strong></p>

<p>&emsp;If you have any questions, you can contact the System Response Center (SRC) Help Desk at 1-800-462-2176.</p>

<p>V/R,</p>
<p>MilMove Admin</p>
