@import 'shared/styles/_basics';
@import 'shared/styles/colors';

.reviewGunSafe {
  @include u-padding(2);
  background-color: $bg-white;
  position: relative;

  hr {
    @include u-margin-top(2);
    @include u-margin-bottom(2);
    position: absolute;
    left: 0;
    right: 0;
  }

  h3,
  h2 {
    @include u-margin-top(1);
    @include u-margin-bottom(1);
    color: $base-darkest;
  }

  .tripNumber {
    @include u-margin-top(4);
  }

  .label {
    @include u-margin-bottom(1);
  }

  .displayValue {
    @include u-margin-bottom(2);
    color: $base-darkest;
    @include u-font-size('body', 'xs');
  }

  :global(.usa-legend) {
    @include u-margin-bottom(1);
    @include u-margin-top(1);
  }

  .reviewHeader {
    @include u-margin-top(3);
  }

  .rejectionReason {
    @include u-margin-top(0);
  }

  .characters {
    color: $base-darker;
  }

  div.reject {
    @include u-margin-top(2);
  }

  :global(.usa-radio__label) {
    color: $base-darkest;
    @include u-font-size('body', 'xs');
  }

  p {
    color: $base-darkest;
  }

  :global(.usa-input) {
      color: $base-darkest;
      @include u-font-size('body', 'xs');
  }

  .hint {
    color: $base-darker;
    font-size: 13px;
    line-height: 18px;
    @include u-margin-top(1);
    @include u-margin-bottom(0);
  }

  .acceptRadio, .rejectRadio {
    label {
      @include u-text('bold');
    }
  }

}

.headerContainer {
  @include u-padding-bottom(0);
  z-index: 1;
}
