@use 'sass:selector';
@use 'shared/standardUI/' as *;
@use 'shared/standardUI/Buttons/mm_buttons' as *;
@use 'shared/standardUI/Layouts/breaks' as *;

.movesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

.moveContainer {
  border-top: 8px;
  @include u-border-top('base-darker');
  @include u-margin-bottom(1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .heading {
    @include u-text('base-darkest');
    @include u-margin(0);
    @include u-border('1px');
    @include u-border('base-lighter');

    & {
      @include mix-at-media($media-breaks-regular-exclusive) using ($selector, $media-break){
        align-items: center;
        @include mix-grid-column-placement-positioning();
        .icon{
          padding: 1rem;
        }
        padding: 1rem {
          right: 0rem;
        };
      }

      @include mix-at-media($media-breaks-tablet,$media-breaks-mobile) using ($selector, $media-break){
        gap: 0.5rem;
        place-items: center stretch;
        > *:nth-child(1){
          justify-self: center;
        }
        .icon{
          padding: 0.5rem;
        }
        padding: 1rem {
          bottom: 0rem;
        }
        @include mix-grid-row-placement-positioning();
      }
    }

    h3 {
      width: fit-content;
      display: inline;
      font-weight: bold;
      margin: unset;
    }
  }

  .moveInfoList {
    @include u-margin-top(0);

    .moveInfoListExpanded {
      @include u-margin-top(-2);
    }
  }
}

.shipmentH3 {
  @include u-margin-x(2);
}

.shipment {
  @include u-margin-x(2);
}

.previewShipment {
  @include u-margin-x(0);
  @include u-margin-bottom(1);

  .innerWrapper {
    @include u-margin-left(2);
    @include u-margin-y(-1);
    @include u-margin-bottom(-4);
    @media (max-width: 700px) {
      @include u-margin-left(0);
    }

  }
}

.shipmentTypeHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h4 {
    font-weight: bold;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.specialMoves {
  margin: auto;
  color: red;
  font-size: 1.67rem;
  font-weight: bold;
}

.ppmDropdownBtn {
  margin-left: auto;
  padding-left: 10px;

  @media (max-width: 768px) {
    margin: auto;
    padding-left: 0;
  }
}

.goToMoveBtn {
  @extend .usa-button--outline;
}