@use "sass:selector";
@use "sass:map";
// @use 'shared/standardUI/Generic/placement';
// @use 'shared/standardUI/Buttons/mm_buttons';
// @use 'shared/standardUI/Layouts/breaks' as breaks;
// @use 'shared/standardUI/Generic/build';
@use 'shared/styles/variables' as vars;
@use 'shared/standardUI/' as *;
@use 'shared/standardUI/Buttons/mm_buttons' as *;

.movesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

%expand-label-heading{

  display: flex;
  align-items: center;

  @media (max-width: vars.$tablet) {
    flex-direction: column;
  }


  &--container {
    @include mix-at-media(null) using ($selector, $media-break){
      @at-root {
        :root {
          --#{$selector}:#{$selector};
        }
      }

      background-color: green;
      display: flex;
      align-items: center;
      // justify-content: space-between;
      gap: 5px;
    }

    @include mix-at-media($media-breaks-tablet) using ($selector, $media-break){
      @at-root {
        :root {
          --#{$selector}:#{$selector};
        }
      }

      background-color: green;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      @extend %#{$selector}-display-as--flex, %#{$selector}-place--content-start-justified;
    }
  }

  // &--container{

  //   // @include mix-assign-media($media-breaks-tablet-max-width);
  //   // @extend %display-as--grid, %place--content-start-justified;
  //   @media (max-width: $tablet)  {
  //   }
  // }
  // @extend %display-as--flex--column, %place--content-space-between-justified;

}


%expand-label-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--label-heading{
    @extend %expand-label-heading;
  }
}


.moveContainerButtons {
  @extend %expand-label-heading--container;
}


.heading {
  @extend %expand-label-heading;
}

.moveContainer {
  @extend %expand-label-section;

  border-top: 8px;
  @include u-border-top('base-darker');
  @include u-margin-bottom(1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .heading {
    @include u-text('base-darkest');
    @include u-margin(0);
    @include u-border('1px');
    @include u-border('base-lighter');
    @include u-padding(2);

    h3 {
      width: 100px;
      display: inline;
      font-weight: bold;
      @include u-margin(0);
      @include u-margin-x(1);
    }

    .icon {
      margin-left: 1rem;
    }

    // handling mobile device layout
    // the buttons are too large to display so we will make them a column
    @media (max-width: $tablet) {
      flex-direction: column;

      h3 {
        margin-bottom: 0.5rem;
      }
      .icon {
        margin-top: 0.5rem;
      }
    }
  }

  .moveInfoList {
    @include u-margin-top(0);

    .moveInfoListExpanded {
      @include u-margin-top(-2);
    }
  }
}

.shipmentH3 {
  @include u-margin-x(2);
}

.shipment {
  @include u-margin-x(2);
}

.previewShipment {
  @include u-margin-x(0);
  @include u-margin-bottom(1);

  .innerWrapper {
    @include u-margin-left(2);
    @include u-margin-y(-1);
    @include u-margin-bottom(-4);
    @media (max-width: 700px) {
      @include u-margin-left(0);
    }

  }
}

.shipmentTypeHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h4 {
    font-weight: bold;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.specialMoves {
  margin: auto;
  color: red;
  font-size: 1.67rem;
  font-weight: bold;
}

.ppmDropdownBtn {
  margin-left: auto;
  padding-left: 10px;

  @media (max-width: 768px) {
    margin: auto;
    padding-left: 0;
  }
}

.goToMoveBtn {
  @extend .usa-button--outline, %flex-row-content-center-justified, %flex-row-items-center-aligned;
}
