@import '../../../../shared/styles/basics';
@import '../../../../shared/styles/mixins';
@import '../../../../shared/styles/colors';
@import '../../../../shared/styles/_variables';

.movesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

.moveContainer {
  border-top: 8px;
  @include u-border-top('base-darker');
  @include u-margin-bottom(1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @include u-text('base-darkest');
    @include u-margin(0);
    @include u-border('1px');
    @include u-border('base-lighter');
    @include u-padding(2);

    .moveContainerButtons {
      margin-left: auto;
      display: flex;
    }

    h3 {
      width: 100px;
      display: inline;
      font-weight: bold;
      @include u-margin(0);
      @include u-margin-x(1);
    }

    .icon {
      margin-left: 1rem;
    }

    // handling mobile device layout
    // the buttons are too large to display so we will make them a column
    @media (max-width: $tablet) {
      flex-direction: column;

      h3 {
        margin-bottom: 0.5rem;
      }

      .moveContainerButtons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        width: 100%;
      }

      .icon {
        margin-top: 0.5rem;
      }
    }
  }

  .moveInfoList {
    @include u-margin-top(0);

    .moveInfoListExpanded {
      @include u-margin-top(-2);
    }
  }
}

.shipmentH3 {
  @include u-margin-x(2);
}

.shipment {
  @include u-margin-x(2);
}

.previewShipment {
  @include u-margin-x(0);
  @include u-margin-bottom(1);

  .innerWrapper {
    @include u-margin-left(2);
    @include u-margin-y(-1);
    @include u-margin-bottom(-4);
    @media (max-width: 700px) {
      @include u-margin-left(0);
    }

  }
}

.shipmentTypeHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h4 {
    font-weight: bold;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.specialMoves {
  margin: auto;
  color: red;
  font-size: 1.67rem;
  font-weight: bold;
}

.ppmDropdownBtn {
  margin-left: auto;
  padding-left: 10px;

  @media (max-width: 768px) {
    margin: auto;
    padding-left: 0;
  }
}