@use 'styles/uswds/milmove' as milmove_uswds;

.contactContainer {
  border-radius: 5px;
  border: 1px solid milmove_uswds.$base-lighter;
  @include milmove_uswds.u-padding-top(2);
  @include milmove_uswds.u-padding-left(2);
  @include milmove_uswds.u-padding-right(2);
  @include milmove_uswds.u-padding-bottom(3);
  @include milmove_uswds.u-bg('white');

  h6 {
    margin-top: 0px;
    font-size: 13px;
    font-weight: normal;
  }
  p {
    font-size: 15px;
    line-height: 18px;
    margin: 0px;
  }

  p + p {
    margin-top: 12px;
  }
}

.contactHeader {
  @include milmove_uswds.u-margin-bottom(1);
  text-transform: uppercase;
}
