@use 'styles/uswds/milmove' as milmove_uswds;

.PaymentRequestCard {
  @include milmove_uswds.u-margin-x(0);
  @include milmove_uswds.u-padding-x(4);
  @include milmove_uswds.u-padding-top(3);
  @include milmove_uswds.u-padding-bottom(2);
  @include milmove_uswds.u-margin-y(4);
  &:first-of-type {
    @include milmove_uswds.u-margin-top(3);
    @include milmove_uswds.u-margin-bottom(4);
  }
  &:last-of-type {
    @include milmove_uswds.u-margin-top(4);
    @include milmove_uswds.u-margin-bottom(3);
  }
}

.header {
  @include milmove_uswds.u-display(flex);
  h6 {
    @include milmove_uswds.u-display(flex);
    @include milmove_uswds.u-margin-top(0);
    @include milmove_uswds.u-margin-bottom(0);
    color: milmove_uswds.$base;
    align-items: center;
  }

  :global .usa-tag {
    @include milmove_uswds.u-margin-left(1);
    @include milmove_uswds.u-font-size('body', '3xs');

    &.reviewed,
    &.paid {
      background-color: milmove_uswds.$base-lighter;
    }
  }
}

.prNumber {
  text-transform: uppercase;
  margin-right: 1em;
}

.dateSubmitted {
  @include milmove_uswds.u-font-size('body', '3xs');
  color: milmove_uswds.$base;
  flex: 1;
  text-align: right;
}

.totalReviewed {
  @include milmove_uswds.u-display(flex);
  @include milmove_uswds.u-padding-bottom(3);
  border-bottom: 1px solid #dcdee0;

  h2 {
    @include milmove_uswds.u-margin-bottom(0.5);
  }

  .amountAccepted {
    @include milmove_uswds.u-display(flex);
    align-items: center;
    margin-right: 6em;

    svg {
      @include milmove_uswds.u-margin-right(2);
      height: 24px;
      width: 24px;
      path {
        fill: milmove_uswds.$success;
      }
    }
  }

  .amountRejected {
    @include milmove_uswds.u-display(flex);
    align-items: center;

    svg {
      @include milmove_uswds.u-margin-right(2);
      height: 24px;
      width: 24px;
      path {
        fill: milmove_uswds.$error;
      }
    }
  }

  .reviewButton {
    flex-grow: 1;
  }

  .reviewButton {
    @include milmove_uswds.u-display(flex);
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;

    .errorText {
      color: milmove_uswds.$base;
      font-size: 13px;
    }
  }
}

.footer {
  @include milmove_uswds.u-display(flex);
  @include milmove_uswds.u-margin-top(2);
  align-items: center;

  dl {
    @include milmove_uswds.u-margin-right(4);
    @include milmove_uswds.u-margin-y(0);
  }

  dt {
    display: inline;
    font-weight: bold;

    &:not(:first-of-type) {
      @include milmove_uswds.u-margin-left(4);
    }
  }

  dd {
    display: inline;
    @include milmove_uswds.u-margin-left(0.5);
  }

  a svg {
    @include milmove_uswds.u-margin-right(1);
  }

  a:visited {
    color: #0050d8;
  }
}

.toggleDrawer {
  @include milmove_uswds.u-display(flex);
  flex: 1;
  justify-content: flex-end;

  svg {
    margin-right: 0.5em;
  }

  button {
    @include milmove_uswds.u-padding-x(0);
  }
}

.drawer {
  border-top: 1px solid #dcdee0;
  padding-left: 0;
  padding-right: 0;
  @include milmove_uswds.u-margin-top(2);

  > div {
    @include milmove_uswds.u-margin-y(5);
  }

  > div:last-of-type {
    @include milmove_uswds.u-margin-bottom(3);
  }
}

.docs-icon {
  margin-right: 12px;
}
