@use 'styles/uswds/milmove' as milmove_uswds;

.Section {
  @include milmove_uswds.u-margin-bottom(2);
}

.SectionDefaultText {
  @include milmove_uswds.u-margin-y(1);
}

.SectionClear {
  @include milmove_uswds.u-text('primary');
  @include milmove_uswds.u-font-size('body', '3xs');
  @include milmove_uswds.u-padding(0);
  @include milmove_uswds.u-margin(0);
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    @include milmove_uswds.u-text('primary-dark');
  }
}
