@import 'shared/styles/uswdsImports';
@import 'shared/styles/colors';

.Section {
  @include u-margin-bottom(2);
}

.SectionDefaultText {
  @include u-margin-y(1);
}

.SectionClear {
  @include u-text('primary');
  @include u-font-size('body', '3xs');
  @include u-padding(0);
  @include u-margin(0);
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    @include u-text('primary-dark');
  }
}
