@import 'shared/styles/_variables';
@import 'shared/styles/colors';

@media (min-width: $mobile) {
  .customer-header {
    color: white;
    background-color: $base-darker;
    margin: -21px -16px 0px;
    padding-left: 20px;
    padding-right: 20px;
    h2 {
      font-size: 28px;
      margin: 0px;
    }
    p {
      font-size: 15px;
      margin: 0px;
    }
  }
  .step-header-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .step-header {
    margin: 0;
  }

  .doc-list-container {
    width: 333px;
    height: 139px;
    border-radius: 3px;
    border: 1px solid $base-lighter;
  }
}
.accept {
  color: $primary-darker;
  font-size: 32px;
  margin-right: 12px;
}

.number-circle {
  display: inline-block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  color: white;
  background-color: $primary-darker;
  text-align: center;
  padding: 5px;
  margin-right: 12px;
}

.docs-icon {
  fill: $base-light;
}

.shipment-list-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 1px solid $base-lighter;
}

.shipment-list-item-PPM {
  border-left: 5px solid $accent-ppm;
}

.shipment-list-item-HHG {
  border-left: 5px solid $accent-hhg;
}

.shipment-list-item-NTS {
  border-left: 5px solid $accent-nts;
}
