h2 {
  margin-bottom: 0;
}

.shipment_box {
  border: 3px solid lightgrey;
  overflow: hidden;
  margin-top: 1em;
}

img.move_sm {
  height: 0.75em;
  display: inline;
  margin-bottom: 0;
  margin-right: 0.3em;
  padding: 0rem 1.2rem 0rem 0rem;
}

img.status_icon {
  margin: 1.2em 1rem 1.5rem 1rem;
}

.shipment_type {
  background-color: lightgrey;
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.7em;
}

.shipment_box_contents {
  padding: 0.5em;
}

.title {
  font-weight: bolder;
}

.step {
  margin-bottom: 1em;
}

.step-contents {
  overflow: hidden;
  margin: 1em 1rem 1rem 1rem;
}

.step-links {
  margin: 1em 1rem 1rem 1rem;
}

.details-links a {
  display: block;
}

.titled_block {
  margin-top: 0.5em;
}

a {
  text-decoration: none;
}

.contact_block {
  margin-top: 2em;
}

.contact_block .title {
  font-size: 2.2rem;
}
