.my-move-header .usa-nav__primary-item > a,
.my-move-header .usa-nav__primary-item > a:hover {
  color: #ffffff;
}

.my-move-header .usa-nav__primary-item > a:hover::after {
  background-color: #ffffff;
}

.my-move-header {
  color: #ffffff;
  background-color: #252f3e;
  padding-bottom: 1.5rem;
}

.my-move-header .usa-nav {
  padding: 0;
}

@media screen and (min-width: 951px) {
  .my-move-header .usa-navbar {
    height: 4rem;
  }
}

@media print {
  .my-move header,
  .my-move nav,
  .my-move footer {
    display: none;
  }
}
