@use 'styles/uswds/milmove' as milmove_uswds;

.shipmentInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  button {
    @include milmove_uswds.u-margin(0);
  }
  h2 {
    @include milmove_uswds.u-margin-bottom(3);
  }
  h4 {
    @include milmove_uswds.u-margin-top(0);
    @include milmove_uswds.u-margin-bottom(0);
    @include milmove_uswds.u-font-weight('bold');
  }
  small {
    color: milmove_uswds.$base-dark;
    svg {
      @include milmove_uswds.u-margin-x(1);
    }
  }
}

.shipmentInfo {
  @include milmove_uswds.u-margin-bottom(3);
}
.shipmentAccent {
  @include milmove_uswds.u-margin-bottom(1);
  width: 24px;
  height: 6px;
}
.hhgShipmentType {
  background-color: milmove_uswds.$accent-hhg;
}
.ppmShipmentType {
  background-color: milmove_uswds.$accent-ppm;
}
.ntsShipmentType {
  background-color: milmove_uswds.$accent-nts;
}
.ntsrShipmentType {
  background-color: milmove_uswds.$accent-ntsr;
}
