@use 'styles/uswds/milmove' as milmove_uswds;

.shipmentQAEReportsContainer {
  h2 {
    @include milmove_uswds.u-margin-top(0);
  }
  .shipmentReportRows {
    display: flex;
    flex-direction: column;
    row-gap: 63px;
  }
}
