@import 'shared/styles/_basics';
@import 'shared/styles/colors';

.previewHeading {
  @include u-margin(0);
}

.listItem {
  display: list-item;
  margin-left: 1.5rem;
}

.reviewAddressChange {
  @include u-padding-x(0 !important);
  @include u-margin-top(2);
  border: none;
  background-color: white;
  td {
    vertical-align: top;
  }

  .contractorRemarks {
    font-size: small;
  }
}
