@use 'styles/uswds/milmove' as milmove_uswds;

.systemError {
  font-size: 1rem;
  background-color: milmove_uswds.$warning;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  line-height: 20px;
  & > a,
  a:visited {
    color: black;
    text-decoration: underline;
  }
}
