/* Use with .usa-grid for a liquid and nearly full-width grid layout. */
.form-column {
  display: inline-block;
  width: 45%;
  margin-right: 5%;
}

.within-form-group {
  display: inline-block;
  width: 50%;
}

.grid-wide {
  max-width: 2000px;
  margin: auto;
  padding: 0 2em;
}

.move-info-header-meta {
  list-style: none outside;
  border-top: solid 1px rgb(222, 222, 222);
  margin: 0;
  padding: 2px 0 0;
}

.move-info-header-meta .icon {
  margin: 0 0.4em;
}

.move-info-header-meta li {
  display: inline-block;
  margin-bottom: 0;
}

.move-info-header-meta li:after {
  content: '-';
  margin: 0 0.8em;
}

.move-info-header-meta li:last-child:after {
  content: none;
  margin: 0;
}

.nav-controls {
  text-align: right;
  padding-top: 0.5em;
  font-size: 0.9em;
}

.tabs {
  margin-top: 2em;
}

.tabs .nav-tab {
  border: solid 1px black;
  border-radius: 4px 4px 0 0;
  padding: 4px 42px 8px 42px;
  margin: 0 2px;
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: #ececec;
}

.tabs .nav-tab span {
  display: block;
  text-align: center;
}

.tabs .nav-tab .status {
  font-size: 0.7em;
  margin-top: 2px;
}

.tabs .nav-tab.active {
  border-bottom-color: white;
  background-color: white;
}

.tabs .nav-tab.active .title {
  font-weight: bold;
}

.tabs .nav-tab .icon {
  margin-right: 4px;
}

.tab-content {
  border-top: solid 1px black;
  margin-top: -1px;
}

table {
  border: none;
  cellspacing: 0;
  cellpadding: 0;
}
