.queue-table {
  font-size: 0.75em;
  min-width: 1000px;
}

.queue-table-scrollable {
  overflow-x: scroll;
}

.fake-link {
  text-decoration: underline;
  color: blue;
}

.icon {
  margin: 0 0.3em 0 0.5em;
}

.icon-grey {
  color: rgba(171, 171, 171, 1);
}

.form-column {
  display: inline-block;
  width: 45%;
  margin-right: 5%;
}

/* Queue list page */
.queue-columns {
  position: relative;
}

.queue-menu-column {
  margin-right: 3rem;
  width: 18rem;
  position: absolute;
}

.queue-list-column {
  margin-left: 22rem;
}

.ReactTable .rt-thead .rt-resizable-header-content {
  text-align: left;
}

/* Use with .usa-grid for a liquid and nearly full-width grid layout. */
.grid-wide {
  max-width: 2000px;
  margin: auto;
  padding: 0 2em;
}

.move-info-header-meta {
  list-style: none outside;
  border-top: solid 1px rgb(222, 222, 222);
  margin: 0;
  padding: 2px 0 0;
}

.move-info-header-meta .icon {
  margin: 0 0.4em;
}

.move-info-header-meta li {
  display: inline-block;
  margin-bottom: 0;
}

.move-info-header-meta li:after {
  content: '-';
  margin: 0 0.8em;
}

.move-info-header-meta li:last-child:after {
  content: none;
  margin: 0;
}

.nav-controls {
  text-align: right;
  padding-top: 0.5em;
  font-size: 0.9em;
}

.tabs {
  margin-top: 2em;
}

.tabs .nav-tab {
  border: solid 1px black;
  border-radius: 4px 4px 0 0;
  padding: 4px 42px 8px 42px;
  margin-left: 8px;
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: #ececec;
}

.tabs .nav-tab .status,
.tabs .nav-tab .title {
  display: block;
  text-align: center;
}

.tabs .nav-tab .status {
  font-size: 0.7em;
  margin-top: 2px;
}

.tabs .nav-tab.active {
  border-bottom-color: white;
  background-color: white;
}

.tabs .nav-tab.active .title {
  font-weight: bold;
}

.tabs .nav-tab .icon {
  margin-right: 4px;
}

.tab-content {
  border-top: solid 1px black;
  margin-top: -1px;
  padding-top: 2rem;
}

.extras.usa-heading {
  margin-top: 0;
  font-size: 2rem;
  font-family: sans-serif;
}

.extras.content {
  margin-top: 2rem;
  font-family: sans-serif;
}

.extras.options {
  margin-top: 1rem;
}

.documents {
  border: solid 1px black;
  padding: 1em;
  margin-top: 1em;
}

.documents .usa-heading .icon {
  margin-left: 0.5em;
  font-size: 1.7rem;
  vertical-align: baseline;
}

.documents .document .icon {
  margin-right: 0.3em;
}

.cancel-panel {
  border: solid 2px navy;
  padding: 1em;
  margin-top: 1em;
}

.orders-page-fields h3 {
  margin-bottom: 0;
}

.orders-page-fields .uploaded-at {
  font-size: 0.8em;
  color: gray;
  margin-top: 0;
}

.uploaded-at {
  font-size: 0.8em;
  color: gray;
  margin-top: 0;
}

.panel-field.contact-prefs .field-value span {
  margin-right: 1em;
}

.panel-field.contact-prefs .field-value svg {
  margin-right: 4px;
  font-size: 0.8em;
}

.documents a:link,
.documents a:visited,
.documents a:hover,
.documents a:active {
  text-decoration: none;
  color: #0071bc;
}

.link-blue {
  color: #0071bc;
}

head .panel-subhead {
  font-weight: bold;
  margin-top: 4rem;
}

.panel-subhead + .usa-input .usa-input-label {
  margin-top: 1rem;
}

.editable-panel-column fieldset {
  margin-top: 4rem;
}

.editable-panel-column legend {
  font-size: 1.7rem;
}

.editable-panel-column fieldset label {
  margin-top: 2rem;
}

.editable-panel-column fieldset label:first-of-type {
  margin-top: 0;
}

.usa-input.duty-station p {
  margin-bottom: 0;
}

.usa-input.duty-station .duty-input-box {
  margin-left: 0.1em;
}

.usa-input.duty-station p.location {
  display: none;
}

/*PPM PAYMENT PANEL*/
.payment-panel {
  border: solid #f1f1f1;
  border-width: 3px;
  width: 100%;
  empty-cells: hide;
  margin-bottom: 18px;
}

.payment-table {
  margin: 1em;
}

.payment-table td,
.payment-table th {
  border: none;
}

.payment-table a {
  cursor: pointer;
}

.payment-table .icon {
  margin: 0 0.7em 0 0.7em;
  font-size: 1.7rem;
  vertical-align: baseline;
}

.payment-panel-title {
  font-size: 1.7rem;
  font-weight: bold;
  background-color: #f1f1f1;
  padding: 0.4em 1em;
  border: 3px solid #f1f1f1;
  width: 100%;
}

.payment-table .payment-table-column-title {
  font-weight: bold;
  font-size: 0.9em;
  border-bottom: solid 1px #a2a2a2;
  width: 15%;
}

.payment-table .payment-table-subheader {
  font-weight: bold;
  font-size: 0.9em;
  border-bottom: solid 1px #f1f1f1;
}

.payment-table .payment-table-column-content {
  font-size: 0.8em;
  border-bottom: solid 1px #f1f1f1;
  position: relative;
}

.approval-ready {
  color: green;
  cursor: pointer;
}

.approval-waiting {
  color: #cd3504;
}

.approval-blocked {
  color: gray;
}

.approval-problem {
  color: #cd3504;
}

.payment-action {
  color: #0071bc;
  cursor: pointer;
}

.calculator-panel {
  border: solid #f1f1f1;
  border-width: 3px;
  width: 100%;
  empty-cells: hide;
  margin-bottom: 18px;
}

.calculator-panel-title {
  font-size: 1.7rem;
  font-weight: bold;
  background-color: #f1f1f1;
  padding: 0.4em 1em;
  border: 3px solid #f1f1f1;
  width: 100%;
}

.calculator-panel .short-field {
  margin: 1em;
  max-width: 10rem;
  display: block;
}

.calculator-panel .date-field {
  margin: 1em;
  display: block;
}

.calculator-panel .calculated-result {
  margin: 1em;
}

.expense-panel {
  border: solid #f1f1f1;
  border-width: 3px;
  width: 100%;
  empty-cells: hide;
  margin-bottom: 18px;
}

.expense-panel table {
  margin: 1em;
  width: 97%;
  display: table;
  border-spacing: 2px;
}

.expense-panel th,
.expense-panel td {
  border: none;
}

.expense-panel .expense-header {
  font-weight: bold;
  font-size: 0.9em;
  border-bottom: solid 1px #a2a2a2;
  text-align: right;
  width: 15%;
}

.expense-panel .payment-method {
  border-bottom-width: 0;
  text-align: center;
  text-decoration: underline;
}

.expense-panel th {
  padding: 0;
}

.expense-panel table > tbody > tr > td {
  border-bottom: 1px solid #f1f1f1;
  font-size: 0.8em;
  padding: 4px 0;
}

.expense-panel table > tbody > tr > td:first-child {
  width: 1%;
  white-space: nowrap;
}

.expense-panel table > tbody > tr > td:last-child {
  padding-left: 10px;
  font-weight: bold;
}

.expense-panel table > tbody > tr:first-child > td {
  padding-top: 0;
}

.expense-panel table > tbody > tr:last-child > td {
  border-bottom-width: 0;
  font-weight: bold;
}

.expense-panel table > tbody tr:nth-last-child(2) > td {
  border-bottom-color: black;
}

.expense-panel table > tbody > tr > td:last-child {
  font-weight: normal;
}

.notes {
  white-space: normal;
  word-wrap: break-word;
}
