@import 'shared/styles/colors.scss';

.container {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    width: 100%;
    padding: 10px;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.select,
.input {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.button {
    padding: 0.75rem;
    font-size: 1rem;
    color: #fff;
    background-color: $color-blue;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.result {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 100%;
}

.resultRow {
    display: flex;
    gap: 10px;
    padding: 0.5rem 0;
}