@use 'styles/uswds/milmove' as milmove_uswds;

.weightSummaryContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px 14px;
  background-color: white;
  border: 1px solid milmove_uswds.$border-color;

  .weightSummaryHeading {
    @include milmove_uswds.u-font-size('body', '3xs');
    @include milmove_uswds.u-text('bold');
    @include milmove_uswds.u-margin-top(0);
    @include milmove_uswds.u-margin-bottom(0.5);
    color: milmove_uswds.$base-darker;
  }

  .marginBottom {
    @include milmove_uswds.u-margin-bottom(2);
  }

  .weight {
    text-align: right;
    width: 102px;
  }

  .noEdit {
    width: 34px;
  }

  hr {
    @include milmove_uswds.u-margin-top(0);
    @include milmove_uswds.u-margin-bottom(0.5);
  }

  svg {
    float: left;
    height: 25px;
  }

  .warningFlag {
    color: milmove_uswds.$warning;
  }

  .errorFlag {
    color: milmove_uswds.$error;
  }
}
