@import 'shared/styles/_variables';
@import 'shared/styles/colors';

@media (max-width: $mobile) {
  .hhg-label {
    background-color: #aacdec;
    width: 51px;
    text-align: center;
  }

  .fieldset-legend > legend {
    font-size: 21px;
  }

  .usa-hint {
    font-size: 13px;
  }

  #remarks {
    height: 100px;
  }

  .usa-button {
    background-color: #0050d8;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .usa-button--unstyled {
    background-color: transparent;
    color: #0050d8;
    text-decoration: none;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
    height: auto;
  }
  .small-bold {
    font-size: 13px;
    font-weight: bold;
  }

  .hhg-examples-container {
    padding: 15px;
    border-radius: 4px;
    border: 1px solid $base-lighter;
    background-color: $bg-gray;
    font-size: 13px;
    & ul {
      padding: 0;
      list-style-position: inside;
      margin: 0;
    }
  }
}
