@use 'styles/uswds/milmove' as milmove_uswds;

// 24px margin in between Alert and SectionWrapper
:global(.usa-alert) + .sectionWrapper {
  @include milmove_uswds.u-margin-top(3);
}

.sectionWrapper {
  @media (min-width: milmove_uswds.$tablet) {
    @include milmove_uswds.u-bg('white');
    @include milmove_uswds.u-radius('05');
    @include milmove_uswds.u-border('base-lighter');
    @include milmove_uswds.u-border('1px');
    @include milmove_uswds.u-padding(5);
    @include milmove_uswds.u-margin-bottom(4);

    hr {
      color: milmove_uswds.$base-lighter;
      background-color: milmove_uswds.$base-lighter;
      height: 1px;
      border: 0;
    }

    h2,
    h3,
    h4 {
      &:first-child {
        @include milmove_uswds.u-margin-top(0);
      }
    }

    :global {
      .usa-card-group:first-child > .usa-card--header-first:first-child .usa-card__header {
        @include milmove_uswds.u-padding-top(0);
      }

      .usa-card-group:last-child > .usa-card:last-child {
        .usa-card__container {
          border-bottom: 0;
        }

        .usa-card__body {
          @include milmove_uswds.u-padding-bottom(0);
        }
      }
    }
  }
}
