@import 'shared/styles/colors.scss';
@import 'shared/styles/_mixins.scss';
@import 'shared/styles/_variables.scss';
@import 'shared/styles/_basics.scss';

.sectionWrapper {
  @media (min-width: $tablet) {
    @include u-bg('white');
    @include u-radius('05');
    @include u-border('base-lighter');
    @include u-border('1px');
    @include u-padding(5);
    @include u-margin-bottom(4);
    fieldset {
      @include u-padding-top(0);
      @include u-margin-top(0);
    }
    hr {
      color: $base-lighter;
      background-color: $base-lighter;
      height: 1px;
      border: 0;
    }
    h2,
    h3,
    h4 {
      &:first-child {
        @include u-margin-top(0);
      }
    }
  }
}
