@use 'styles/uswds/milmove' as milmove_uswds;

.uploadsTableContainer {
  @include milmove_uswds.u-padding(2);
  border: 1px solid #dcdee0;

  h6 {
    @include milmove_uswds.u-margin(0);
  }

  ul {
    @include milmove_uswds.u-padding-left(0);
    @include milmove_uswds.u-margin-top(1);
    @include milmove_uswds.u-margin-bottom(0);
  }

  @media (min-width: milmove_uswds.$tablet) {
    @include milmove_uswds.u-padding(3);
  }
}

.uploadListItem {
  @include milmove_uswds.u-padding-y(2);
  display: flex;
  justify-content: space-between;

  &:last-child {
    @include milmove_uswds.u-padding-bottom(0);
  }

  &:not(:last-child) {
    border-bottom: 1px solid #dcdee0;
  }

  .faIcon {
    color: milmove_uswds.$base;
  }

  button {
    width: auto;
  }
}

.fileInfoContainer {
  display: flex;
}

.fileInfo {
  @include milmove_uswds.u-padding-left(2);
  word-break: normal;
  overflow-wrap: anywhere;

  p {
    margin-top: 0;
  }

  .fileSizeAndTime {
    @include milmove_uswds.u-font('body', 'xs');
    color: milmove_uswds.$base;
  }

  .uploadFileSize {
    display: none;
  }

  @media (min-width: milmove_uswds.$tablet) {
    .uploadFileSize {
      display: inline;
      @include milmove_uswds.u-margin-right(2);
    }
  }
}



