@import '../../shared/styles/basics';
@import '../../shared/styles/mixins';
@import '../../shared/styles/colors';
@import '../../shared/styles/_variables';

.uploadsTableContainer {
  @include u-padding(2);
  border: 1px solid #dcdee0;

  h6 {
    @include u-margin(0);
  }

  ul {
    @include u-padding-left(0);
    @include u-margin-top(1);
    @include u-margin-bottom(0);
  }

  @media (min-width: $tablet) {
    @include u-padding(3);
  }
}

.uploadListItem {
  @include u-padding-y(2);
  display: flex;
  justify-content: space-between;

  &:last-child {
    @include u-padding-bottom(0);
  }

  &:not(:last-child) {
    border-bottom: 1px solid #dcdee0;
  }

  .faIcon {
    color: $base;
  }

  button {
    width: auto;
  }
}

.fileInfoContainer {
  display: flex;
}

.fileInfo {
  @include u-padding-left(2);
  word-break: normal;
  overflow-wrap: anywhere;

  p {
    margin-top: 0;
  }

  .fileSizeAndTime {
    @include u-font('body', 'xs');
    color: $base;
  }

  .uploadFileSize {
    display: none;
  }

  @media (min-width: $tablet) {
    .uploadFileSize {
      display: inline;
      @include u-margin-right(2);
    }
  }
}



