@use 'styles/uswds/milmove' as milmove_uswds;

.PaymentRequestDetails {
  :global .stackedtable-header {
    max-width: unset;

    h3 {
      @include milmove_uswds.u-margin-top(2);
      @include milmove_uswds.u-margin-bottom(1.5);
      display: flex;
      align-items: center;

      span {
        @include milmove_uswds.u-margin-left(1);
        vertical-align: middle;
      }
    }
    display: block;

    .departureDate {
      @include milmove_uswds.u-text('bold');
    }

    p {
      @include milmove_uswds.u-margin-top(-0.5);
      @include milmove_uswds.u-margin-bottom(3);
    }
  }

  :global .table--stacked {
    width: 100%;
    table-layout: fixed;
    th {
      @include milmove_uswds.u-font-weight(bold);
      @include milmove_uswds.u-font-size('body', '3xs');
      color: milmove_uswds.$base-darker;
      border-top: 0;

      &:not(:first-child) {
        text-align: right;
      }
    }

    td:not(:first-child) {
      @include milmove_uswds.u-font-weight(bold);
      text-align: right;
    }
  }

  .shipmentType {
    .basicServiceType {
      width: 34px;
      height: 6px;
      background-color: milmove_uswds.$base-light;
    }
    .hhgShipmentType {
      width: 34px;
      height: 6px;
      background-color: milmove_uswds.$accent-hhg;
    }
    .ntsrShipmentType {
      width: 34px;
      height: 6px;
      background-color: milmove_uswds.$accent-ntsr;
    }
  }

  .EditButton {
    background: transparent;
    border: none;
    @include milmove_uswds.u-margin-left(0.5);
    color: milmove_uswds.$link;
    cursor: pointer;
  }
}
