@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';

.PaymentRequestDetails {
  :global .stackedtable-header {
    max-width: unset;

    h3 {
      @include u-margin-top(2);
      @include u-margin-bottom(1.5);
      display: flex;
      align-items: center;

      span {
        @include u-margin-left(1);
        vertical-align: middle;
      }
    }
    display: block;

    .departureDate {
      @include u-text('bold');
    }

    p {
      @include u-margin-top(-0.5);
      @include u-margin-bottom(3);
    }
  }

  :global .table--stacked {
    width: 100%;
    table-layout: fixed;
    th {
      @include u-font-weight(bold);
      @include u-font-size('body', '3xs');
      color: $base-darker;
      border-top: 0;

      &:not(:first-child) {
        text-align: right;
      }
    }

    td:not(:first-child) {
      @include u-font-weight(bold);
      text-align: right;
    }
  }

  .shipmentType {
    .basicServiceType {
      width: 34px;
      height: 6px;
      background-color: $base-light;
    }
    .hhgShipmentType {
      width: 34px;
      height: 6px;
      background-color: $accent-hhg;
    }
    .ntsrShipmentType {
      width: 34px;
      height: 6px;
      background-color: $accent-ntsr;
    }
  }

  .EditButton {
    background: transparent;
    border: none;
    @include u-margin-left(0.5);
    color: $link;
    cursor: pointer;
  }
}
