@import 'shared/styles/_variables';
@import 'shared/styles/_basics';
@import 'shared/styles/colors';

.contactInfoContainer {
  .contactInfoHeader {
    h2 {
      @include u-width(80%);
      @include u-margin(0);
    }

    display: flex;
    justify-content: space-between;

    .editBtn {
      justify-content: flex-end;
      padding: 0px;
    }
  }

  .contactInfoSection {
    dl {
      dt {
        @include u-width(33%);
      }

      dd {
        @include u-width(67%);
      }
    }
  }
}
