@use 'styles/uswds/milmove' as milmove_uswds;

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 400px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: bold;
  }

  h1 {
    font-size: 28px;
    color: milmove_uswds.$base-darkest;
  }

  h2 {
    font-size: 22px;
    color: milmove_uswds.$base;
    @include milmove_uswds.u-margin-top(1.5);
  }

  .supertitle {
    font-size: 15px;
    color: milmove_uswds.$base;
    font-weight: normal;
    text-transform: uppercase;
    @include milmove_uswds.u-margin-bottom(2);
  }

  .header {
    display: flex;
    justify-content: space-between;
    @include milmove_uswds.u-padding-y(3);
    @include milmove_uswds.u-padding-left(4);

    @include milmove_uswds.u-border-bottom('2px');
    @include milmove_uswds.u-border-bottom('gray-10');

    .closeButton {
      @include milmove_uswds.u-height(2);
      @include milmove_uswds.u-padding(0);
      svg {
        @include milmove_uswds.u-width(2);
        @include milmove_uswds.u-height(2);
        path {
          fill: milmove_uswds.$primary;
        }
      }
    }
  }

  main {
    background: milmove_uswds.$bg-gray;
    overflow-y: auto;
    overflow-x: hidden;
    @include milmove_uswds.u-padding-x(4);
    @include milmove_uswds.u-padding-top(3);
    @include milmove_uswds.u-padding-bottom(5);
    height: 100%;
  }

  .footer {
    display: flex;
    align-items: center;

    @include milmove_uswds.u-padding-y(2);
    @include milmove_uswds.u-padding-left(4);
    @include milmove_uswds.u-border-top('2px');
    @include milmove_uswds.u-border-top('gray-10');
    margin-top: auto;
  }
}

.container:not(.defaultH3) h3 {
  font-size: 15px;
  color: milmove_uswds.$base;
  font-weight: normal;
  text-transform: uppercase;
  @include milmove_uswds.u-margin-top(0.5);
}
