@import 'shared/styles/uswdsImports';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 400px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: bold;
  }

  h1 {
    font-size: 28px;
    color: $base-darkest;
  }

  h2 {
    font-size: 22px;
    color: $base;
    @include u-margin-top(1.5);
  }

  h3 {
    font-size: 15px;
    color: $base;
    font-weight: normal;
    text-transform: uppercase;
    @include u-margin-top(0.5);
  }

  .header {
    display: flex;
    justify-content: space-between;
    @include u-padding-y(3);
    @include u-padding-left(4);

    @include u-border-bottom('2px');
    @include u-border-bottom('gray-10');

    .closeButton {
      @include u-height(2);
      @include u-padding(0);
      svg {
        @include u-width(2);
        @include u-height(2);
        path {
          fill: $primary;
        }
      }
    }
  }

  main {
    background: $bg-gray;
    overflow-y: auto;
    overflow-x: hidden;
    @include u-padding-x(4);
    @include u-padding-top(3);
    @include u-padding-bottom(5);
    height: 100%;
  }

  .footer {
    display: flex;
    align-items: center;

    @include u-padding-y(2);
    @include u-padding-left(4);
    @include u-border-top('2px');
    @include u-border-top('gray-10');
    margin-top: auto;
  }
}
