.officeHeaderOne {
  margin: 1%;
}

.officeHeaderTwo {
  float: right;
}
.forms-shared {
  width: 35%;
  float: left;
  margin: 2%;
}
.user-shared {
  width: 45%;
  float: left;
  margin: 2%;
}
.magnifying-glass {
  color: white;
}
header.header {
  border-bottom: 3px solid black;
}

.usa-width-one-fourth .btn__approve--green {
  background-color: green;
}
