@import 'shared/styles/_variables';
@import 'shared/styles/_basics';
@import 'shared/styles/colors';

.ServiceInfoTable {
  :global(.table--stacked) {
    border: none;
  }
}

.ReviewHeader {
  @include u-margin-top(3);

  h2 {
    flex-shrink: 0;
  }

  a {
    color: $link;
    text-decoration: none;

    &:visited {
      color: $link;
    }

    &:hover,
    &:focus {
      color: $link;
      @include u-text('no-underline');
    }
  }
}
