.basic-panel {
  border: solid #f1f1f1;
  border-width: 3px;
  width: 100%;
  empty-cells: hide;
  margin-bottom: 18px;
  font-size: 0.8em;
}

.basic-panel form {
  padding: 0 0 1rem 0;
}

.basic-panel .cancel-link {
  cursor: pointer;
}

.basic-panel-title {
  font-size: 1.7rem;
  font-weight: bold;
  background-color: #f1f1f1;
  padding: 0.4em 1em;
  border: 3px solid #f1f1f1;
  width: 100%;
}

.basic-panel-content {
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  border: solid #f1f1f1;
  border-width: 0 0.1rem 0.1rem 0.1rem;
  padding-top: 8px;
  padding-bottom: 9px;
  background: white;
}
