@use 'styles/uswds/milmove' as milmove_uswds;

.statusOption {
    @include milmove_uswds.u-padding(0);
    @include milmove_uswds.u-border(1px);
    border-color: milmove_uswds.$base-light;
    border-radius: units(2px);

    :global {
      .usa-radio__label {
        @include milmove_uswds.u-padding-y(2);
        @include milmove_uswds.u-padding-left(6);
        margin: 0;
      }

      .usa-radio__input:checked+.usa-radio__label {
        background-color: milmove_uswds.$link-light;
      }

      .usa-radio__label:before {
        left: 10px;
      }

      .usa-form-group {
        @include milmove_uswds.u-padding(2);

        .usa-label {
          margin-top: 0;
        }
      }
    }

    p {
      @include milmove_uswds.u-margin-top(1);
      @include milmove_uswds.u-margin-bottom(0);
      white-space: pre-wrap;
    }

    &.selected {
      @include milmove_uswds.u-shadow(2);
    }
  }

  .rejectionButtonGroup {
    display: flex;
    align-items: center;
  }

  .statusOption+.statusOption {
    @include milmove_uswds.u-margin-top(1);
  }

  .clearStatus {
    padding: 0;
    @include milmove_uswds.u-padding-top(2);
    @include milmove_uswds.u-text('light');
  }

  .statusOption+.clearStatus {
    margin-top: 3px;
  }

  .completeContainer {
    @include milmove_uswds.u-margin(0);
    @include milmove_uswds.u-margin-top(4);
    @include milmove_uswds.u-padding(2);
    background-color: milmove_uswds.$bg-gray;
    color: milmove_uswds.$base-darkest;
    border: 1px solid milmove_uswds.$base-lighter;
    @include milmove_uswds.u-radius('05');

    svg {
      @include milmove_uswds.u-margin-right(1);
      height: 16px;
      width: 16px;
    }

    .statusHeading {
      @include milmove_uswds.u-font-weight(bold);
      @include milmove_uswds.u-display(flex);
      align-items: center;
    }

    .statusApproved svg {
      color: milmove_uswds.$success;
    }

    .statusRejected svg {
      color: milmove_uswds.$error;
    }

    .rejectionReason {
      @include milmove_uswds.u-font-size('base', 2);
      @include milmove_uswds.u-margin-bottom(0);
      white-space: pre-wrap;
    }
}