@use 'styles/uswds/milmove' as milmove_uswds;
.my-move-container,
.my-move .usa-footer {
  background-color: milmove_uswds.$bg-white;
  @media (min-width: milmove_uswds.$tablet) {
    background-color: milmove_uswds.$bg-gray;
  }
}

@media print {
  .my-move header,
  .my-move nav,
  .my-move footer {
    display: none;
  }
}
