// this styles/customer.scss should be imported once by MyMove/index.jsx
@import 'shared/styles/colors';
@import 'shared/styles/variables';
.my-move-container,
.my-move .usa-footer {
  background-color: $bg-white;
  @media (min-width: $tablet) {
    background-color: $bg-gray;
  }
}

@media print {
  .my-move header,
  .my-move nav,
  .my-move footer {
    display: none;
  }
}
