@use 'styles/uswds/milmove' as milmove_uswds;

.DocumentWrapper {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;

  form {
    @include milmove_uswds.u-display(flex);
    height: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;

    box-shadow: -4px 0px 8px 0px rgba(0, 0, 0, 0.1);
  }
}

.embed {
  flex-grow: 1;
}

.sidebar {
  width: 400px;
  display: flex;
  flex-direction: column;

  .top {
    @include milmove_uswds.u-padding(3);
    @include milmove_uswds.u-padding-left(4);
    @include milmove_uswds.u-bg('white');
    @include milmove_uswds.u-border-bottom('2px');
    @include milmove_uswds.u-border-bottom('gray-10');
    @include milmove_uswds.u-height('auto');

    .closeButton {
      float: right;
      // on mobile the button becomes flexed so must override centering
      justify-content: flex-end;
      @include milmove_uswds.u-padding(0);
      svg {
        @include milmove_uswds.u-width(2);
        @include milmove_uswds.u-height(2);
        path {
          fill: milmove_uswds.$primary;
        }
      }
    }

    h2 {
      @include milmove_uswds.u-margin-bottom(2);
    }

    .viewAllowances {
      @include milmove_uswds.u-padding-left(0);

      &:hover {
        text-decoration: none;
      }

      &:visited {
        color: milmove_uswds.$primary;
      }
    }
  }

  .body {
    @include milmove_uswds.u-padding(4);
    background-color: milmove_uswds.$bg-gray;
    @include milmove_uswds.u-overflow-y('auto');
    flex: 1 1 0;
    flex-basis: 0;

    :global .usa-form-group:first-child label {
      @include milmove_uswds.u-margin-top(0);
    }

    :global .usa-form-group:last-child {
      @include milmove_uswds.u-padding-bottom(4);
    }
  }

  .bottom {
    @include milmove_uswds.u-padding-x(3);
    @include milmove_uswds.u-padding-y(1);
    @include milmove_uswds.u-bg('white');

    @include milmove_uswds.u-border-top('2px');
    @include milmove_uswds.u-border-top('gray-10');
    @include milmove_uswds.u-position('relative');

    display: flex;
    align-items: center;

    .buttonGroup {
      @include milmove_uswds.u-display(flex);
    }
  }
}
