@use 'styles/uswds/milmove' as milmove_uswds;

.form {
  max-width: none;

  h2 {
    @include milmove_uswds.typeset('body', 11, 2);
    @include milmove_uswds.u-margin-y(4);
  }

  legend {
    width: 100%;
    max-width: none;
    @include milmove_uswds.u-text('bold');
    @include milmove_uswds.typeset('body', 9, 2);

    .legendContent {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  legend + :global(.usa-form-group .usa-label) {
    @include milmove_uswds.u-margin-top(2);
  }

  legend + :global(.usa-form-group) p {
    @include milmove_uswds.u-margin-top(3);
    @include milmove_uswds.u-margin-bottom(1);
  }

  legend + :global(.usa-checkbox) {
    @include milmove_uswds.u-margin-top(3);
  }

  legend + p {
    @include milmove_uswds.u-margin-top('205');
    margin-bottom: 0;
  }

  :global(.usa-label) {
    color: milmove_uswds.$base-darker;
    font-size: 13px;
    line-height: 16px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: none;
  }

  :global(.usa-hint),
  .optional {
    font-size: 13px;
    line-height: 1.3;
    color: milmove_uswds.$base;
    font-weight: normal;
  }

  fieldset {
    @include milmove_uswds.u-padding-top(0);
    @include milmove_uswds.u-margin-bottom(4);
    @include milmove_uswds.u-padding-bottom(4);
    border-bottom: 1px solid milmove_uswds.$base-lighter;

    @include milmove_uswds.at-media('tablet') {
      &:last-child {
        @include milmove_uswds.u-padding-bottom(0);
        @include milmove_uswds.u-margin-bottom(0);
        border-bottom: 0;
      }
    }
  }

  fieldset + fieldset {
    @include milmove_uswds.u-margin-y(4);
  }

  fieldset fieldset {
    @include milmove_uswds.u-margin(0);
    @include milmove_uswds.u-padding(0);
    @include milmove_uswds.u-border(0);
  }
  > :global(.usa-form-group:first-of-type .usa-label),
  > :global(.usa-fieldset > .usa-form-group:first-of-type .usa-label) {
    @include milmove_uswds.u-margin-top(1.5);
  }
}

:global(.usa-form-group) {
  .labelWrapper {
    display: flex;
    justify-content: space-between;
  }
}

.formSection {
  @include milmove_uswds.u-margin-y(4);

  + .formSection {
    @include milmove_uswds.u-margin-top(5);
  }

  &:last-of-type {
    @include milmove_uswds.u-margin-bottom(6);
  }

  > :global(.usa-form-group:first-of-type .usa-label),
  > :global(.usa-fieldset > .usa-form-group:first-of-type .usa-label) {
    @include milmove_uswds.u-margin-top('105');
  }

  > :global(p + .usa-form-group:first-of-type .usa-label) {
    @include milmove_uswds.u-margin-top(2)
  }

  > :global(.usa-form-group:first-child .usa-label),
  > :global(.usa-form-group--error :first-child),
  > :global(.usa-form-group.warning :first-child),
  > :global(.usa-form-group.warning:first-of-type .usa-label),
  > :global(.usa-form-group.usa-form-group--error:first-of-type .usa-label) {
    @include milmove_uswds.u-margin-top(0);
  }

  > :global(.usa-form-group.warning) {
    @include milmove_uswds.at-media("desktop") {
      @include milmove_uswds.u-margin-left(-2.5);
    }
  }

  @include milmove_uswds.at-media('tablet') {
    @include milmove_uswds.u-margin-y(3);

    + .formSection {
      @include milmove_uswds.u-margin-top(3);
    }
  }
}

p + .radioGroup {
  @include milmove_uswds.u-margin-top('neg-05');
}

.radioGroup {
  display: flex;

  > * + * {
    @include milmove_uswds.u-margin-left(5);
  }

  :global(.usa-radio__label) {
    // 42px tall touch area
    padding-top: 10px;
    padding-bottom: 10px;
    @include milmove_uswds.u-margin-y(0);
  }
}

.formActions {
  @include milmove_uswds.u-margin-top(3);
  @include milmove_uswds.u-margin-bottom(6);
}

.remarks {
  height: 100px;
  resize: vertical;
}

.pBeforeFormGroup {
  @include milmove_uswds.u-margin-bottom(0)
}
