@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/_variables';
@import 'shared/styles/colors';

.form {
  max-width: none;

  h2 {
    @include typeset('body', 11, 2);
    @include u-margin-y(4);
  }

  legend {
    width: 100%;
    max-width: none;
    @include u-text('bold');
    @include typeset('body', 9, 2);

    .legendContent {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  legend + :global(.usa-form-group .usa-label) {
    @include u-margin-top('105');
  }

  legend + :global(.usa-form-group) p {
    @include u-margin-top(3);
    @include u-margin-bottom(1);
  }

  legend + :global(.usa-checkbox) {
    @include u-margin-top(3);
  }

  legend + p {
    @include u-margin-top('205');
  }

  :global(.usa-label) {
    color: $base-darker;
    font-size: 13px;
    line-height: 16px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: none;
  }

  :global(.usa-hint),
  .optional {
    font-size: 13px;
    line-height: 1.3;
    color: $base;
    font-weight: normal;
  }

  fieldset {
    @include u-padding-top(0);
    @include u-margin-bottom(4);
    @include u-padding-bottom(4);
    border-bottom: 1px solid $base-lighter;

    @include at-media('tablet') {
      &:last-child {
        @include u-padding-bottom(0);
        @include u-margin-bottom(0);
        border-bottom: 0;
      }
    }
  }

  fieldset + fieldset {
    @include u-margin-y(4);
  }

  fieldset fieldset {
    @include u-margin(0);
    @include u-padding(0);
    @include u-border(0);
  }
}

.formSection {
  @include u-margin-y(4);

  + .formSection {
    @include u-margin-top(5);
  }

  &:last-of-type {
    @include u-margin-bottom(6);
  }

  :global(.usa-form-group:first-of-type .usa-label) {
    @include u-margin-top('105');
  }

  > :global(.usa-form-group:first-child .usa-label),
  > :global(.usa-form-group--error:first-child) {
    @include u-margin-top(0);
  }

  @include at-media('tablet') {
    @include u-margin-y(3);

    + .formSection {
      @include u-margin-top(3);
    }
  }
}

p + .radioGroup {
  @include u-margin-top('neg-05');
}

.radioGroup {
  display: flex;

  > * + * {
    @include u-margin-left(5);
  }

  :global(.usa-radio__label) {
    // 42px tall touch area
    padding-top: 10px;
    padding-bottom: 10px;
    @include u-margin-y(0);
  }
}

.formActions {
  @include u-margin-top(3);
  @include u-margin-bottom(6);
}
