@import '../index.scss';
@import '../ghc_index.scss';
@import 'src/styles/_officeLayoutRules.scss';

// Fix 100% height layouts in IE11 - https://philipwalton.com/articles/normalizing-cross-browser-flexbox-bugs/
.site--fullscreen {
  height: 100vh;
}

.custHeader {
  position: fixed; /* Keeps it at the top while scrolling */
  top: 70px; /* Stick to the top */
  left: 0;
  width: 100%; /* Full width */
  height: 60px; /* Adjust as needed */
  color: white; /* Text color */
  flex-direction: column;
  display: block;
  flex: gr;
  align-items: center;
  justify-content: space-around;
  z-index: 1000; /* Ensures it stays above other content */
  margin-bottom: 100px;
}
