@import '../index.scss';
@import '../ghc_index.scss';

// Fix 100% height layouts in IE11 - https://philipwalton.com/articles/normalizing-cross-browser-flexbox-bugs/
.site--fullscreen {
  height: 100vh;
}

.usa-nav-container {
  max-width: 2000px;
}
