@import '../index.scss';
@import 'src/styles/_officeLayoutRules.scss';

// Fix 100% height layouts in IE11 - https://philipwalton.com/articles/normalizing-cross-browser-flexbox-bugs/
.site--fullscreen {
  height: 100vh;
}
