@use 'styles/uswds/milmove' as milmove_uswds;

.serviceInfoContainer {
  .header {
    h2 {
      flex-shrink: 0;
      @include milmove_uswds.u-margin(0);
      @include milmove_uswds.at-media('desktop') {
        @include milmove_uswds.u-padding-bottom(1);
      }
    }

    display: flex;
    justify-content: space-between;
  }

  .whoToContactContainer {
    @include milmove_uswds.u-margin-top(1);
    @include milmove_uswds.u-margin-bottom(3);
  }

  .serviceInfoSection {
    dl {
      dt {
        @include milmove_uswds.u-width(33%);
      }

      dd {
        @include milmove_uswds.u-width(67%);
      }
      @include milmove_uswds.u-margin-bottom(0);
    }
  }

  a {
    color: milmove_uswds.$link;
    text-decoration: none;

    &:visited {
      color: milmove_uswds.$link;
    }

    &:hover,
    &:focus {
      color: milmove_uswds.$link;
      @include milmove_uswds.u-text('no-underline');
    }
  }
}
