@import 'shared/styles/colors';
@import 'shared/styles/uswdsImports';

.doc-list-container {
  border-radius: 5px;
  border: 1px solid $base-lighter;
  @include u-padding-left(2);
  @include u-padding-right(2);

  h6,
  div {
    font-size: 13px;
    font-weight: normal;
  }

  .doc-list-item {
    @include u-margin-bottom(2);
    display: flex;
    align-items: center;
  }
}

.doc-list-header {
  @include u-margin-top(2);
  @include u-margin-bottom(2);
  text-transform: uppercase;
}

.docs-icon {
  margin-right: 12px;
  color: $base-light;
}
