@import 'shared/styles/colors';

.doc-list-container {
  border-radius: 5px;
  border: 2px solid $base-lightest;

  h6,
  div {
    font-size: 13px;
    font-weight: normal;
  }

  .doc-list-item {
    display: flex;
    align-items: center;
  }
}

.docs-icon {
  margin-right: 12px;
  fill: $base-light;
}
