@use 'styles/uswds/milmove' as milmove_uswds;

.doc-list-container {
  border-radius: 5px;
  border: 1px solid milmove_uswds.$base-lighter;
  @include milmove_uswds.u-padding-left(2);
  @include milmove_uswds.u-padding-right(2);

  h6,
  div {
    font-size: 13px;
    font-weight: normal;
  }

  .doc-list-item {
    @include milmove_uswds.u-margin-bottom(2);
    display: flex;
    align-items: center;
  }
}

.doc-list-header {
  @include milmove_uswds.u-margin-top(2);
  @include milmove_uswds.u-margin-bottom(2);
  text-transform: uppercase;
}

.docs-icon {
  margin-right: 12px;
  color: milmove_uswds.$base-light;
}
