@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';
@import 'shared/styles/_custom';

.OrdersTable {
  @include u-padding-y(2);
  :global .stackedtable-header {
    max-width: unset;
    h4 {
      @include u-font-weight(bold);
      color: $base-darkest;
    }

    a.usa-button--secondary {
      @include u-margin-right(0);

      &:visited {
        color: $primary;
      }

      &:hover {
        color: #1a4480;
        text-decoration: none;
      }
    }
  }

  :global .table--stacked {
    width: 100%;
  }

  th {
    @include u-font-weight(bold);
    color: $base-darker;
  }
  :global .error {
    color: $error;
    @include u-border-left(0.5); //4px
    @include u-border-left('error');
    @include u-padding-left(2);
    //changes to 16px to get the active item to still left align to the other items. accounts for the 4px of border.

    @include u-font-weight(bold);
  }
}
