@use 'styles/uswds/milmove' as milmove_uswds;

.cardContainer {
  @include milmove_uswds.u-padding-bottom(40px);
  @include milmove_uswds.u-bg('white');
  @include milmove_uswds.u-radius('05');
  @include milmove_uswds.u-border('base-lighter');
  @include milmove_uswds.u-border('1px');
  @include milmove_uswds.u-padding(4);
  @include milmove_uswds.u-margin-bottom(4);
}

.buttonContainer {
  @include milmove_uswds.u-padding(0);
  @include milmove_uswds.u-margin-bottom(115px);
}

.buttonRow {
  @include milmove_uswds.u-display('flex');

  :global {
    .usa-button--unstyled {
      @include milmove_uswds.u-font-weight(700);
    }
  }
}

.backToEvalButton {
  @include milmove_uswds.u-padding(0);
}

.grow {
  flex-grow: 1;
}

.detailText {
  @include milmove_uswds.u-margin(0);
}

.incidentTextAreaLabel {
  @include milmove_uswds.u-margin-bottom(1px);
  @include milmove_uswds.u-margin-top(34px);
  @include milmove_uswds.u-font-weight(700);
  @include milmove_uswds.u-color('base-darker');
  font-size: 13px;
}

.siHeading {
  margin-bottom: 0 !important;
}

.usa-form-group {
  @include milmove_uswds.u-margin-top(0);
}

.incident {
  :global {
    .usa-form-group {
      @include milmove_uswds.u-margin-top(0);
    }
  }
}

.seriousIncident {
  :global {
    .usa-radio__label {
      @include milmove_uswds.u-margin-top(1px);
      @include milmove_uswds.u-margin-bottom(2);
    }
  }
}

.serious {
  :global {
    .usa-label {
      @include milmove_uswds.u-margin-bottom(4px);
    }
  }
}

.claimDatePicker {
  :global {
    .usa-label {
      @include milmove_uswds.u-font-weight(700);

      @include milmove_uswds.u-color('base-darker');
    }
  }
}

.divider {
  @include milmove_uswds.u-color('base-lighter');
  @include milmove_uswds.u-margin-top(4);
  border: 1px solid;
}

.backIcon {
  color: milmove_uswds.$link !important;
  width: 16px;
  height: 16px;
}

.closeModalBtn {
  font-weight: 700;
  color: milmove_uswds.$link;
  @include milmove_uswds.u-padding-left(0 !important);
}

.modalActions {
  @include milmove_uswds.u-display('flex');
  @include milmove_uswds.u-justify-content('justify');
  @include milmove_uswds.u-margin-top(4 !important);
  @include milmove_uswds.u-margin-x(0 !important);
}

.submitModalBtn {
  @include milmove_uswds.u-margin(0 !important);
}

.title {
  h3 {
    @include milmove_uswds.u-margin-bottom(1.5);
  }
}
