.login-section {
  display: flex;
  justify-content: flex-end;
  padding: 2rem 2rem 2rem 0;
  border-bottom: 2px solid black;

  a {
    color: gray;
    text-decoration: none;
  }
}

.signIn {
  color: grey;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: auto;
  font-size: inherit;
  margin: 0;
  padding: 0;

  &:focus {
    outline-color: transparent;
  }
}
