@import 'shared/styles/colors';

.lockedMoveBanner {
  font-size: 1rem;
  background-color: $base-light;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  line-height: 20px;
  text-align: center;
}
