@use 'sass:selector';
@use 'src/shared/standardUI/' as *;
@use 'src/shared/standardUI/Buttons/mm_buttons' as *;


%action-buttons{
  @extend .usa-button--outline;
}

.returnToPreviousViewButton,
.validateProfileBtn,
.createMoveBtn {
  @extend %action-buttons;
}

@mixin mix-mm-button-stack-layout {
  display: grid;
  gap: 1rem;
  @include mix-at-media($media-breaks-regular-exclusive) using ($selector, $media-break){
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    %action-buttons{
      justify-self: stretch;
      grid-column: 2;
    }
  }

  @include mix-at-media($media-breaks-tablet,$media-breaks-mobile) using ($selector, $media-break){
    grid-auto-flow: row;
  }
}

.validateProfileBtnContainer {
  @include mix-mm-button-stack-layout;
}


.profileHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -1rem;

}

.verifyProfileAlert {
    margin-bottom: -1rem;
}
