@import 'shared/styles/colors';
@import 'shared/styles/_basics';
@import 'shared/styles/_variables';

.profileHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -1rem;

    .createMoveBtn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        @include u-margin-right(.5em)
      }

      @media (max-width: $tablet) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        gap: 3px;
        span {
          @include u-margin-right(0);
        }
      }
    }
}

.verifyProfileAlert {
    margin-bottom: -1rem;
}

.validateProfileBtnContainer {
  display: flex;
  justify-content: center;
}