@import 'shared/styles/uswdsImports';
@import 'shared/styles/_mixins';
@import 'shared/styles/_variables';

.moveSetup {
  // using important to override rule that has more specificity on h2
  @include u-margin-bottom(1 !important);
}

.buttonContainer {
  display: flex;
  align-items: center;

  .buttonRight {
    justify-content: flex-end;
    padding: 0;
    vertical-align: baseline;

    @media (min-width: $tablet) {
      justify-content: center;
    }
  }
}

.SummarySectionWrapper {
  @include u-margin-bottom(2);
}

.SummarySectionWrapper + .SummarySectionWrapper {
  @include u-margin-top(4);
}
