.link,
.link:visited {
  color: black;
}

.fixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.headerMargin {
  margin-top: 12.7rem;
}

.headerMarginNoRoleChange {
  margin-top: 4.6rem;
}

.headerMarginSingle {
  margin-top: 10.7rem;
}
