.editable-panel {
  margin-bottom: 18px;
}

.editable-panel a {
  cursor: pointer;
}

.editable-panel-column {
  display: inline-block;
  width: 45%;
  margin-right: 5%;
  vertical-align: top;
}

.editable-panel-column.subheader {
  font-weight: bold;
  font-size: .9em;
}

.editable-panel-header {
  font-size: 1.7rem;
  font-weight: bold;
  background-color: #f1f1f1;
  padding: .4em 1em;
  border: 3px solid #f1f1f1;
  position: relative;
}

.editable-panel-content {
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  border: solid #f1f1f1;
  border-width: 0 3px 3px 3px;
  padding-top: 8px;
  padding-bottom: 9px;
  background: white;
}

.editable-panel-edit {
  font-weight: normal;
  font-size: .9em;
  position: absolute;
  top: 1rem;
  right: 2rem;
  text-decoration: none;
}

.editable-panel.is-editable .editable-panel-header {
  background: rgb(176,176,176);
  border-color: rgb(176,176,176);
  color: white;
}
.editable-panel.is-editable .editable-panel-content {
  border-style: dashed;
  border-color: rgb(176,176,176);
}

.panel-field {
  border-bottom: solid 1px #f1f1f1;
  font-size: 0.8em;
  padding: .1em 0;
  margin-bottom: 0.3em;
  line-height: 1.3em;
}

.panel-field:last-of-type {
  border: 0;
}

.field-title {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.field-value {
  display: inline-block;
  font-weight: bold;
  margin-left: 8%;
  width: 51%;
}
