.editable-panel {
  margin-bottom: 18px;
}

.editable-panel a {
  cursor: pointer;
}

.editable-panel-column {
  display: inline-block;
  width: 45%;
  margin-right: 5%;
  vertical-align: top;
}

.editable-panel-column.subheader {
  font-weight: bold;
  font-size: .9em;
}

.basics .editable-panel-header {
  font-size: 1.7rem;
  font-weight: bold;
  background-color: #f1f1f1;
  padding: .4em 1em;
  border: 3px solid #f1f1f1;
  position: relative;
}

.document-viewer .editable-panel-header {
  font-size: 2rem;
  font-weight: bold;
  padding: .4em 1em;
  position: relative;
}

.short-field {
  max-width: 46rem;
  display: inline-block;
}

.basics .editable-panel-content {
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  border: solid #f1f1f1;
  border-width: 0 3px 3px 3px;
  padding-top: 8px;
  padding-bottom: 9px;
  background: white;
}

.document-viewer .editable-panel-content {
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  border-width: 0 3px 3px 3px;
  padding-top: 8px;
  padding-bottom: 9px;
  background: white;
}

.editable-panel .half-width {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

.editable-panel .half-width + .half-width {
  margin-left: 2em;
}

.basics .editable-panel-edit {
  font-weight: normal;
  font-size: .9em;
  position: absolute;
  top: 1rem;
  right: 2rem;
  text-decoration: none;
}

.document-viewer .editable-panel-edit {
  font-size: .9em;
  position: absolute;
  top: 1rem;
  right: 2rem;
  text-decoration: none;
}

.basics.editable-panel.is-editable .editable-panel-header {
  background: rgb(176,176,176);
  border-color: rgb(176,176,176);
  color: white;
}

.basics.editable-panel.is-editable .editable-panel-content {
  border-style: dashed;
  border-color: rgb(176,176,176);
}

.panel-field {
  border-bottom: solid 1px #f1f1f1;
  font-size: 0.8em;
  padding: .1em 0;
  margin-bottom: 0.3em;
  line-height: 1.3em;
}

.panel-field:last-of-type {
  border: 0;
}

.field-title {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.field-value {
  display: inline-block;
  font-weight: bold;
  margin-left: 8%;
  width: 51%;
}

.panel-field.missing .field-value {
  color:red;
  font-style: italic;
}

.field-value-unbold {
  display: inline-block;
  margin-left: 8%;
  width: 51%;
}

.panel-subhead {
  font-weight: bold;
  margin-top: 2rem;
}

.document-viewer .panel-subhead {
  font-weight: bold;
  margin: 2rem 0 1rem 0;
  font-size: 1.6rem;
  display:inline-block;
}

.panel-subhead + .usa-input .usa-input-label {
  margin-top: 1rem;
}

.editable-panel.is-editable .field-value {
  display: block;
  margin-left: 0;
  font-size: 1.8rem;
}

.editable-panel.is-editable .field-title {
  display: block;
}

.editable-panel.is-editable .panel-field {
  border: 0;
  margin: 1rem 0 2rem;
}

.editable-panel.is-editable .panel-subhead {
  margin-top: 3rem;
  display: block;
}

.disable-edit .editable-panel-edit {
  display: none;
}
