@import '../../shared/styles/basics';
@import '../../shared/styles/mixins';
@import '../../shared/styles/colors';

.docViewerContent {
  @include u-width(100%);
  min-width: 640px;
  @include u-height(100%);
  max-height: 100%;
  overflow-y: scroll;
  @include u-bg('base-lighter');
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
