@import '../../shared/styles/basics';
@import '../../shared/styles/mixins';
@import '../../shared/styles/colors';

$menuWidth: 308px;
$contentWidth: 80%;


.docViewerContent {
  width: $contentWidth;
  min-width: 640px;
  @include u-height(100%);
  max-height: 100%;
  overflow-y: scroll;
  @include u-bg('base-lighter');
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  svg path {
    fill: $primary;
  }
}



.titleBar {
  width: $contentWidth;
  background: rgba(255, 255, 255, 0.75);
  height: 52px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  @include icon-hover-state;
  @include u-padding-x(4);
  p {
    @include u-text('bold');
    color: $base-darkest;
  }
  svg {
    @include u-margin-left(1);
  }
}

.docArrows {
  position: fixed;
  top: 50vh;
  display: flex;
  justify-content: space-between;
  width: $contentWidth;
  @include icon-hover-state;
  .arrowButton {
    @include u-padding(1.5);
    @include u-margin(1);
    background: white;
    @include u-radius('pill');
    @include u-shadow(2);
  }
}

.docArea {
  @include u-padding(5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.docControls {
  background: rgba(255, 255, 255, 0.75);
  width: $contentWidth;
  height: 50px;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    @include u-margin-right(1);
  }
  @include icon-hover-state;
}
