@import '../../shared/styles/basics';
@import '../../shared/styles/mixins';
@import '../../shared/styles/colors';

$menuWidth: 308px;
$contentWidth: 80%;

svg path {
  fill: $primary;
}

.docViewerContent {
  width: $contentWidth;
  min-width: 640px;
  @include u-height(100%);
  max-height: 100%;
  overflow-y: scroll;
  @include u-bg('base-lighter');
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.titleBar {
  width: $contentWidth;
  background: rgba(255, 255, 255, 0.75);
  height: 52px;
  position: fixed;
  top: 0;
  left: $menuWidth;
  display: flex;
  justify-content: space-between;
  @include u-padding-x(4);
  p {
    @include u-text('bold');
    color: $base-darkest;
  }
  @include icon-hover-state;
}

.docArea {
  @include u-padding(5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.docControls {
  background: rgba(255, 255, 255, 0.75);
  width: $contentWidth;
  height: 50px;
  position: fixed;
  left: $menuWidth;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    @include u-margin-right(1);
  }
  @include icon-hover-state;
}
