@import '../../shared/styles/basics';
@import '../../shared/styles/mixins';
@import '../../shared/styles/colors';

$menuWidth: 308px;
$contentWidth: 80%;

.docViewerContent {
  width: $contentWidth;
  min-width: 640px;
  @include u-height(100%);
  max-height: 100%;
  overflow-y: scroll;
  @include u-bg('base-lighter');
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.titleBar {
  width: $contentWidth;
  background: rgba(255, 255, 255, 0.75);
  height: 52px;
  position: fixed;
  top: 0;
  left: $menuWidth;
  display: flex;
  justify-content: space-between;
  @include u-padding-x(4);
  p {
    @include u-text('bold');
    color: $base-darkest;
  }
  button {
    svg {
      @include u-margin-left(1);
      path {
        fill: $primary;
      }
    }
    &:hover {
      svg path {
        fill: $primary-dark;
      }
    }
  }
}

.docArea {
  @include u-padding(5);
  display: flex;
  justify-content: center;
  align-items: center;
}
//this calcualtion subtracts the height of the milmove headers, and the titlebar height so tat the content area fills the page without overflowing

.docControls {
  background: rgba(255, 255, 255, 0.75);
  @include u-width(100%);
  height: 50px;
  position: fixed;
  left: $menuWidth;
  bottom: 0;
}
