@import '../../shared/styles/basics';
@import '../../shared/styles/mixins';
@import '../../shared/styles/colors';

$content-width: 308px;

.docViewerMenu {
  @include u-bg('white');
  @include u-shadow(2);
  @include u-padding-y(3);
  @include u-padding-x(0);
  @include u-height(100vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 308px;
}

.collapsed {
  @include u-width(9);
  .menuOpen {
    display: block;
  }
  .menuClose {
    display: none;
  }
  h3 {
    display: none;
  }
}

.menuControls {
  svg {
    @include u-width(2);
    @include u-height(2);
    path {
      fill: $primary;
    }
  }
  button {
    @include u-padding-right(2);
  }
}
.menuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include u-padding-x(1.5);
  width: 308px;
}

.menuOpen {
  display: none;
}

.menuClose {
  display: block;
}

.thumbnailItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include u-border-top(1px);
  @include u-border-top('base-lighter');
  @include u-padding-x(1.5);
  width: 308px;
  p {
    width: 212px;
    @include u-padding-y(2);
    @include u-text('gray-50');
    word-wrap: break-word;
    @include u-margin-y(0);
    @include u-line-height('body', 2);
  }
  &:hover {
    @include u-text('no-underline');
    p {
      @include u-text('blue-50v');
    }
    .thumbnailImage {
      @include border-inset(2px, $link);
    }
  }
  &:active,
  &.active {
    @include u-border-left('05');
    @include u-border-left('blue-50v');
    @include u-text('bold');
    .thumbnailImage {
      @include border-inset(2px, $link);
    }
  }
  &:focus {
  }
}

.thumbnailImage {
  @include u-border('1px');
  @include u-border('base-lightest');
  @include u-width(6);
  @include u-height(6);
  @include u-margin-y(1.5);
  @include u-margin-left(1.5);
  background-image: url('../../shared/images/fake-doc.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
