.document-upload-link {
  padding-top: 2rem;
  font-size: 0.8em;
  cursor: pointer;
}

.doctitle {
  display: inline;
  cursor: pointer;
}

.chosen-document {
  /* override anchor tag link style */
  color: black !important;
  background: #efefef;
  font-weight: bold;
  cursor: default;
}



