.pdf {
  height: 80rem;
  width: 100%;
}

.rotate-90 {
  transform: rotate(90deg) translate(50%, -50%);
  transform-origin: top center;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg) translate(-50%, -50%);
  transform-origin: top center;
}