@use 'styles/uswds/milmove' as milmove_uswds;

.errorTag {
  height: 20px;
  width: 20px;
}

.warning {
  color: milmove_uswds.$warning;

  &.errorTag {
    width: 20px;
  }
}

.warningTag {
  padding-right: 0;
}

.tioPaymentRequestsHeadingFlexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  :global(.usa-button) {
    padding-right: 0;
  }
}
