@import 'shared/styles/basics';

.MoveDetails {
  .moveHeader {
    @include u-display(flex);
    align-items: flex-start;

    h2 {
      flex-grow: 1;
    }
  }

  .shipmentHeader {
    @include u-display(flex);
    @include u-margin-y(3);
    align-items: center;

    h3 {
      @include u-margin-bottom(0);
      flex-grow: 1;
    }
  }

  .paymentRequestRow {
    @include u-margin-bottom(1.5);
    display: flex;
    justify-content: space-between;
  }

  .flashContainer {
    @include u-margin-top(2);
  }
}
