@import 'shared/styles/basics';
@import 'shared/styles/colors';

.MoveDetails {
  .moveHeader,
  .mainShipmentHeader,
  .serviceItemHeader {
    @include u-display(flex);
    align-items: flex-start;

    h2 {
      flex-grow: 1;
    }
  }

  .shipmentHeader {
    @include u-display(flex);
    @include u-margin-y(3);
    align-items: center;
    flex-wrap: wrap;
    gap: 3px;

    h3 {
      @include u-margin-bottom(0);
      flex-grow: 1;
    }
  }

  .shipmentHeader .usa-button {
    flex: 1 0 30%;
    min-width: 150px;
    margin-bottom: 1rem;
  }

  .flashContainer {
    @include u-margin-top(2);
  }

  .paymentRequestRow {
    @include u-margin-bottom(1.5);
    display: flex;
    justify-content: space-between;
  }

  .missingInfoError {
    color: $error;
    @include u-border-left(0.5); //4px
    @include u-border-left('error');
    @include u-font-weight(bold);
  }
  .serviceItemHeading {
    @include u-margin-bottom(neg-1px);
  }
  .uploadBtn {
    display: flex;
    flex-direction: row;
    @include u-margin-bottom(2);
  }

  :global(.usa-select) {
    width: 20%;
  }

  .editButton {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #005ea2;
    color: #005ea2;
  }
}

.specialMovesLabel {
  width: fit-content;
  margin: 20px auto;

  font-size: 2.67rem;
  color: red;
}

.serviceItemHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.row {
  display: flex;
  align-items: flex-end;
  gap: 5px;

  .downloadMoveOrdersBtn {
    height: 100%;
    margin: 0;
  }
}