@import 'shared/styles/_basics';
@import 'shared/styles/colors';
@import 'shared/styles/_variables';

.ShipmentsHeader {
  @media (max-width: $tablet) {
    font-weight: bold;
  }
}

.IconSection {
  @include u-margin-bottom('3');
}

.SectionIcon {
  @include u-padding-right('205');
  width: 46px;
  color: $base-light;

  svg {
    height: 26px;

    @media (max-width: $tablet) {
      height: 20px;
    }
  }
}

.SectionContent {
  @include u-padding-y('2px');

  ul {
    margin-inline-start: 20px;
  }
}

.SectionHeadline {
  font-weight: bold;
  font-size: 1.1em;

  @media (max-width: $tablet) {
    display: inline;
    font-size: 1em;
  }
}

.Wrapper {
  @include u-margin-bottom('5');
}
