@import 'shared/styles/uswdsImports';
@import 'shared/styles/mixins';
@import 'shared/styles/colors';

.FinancialReviewButton {
  @include u-padding-left(0);
}

.EditFinancialReviewContainer {
  display: flex;
  align-content: baseline;
  :global(.usa-button) {
    width: auto;
  }
}

.EditFinancialReviewButton {
  @include u-padding-left(1);
  @include u-padding-top(0);
}

.FinancialReviewTag {
  background-color: $info-light !important;
}
