@use 'styles/uswds/milmove' as milmove_uswds;

.ProGearForm {
  :global(.usa-label) {
    max-width: none;
  }

  :global(.usa-select) {
    width: 50%;
  }

  :global(.usa-checkbox) {
    @include milmove_uswds.u-margin-bottom(2);
  }

  legend:global(.usa-label) {
    @include milmove_uswds.u-margin-bottom(0);
  }

  .hint {
    @include milmove_uswds.u-margin-top('05');
    @include milmove_uswds.u-margin-bottom('05');
    font-weight: normal;
    width: 100%;
    max-width: none;
  }

  .form {
    .descriptionTextField {
      width: 100%;
    }
  }

  .labelWrapper {
    @include milmove_uswds.u-margin-top(3);
  }

  .weightField {
    @include milmove_uswds.u-margin-top(0);
  }

  .uploadInstructions {
    @include milmove_uswds.u-margin-bottom(1);
  }
}
