@import 'shared/styles/_basics';
@import 'shared/styles/colors';

.ReviewWeightTicket {
    @include u-padding(2);

    .header {
        :global(.usa-label) {
            width: auto;
            display: inline-block;
            @include u-margin-top(.5);
            @include u-margin-right(1);
        }

        hr {
            @include u-margin-top(2);
            @include u-margin-bottom(2);
            position: absolute;
            left: 0;
            right: 0;
        }
    }

    .light {
        @include u-font('body', '3xs');
        color: $base;
    }

    h3, h2 {
        @include u-margin-top(1);
        @include u-margin-bottom(1);
    }

    .reviewHeader {
        @include u-margin-top(3);
    }

    .tripNumber {
        @include u-margin-top(4);
    }

    .label {
        @include u-margin-bottom(1);
    }

    .displayValue {
        @include u-margin-bottom(2);
    }

    :global(.usa-legend) {
        @include u-margin-bottom(1);
        @include u-margin-top(1);
    }
}