@import 'shared/styles/_basics';
@import 'shared/styles/colors';
@import 'shared/styles/variables';

.ReviewWeightTicket {
  @include u-padding(2);
  background-color: $bg-white;
  position: relative;

  hr {
    @include u-margin-top(2);
    @include u-margin-bottom(2);
    position: absolute;
    left: 0;
    right: 0;
  }

  h3,
  h2 {
    @include u-margin-top(1);
    @include u-margin-bottom(1);
  }

  .tripNumber {
    @include u-margin-top(4);
  }

  .label {
    @include u-margin-bottom(1);
  }

  .displayValue {
    @include u-margin-bottom(2);
  }

  :global(.usa-legend) {
    @include u-margin-bottom(1);
    @include u-margin-top(1);
  }

  .reason {
    &:global(.usa-form-group) {
      @include u-margin-top(0);
    }
  }

  .hint {
    color: $base;
    font-size: 13px;
    line-height: 18px;
    @include u-margin-top(1);
    @include u-margin-bottom(0);
  }

  .reviewHeader {
    @include u-margin-top(3);
  }

  div.reject {
    @include u-margin-top(2);
  }
}
