@use 'styles/uswds/milmove' as milmove_uswds;

/*
Manually copy over the USWDS Styles here so that the react-uswds stylings are
applied on the EULA modal on the office and the admin app.
*/
.eulaModal {
  font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

  :global(.usa-button) {
    background-color: milmove_uswds.$primary;
    border-radius: 4px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-top: 12px;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    &:hover {
      background-color: inherit;
      color: white;
    }
  }

  :global(.usa-button--secondary) {
    color: milmove_uswds.$primary;
    background-color: inherit;
    box-shadow: inset 0 0 0 2px milmove_uswds.$primary;
    &:hover {
      background-color: inherit;
      color: milmove_uswds.$primary-dark;
      box-shadow: inset 0 0 0 2px milmove_uswds.$primary-dark;
    }
  }

  .eulaModalClose {
    background-color: transparent;
    border: none;
  }

  .eulaModalAccept {
    &:hover {
      background-color: milmove_uswds.$primary-dark;
    }
  }
}
