@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';

.ServicesCounselingMoveDetails {
  .pageHeader {
    @include u-margin-bottom(4);

    .pageTitle {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      @include u-margin-top(2);

      h1 {
        // overriding the h1 defaults
        @include u-margin-bottom(0);
        align-self: center;
      }

      div {
        margin-right: 1.6em;
      }
    }
  }

  .scFinancialReviewWrapper {
    justify-content: end;
  }

  .scFinancialReviewContainer {
    @include u-margin-top(1);
  }

  .scCancelMoveContainer {
    @include u-margin-bottom(1.6rem);
    margin-bottom: 1.6rem;
    padding-left: 810px;
  }

  .updateFinancialReviewFlag {
    @include u-margin-top(1);
    padding-left: 810px;
  }
  .alertContainer {
    @include u-margin-bottom(4);
  }

  .allowanceErrorStyle {
    margin-left: 2.4rem;
    border-left-color: #b50909;
    border-left-style: solid;
    border-left-width: 0.267rem;
    padding-left: 0.5rem;
    font-size: 1.5rem;
  }

  .noPaddingBottom {
    @include u-padding-bottom(0);
  }
}
