@import 'shared/styles/uswdsImports';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';

.ServicesCounselingMoveDetails {
  .pageHeader {
    @include u-margin-bottom(4);

    .pageTitle {
      display: flex;

      h1 {
        // overriding the h1 defaults
        @include u-margin-bottom(0);
        align-self: center;
      }
    }
  }

  .scFinancialReviewContainer {
    @include u-margin-bottom(3);
  }

  .alertContainer {
    @include u-margin-bottom(4);
  }

  .submitMoveDetailsContainer {
    display: flex;
    justify-content: flex-end;

    button {
      @include u-margin-right(0);
      align-self: center;
    }
  }

  .noPaddingBottom {
    @include u-padding-bottom(0)
  }
}
