@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';

.ServicesCounselingMoveDetails {
  .pageHeader {
    @include u-margin-bottom(4);

    .pageTitle {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;

      h1 {
        // overriding the h1 defaults
        @include u-margin-bottom(0);
        align-self: center;
      }

      div {
        margin-right: 1.6em;
      }
    }
  }

  .scFinancialReviewContainer {
    @include u-margin-bottom(3);
  }

  .scCancelMoveContainer {
    @include u-margin-top(1);
    padding-left: 810px;
  }

  .alertContainer {
    @include u-margin-bottom(4);
  }

  .allowanceErrorStyle {
    margin-left: 2.4rem;
    border-left-color: #b50909;
    border-left-style: solid;
    border-left-width: .267rem;
    padding-left: .5rem;
    font-size: 1.5rem;
  }

  .noPaddingBottom {
    @include u-padding-bottom(0)
  }
}
