@import 'shared/styles/colors';
@import 'shared/styles/_basics';
@import 'shared/styles/_variables';

.WizardNavigation {
  display: flex;
  flex-wrap: wrap;
  @media (max-width: $tablet) {
      width: 100%;
    }

  button,
  :global(.usa-button) {
    margin: 0;
    flex-grow: 0;
    flex-basis: auto;
  }

  > .button + .button {
    @include u-margin-top(0);
    @include u-margin-left('105');

    @media (max-width: $tablet) {
      @include u-margin-top(1);
      margin-left: 0;
    }
  }

  *:last-child {
    margin-right: 0;
  }

  :global(.usa-button--unstyled) {
    @include u-padding-y('105');
    height: 42px;
    width: 100%;
    flex-basis: 100%;

    @include at-media('tablet') {
      width: auto;
      flex-grow: 0;
      flex-basis: auto;
    }
  }

  > .button + .button:global(.usa-button--unstyled) {
    @include u-margin-left(0);
    @include u-margin-top('105');

    @include at-media('tablet') {
      @include u-margin-top(0);
      @include u-margin-left('105');
    }
  }
}

.addShipmentIcon {
  margin: 0;
}
