@import 'shared/styles/colors';
@import 'shared/styles/uswdsImports';

.WizardNavigation {
  display: flex;
  flex-wrap: wrap;

  button,
  :global(.usa-button) {
    // Reset button margins
    margin: 0;
    flex-grow: 1;
    flex-basis: 0;

    @include at-media('tablet') {
      flex-grow: 0;
      flex-basis: auto;
    }
  }

  > .button + .button {
    @include u-margin-top(0);
    @include u-margin-left('105');
  }

  *:last-child {
    margin-right: 0;
  }

  :global(.usa-button--unstyled) {
    @include u-padding-y('105');
    height: 42px;
    width: 100%;
    flex-basis: 100%;

    @include at-media('tablet') {
      width: auto;
      flex-grow: 0;
      flex-basis: auto;
    }
  }

  > .button + .button:global(.usa-button--unstyled) {
    @include u-margin-left(0);
    @include u-margin-top('105');

    @include at-media('tablet') {
      @include u-margin-top(0);
      @include u-margin-left('105');
    }
  }
}
