@import '../../../shared/styles/basics';
@import '../../../shared/styles/mixins';
@import '../../../shared/styles/colors';

.MoveQueue {
  .tableContainer {
    @include u-margin-top(1);
    max-width: 100%;
    overflow-x: auto;
  }

  table {
    width: 100%;

    tr {
      cursor: pointer;
    }
  }
}
