@import 'shared/styles/basics';
@import 'shared/styles/mixins';
@import 'shared/styles/colors';

.MoveQueue {
  @include u-display(flex);
  flex-direction: column;
  flex: auto;

  background-color: $bg-gray;
}

.specialMoves {
  min-width: 110px;
  display: block;
  color: red;
}

.tableTabs {
  @include u-margin-y(1);
  @include u-margin-x(1);
  @include u-margin-bottom(2);
  @include u-margin-top(100px);
  border-bottom: (2px solid rgb(236, 234, 234));
}
