@import 'shared/styles/uswdsImports';
@import 'shared/styles/mixins';
@import 'shared/styles/colors';

.MoveQueue {
  @include u-display(flex);
  flex-direction: column;
  flex: auto;

  background-color: $bg-gray;
}
