@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';
@import 'shared/styles/_custom';

.RequestedServiceItemsTable {
  h4 {
    span {
      @include u-font-weight(normal);
    }
  }

  :global .table--service-item--hasimg {
    td {
      vertical-align: top;
    }

    dl {
      @include u-margin-top(0);
    }

    dt,
    dd {
      @include u-display(inline);
    }

    dd {
      @include u-margin-left(0);
    }
  }
}
