@import '../../../shared/styles/basics';
@import '../../../shared/styles/mixins';
@import '../../../shared/styles/colors';

.PaymentRequestQueue {
  @include u-display(flex);
  flex-direction: column;
  flex: auto;

  background-color: $bg-gray;

  :global td.age {
    white-space: nowrap;
  }
}

.specialMoves {
  min-width: 110px;
  display: block;
  color: red;
}

.assignedToCol {
  width: 10vw;
}
