@use 'styles/uswds/milmove' as milmove_uswds;

.PaymentRequestQueue {
  @include milmove_uswds.u-display(flex);
  flex-direction: column;
  flex: auto;

  background-color: milmove_uswds.$bg-gray;

  :global td.age {
    white-space: nowrap;
  }
}
