@import 'shared/styles/uswdsImports';
@import '../../../shared/styles/mixins';
@import '../../../shared/styles/colors';

.PaymentRequestQueue {
  @include u-display(flex);
  flex-direction: column;
  flex: auto;

  background-color: $bg-gray;

  :global td.age {
    white-space: nowrap;
  }
}
