@import 'shared/styles/colors';
@import 'shared/styles/basics';
@import 'shared/styles/mixins';


.switchGblocButton {
  --top-color: #{$link-light};
  @include mix-mm-header-font-properties;
  @include mix-mm-dropdown($top-color: white, $background-color: transparent, $chevron-offset: -0.2rem){
      background-color: var(--bg-color, inherit);
      color: var(--top-color, inherit);
      height: 100%;
      border-radius: 0;
      text-align: center;

      box-sizing: content-box;
      padding: 0rem 1.8rem 0rem 0rem;
      width: min-content;
  }
}