.certification_text_box {
  margin-top: 1em;

  padding: 1em;

  border-width: 1px;
  border-color: black;
  border-style: solid;

  max-height: 300px;
  overflow-y: auto;
}

div.certification_text_box h1 {
  margin-top: 0.5em;
  font-size: 2.5rem;
}

.certification_text_box h2 {
  font-size: 2rem;
}

.certification_text_box h3 {
  font-size: 1.5rem;
  font-weight: normal;
}

@media print {
  .certification_text_box {
    border: none;
    overflow-y: visible;
    max-height: 100%;
  }
}
