@use 'styles/uswds/milmove' as milmove_uswds;

h2 {
  margin-top: 1em;
}

.usa-width-one-whole > h3 {
  margin-top: 1em;
}

/* This matches the width at which submit buttons go full-width for mobile devices */
@media only screen and (max-width: 481px) {
  .review-customer-agreement label {
    font-size: 1.6rem;
  }
}
/* Specifically handles case of "I agree to the Legal Agreement / Privacy Act bug that was occuring when anchor text would wrap to next line which would make it difficult to tick the checkbox */
@media only screen and (max-width: 400px) {
  .review-customer-agreement label {
    font-size: 1.4rem;
  }
}
