//Custom Components (not in USWDS)
@import 'shared/styles/colors.scss';
@import 'shared/styles/_mixins.scss';
@import 'shared/styles/_variables.scss';

html {
  scroll-behavior: smooth;
}

//
//Containers
//
.container {
  @include u-bg('white');
  @include u-padding(2);
  @include u-margin(3);
  @include u-radius('05');
  &--gray {
    @include u-bg('base-lightest');
  }
  &--popout {
    @include u-border('base-light');
    @include u-border('1px');
    @include u-shadow(2);
  }
  &--accent {
    &--default,
    &--hhg,
    &--ppm,
    &--ub,
    &--nts,
    &--ntsr {
      @include u-radius(0);
    }

    &--default {
      @include cont-border-top($accent-default);
    }

    &--hhg {
      @include cont-border-top($accent-hhg);
    }
    &--ppm {
      @include cont-border-top($accent-ppm);
    }
    &--ub {
      @include cont-border-top($accent-ub);
    }
    &--nts {
      @include cont-border-top($accent-nts);
    }
    &--ntsr {
      @include cont-border-top($accent-ntsr);
    }
  }
}

//for displaying the containers in Storybook
#containers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  #root & {
    background-color: $base-lighter;
  }
  .container {
    max-width: 322px;
    min-width: 300px;
    min-height: 135px;
  }
}

//
//Tables
//

table {
  @include u-font('body', 'xs');
  color: $base-darkest;
  border-collapse: collapse;
  td,
  th {
    @include u-padding-y(1);
    @include u-padding-x(1.5);
    @include u-text('left');
    @include u-bg('white');
    @include u-minw(200px);
    @include u-border(0);
    @include u-border-bottom(1px);
    @include u-border('base-lighter');
  }
  td {
    &.locked {
      @include u-border-bottom(0);
      background-color: rgba(255, 255, 255, 0);
      @include u-text('base-darker');
    }
    &.filter {
      @include u-bg('gray-5');
    }
    &.numeric {
      @include u-text('right');
    }
  }
  th {
    @include u-text('normal');
    &.sortAscending {
      @include u-border-top('05');
      @include u-border-top('black');
    }
    &.sortDescending {
      @include u-border-bottom('05');
      @include u-border-bottom('black');
    }
  }
  .filter {
    @include u-bg('gray-2');
    td {
      background-color: rgba(255, 255, 255, 0);
      //@include u-border(1px);
      //@include u-border('base-darkest');
    }
  }
  &.table--small,
  .table--small {
    th,
    td {
      @include u-padding-x(1);
      @include u-text('base-darker');
      @include u-font('body', '3xs');
      &.numeric {
        @include u-text('right');
      }
    }
    th {
      @include u-text('bold');
      @include u-border(0);
      @include u-border-bottom(1px);
      @include u-border('base-darker');
    }
    td {
    }
  }
  &.table--stacked {
    td,
    th {
      @include u-border(0);
      @include u-border-top(1px);
      @include u-border('base-lighter');
      vertical-align: middle;
    }
    .error {
      th {
      @include u-border-left(0.5);
      @include u-border-left('error');
      }
      td{
        @include u-border-left(0);
        @include u-text('error');
        @include u-text('bold');
      }
    }
  }
}
.stackedtable-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 802px;
  align-items: center;
}
.tcontrol--pagination {
  display: flex;
  align-items: center;
  @include u-margin-y(1);
  .usa-select {
    width: 89px;
    height: 38px;
    @include u-margin(0);
    @include u-margin-x('105');
  }
  .usa-button--unstyled {
    @include u-margin(0);
    @include u-padding-x(0);
    .icon {
      @include u-padding-left('05');
    }
  }
}
.tcontrol--rows-per-page {
  display: flex;
  align-items: center;
  .usa-select {
    width: 89px;
    height: 38px;
    @include u-margin(0);
    @include u-margin-right('105');
  }
}

.table--data-point {
  @include u-border(0);
  .table--small th {
    @include u-border('base-lighter');
  }
  td {
    @include u-border(0);
    @include u-padding-top(1.5);
    &:hover {
      background-color: rgba(255, 255, 255, 0);
    }
  }
  td,
  th {
    background-color: rgba(255, 255, 255, 0);
    min-width: 290px;
  }
  &--compact {
    .table--small {
      th {
        @include u-padding(0);
        @include u-border(0);
      }
    }
    td {
      @include u-padding(0);
      @include u-padding-top(1);
    }
  }
}

.table--data-point-group {
  @include u-padding(2px);
  @include u-bg('gray-2');
  @include u-border('base-lighter');
  @include u-border('1px');
  @include u-radius('05');
}

.table--queue {
  max-width: 1302px;
  table {
    @include u-margin-bottom(4);
  }
  .display-flex {
    justify-content: space-between;
  }
  td .usa-select,
  td input {
    @include u-margin(0);
    padding-top: 3px;
    padding-bottom: 3px;
    height: 38px;
  }
  td {
    padding: 14px 8px 14px 8px;
    a {
      @include u-text('primary-vivid');
    }
  }
  .filter {
    height: 52px;
    td {
      padding: 5px 8px 5px 8px;
    }
  }
}

.table--service-item {
  td {
    @include u-padding-x(1);
  }
  .gray-out {
    @include u-text('gray-30');
    @include u-padding-left(1);
    svg {
      @include u-margin-right(1);
      fill: #adadad;
    }
  }
  &--hasimg {
    table {
      table-layout: fixed;
      width: 100%;
      max-width: 1021px;
    }
  }
  .icon svg {
    @include u-margin-right(0);
  }
}

.si-thumbnail {
  @include u-bg('base-lightest');
  @include u-border('1px');
  @include u-border('base-lighter');
  @include u-margin-right(1);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

//for displaying the tables in Storybook
#root .sb-section-wrapper {
  display: flex;
  flex-wrap: wrap;
  .sb-table-wrapper {
    margin: 20px;
    min-width: 173px;
    code {
      font-size: 12px;
      color: $base-darkest;
    }
  }
}
#root #sb-tables {
  background-color: lighten($mm-blue, 78%);
}

//
#icons {
  div {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 150px;
    svg {
      width: 40px;
      height: 40px;
      margin-bottom: 16px;
      path,
      polygon {
        fill: $primary;
      }
    }
    code {
      font-size: 9px;
    }
  }
}
