//Custom Components (not in USWDS)
@import 'shared/styles/colors.scss';
@import 'shared/styles/_mixins.scss';

.container {
  @include u-bg('white');
  @include u-padding('3');
  @include u-margin('3');
  @include u-radius('05');
  @include u-border('base-lighter');
  @include u-border('1px');
  &--gray {
    @include u-bg('base-lightest');
  }
  &--popout {
    @include u-border('base-light');
    @include u-border('1px');
    @include u-shadow(2);
  }
  &--accent {
    &--blue {
      border-top: 8px solid $accent-blue;
      @include u-shadow(2);
    }
    &--yellow {
      border-top: 8px solid $accent-yellow;
      @include u-shadow(2);
    }
  }
}

//for displaying the containers in Storybook
#containers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  #root & {
    background-color: $base-lighter;
  }
  .container {
    width: 300px;
    height: 135px;
  }
}
