//Mixins & Variables

$z-index-front: 100;
$z-index-back: -100;

// Function for converting a px based font-size to rem.
@function calculateRem($size) {
  $remSize: $size / 16px;
  //Default font size on html element is 100%, equivalent to 16px;
  @return #{$remSize}rem;
}

//mixin that makes an underline that wont cause changes in height to elements and will stick to the bottom of the parent container
@mixin underline($size, $color) {
  &:after {
    @include u-height($size);
    @include u-bg($color);
    content: ' ';
    @include u-display('block');
    @include u-position('absolute');
    @include u-left(0);
    @include u-right(0);
    bottom: -4px;
  }
}

@mixin border-inset($size, $color) {
  box-shadow: inset 0 0 0 $size $color;
}

@mixin cont-border-top($color) {
  border-top: 8px solid $color;
  @include u-shadow(2);
}

@mixin focus-outline {
  outline: 0.26667rem solid #2491ff;
  outline-offset: 0.26667rem;
}

@mixin icon-hover-state {
  button {
    svg {
      path,
      polygon {
        fill: $primary;
      }
    }
    &:hover {
      svg path,
      svg polygon {
        fill: $primary-dark;
      }
    }
  }
}
