//USWDS Overrides
//many of the components in our system use the USWDS cpmonents as a starting point, but divert a little. Here we will store any ovverrriding scss.

.usa-button {
  @include u-bg('primary-vivid');
  @include u-padding-x('3');
  @include u-padding-y('105');
  &:hover,
  &:focus,
  .hover &,
  .focus & {
    @include u-bg('primary-dark');
  }
  .focus & {
    outline: 0.26667rem solid #2491ff;
    outline-offset: 0.26667rem;
  }
  &:active,
  .active & {
    @include u-bg('primary-darker');
  }
  &--secondary {
    @include u-radius('md');
    @include u-border('primary-vivid');
    @include u-text('primary-vivid');
    @include u-border(2px);
    @include u-bg('transparent');
    &:hover,
    &:focus,
    .hover &,
    .focus & {
      @include u-border('primary-dark');
      @include u-text('primary-dark');
      @include u-bg('transparent');
      @include u-border(2px);
    }
    &:active,
    .active & {
      @include u-border('primary-darker');
      @include u-text('primary-darker');
      @include u-bg('transparent');
    }
    &:disabled {
      @include u-border('base-light');
      @include u-text('base-light');
      @include u-bg('transparent');
    }
  } //close &--secondary
  &--icon {
    .icon {
      padding-right: 8px;
    }
  }
  &--small {
    @include u-padding-x('105');
    @include u-padding-y('1');
  }
} //close usa-button
