//USWDS Overrides
//many of the components in our system use the USWDS cpmonents as a starting point, but divert a little. Here we will store any ovverrriding scss.
@import 'shared/styles/colors.scss';

.usa-button {
  @include u-bg('primary-vivid');
  @include u-padding-x('3');
  @include u-padding-y('105');
  @include u-font-size('body', 'xs');
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  @include u-margin('1');
  .icon svg path,
  .icon svg polygon {
    fill: white;
  }
  &:hover,
  &:focus,
  .hover &,
  .focus & {
    @include u-bg('primary-dark');
  }
  .focus & {
    outline: 0.26667rem solid #2491ff;
    outline-offset: 0.26667rem;
  }
  &:active,
  .active & {
    @include u-bg('primary-darker');
  }
  &--secondary {
    @include u-radius('md');
    @include u-text('primary-vivid');
    @include u-bg('transparent');
    box-shadow: inset 0 0 0 2px color('primary-vivid');
    .icon svg path {
      fill: $primary;
    }
    &:hover,
    &:focus,
    .hover &,
    .focus & {
      @include u-text('primary-dark');
      @include u-bg('transparent');
      box-shadow: inset 0 0 0 2px color('primary-dark');
      .icon svg path {
        fill: $primary-dark;
      }
    }
    &:active,
    .active & {
      @include u-text('primary-darker');
      @include u-bg('transparent');
      box-shadow: inset 0 0 0 2px color('primary-darker');
      .icon svg path {
        fill: $primary-darker;
      }
    }
    &:disabled,
    .disabled & {
      @include u-text('base-light');
      @include u-bg('transparent');
      box-shadow: inset 0 0 0 2px color('base-light');
      .icon svg path {
        fill: $base-light;
      }
    }
  } //close &--secondary
  &--icon {
    .icon {
      @include u-padding-x('1');
    }
  }
  &--small {
    @include u-padding-x('105');
    @include u-padding-y('1');
    @include u-font-size('body', '2xs');
    height: 34px;
  }
  &.usa-button--unstyled {
    @include u-bg('transparent');
    @include u-text('primary-vivid');
    @include u-text('no-underline');
    @include u-margin(0);
    @include u-padding-y(0);
    @include u-height('auto');
    .icon {
      @include u-padding-x('1');
      svg path {
        fill: $primary;
      }
    }
    &:hover,
    &:focus,
    .hover &,
    .focus & {
      @include u-text('primary-dark');
      .icon svg path {
        fill: $primary-dark;
      }
    }
    &:disabled {
      @include u-text('base-light');
      .icon svg path {
        fill: $base-light;
      }
    }
    &:active,
    .active & {
      @include u-text('primary-darker');
      .icon svg path {
        fill: $primary-darker;
      }
    }
  }
} //close usa-button

//Tags

.usa-tag {
  background-color: $mm-gold;
  color: $base-darkest;
  @include u-text('normal');
  vertical-align: middle;
  &--green {
    background-color: $success-light;
  }
  &--red {
    background-color: $error-light;
  }
  &--yellow {
    background-color: $warning-light;
  }
  &--cyan {
    background-color: #a8f2ff;
  }
  &--teal {
    background-color: $accent-teal;
    @include u-text('white');
  }
  &--alert {
    border-radius: 100%;
    width: 24px;
    height: 24px;
    display: inline-block;
    svg {
      width: 100%;
      vertical-align: sub;
      path {
        fill: #fff;
      }
    }
    &--small {
      width: 20px;
      height: 20px;
      svg {
        vertical-align: baseline;
        height: 12px;
      }
    }
  }
  &--large {
    @include u-font('body', 'sm'); //16px
    @include u-padding-x(1); //12px
    padding-top: 0px;
    height: 23px;
  }
}

//Alerts

.usa-alert__heading {
  @include u-text('bold');
}

.usa-alert--system-error {
  @include u-bg('warning');
  @include u-padding-y(1.5);
  @include u-padding-x(3);
  a {
    @include u-text('base-darkest');
    @include u-text('bold');
  }
  .usa-alert__text {
    @include u-padding(0);
    @include u-margin(0);
    @include u-maxw('desktop');
  }
  &:before {
    @include u-width(0);
  }
}

//Form

.usa-label {
  @include u-font-size('body', 'xs');
}

//Modals

.modal {
  width: 50%;
  max-width: 900px;
  min-height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include u-padding-x(4);
  @include u-padding-y(3);
  h4 {
    @include u-margin-y(0);
    @include u-margin-bottom(3);
  }
  .usa-form {
    max-width: 100%;
  }
  button {
    @include u-margin-y(0);
    &:first-child {
      @include u-margin-left(0);
    }
  }
  .display-flex {
    @include u-margin-top(3);
  }
}

.src-components-Modal-Modal-module__title--1M23p + .src-components-Modal-Modal-module__content--I6vZk,
.src-components-Modal-Modal-module__content--I6vZk + .src-components-Modal-Modal-module__actions--20euu {
  @include u-border-top('white');
}
.src-components-Modal-Modal-module__modal--FqeFw .src-components-Modal-Modal-module__title--1M23p,
.src-components-Modal-Modal-module__modal--FqeFw .src-components-Modal-Modal-module__content--I6vZk,
.src-components-Modal-Modal-module__modal--FqeFw .src-components-Modal-Modal-module__actions--20euu {
  @include u-padding(0);
}
