// Typography

//using the uswds typeset mixin which does (font family, size tolken, line height tolken)

h1 {
  @include typeset('body', 11, 2);
  @include u-text('normal');
  @include at-media('tablet') {
    @include typeset('body', '2xl', 2);
  }
}
h2 {
  @include typeset('body', 9, 2);
  @include at-media('tablet') {
    @include typeset('body', 11, 2);
  }
}
h3 {
  @include typeset('body', 6, 2);
  @include at-media('tablet') {
    @include typeset('body', 9, 2);
  }
}
h4 {
  @include u-text('normal');
  @include typeset('body', 6, 2);
}
h5 {
  @include typeset('body', 4, 3);
}
h6 {
  @include typeset('body', 2, 3);
  @include u-text('uppercase');
  @include u-text('normal');
}

p {
  @include typeset('body', 4, 3);
}
small {
  @include typeset('body', 2, 2);
}

a,
.usa-link {
  @include u-text('no-underline', $theme-link-color);

  &:hover,
  &.hover {
    @include u-text('underline', $theme-link-hover-color);
  }

  &:visited,
  &.visited {
    @include u-text($theme-link-visited-color);
  }

  &:disabled,
  &.disabled {
    @include u-text('gray-40');
    &:hover {
      @include u-text('no-underline');
    }
  }

  &:focus,
  &.focus {
    @include u-outline('05', 'blue-40v');
  }
}

ul {
  @include u-line-height('body', 4);
  color: $base-darkest;
  @include u-padding-left(1.5);
}

.usa-prose {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif,
      Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  }
}
