/**
TEMPORARY UNTIL WE CAN ADD https://github.com/shakacode/sass-resources-loader
This must be included in the top of any .module.scss file that uses USWDS SCSS
**/
@import '~uswds/src/stylesheets/theme/_uswds-theme-general.scss';
@import '~uswds/src/stylesheets/theme/_uswds-theme-typography.scss';
@import '~uswds/src/stylesheets/theme/_uswds-theme-spacing.scss';
@import '~uswds/src/stylesheets/theme/_uswds-theme-color.scss';
@import '~uswds/src/stylesheets/theme/_uswds-theme-utilities.scss';
// Custom theme settings/USWDS overrides go here
@import '../../shared/styles/uswdsSettings';

// Set these to true to view USWDS CSS compile warnings
$theme-show-compile-warnings: false;
$theme-show-notifications: false;

@import '~uswds/src/stylesheets/packages/_required.scss';
