// Defining color variables.
//Group 1: Brand Colors
$mm-blue: #252f3e;
$mm-gold: #ffbe2e;
$mm-periwinkle: #8cafea;

//Group 2: Background Colors
$bg-white: #fff;
$bg-gray: #f9f9f9;
$bg-blue-warm-10: #e1e7f1;

//Group 3: Base colors
$base-lightest: #f0f0f0;
$base-lighter: #dfe1e2;
$base-light: #a9aeb1;
$base: #71767a;
$base-dark: #565c65;
$base-darker: #3d4551;
$base-darkest: #171717;

//Group 4: Form State colors
$error: #d63e04;
$error-light: #f4e3db;
$warning: #ffbe2e;
$warning-light: #faf3d1;
$success: #0ca900;
$success-light: #ecf3ec;

//Group 5 Accents
$link: #0050d8;
$link-light: #d9e8f6;
$accent-teal: #009bc2;
$accent-hhg: #0096f4;
$accent-ppm: #e6c74c;
$accent-ub: #f2938c;
$accent-nts: #d85bef;
$accent-ntsr: #8168b3;
$accent-default: $base-light;

// Group 6 Info colors
$info: #5994f6;
$info-light: #ecf1f7;

//USWDS Colorrs
$primary: #0050d8;
$primary-dark: #1a4480;
$primary-darker: #162e51;

//Last Group: these were here when I got here.
$color-gold: #fdb81e;
$color-icon-gray: #ababab;
$color-gray-lightest: #f1f1f1;
$color-gray-medium: #a2a2a2;
$color-gray-dark: #767676;
$color-gray-light: #b2b2b2;
$color-red: #cd3504;
$color-blue: #005ea2;
$color-blue-focus: #2491ff;

  // This section is for Storybook purposes only. It exports color variables for use in Webpack. the name in front is going to print as our color name in storybook, and the color variable we refernce will get inserted into the color swatch.
:export {
  brand: {
    mmblue: $mm-blue;
    mmgold: $mm-gold;
    mmperiwinkle: $mm-periwinkle;
  }
  background: {
    bgwhite: $bg-white;
    bggray: $bg-gray;
  }
  base: {
    baselightest: $base-lightest;
    baselighter: $base-lighter;
    baselight: $base-light;
    base: $base;
    basedark: $base-dark;
    basedarker: $base-darker;
    basedarkest: $base-darkest;
  }
  alert: {
    error: $error;
    errorlight: $error-light;
    warning: $warning;
    warninglight: $warning-light;
    success: $success;
    successlight: $success-light;
  }
  primary: {
    primary: $primary;
    primarydark: $primary-dark;
    primarydarker: $primary-darker;
  }
  accent: {
    link: $link;
    linklight: $link-light;
    accenteal: $accent-teal;
    accenthhg: $accent-hhg;
    accentppm: $accent-ppm;
    accentub: $accent-ub;
    accentnts: $accent-nts;
    accentntsr: $accent-ntsr;
  }
}
