// Defining color variables.
//USWDS Colors
$primary: #0050d8;
$primary-dark: #1a4480;
$primary-darker: #162e51;
$disabled: #c9c9c9;
$secondary-light: #f2938c;
$secondary: #d83933;
$secondary-dark: #b50909;
$secondary-darker: #8b0a03;

//Group 1: Brand Colors
$mm-blue: #252f3e;
$mm-gold: #ffbe2e;
$mm-periwinkle: #8fb2ed;

//Group 2: Background Colors
$bg-white: #fff;
$bg-gray: #f9f9f9;
$bg-blue-warm-10: #e1e7f1;

//Group 3: Base colors
$base-lightest: #f0f0f0;
$base-lighter: #dfe1e2;
$base-light: #a9aeb1;
$base: #71767a;
$base-dark: #565c65;
$base-darker: #3d4551;
$base-darkest: #171717;

//Group 4: Form State colors
$error: $secondary;
$error-dark: $secondary-dark;
$error-light: $secondary-light;
$warning: #ffbe2e;
$warning-light: #faf3d1;
$success: #008a00;
$success-light: #ecf3ec;

//Group 5 Accents
$link: #0050d8;
$link-light: #d9e8f6;
$link-light-hover: #b7caf0;
$accent-teal: #027a97;
$accent-hhg: #0096f4;
$accent-ppm: #e6c74c;
$accent-ub: #f2938c;
$accent-nts: #d85bef;
$accent-ntsr: #8168b3;
$accent-boat: #5d92ba;
$accent-mobile-home: #1fd819;
$accent-pro-gear: #71767a;
$accent-default: $base-light;

// Group 6 Info colors
$info: #5994f6;
$info-light: #ecf1f7;

//Last Group: these were here when I got here.
$color-gold: #fdb81e;
$color-icon-gray: #ababab;
$color-gray-lightest: #f1f1f1;
$color-gray-medium: #a2a2a2;
$color-gray-dark: #767676;
$color-gray-light: #b2b2b2;
$color-red: #cd3504;
$color-blue: #005ea2;
$color-blue-focus: #2491ff;
$color-light-green: lightgreen;


// border color
$border-color: #dcdee0;
