@use 'styles/uswds/milmove' as milmove_uswds;

.EditMaxBillableWeightModal {

  h4 {
    @include milmove_uswds.u-font-weight(bold)
  }

  dl {
    @include milmove_uswds.u-font-size('body', '3xs');
    @include milmove_uswds.u-font-weight(bold);
    @include milmove_uswds.u-margin-bottom(1);
    color: milmove_uswds.$base-darker;
  }

  dt {
    @include milmove_uswds.u-display(inline);
    @include milmove_uswds.u-margin-right(1);
  }

  dd {
    @include milmove_uswds.u-display(inline);
    @include milmove_uswds.u-margin-left(0);
  }

  :global .usa-label {
    @include milmove_uswds.u-margin-top(2);
    color: milmove_uswds.$base-darker;
  }

  /* there seems to be an issue with the base .usa-button background being set to primary and the .usa-button--outline
    transparent background color being superseded */
  .backButton {
    @include milmove_uswds.u-bg('transparent');
  }

  button.weightModalClose {
    svg {
      @include milmove_uswds.u-width(14px);
      @include milmove_uswds.u-height(14px);
      color: milmove_uswds.$primary;
    }
  }
}
