@import 'shared/styles/_basics';
@import 'shared/styles/colors';

.evaluationReportContainer {
  @include u-padding-top(0);
  @include u-padding-x(2);
  @include u-padding-bottom(3);
  @include u-bg('white');
  @include u-padding-left(3);
  @include u-padding-right(3);

  :global .table--data-point-group {
    @include u-margin-bottom(3);
  }

  :global .evaluationReport-heading {
    @include u-margin-bottom(3);
  }
}

.pageHeader {
  @include u-margin-y(3);
  display: flex;
  justify-content: space-between;

  h1 {
    @include u-margin(0);
  }
  h6 {
    margin: 0;
    line-height: 1.25;
  }
  h6 + h6 {
    @include u-margin-top(1);
  }
}

.pageHeaderDetails {
  color: $base;
  text-align: right;
}

.evaluationReportModal {
  min-width: 1200px !important;
  overflow-y: auto;
  max-height: 90vh;
  @include u-padding-bottom(5 !important);
}

.approvalClose {
  @include u-float('right');
  @include u-padding-right(0);
  cursor: pointer;
  svg {
    width: 24px;
    height: 24px;
    color: $base;
  }
}

.sideBySideDetails {
  display: flex;
  justify-content: space-between;
}

.detailsRight {
  @include u-margin-left(2);
}

.detailsLeft {
  @include u-margin-right(2);
}

.section {
  @include u-margin-top(4);
  @include u-padding(4);
  @include u-radius('05');
  @include u-border('base-lighter');
  @include u-border('1px');
  h3 {
    @include u-margin-top(1);
  }
}

.shipmentDisplayContainer {
  @include u-margin-top(2);
}

.buttonsGroup {
  display: flex;
  justify-content: flex-end;
  @include u-margin-top(5);
}

.qaeRemarks {
  width: 75%;
}

.qaeRemarksLabel {
  width: 25%;
}

.titleSection {
  @include u-margin-top(4);
}

.qaeAndCustomerInfo {
  @include u-margin-left(36px);
  @include u-margin-top(68px);
}
