@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';

.shipmentEvaluationReportsContainer {
  h2 {
    @include u-margin-top(0);
  }
  .shipmentReportRows {
    display: flex;
    flex-direction: column;
    row-gap: 63px;
  }
}
