@use 'shared/standardUI/' as *;

@media (max-width:1240px) {
  body{

    min-width: 375px;
    overflow-x: scroll;
  }
  .sb-main-padded, .sb-show-main {
    min-width: 0;
  }
}

.signInButton {
  width: 100%;
  @extend  .usa-button--primary;
}

:global(.usa-button-group) {
  justify-content: center;
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
}
