@media (max-width:1240px) {
  body{
    min-width: 375px;
    overflow-x: scroll;
  }
  .sb-main-padded, .sb-show-main {
    min-width: 0;
  }
}

button.signInButton {
  display: inline-flex;
  width: 100%;
}


:global(.usa-button-group) {
  justify-content: center;
  padding: 1rem 0rem;
  gap: 1rem;
  > {
    margin: 0;
  }
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
}
