@import 'shared/styles/uswdsImports';
@import 'shared/styles/colors';

.mtoshipmentSITDisplay {
  // these styles conflict with the custom.scss .table--data-point-group, we should try to remove that custom class
  @include u-padding-x(2);
  padding-top: 18px;
  padding-bottom: 18px;
  @include u-border('base-lighter');
  @include u-border('1px');
  @include u-radius('05');
  background-color: $bg-gray;

  .title {
    display: flex;
    justify-content: space-between;
    // for now, to counteract top margin on table below it. When more content gets added below here, this might need to be changed

    p {
      @include u-margin-y(0);
      @include u-font-size('body', '3xs');

      :global .usa-tag {
        @include u-font-size('body', '3xs');
      }
    }

    button {
      padding-right: 0px;
    }
    span {
      margin-left: 0.5rem !important;
    }
    .submitSITEXtensionLink {
      @include u-margin-right(2);
    }
  }

  :global table.table--data-point {
    margin-top: 10px;
  }

  > p {
    @include u-margin-left(1);
    @include u-font-weight('bold');
  }

  td {
    vertical-align: top;

    div {
      display: flex;
    }

    p,
    p + p {
      margin-top: 0;
      margin-bottom: 0;
    }

    dl {
      @include u-margin-top(0);
    }

    dl:last-child {
      @include u-margin-y(0);
    }

    dt,
    dd {
      @include u-font-size('body', '3xs');
      @include u-line-height('body', 2);
      color: $base-darker;
    }

    dt {
      @include u-font-weight('bold');
      white-space: nowrap;
    }

    dd {
      margin-left: 5px;
    }
  }
}
