@import 'shared/styles/_basics';
@import 'shared/styles/colors';

.mtoshipmentSITDisplay {
  // these styles conflict with the custom.scss .table--data-point-group, we should try to remove that custom class
  // @include u-padding-x(2);
  // padding-top: 18px;
  // padding-bottom: 18px;
  padding: 16px;
  @include u-border('base-lighter');
  @include u-border('1px');
  @include u-radius('05');
  background-color: $bg-gray;
  .title {
    display: flex;
    justify-content: space-between;
    // for now, to counteract top margin on table below it. When more content gets added below here, this might need to be changed

    p {
      @include u-margin-y(0);
      @include u-font-size('body', 'md');

      :global .usa-tag {
        @include u-font-size('body', 'sm');
      }
      font-weight: bold;
      //@include u-margin-left(1);
    }

    button {
      padding-right: 0px;
    }
    span {
      margin-left: 2rem !important;
      font-size: 13px !important;
    }
    .submitSITEXtensionLink {
      @include u-margin-right(2);
    }
  }

  :global table.table--data-point {
    margin-top: 10px;
  }

  .currentLocation {
    th {
      padding: 4px;
    }
    table.table--data-point {
      @include u-margin-top(0);
    }
  }

  td {
    vertical-align: top;

    div {
      @include u-line-height('body', 2);
    }

    p,
    p + p {
      margin-top: 0;
      margin-bottom: 0;
    }

    dl {
      @include u-margin-top(0);
    }

    dl:last-child {
      @include u-margin-y(0);
    }

    dt,
    dd {
      @include u-font-size('body', '3xs');
      @include u-line-height('body', 2);
      color: $base-darker;
      display: inline;
    }

    dt {
      @include u-font-weight('bold');
      white-space: nowrap;
      color: $base-darkest;
    }

    dd {
      margin-left: 5px;
    }
  }
}
.sitHistoryItem {
  th {
    padding: 0;
  }
  .sitHistoryItemHeader {
    color: $base-darker;
    span {
      font-weight: 400;
    }
  }
}
p.sitHeader {
  @include u-font-size('body', 'sm');
  @include u-margin-bottom(0);
  @include u-margin-top(1);
  :global .usa-tag {
    @include u-font-size('body', 'sm');
  }
  font-weight: bold;
}
.tableContainer {
  margin-top: 16px;

  table tbody tr td span p:not(:last-child) {
    padding-bottom: 1em;
  }
}
