@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';


.container {
  max-width: 960px;
  @include u-padding-left(0);
  @include u-padding-right(0);
  margin-top: 1.5vh;
}

.tabContent {
  background: $bg-gray;
  scroll-behavior: smooth;
  flex-grow: 1;

  h1,
  h2,
  h3 {
    color: $mm-blue;
  }
  h1 {
    @include u-margin-bottom(3);
  }
  h2 {
    @include u-margin-top(0.5);
    @include u-margin-bottom(2);
  }
  h3 {
    @include u-margin-top(4);
    @include u-margin-bottom(1.5);
  }

  @include u-padding-bottom(2);

  .pageHeader {
    @include u-margin-y(3);

    h1 {
      @include u-margin(0);
    }
  }

  h1:first-child,
  .pageHeader:first-child,
  nav,
  .emptyMessage p {
    @include u-margin-top(0);
  }

  h1 {
    @include u-margin-bottom(4);
  }

  .tooMoveDetailsHeadingFlexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .tooMoveDetailsH1 {
    @include u-margin-bottom(0);
  }

  .gridContainer {
    .shipmentCard {
      @include u-padding-left(4);
    }
  }

  .alertWithButton {
    span:first-child {
      display: flex;
      button {
        padding-left: 0;
      }
    }
    :nth-child(2) {
      button {
        padding-right: 0;
        color: $base-darker;
      }
    }
  }
}

.section {
  background: $bg-white;
  @include u-margin-top(2);
  @include u-padding(5);
  @include u-radius('05');
  @include u-border('base-lighter');
  @include u-border('1px');
  h2 {
    @include u-margin(0);
  }
  h3 {
    @include u-margin-top(1);
  }
  dl {
    @include u-margin(0);
  }
}

.sideBySideDetails {
  display: flex;
  justify-content: space-between;
}

.detailsRight {
  @include u-margin-bottom(3);
}

.detailsLeft {
  @include u-margin-right(2);
  @include u-margin-bottom(3);
}

.qaeRemarks {
  flex-grow: 1;
  max-width: 648px;
}

.label {
  width: 200px !important;
  @include u-padding-x(1 !important);
  @include u-padding-y(1.5 !important);
}

.violationsRemarks {
  @include u-padding-x(1 !important);
  flex-grow: 1;
}

.violation {
  display: flex;
  flex-direction: column;
  margin-left: -1rem;
  @include u-padding-x(2);
  border: 1px solid $base-light;
  border-radius: 2px;
  width: 648px;

  .violationHeader {
    display: flex;
    justify-content: space-between;

    .addAppealBtn {
      margin-top: 1vh;
    }
  }

  h5 {
    margin-top: 12px;
    margin-bottom: 0;
  }
}

.seriousIncidentHeader {
  display: flex;
  justify-content: space-between;
  margin-right: 1.6em;
}

.seriousIncidentRemarks {
  flex-grow: 1;
  max-width: 648px;
}

.appealsSection {
  display: flex;
  justify-content: space-between;

  .appealShowIcon {
    margin-left: 5px;
  }
}

.appealsHeader {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.appealsTable {
  @include u-margin-bottom(2);
  border: 1px solid $base-lighter;
  width: 620px;

  .appealsTableHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: -1vh;
    margin-bottom: -1vh;
  }

  .appealsTableLeft {
    flex: 1;
    font-size: 14px;
  }

  .appealsTableRight {
    flex: 5;
    font-size: 14px;
  }

  .sustained {
    font-size: 12px;
    padding: 5px;
    border-radius: 7px;
    background-color: $success;
    font-weight: 500;
    color: white;
}

.rejected {
    font-size: 12px;
    padding: 5px;
    border-radius: 7px;
    background-color: $error-dark;
    font-weight: 500;
    color: white;
  }
}

.officeUserDetails {
  margin-left: 1.5vw;
}