/*
 * site & site_content are used to push the footer to
 * the bottom of the page
 */
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site__content {
  padding-top: 30px; /* matches the padding in .usa-grid */
  flex: 1 0 auto; /* using auto fixes a bug in IE11 where the footer would float over everything. */
}

img._fix-ie-11-height {
  max-height: 80px; /* After using auto in .site__content.flex, the transcom logo in IE11 on win8 was not constrained vertically. */
}

.Todo-phase2 {
  background-color: yellow;
}

.label-optional {
  /* TODO: talk to design about light gray and accessibility*/
  /* color: rgb(153, 153, 153); */
  font-size: 0.9em;
  float: right;
}

.align-center {
  text-align: center;
}

.wider-label label {
  max-width: 100rem;
}
