@use 'styles/uswds/milmove' as milmove_uswds;

.ServiceItemCalculations {
  @include milmove_uswds.u-padding(2);
  border: 1px solid milmove_uswds.$base-lighter;
  border-radius: 3px;
  background-color: milmove_uswds.$bg-gray;
  min-width: 892px;

  p {
    @include milmove_uswds.u-margin-y(0);
  }

  ul {
    @include milmove_uswds.u-margin-y(0);
    @include milmove_uswds.u-padding(0);
    list-style: none;
  }

  .title {
    @include milmove_uswds.u-font-weight('bold');
    @include milmove_uswds.u-margin-top(0);
    @include milmove_uswds.u-margin-bottom(2);
    color: milmove_uswds.$base-darkest;
  }

  .icon {
    @include milmove_uswds.u-padding-right(1);
    color: milmove_uswds.$base-dark;
    width: auto;
  }

  .flexGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: auto;

    .col {
      flex-shrink: 0;
      flex-grow: 0;
      @include milmove_uswds.u-margin-right(4);

      hr {
        @include milmove_uswds.u-margin-top(1);
        @include milmove_uswds.u-margin-bottom(2);
        width: calc(100% + 4rem);
        border: 1px solid milmove_uswds.$base-lighter;
      }
    }

    // Pushes the last item to the right by filling up the margin
    .col:nth-last-of-type(2) {
      flex-shrink: 0;
      flex-grow: 1;
    }

    .col:last-of-type {
      @include milmove_uswds.u-margin-right(0);
      @include milmove_uswds.u-text-align('right');

      hr {
        width: 100%;
      }
    }
  }

  // inverse the direction of the flexbox
  .flexGridSmall {
    flex-direction: column;

    .col {
      @include milmove_uswds.u-margin-x(0);
      @include milmove_uswds.u-padding-y(1);
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      .value {
        @include milmove_uswds.u-margin-left(4);
      }

      hr {
        display: none;
      }
    }

    .col:first-of-type {
      @include milmove_uswds.u-padding-top(0);
    }

    .col:last-of-type {
      @include milmove_uswds.u-margin-top(1);
      @include milmove_uswds.u-padding-top(3);
      @include milmove_uswds.u-padding-bottom(0);
      border-top: 1px solid milmove_uswds.$base-lighter;
    }
  }

  .descriptionTitle {
    @include milmove_uswds.u-font-weight('bold');
    color: milmove_uswds.$base-darker;
  }

  .descriptionContent {
    @include milmove_uswds.u-margin-y(0.5);
    color: milmove_uswds.$base-darkest;
    margin-left: 0;
  }
}

.ServiceItemCalculationsSmall {
  min-width: unset;
}
