@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';
@import 'shared/styles/_custom';

.ServiceItemCalculations {
  @include u-padding(2);
  border: 1px solid $base-lighter;
  border-radius: 3px;
  background-color: $bg-gray;
  min-width: 892px;

  p {
    @include u-margin-y(0);
  }

  ul {
    @include u-margin-y(0);
    @include u-padding(0);
    list-style: none;
  }

  .title {
    @include u-font-weight('bold');
    @include u-margin-top(0);
    @include u-margin-bottom(2);
    color: $base-darkest;
  }

  .icon {
    @include u-padding-right(1);
    color: $base-dark;
    width: auto;
  }

  .flexGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: auto;

    .col {
      flex-shrink: 0;
      flex-grow: 0;
      @include u-margin-right(4);

      hr {
        @include u-margin-top(1);
        @include u-margin-bottom(2);
        width: calc(100% + 4rem);
        border: 1px solid $base-lighter;
      }
    }

    // Pushes the last item to the right by filling up the margin
    .col:nth-last-of-type(2) {
      flex-shrink: 0;
      flex-grow: 1;
    }

    .col:last-of-type {
      @include u-margin-right(0);
      @include u-text-align('right');

      hr {
        width: 100%;
      }
    }
  }

  // inverse the direction of the flexbox
  .flexGridSmall {
    flex-direction: column;

    .col {
      @include u-margin-x(0);
      @include u-padding-y(1);
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      .value {
        @include u-margin-left(4);
      }

      hr {
        display: none;
      }
    }

    .col:first-of-type {
      @include u-padding-top(0);
    }

    .col:last-of-type {
      @include u-margin-top(1);
      @include u-padding-top(3);
      @include u-padding-bottom(0);
      border-top: 1px solid $base-lighter;
    }
  }

  .descriptionTitle {
    @include u-font-weight('bold');
    color: $base-darker;
  }

  .descriptionContent {
    @include u-margin-y(0.5);
    color: $base-darkest;
    margin-left: 0;
  }
}

.ServiceItemCalculationsSmall {
  min-width: unset;
}
