@import 'shared/styles/colors.scss';
@import 'shared/styles/_mixins.scss';
@import 'shared/styles/_basics';

.ReviewDocuments {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}

.embed {
  flex-grow: 1;
}

.sidebar {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.sidebarBody {
  background-color: $base-lightest;
  flex-basis: auto;
}

.footer {
  justify-self: flex-end;
}

.alertContainer {
  @include u-margin-bottom(2);
}

.errorMessage {
  margin-top: 0;
  color: #b50909;
  font-weight: 700;
  font-size: 15px;
  white-space: pre-line;
}

.formActions {
  display: flex;
  justify-content: flex-end;
  width: 95%;
}