.ReviewDocuments {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;


    .embed {
        flex-grow: 1;
    }

    .sidebar {
        width: 400px;
        display: flex;
        flex-direction: column;
    }
}
