@import 'shared/styles/_basics';
@import 'shared/styles/colors';

.contentContainer {
  @include u-margin-bottom(2);
}

.footer {
  position: 'fixed';
  bottom: '0';
  width: '100%';
  background-color: $bg-white;
}

.flex {
  display: flex;
  justify-content: flex-end;
  width: 95%;
}

.weightSummary {
  @include u-margin-top(1.5);
}


.reviewWeightSideBar {
  width: 500px;
  box-shadow: -4px 0px 8px 0px rgba(0, 0, 0, 0.1);
}