@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/_variables';
@import 'shared/styles/colors';

.Hint {
  color: $base-dark;
  font-size: 14px;
  line-height: 18px;
  @include u-margin-top('105');
  @include u-margin-bottom(0);

  p {
    color: $base;
    font-size: 13px;
    line-height: 18px;
    @include u-margin(0);
  }

  p + p {
    @include u-margin-top('105');
  }

  &.DarkText p {
    color: $base-darkest;
  }
}

:global(.grid-row) + .Hint {
  @include u-margin-top(3);
}
