@use 'styles/uswds/milmove' as milmove_uswds;

.Hint {
  color: milmove_uswds.$base;
  font-size: 13px;
  line-height: 18px;
  @include milmove_uswds.u-margin-top('105');
  @include milmove_uswds.u-margin-bottom(0);

  p {
    color: milmove_uswds.$base;
    font-size: 13px;
    line-height: 18px;
    @include milmove_uswds.u-margin(0);
  }

  p + p {
    @include milmove_uswds.u-margin-top('105');
  }
}

:global(.grid-row) + .Hint {
  @include milmove_uswds.u-margin-top(3);
}
