.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  box-sizing: border-box;
  background-color: #4d4d4d;
  font-size: 1.3rem;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  position: absolute;
  z-index: 1;
  top: 175%;
  left: 50%;
}

.tooltip .tooltiptext-small {
  width: 8rem;
  margin-left: -4rem;
}

.tooltip .tooltiptext-medium {
  width: 16rem;
  margin-left: -8rem;
}

.tooltip .tooltiptext-large {
  width: 24rem;
  margin-left: -12rem;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #4d4d4d transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip2 {
  position: relative;
  top: -6em;
  left: -10em;
}

.tooltip2 .tooltiptext2 {
  box-sizing: border-box;
  background-color: white;
  font-size: 1.3rem;
  width: 250px;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  position: absolute;

  border: 1px solid black;
  /* text-align: center; */
  /* top: 175%;
  left: 50%; */
}

.arrow {
  height: 10px;
  width: 10px;
  background: white;
  top: 3.85em;
  left: 10.1em;
  position: absolute;
  z-index: 1;
  transform: rotate(45deg);
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 481px) {
  .arrow {
    top: 3.95em;
  }
}

/* .tooltip2 .tooltiptext2::after {
  content: '';
  position: absolute;
  bottom: -15%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #4d4d4d transparent;
  transform: rotate(180deg);
} */
