.tooltipContainer {
    position: relative;
    display: inline-block;

    .tooltipTextTop {
      position: absolute;
      top: calc(-100% - 65px);
      transform: translateX(-50%);
      background-color: rgba($color: #000000, $alpha: .8);
      color: white;
      padding: 10px;
      border-radius: 4px;
      height: 80px; // setting hard width and height to keep positioning constant
      width: 200px;
      text-align: center;
      white-space: normal;
      overflow: auto; // sets a scrollbar
      z-index: 1; // Ensure the tooltip is above other elements
      display: flex;
      align-items: center;
      justify-content: center;
  }

    .tooltipTextRight {
        position: absolute;
        top: 50%;
        left: calc(100% + 10px);
        transform: translateY(-50%);
        background-color: rgba($color: #000000, $alpha: .8);
        color: white;
        padding: 10px;
        border-radius: 4px;
        height: 80px;
        width: 200px;
        text-align: center;
        white-space: normal;
        overflow: auto;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tooltipTextLeft {
        position: absolute;
        top: 50%;
        right: calc(100% + 10px);
        transform: translateY(-50%);
        background-color: rgba($color: #000000, $alpha: .8);
        color: white;
        padding: 10px;
        border-radius: 4px;
        height: 80px;
        width: 200px;
        text-align: center;
        white-space: normal;
        overflow: auto;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tooltipTextBottom {
        position: absolute;
        top: calc(100% + 6px);
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba($color: #000000, $alpha: .8);
        color: white;
        padding: 10px;
        border-radius: 4px;
        height: 80px;
        width: 200px;
        text-align: center;
        white-space: normal;
        overflow: auto;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}