@import 'shared/styles/basics';
@import 'shared/styles/colors';

.MoveHistoryTable {
  .dateAndTime {
    @include u-font-size('base', 3);
    color: $base-dark;
  }
  .event {
    @include u-font-size('base', 4);
    color: $base-darker;
    font-weight: bold;
  }
  .details {
    @include u-font-size('base', 4);
    color: $base-darker;
  }
  .modifiedBy {
    @include u-font-size('base', 3);
    color: $base-darkest;
  }
}
