@import 'shared/styles/basics';
@import 'shared/styles/mixins';
@import 'shared/styles/colors';

.MoveHistory {
  @include u-display(flex);
  flex-direction: column;
  flex: auto;

  background-color: $bg-gray;
}
