@use 'styles/uswds/milmove' as milmove_uswds;

.PaymentDetails {
  .paymentAmount {
    float: right;
  }
  .serviceItemName {
    float: left;
  }
  .serviceItemRow {
    font-size: 13px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }
  .statusRow {
    display: flex;
    justify-content: space-between;
  }
  .successCheck {
    color: milmove_uswds.$success;
  }
  .rejectTimes {
    color: milmove_uswds.$error;
  }
}
