@use 'styles/uswds/milmove' as milmove_uswds;

.ReviewSITExtensionModal {
  overflow-y: auto;
  max-height: 90vh;

  .ApprovedDaysInput {
    max-width: 3rem;
  }

  :global .usa-fieldset {
    @include milmove_uswds.u-padding-top(0);

    :global(.usa-radio__label:first-of-type) {
      @include milmove_uswds.u-margin-top(1);
    }
  }

  :global .usa-legend {
    @include milmove_uswds.u-font-size('body', '3xs');
    @include milmove_uswds.u-font-weight(700);
    @include milmove_uswds.u-margin-top(0);
    @include milmove_uswds.u-padding-top(3);
  }

  :global(.usa-label),
  :global(.usa-legend) {
    color: milmove_uswds.$base-darker;
  }

  .ModalPanel {
    @include milmove_uswds.u-border('base-lighter');
    @include milmove_uswds.u-border('1px');
    @include milmove_uswds.u-radius('05');
    @include milmove_uswds.u-padding(3);
  }

  .summarySITComponent {
    @include milmove_uswds.u-margin-bottom(3);
  }

  .SITSummary {
    @include milmove_uswds.u-border('base-lighter');
    border-width: 0px;
    border-bottom-width: 1px;
    @include milmove_uswds.u-margin-top(0);
    @include milmove_uswds.u-margin-bottom(0);
    @include milmove_uswds.u-padding-bottom(2);

    div {
      display: flex;
    }

    dt,
    dd {
      @include milmove_uswds.u-font-size('body', '3xs');
      @include milmove_uswds.u-line-height('body', 2);
      color: milmove_uswds.$base-darker;
    }

    dt {
      @include milmove_uswds.u-font-weight('bold');
      white-space: nowrap;
    }

    dd {
      margin-left: 5px;
    }
  }

  .CancelButton {
    @include milmove_uswds.u-bg('transparent');
  }
}
