@import 'shared/styles/colors.scss';
@import 'shared/styles/basics';

.ReviewSITExtensionModal {
  overflow-y: auto;
  max-height: 90vh;

  .ApprovedDaysInput {
    max-width: 3rem;
  }

  :global .usa-fieldset {
    @include u-padding-top(0);

    :global(.usa-radio__label:first-of-type) {
      @include u-margin-top(1);
    }
  }

  :global .usa-legend {
    @include u-font-size('body', '3xs');
    @include u-font-weight(700);
    @include u-margin-top(0);
    @include u-padding-top(3);
  }

  :global(.usa-label),
  :global(.usa-legend) {
    color: $base-darker;
  }

  .ModalPanel {
    @include u-border('base-lighter');
    @include u-border('1px');
    @include u-radius('05');
    @include u-padding(3);
  }

  .summarySITComponent {
    @include u-margin-bottom(3);
  }

  .SITSummary {
    @include u-border('base-lighter');
    border-width: 0px;
    border-bottom-width: 1px;
    @include u-margin-top(0);
    @include u-margin-bottom(0);
    @include u-padding-bottom(2);

    div {
      display: flex;
    }

    dt,
    dd {
      @include u-font-size('body', '3xs');
      @include u-line-height('body', 2);
      color: $base-darker;
    }

    dt {
      @include u-font-weight('bold');
      white-space: nowrap;
    }

    dd {
      margin-left: 5px;
    }
  }

  .CancelButton {
    @include u-bg('transparent');
  }
}
