@import 'shared/styles/colors.scss';
@import 'shared/styles/basics';

.ReviewSITExtensionModal {
  overflow-y: auto;
  max-height: 90vh;
  max-width: 700px;

  .ApprovedDaysInput {
    max-width: 3rem;
  }

  :global .usa-fieldset {
    @include u-padding-top(0);

    :global(.usa-radio__label:first-of-type) {
      @include u-margin-top(1);
    }
  }

  :global .usa-legend {
    @include u-font-size('body', '3xs');
    @include u-font-weight(700);
    @include u-margin-top(0);
    @include u-padding-top(3);
  }

  :global(.usa-label),
  :global(.usa-legend) {
    color: $base-darker;
  }

  .ModalPanel {
    @include u-border('base-lighter');
    @include u-border('1px');
    @include u-radius('05');
    @include u-padding(3);

    .convertRadio {
      @include u-margin-top(3);
    }
  }

  .ModalPanelConfirm {
    border: none;
    @include u-padding(1);

    .convertRadio {
      @include u-margin-top(3);
    }
  }

  .summarySITComponent {
    @include u-margin-bottom(3);
  }

  .SITSummary {
    @include u-border('base-lighter');
    border-width: 0px;
    border-bottom-width: 1px;
    @include u-margin-top(0);
    @include u-margin-bottom(0);
    @include u-padding-bottom(2);

    div {
      @include u-line-height('body', 2);
    }

    dt,
    dd {
      @include u-font-size('body', '3xs');
      @include u-line-height('body', 2);
      color: $base-darker;
      display: inline;
    }

    dt {
      @include u-font-weight('bold');
      white-space: nowrap;
    }

    dd {
      margin-left: 5px;
    }
  }

  .CancelButton {
    @include u-bg('transparent');
  }
}

.sitDisplayForm {
  // these styles conflict with the custom.scss .table--data-point-group, we should try to remove that custom class
  // @include u-padding-x(2);
  // padding-top: 18px;
  // padding-bottom: 18px;
  width: auto;
  padding: 16px;
  @include u-border('base-lighter');
  @include u-border('1px');
  @include u-radius('05');
  @include u-margin-bottom(3);
  background-color: $bg-gray;
  .title {
    display: flex;
    justify-content: space-between;
    // for now, to counteract top margin on table below it. When more content gets added below here, this might need to be changed
    p {
      @include u-margin-y(0);
      @include u-font-size('body', 'md');

      font-weight: bold;
      //@include u-margin-left(1);
    }
    :global .usa-tag {
      @include u-margin-y(0);
      font-size: 13px;
      height: 18px;
    }

    button {
      padding-right: 0px;
    }
    span {
      margin-left: 0.5rem !important;
    }
  }

  :global table.table--data-point {
    margin-top: 10px;
  }

  .currentLocation {
    th {
      padding: 4px;
    }
    table.table--data-point {
      @include u-margin-top(0);
    }
  }
  .totalDaysTable {
    th {
      padding: 4px;
    }
  }

  td {
    vertical-align: top;

    p,
    p + p {
      margin-top: 0;
      margin-bottom: 0;
    }

    dl {
      @include u-margin-top(0);
    }

    dl:last-child {
      @include u-margin-y(0);
    }

    dt,
    dd {
      @include u-font-size('body', '3xs');
      @include u-line-height('body', 2);
      color: $base-darker;
    }

    dt {
      @include u-font-weight('bold');
      white-space: nowrap;
      color: $base-darkest;
    }

    dd {
      margin-left: 5px;
    }
    :global .usa-form-group {
      @include u-margin-top(0);
    }
    :global .usa-input {
      @include u-margin-top(0);
    }
  }
}

p.sitHeader {
  @include u-font-size('body', 'sm');
  @include u-margin-bottom(0);
  @include u-margin-top(1);
  :global .usa-tag {
    @include u-font-size('body', 'sm');
  }
  font-weight: bold;
}

.tableContainer {
  margin-top: 16px;
}

.sitHistoryItemHeader {
  .hintText {
    display: block;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: $base-darker;
  }
}

input.approvedDaysInput {
  max-width: 108px !important;
}
