@use 'styles/uswds/milmove' as milmove_uswds;

.customerSupportRemarksContent {
  h1,
  h2,
  h3 {
    color: milmove_uswds.$mm-blue;
  }
  h1 {
    @include milmove_uswds.u-margin-bottom(3);
  }
  h2 {
    @include milmove_uswds.u-margin-top(0.5);
    @include milmove_uswds.u-margin-bottom(2);
  }
  h3 {
    font-size: 17px;
    line-height: 20px;
    @include milmove_uswds.u-margin-top(4);
    @include milmove_uswds.u-margin-bottom(1.5);
  }

  @include milmove_uswds.u-padding-top(8);
}

.customerSupportRemarksContainer {
  @include milmove_uswds.u-padding-bottom(40px);
  @include milmove_uswds.u-bg('white');
  @include milmove_uswds.u-radius('05');
  @include milmove_uswds.u-border('base-lighter');
  @include milmove_uswds.u-border('1px');
  @include milmove_uswds.u-padding(5);
  @include milmove_uswds.u-margin-bottom(4);
}
