@use 'styles/uswds/milmove' as milmove_uswds;

.OrdersDetailForm {
  label {
    color: milmove_uswds.$base-darker;
  }

  :global .DayPickerInput {
    display: block;
  }

  .wrappedCheckbox {
    @include milmove_uswds.u-margin-top(4);
    @include milmove_uswds.u-margin-bottom(4);
    @include milmove_uswds.u-padding-top(1);
    @include milmove_uswds.u-padding-bottom(1);
    @include milmove_uswds.u-padding-left(2);
    @include milmove_uswds.u-display(flex);
    justify-content: center;
    border: 1px solid milmove_uswds.$base-lighter;
    border-radius: 4px;
    max-width: 32rem;
    :global(.usa-checkbox__label) {
      @include milmove_uswds.u-margin-top(0);
    }
  }

  h3 {
    @include milmove_uswds.u-margin-bottom(0);
  }
}
