// variables regarding spatial values, such as height, width, position, etc

$standard-height: 42px;
$button-height-regular: $standard-height !default;
$button-gap: 0.5rem;

$outline-offset-regular: 0.26667rem;
$outline-thickness-regular: 0.26667rem;