/* use a hand cursor intead of arrow for the action buttons */
.filepond--file-action-button {
    cursor: pointer;
}

/* color for "Browse" button */
.filepond--label-action {
    color: #0050d8;
}

[data-filepond-item-state=processing-complete] .filepond--item-panel {
  /* primary blue via USDS standard: https://designsystem.digital.gov/components/colors/ */
  background-color: #0071bc
}

.filepond--panel-root {
  border: 1px dashed #a9aeb1;
  border-radius: 0px;
  background-color: #ffffff;
}

.filepond--drop-label label {
  font-size: 1rem;
  transform: translate3d(0px, 3px, 0) !important;
}
