.edit-title {
  margin-top: 1.5rem;
}

.review-content {
  border-top: 1px solid black;
  padding-bottom: 2.5rem;
}

.review-section {
  padding-top: 1.5rem;
}

.review-section .notice {
  color: gray;
}

.review-section table {
  border: 0px;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.review-section .heading {
  font-weight: bold;
  border: 0px;
  text-align: left;
  padding: 0;
  margin-bottom: 0.5rem;
}

.review-section tr {
  border: 0px;
  text-align: left;
}

.review-section td {
  border: 0px;
  text-align: left;
  vertical-align: top;
  padding: 0.2rem 0rem 0.2rem 0rem;
  width: 60%;
}

.review-section td:first-child {
  color: grey;
  border: 0px;
  width: 40%;
  padding-right: 1em;
}

.edit-section-link a {
  margin-left: 20px;
  text-decoration: none;
  font-weight: normal;
}

.ppm-container {
  margin: 4rem 0rem 0rem 0rem;
  border: solid 1px;
}

.ppm-container h3 {
  background-color: rgb(209, 219, 233);
  padding: 1.5rem 1rem 1.5rem 1rem;
  margin-left: 1px;
}

.ppm-container img {
  height: 20px;
}

.ppm-review-section {
  padding: 1rem 2.5rem 2.5rem;
}

.review-todo {
  background-color: yellow;
}

.spacer {
  margin-top: 2em;
}

.approved-edit-warning {
  margin-top: 2em;
  color: gray;
}
