.error-message {
  margin-bottom: 1em;
}
.center {
  text-align: center;
}

.right-align {
  text-align: right;
}

.cancel {
  -webkit-box-shadow: inset 0 0 0 0px;
  -moz-box-shadow: inset 0 0 0 0px;
  box-shadow: inset 0 0 0 0px;
}

.cancel:hover {
  -webkit-box-shadow: inset 0 0 0 0px;
  -moz-box-shadow: inset 0 0 0 0px;
  box-shadow: inset 0 0 0 0px;
}

.hide-btn {
  display: none;
}
