@import 'shared/styles/colors.scss';

.btnContainer {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    gap: 10px;

    .approveBtn {
        width: 100px;
        height: 38px;
        margin-left: 15px;
        background-color: $primary;

        &:active,
        &:hover,
        &:focus {
          background-color:  $primary;
          opacity: 80%;
        }
    }

    .rejectBtn {
        width: 100px;
        height: 38px;
        background-color:  #d84006;
        font-size: 11pt;
        color: #fff;

        &:active,
        &:hover,
        &:focus {
          background-color:  #d84006;
          opacity: 80%;
        }
    }
}

.rejectionInput {
  margin-left: 15px;
  margin-bottom: 10px;
}

.error {
  width: auto;
  background-color: $error;
  margin-left: 15px;
  margin-right: 15px;
}

.rejErrorEdit {
  width: auto;
  background-color: $error;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}

ul { list-style-type: none; }
