@import 'shared/styles/colors.scss';

.btnContainer {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    gap: 10px;

    .approveBtn {
        width: 100px;
        height: 38px;
        margin-left: 15px;
        background-color: $primary;

        &:active,
        &:hover,
        &:focus {
          background-color:  $primary;
          opacity: 80%;
        }
    }

    .rejectBtn {
      height: 38px;
      width: 120px;
      background-color: transparent !important;
      border: 2px solid $error !important;
      color: #e1400a !important;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    .rejectBtn:hover {
      opacity: 0.8;
    }

    .deleteBtn {
      height: 38px;
      width: 120px;
      background-color: $error !important;
      color: white !important;
      display: flex;
      gap: 8px;
    }
}

.rejectionInput {
  margin-left: 15px;
  margin-bottom: 10px;
}

.error {
  width: auto;
  background-color: $error;
  margin-left: 15px;
  margin-right: 15px;
}

.rejErrorEdit {
  width: auto;
  background-color: $error;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}

ul { list-style-type: none; }
