@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';

.mmHeader {
  background: $mm-blue;
  width: 100%;
  @include u-padding-x(4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;

  .links {
    color: $base-lightest;
    @include u-font-size('body', 'xs');
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    > * {
      @include u-margin-right(3);
    }

    > * + * {
      @include u-margin-left(3);
    }

    > :last-child {
      @include u-margin-right(0);
    }
  }

  a,
  .signOut {
    @include u-text('bold');
    color: $link-light;
    text-decoration: none;

    &:visited {
      color: $link-light;
    }

    &:hover,
    &:focus {
      color: #b7caf0;
      @include u-text('no-underline');
    }
  }

  .signOut {
    padding: 0;
    line-height: inherit;
  }

  .verticalLine {
    margin: 0px;
    background: $base-dark;
    width: 1px;
    align-self: stretch;
  }

  :global(.usa-logo) {
    margin: 0;
    padding-top: 5px;
  }

  :global(.usa-button.usa-button--unstyled) {
    color: $link-light;
    &:hover,
    &:focus {
      color: #b7caf0;
    }
  }
}
