@import 'shared/styles/uswdsImports';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';

.mmHeader {
  background: $mm-blue;
  color: $bg-white;

  // Override USWDS
  +.usa-section,
  +main {
    border-top: none !important;
  }

  // Style header links & buttons
  a,
  :global(.usa-link),
  :global(.usa-button.usa-button--unstyled) {
    color: $link-light;

    &:visited {
      color: $link-light;
    }

    &:hover,
    &:focus {
      color: $link-light-hover;
    }
  }

  :global(.usa-nav-container) {
    // Override USWDS mobile styles, which assume the nav is collapsed in an accordion
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @include u-padding-left(1);
    @include u-padding-right(0);
    min-height: 58px;
    max-width: none;

    @include at-media(tablet) {
      @include u-padding-x(4);
      @include u-padding-right(0);
      min-height: 50px;
    }
  }

  :global(.usa-logo) {
    margin: 0;
    padding-top: 5px;
  }

  :global(.usa-navbar) {
    border: none;
    display: flex;
    align-self: stretch;
    align-items: center;
    height: auto;
  }

  .contents {
    display: flex;
    flex-grow: 1;
    align-self: stretch;
    align-items: center;
    justify-content: flex-end;

    a {
      @include u-font-size('body', '3xs');

      @include at-media(tablet) {
        @include u-font-size('body', 'xs');
      }
    }
  }

  :global(.usa-nav__primary) {
    margin: 0;
    padding: 0;
    display: flex;
    align-self: stretch;
    order: inherit;
    color: $bg-white;

    > :global(.usa-nav__primary-item) {
      border: none;
      display: flex;
      align-items: center;

      >a,
      > :global(.usa-link),
      > :global(.usa-button.usa-button--unstyled) {
        display: flex;
        align-items: center;
        align-self: stretch;
        color: #fff;
        font-weight: normal;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        @include u-padding-y(1);

        svg {
          color: #fff;
        }

        &:hover {
          svg {
            color: $link-light;
          }
        }

        @include at-media(tablet) {
          color: $link-light;
          font-weight: bold;
        }

        &:visited {
          color: $link-light;
        }

        &:hover,
        &:focus {
          color: $link-light-hover;
          background-color: transparent;
          border-bottom: 4px solid $link-light-hover;
        }
      }
    }
  }

  // Static text in a nav item that is not a link or button
  .navText {
    @include u-padding-x(2);
    @include u-font-size('body', '3xs');

    @include at-media(tablet) {
      @include u-font-size('body', 'xs');
    }
  }

  .userInfo {
    display: flex;
    align-self: stretch;

    :global(.usa-nav__primary) {
      @include u-padding-x(0);
      @include u-margin-x(0);
    }

    :global(.usa-nav__primary button),
    :global(.usa-nav__primary a:not(.usa-button)) {
      @include u-font-size('body', '3xs');
      @include u-padding-x(0);
      @include u-margin-x(0);
    }

    :global(.usa-nav__primary-item) {
      @include u-margin-left(2);
    }

    :global(.usa-nav__primary-item):last-child {
      @include u-margin-right(2);
    }

    @include at-media(tablet) {
      border-left: 1px solid $base-dark;

      :global(.usa-nav__primary-item) {
        @include u-margin-x(0);
      }

      :global(.usa-nav__primary-item):last-child {
        @include u-margin-left(2);
        @include u-margin-right(0);
      }

      :global(.usa-nav__primary a:not(.usa-button)) {
        @include u-margin-left(2);
        @include u-padding-x(2);
      }

      :global(.usa-nav__primary button) {
        @include u-font-size('body', 'xs');
        @include u-padding-x(2);
        @include u-margin-right(2);
      }
    }
  }
}
