// Mm Header styles

@import '../../shared/styles/basics';
@import '../../shared/styles/mixins';
@import '../../shared/styles/colors';

.mmHeader {
  background: $mm-blue;
  width: 100vw;
  padding: 10px;
  @include u-padding-x(4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  .links {
    display: inline-block;
    color: $base-lightest;
    @include u-font-size('body', 'xs');
    position: relative;
  }
  span {
    @include u-padding-x(3);
    &:first-child {
      @include u-padding-left(0);
    }
    &:last-child {
      @include u-padding-right(0);
    }
  }
  a {
    @include u-text('bold');
    color: $link-light;
    &:hover,
    &:focus {
      color: #b7caf0;
      @include u-text('no-underline');
    }
  }
  .lineAdd {
    padding: 0px;
    background: $base-dark;
    width: 1px;
    height: 50px;
    display: inline-block;
    position: absolute;
    top: -13px;
  }
  .signOut {
    color: $link-light;
  }

  :global(.usa-button) {
    background-color: transparent;
    display: inline-block;
    height: 0;
    padding: 0;
    margin: 0;
  }

  :global(.usa-logo) {
    margin: 0;
    padding-top: 5px;
  }
}
