@use 'styles/uswds/milmove' as milmove_uswds;

.buttonContainer {
  @include milmove_uswds.u-padding(0);
  @include milmove_uswds.u-margin-bottom(115px);
  width: 960px;
}

.buttonRow {
  @include milmove_uswds.u-display('flex');
  @include milmove_uswds.u-float('right');

  :global {
    .usa-button--unstyled {
      @include milmove_uswds.u-margin-top(1.5);
    }
  }
}

.cardContainer {
  @include milmove_uswds.u-bg('white');
  @include milmove_uswds.u-radius('05');
  @include milmove_uswds.u-border('base-lighter');
  @include milmove_uswds.u-border('1px');
  @include milmove_uswds.u-padding-top(4);
  @include milmove_uswds.u-padding-bottom(4);
  @include milmove_uswds.u-padding-right(6);
  @include milmove_uswds.u-padding-left(6);
  @include milmove_uswds.u-margin-bottom(2);
  max-width: 960px;
  width: 960px;
}

.durationPickers {
  @include milmove_uswds.u-display('flex');
  @include milmove_uswds.u-margin-top(1);
  @include milmove_uswds.u-margin-bottom(0.5);

  :global {
    .usa-label {
      @include milmove_uswds.u-margin-top(0);
    }
  }
}

.evalInfoSection {
  border-bottom: 1px solid #dcdee0;
  @include milmove_uswds.u-margin-bottom(0.5);

  :global {
    .usa-form-group {
      margin-top: 0px;
      margin-bottom: 36px;
    }
  }
}

.form {
  @include milmove_uswds.u-margin-top(0);
  max-width: 100%;

  :global {
    .usa-label {
      @include milmove_uswds.u-margin-top(0);
    }
  }
}

.hourPicker {
  @include milmove_uswds.u-width(108px);
  @include milmove_uswds.u-margin-right(1);
}

.minutePicker {
  @include milmove_uswds.u-width(108px);
  @include milmove_uswds.u-margin-left(1);
}

.radioGroup {
  max-width: 150px;
}

.textArea {
  width: 480px;
}

.showOptional{
  @include milmove_uswds.u-width(358px);
}

.title {
  h3 {
    @include milmove_uswds.u-margin-bottom(1);
    @include milmove_uswds.u-margin-top(0);
    font-size: 28px;
    line-height: 34px;
    @include milmove_uswds.u-color('base-darkest');
  }
  @include milmove_uswds.u-margin-bottom(4 !important);
}

.violationsGroup {
  @include milmove_uswds.u-padding-bottom(0.5);
  @include milmove_uswds.u-margin-top(0);
}

.violationsInfo {
  color: milmove_uswds.$base-dark;
  @include milmove_uswds.u-margin-bottom(0);
}

.backIcon {
  color: milmove_uswds.$link !important;
  width: 16px;
  height: 16px;
}

.closeModalBtn {
  font-weight: 700;
  color: milmove_uswds.$link;
  @include milmove_uswds.u-padding-left(0 !important);
}

.modalActions {
  @include milmove_uswds.u-display('flex');
  @include milmove_uswds.u-justify-content('justify');
  @include milmove_uswds.u-margin-top(4 !important);
  @include milmove_uswds.u-margin-x(0 !important);
}

.submitModalBtn {
  @include milmove_uswds.u-margin(0 !important);
}
