@use 'styles/uswds/milmove' as milmove_uswds;

:global {
  .usa-checkbox__input:disabled + .usa-checkbox__label, .usa-radio__input:disabled + .usa-radio__label {
    color: milmove_uswds.$base-darker;
  }
  .usa-checkbox__input:disabled + .usa-checkbox__label:before {
    background-color: milmove_uswds.$base-darker;
    box-shadow: 0 0 0 2px milmove_uswds.$base-dark;
  }


}
