@import 'shared/styles/_basics';
@import 'shared/styles/colors.scss';

.radioWithToolTip {
    display: flex;
    align-items: center;
    gap: 8px;
  }

.labelwithToolTip {
  display: flex;
  align-items: center;
  gap: 8px;
}

.civilianUBAllowanceWarning {
  color: #6e7377;
}