@import 'shared/styles/_basics';
@import 'shared/styles/colors.scss';

.radioWithToolTip {
    display: flex;
    align-items: center;
    gap: 8px;
  }

.labelwithToolTip {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 5px;
  font-weight: bold;
}

.toolTipText {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 5px;
  font-weight: normal !important;
}

.civilianUBAllowanceLabel {
  display: flex;
  align-items: center;
  color: #6e7377;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 13px !important;
}

.civilianUBAllowanceWarning {
  border-left: 0.25rem #ffbe2e solid !important;
  padding-left: 1rem !important;
  position: relative !important;
}