@import '../../shared/styles/basics';
@import '../../shared/styles/mixins';
@import '../../shared/styles/colors';
@import '../../shared/styles/_variables';

.fileInfo {
  @include u-padding-left(2);
  word-break: normal;
  overflow-wrap: anywhere;

  p {
    margin-top: 0;
  }
  
  .fileName {
    font-weight: 600;
  }

  .fileSizeAndTime {
    @include u-font('body', 'xs');
    color: $base;
  }

  .uploadFileSize {
    display: none;
  }

  @media (min-width: $tablet) {
    .uploadFileSize {
      display: inline;
      @include u-margin-right(2);
    }
  }
}



