@import 'styles/uswds_for_module';

.evaluationReportModal {
  min-width: 1200px !important;
  overflow-y: auto;
  max-height: 90vh;
  @include u-padding(4 !important);
  @include u-margin-bottom(4 !important);
}

.titleSection {
  @include u-margin-top(4);
  @include u-margin-right(0);
}
