@import '../../shared/styles/basics';
@import '../../shared/styles/mixins';
@import '../../shared/styles/colors';

.dataPoint {
  .table--small {
    th {
      @include u-padding-x(1);
    }
  }

  td {
    @include u-padding-x(1);
  }

  .iconCellContainer {
    display: flex;
    align-items: center;
  }

  span:first-child {
    flex: 1 1 auto;
  }

  svg {
    @include u-margin-right(2);
    flex-shrink: 0;
    fill: #000000;
    width: 15px;
    height: 15px;
  }
}
