@use 'styles/uswds/milmove' as milmove_uswds;

.shipmentHeading {
  .shipmentHeadingType {
    @include milmove_uswds.u-display(flex);
    @include milmove_uswds.u-padding-top(2);
    @include milmove_uswds.u-margin-bottom(1);
    align-items: center;

    h2 {
      @include milmove_uswds.u-margin-y(0);
    }

    :global(.usa-tag) {
      @include milmove_uswds.u-font-size('body', 3xs);
      @include milmove_uswds.u-margin-left(1);
      background-color: milmove_uswds.$info-light;
    }

    :global(.usa-tag--red) {
      @include milmove_uswds.u-font-size('body', 3xs);
      @include milmove_uswds.u-margin-left(1);
      background-color: milmove_uswds.$error-light;
    }
  }

  small {
    @include milmove_uswds.u-text('base-light');
  }

  .row {
    display: flex;
    justify-content: space-between;

    button {
      color: milmove_uswds.$link;
      padding: 2px 8px;
      font-size: 13px;
    }

    span {
      background-color: milmove_uswds.$base-dark;
      text-transform: uppercase;
      border-radius: 2px;
      color: #ffffff;
    }
  }
}
