@import 'shared/styles/basics';
@import 'shared/styles/mixins';
@import 'shared/styles/colors';

.shipmentHeading {
  .shipmentHeadingType {
    @include u-display(flex);
    @include u-padding-top(2);
    @include u-margin-bottom(1);
    align-items: center;

    :global(.usa-tag) {
      @include u-font-size('body', 3xs);
      @include u-margin-left(1);
      background-color: $info-light;
    }

    :global(.usa-tag--red) {
      @include u-font-size('body', 3xs);
      @include u-margin-left(1);
      background-color: $error-light;
    }

    h2 {
      @include u-margin-y(0);
      @include u-margin-bottom(0);
    }
  }

  h4 {
    @include u-text('gray-50', 'normal');
    @include u-margin-top(0);
    @include u-margin-bottom(1);
  }

  small {
    @include u-text('base-light');
  }

  .row {
    display: flex;
    justify-content: space-between;

    button {
      color: $link;
      padding: 2px 8px;
      font-size: 13px;
    }

    span {
      background-color: $base-dark;
      text-transform: uppercase;
      border-radius: 2px;
      color: #ffffff;
    }
  }

  .marketCodeIndicator {
    font-weight: 100;
    font-size: 20px;
    margin-right: 2px;
  }
}
