@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';
@import 'shared/styles/_custom';

.sectionHeader {
  margin-bottom: 0 !important;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  .optional {
    font-size: 13px;
    line-height: 1.3;
    color: $base;
    font-weight: normal;
    float: right;
  }
}
