@use 'styles/uswds/milmove' as milmove_uswds;

.formSectionHeader {
  .sectionHeader {
    margin-bottom: 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    .optional {
      font-size: 13px;
      color: milmove_uswds.$base;
      font-weight: normal;
    }
  }
}
