@use 'styles/uswds/milmove' as milmove_uswds;

.customerSupportRemarkTextClamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.customerSupportRemarkText {
  @include milmove_uswds.u-margin-bottom(0.5);
  @include milmove_uswds.u-margin-top(0);
  overflow-wrap: anywhere;
}

.customerSupportRemarkNameTimestamp {
  color: milmove_uswds.$base-dark;
  @include milmove_uswds.u-margin-bottom(1);
  @include milmove_uswds.u-margin-top(0);
}

.seeMoreOrLessButton {
  @include milmove_uswds.u-padding(0);
}

.seeMoreOrLessButton:focus {
  outline: none !important;
}

.customerSupportRemarkWrapper {
  @include milmove_uswds.u-margin-bottom(3);
}

.remarkForm {
  max-width: 100%;
}

.row {
  display: flex;
  margin-left: auto;
  @include milmove_uswds.u-padding(0);
}

.editDeleteButtons {
  @include milmove_uswds.u-margin(0);
  @include milmove_uswds.u-padding(1);
}

.editDeleteButtons:focus {
  outline: none !important;
}

.editTextArea {
  resize: vertical;
}

.buttonDivider {
  padding-top: 6px;
}
