@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';

.customerSupportRemarkTextClamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.customerSupportRemarkText {
  @include u-margin-bottom(0.5);
  @include u-margin-top(0);
}

.customerSupportRemarkNameTimestamp {
  color: $base-dark;
  @include u-margin-bottom(1);
  @include u-margin-top(0);
}

.seeMoreOrLessButton {
  @include u-padding(0);
}

.seeMoreOrLessButton:focus {
  outline: none !important;
}

.customerSupportRemarkWrapper {
  @include u-margin-bottom(3);
}

.remarkForm {
  max-width: 100%;
}

.row {
  display: flex;
  margin-left: auto;
}

.editDeleteButtons {
  @include u-margin(0);
  @include u-padding(1);
}

.editDeleteButtons:focus {
  outline: none !important;
}

.editTextArea {
  resize: vertical;
}
