@use 'styles/uswds/milmove' as milmove_uswds;

.hasSuffix {
  display: inline-block;
  position: relative;
  margin-top: 0.53rem;

  div {
    position: absolute;
    right: 10px;
    bottom: 11px;
    font-size: 0.8rem;
    color: milmove_uswds.$base;
  }
}

.hasPrefix {
  display: inline-block;
  position: relative;

  div {
    position: absolute;
    left: 10px;
    bottom: 9px;
    color: milmove_uswds.$base-darkest;
  }
  input {
    padding-left: 25px;
  }
}

input:disabled {
  background-color: milmove_uswds.$border-color;
}

.description {
  font-size: 13px;
  color: milmove_uswds.$base;
  font-weight: normal;
  margin-top: 0.53rem;
}

:global(.usa-form-group) :global(.labelWrapper).hasDescription {
  display: block;
}
