@import 'shared/styles/_basics';

.weightHeader {
  display: flex;
  justify-content: space-evenly;
  @include u-margin-bottom(3);
  > div {
    flex: 1 1 0px;
  }
}

.weightDisplay {
  flex: 1 1 0px;
}

.financialReviewContainer {
  @include u-margin-top(1);
  :global(.usa-button) {
    padding-right: 0;
  }
}
