@import 'shared/styles/_basics';

.weightHeader {
  display: flex;
  justify-content: space-evenly;
  scroll-margin: 200px;
  @include u-margin-bottom(3);
  > div {
    flex: 1 1 0px;
  }
}

.weightDisplay {
  flex: 1 1 0px;
}

.secondRow {
  display: flex;
  justify-content: space-evenly;
  @include u-margin-bottom(3);
  > div {
    flex: 1 1 0px;
    padding: 1.6rem;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #dcdee0;
    margin-left: 16.4rem;
  }
}

.childHeader {
  @include u-font-size('base', 2);
  @include u-text('uppercase');
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.value {
  @include u-font-size('base', 11);
  @include u-text('bold');
  @include u-text('lowercase');
}

.subValue {
  @include u-font-size('base', 6);
  @include u-text('bold');
  @include u-text('lowercase');
}

:global(.usa-button.usa-button--unstyled).toggleCalculations {
  @include u-padding-x(2);
  @include u-margin-bottom(1);
  @include u-font-size(body, '3xs');
}

.financialReviewContainer {
  @include u-margin-top(1);
  :global(.usa-button) {
    padding-right: 0;
  }
}
