@import 'shared/styles/_basics';
@import 'shared/styles/_variables';
@import 'shared/styles/colors';

.PPMReview {
  .aboutContainer {
    @include u-display(flex);

    dl {
      @include u-flex(1);
    }

    .editContainer {
      @include u-margin-top(2);
      @include u-flex(auto);
    }

    .hiddenTerm {
      @include u-display(none);
    }

    dt, dd {
      @include u-display(inline);
    }

    dd {
      @include u-margin-left(0);
    }
  }

  .reviewItems:first-of-type {
    @include u-margin-top(2);
  }

  .reviewItems {
    @include u-margin-top(3);
  }

  :global(.usa-button.usa-button--secondary) {
    &:visited {
      color: $primary;
    }

    &:hover {
      color: $primary-dark;
    }
  }

  :global(.usa-button--disabled) {
    pointer-events: none;
    background-color: $disabled;
  }
}
