.station-description {
  list-style-type: none;
  padding-left: 20px;
}

.station-description li {
  margin-left: 0;
}

.station-description li:first-child {
  font-weight: bold;
}

div#react-select-2-listbox{
  height: 100%;
  max-height: 300px;
}
