openapi: 3.0.0

info:
  title: Move Task Orders API
  description: API that facilitates GHC move task orders
  version: 0.1.9

servers:
  - url: http://api.move-orders.com/v1
    description: Production server
  - url: http://staging-api.move-orders.com/v1
    description: Staging server
  - url: http://experimental-api.move-orders.com/v1
    description: Experimental server

  /move-orders:
    post:
      summary: Creates a move order
      description: Creates a move order
      operationId: createMoveOrder
      tags:
        - moveOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveOrder'
      responses:
        '201':
          description: Successfully created move task order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveOrder'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      summary: Gets all move orders
      description: Gets all move orders
      operationId: getMoveOrderIndex
      tags:
        - moveOrder
      responses:
        '200':
          description: Successfully retrieved all move task orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveOrders'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
  /move-orders/{id}:
    get:
      summary: Gets a move order by ID
      description: Gets a move order
      operationId: getMoveOrder
      tags:
        - moveOrder
      responses:
        '200':
          description: Successfully retrieved move task order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveOrder'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Updates a move order by ID
      description: Updates a move order by ID
      operationId: updateMoveOrder
      tags:
        - moveOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveOrder'
      responses:
        '200':
          description: Successfully retrieved move task order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveOrder'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Deletes a move order by ID
      description: Deletes a move order by ID
      operationId: deleteMoveOrder
      tags:
        - moveOrder
      responses:
        '200':
          description: Successfully deleted move task order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveOrder'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
    parameters:
      - name: id
        in: path
        description: ID of move order to use
        required: true
        schema:
          type: string
  /move-orders/{id}/status:
    patch:
      summary: Change the status of a move order
      description: Changes move order status
      operationId: updateMoveOrderStatus
      tags:
        - moveOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveOrderStatus'
      responses:
        '200':
          description: Successfully updated move task order status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveOrder'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
    parameters:
      - name: id
        in: path
        description: ID of move order to use
        required: true
        schema:
          type: string
  /move-orders/{id}/line-items:
    post:
      summary: Creates a line item for a move order by ID
      description: Creates a line item for a move order by ID
      operationId: createLineItem
      tags:
        - lineItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LineItem'
      responses:
        '201':
          description: Successfully created line item for move task order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineItem'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      summary: Gets all line items for a move order
      description: Gets all line items for a move orders
      operationId: getLineItemsIndex
      tags:
        - lineItem
      responses:
        '200':
          description: Successfully retrieved all line items for a move task order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineItems'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
    parameters:
      - name: id
        in: path
        description: ID of move order for line item to use
        required: true
        schema:
          type: string
  /move-orders/{moveOrderId}/line-items/{lineItemId}:
    get:
      summary: Gets a line item by ID for a move order by ID
      description: Gets a line item by ID for a move order by ID
      operationId: getLineItemIndex
      tags:
        - lineItem
      responses:
        '200':
          description: Successfully retrieved a line item for a move task order by ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineItem'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Updates a line item by ID for a move order by ID
      description: Updates a line item by ID for a move order by ID
      operationId: updateLineItem
      tags:
        - lineItem
      responses:
        '200':
          description: Successfully updated move task order status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveOrder'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Deletes a line item by ID for a move order by ID
      description: Delets a line item by ID for a move order by ID
      operationId: deleteLineItem
      tags:
        - lineItem
      responses:
        '200':
          description: Successfully deleted move task order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveOrder'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
    parameters:
      - name: moveOrderId
        in: path
        description: ID of move order to use
        required: true
        schema:
          type: string
      - name: lineItemId
        in: path
        description: ID of line item to use
        required: true
        schema:
          type: string
  /move-orders/{moveOrderId}/line-items/{lineItemId}/status:
    patch:
      summary: Change the status of a line item for a move order by ID
      description: Changes the status of a line item for a move order by ID
      operationId: updateLineItemStatus
      tags:
        - lineItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LineItemStatus'
      responses:
        '200':
          description: Successfully updated status for a line item for a move task order by ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineItem'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
    parameters:
      - name: moveOrderId
        in: path
        description: ID of move order to use
        required: true
        schema:
          type: string
      - name: lineItemId
        in: path
        description: ID of line item to use
        required: true
        schema:
          type: string
components:
  schemas:
    MoveOrder:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 1f2270c7-7166-40ae-981e-b200ebdf3054
        payment_method:
          type: string
        status:
          type: string
          enum:
            - APPROVED
            - REJECTED
            - SUBMITTED
        move_date:
          type: string
          format: date
        origin_duty_station:
          type: string
          format: uuid
          example: 1f2270c7-7166-40ae-981e-b200ebdf3054
        origin_ppso:
          type: string
          format: uuid
          example: 1f2270c7-7166-40ae-981e-b200ebdf3054
        destination_duty_station:
          type: string
          format: uuid
          example: 1f2270c7-7166-40ae-981e-b200ebdf3054
        destination_ppso:
          type: string
          format: uuid
          example: 1f2270c7-7166-40ae-981e-b200ebdf3054
        orders_type:
          type: string
          enum:
            - PERMANENT_CHANGE_OF_STATION
        travel_authorization_name:
          type: string
        travel_authorization_date:
          type: string
          format: date
        travel_authorization_issuing_hq:
          type: string
          format: uuid
          example: 1f2270c7-7166-40ae-981e-b200ebdf3054
        line_of_accounting:
          type: string
        tac:
          type: string
        electronic_copy_of_orders:
          type: string
          format: uuid
          example: 1f2270c7-7166-40ae-981e-b200ebdf3054
        created_at:
          type: string
          format: date
        updated_at:
          type: string
          format: date
        deleted_at:
          type: string
          format: date
    MoveOrders:
      type: array
      items:
        $ref: '#/components/schemas/MoveOrder'
    MoveOrderStatus:
      type: object
      properties:
        status:
          type: string
          enum:
            - APPROVED
            - SUBMITTED
            - REJECTED
    LineItems:
      type: array
      items:
        $ref: '#/components/schemas/LineItem'
    LineItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 1f2270c7-7166-40ae-981e-b200ebdf3054
        move_order_id:
          type: string
          format: uuid
          example: 1f2270c7-7166-40ae-981e-b200ebdf3054
        status:
          type: string
          enum:
            - APPROVED
            - SUBMITTED
            - REJECTED
        fee_type:
          type: string
          enum:
            - COUNSELING
            - CRATING
            - TRUCKING
            - SHUTTLE
        total:
          type: integer
          format: cents
        quantity:
          type: integer
        rate:
          type: integer
        description:
          type: string
        submitted_at:
          type: string
          format: date
        approved_at:
          type: string
          format: date
        rejected_at:
          type: string
          format: date
        created_at:
          type: string
          format: date
        updated_at:
          type: string
          format: date
        deleted_at:
          type: string
          format: date
    LineItemStatus:
      type: object
      properties:
        status:
          type: string
          enum:
            - APPROVED
            - SUBMITTED
            - REJECTED
    Error:
      type: object
      properties:
        message:
          type: string
      required:
        - message
  responses:
    InvalidRequest:
      description: The request payload is invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    PermissionDenied:
      description: The request was denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource wasn't found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
