@use 'styles/uswds/milmove' as milmove_uswds;

.content {
  @include milmove_uswds.u-margin(0);
  @include milmove_uswds.u-padding(2);
  background-color: milmove_uswds.$bg-gray;
  color: milmove_uswds.$base-darkest;
  border: 1px solid milmove_uswds.$base-lighter;
  @include milmove_uswds.u-radius('05');

  p {
    @include milmove_uswds.u-margin-top(0);
    @include milmove_uswds.u-margin-bottom(1);
  }
  p:last-child {
    @include milmove_uswds.u-margin-bottom(0);
  }
}
