@import '../../../shared/styles/basics';
@import '../../../shared/styles/mixins';
@import '../../../shared/styles/colors';

.ReviewDetailsCard {
  @include u-bg('white');
  @include u-padding(2);
  @include u-radius('05');
  @include u-border('base-light');
  @include u-border('1px');

  dl {
    @include u-display('flex');
    @include u-flex('wrap');
  }

  dt,
  dd {
    @include u-border-y('1px');
    @include u-border-color('gray-10');
    @include u-padding(1);
  }

  dt:first-of-type,
  dd:first-of-type {
    @include u-border-bottom(0);
  }

  dt:last-of-type,
  dd:last-of-type {
    @include u-border-y(0);
  }

  dt {
    width: 33%;
    color: $base-darker;
    @include u-font-size('base', 4);
    @include u-font-weight('bold');
  }

  dd {
    width: 66%;
    margin-left: 0;

    @include u-text-align('right');
    @include u-font-size('base', 4);
  }

  .cardHeader {
    @include u-margin-top(0);
    @include u-margin-bottom(2);
  }
}
