@use 'styles/uswds/milmove' as milmove_uswds;

.ReviewAccountingCodes {
  @include milmove_uswds.u-margin-bottom(3);
}

.Shipment {
  @include milmove_uswds.u-margin-bottom(1);
  @include milmove_uswds.u-padding-y(1.5);
  @include milmove_uswds.u-padding-x(1);
  border: solid 1px milmove_uswds.$base-lighter;
  border-left: solid 5px milmove_uswds.$base-lighter;
  border-radius: 4px;
  line-height: 18px;
}

.Shipment_HHG {
  border-left-color: milmove_uswds.$accent-hhg;
}

.Shipment_PPM {
  border-left-color: milmove_uswds.$accent-ppm;
}

.Shipment_NTS {
  border-left-color: milmove_uswds.$accent-nts;
}

.Shipment_NTS-release {
  border-left-color: milmove_uswds.$accent-ntsr;
}

.ShipmentType {
  font-weight: bold;
}

.ShipmentAmount {
  float: right;
}
