@import '../../../shared/styles/basics';
@import '../../../shared/styles/mixins';
@import '../../../shared/styles/colors';

.ReviewServiceItems {
  @include u-height('full');
  display: flex;
  flex-direction: column;

  box-shadow: -4px 0px 8px 0px rgba(0, 0, 0, 0.1);

  .top button[type='button'] {
    float: right;
    // on mobile the button becomes flexed so must override centering
    justify-content: flex-end;
    @include u-padding(0);
    svg {
      @include u-width(2);
      @include u-height(2);
      path {
        fill: $primary;
      }
    }
  }

  .eyebrowTitle {
    @include u-text('gray-40');
    @include u-font-size('body', '3xs');
    @include u-padding-top(1);
  }

  .header {
    @include u-margin-top('1');
    @include u-margin-bottom('0');
  }

  .top {
    @include u-padding(3);
    @include u-padding-left(4);
    @include u-bg('white');
    @include u-border-bottom('2px');
    @include u-border-bottom('gray-10');
    @include u-height('auto');
  }

  .body {
    @include u-padding-y('3');
    @include u-padding-x('4');
    @include u-bg('gray-5');
    @include u-overflow-y('auto');
    flex-grow: 1;
  }

  .bottom {
    @include u-padding('4');
    @include u-bg('white');

    @include u-border-top('2px');
    @include u-border-top('gray-10');
    @include u-position('relative');
  }
}
