@import '../../../shared/styles/basics';
@import '../../../shared/styles/mixins';
@import '../../../shared/styles/colors';

.ShipmentCard {
  .heading {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    @include u-text('base-darkest');
    @include u-margin(0);
    @include u-border-bottom('1px');
    @include u-border-bottom('base-lighter');
    @include u-padding(2);

    :global(.usa-tag) {
      @include u-font-size('body', 3xs);
      background-color: $info-light;
      &.ppmStatus {
        @include u-font-size('body', 'sm');
        @include u-margin-left(1);
        background-color: $base-lightest;
      }
    }

    :global(.usa-tag--red) {
      @include u-font-size('body', 3xs);
      background-color: $error-light;
    }

    .headingTagWrapper {
      display: flex;
      align-items: center;
      flex-grow: 1;
    }

    :global(.usa-checkbox__label) {
      @include u-margin-top(neg-2);
      @include u-margin-bottom(1);
      @include u-margin-right(neg-1);
    }

    :global(.usa-checkbox) + h3 {
      @include u-margin-left(1);
    }

    svg + h3 {
      @include u-margin-left(2);
    }
    .approved {
      color: $success;
      width: 24px;
      height: 24px;
      @include u-margin-top(neg-2);
    }
  }

  .container {
    @include u-padding-left(0);
    @include u-padding-right(0);
    @include u-padding-bottom(2);
  }

  .shipmentDisplayInfo {
    @include u-margin-x(6);
    @include u-margin-y(0);
  }

  .noIcon .shipmentDisplayInfo {
    @include u-margin-x(3);
    @include u-padding-y(1.5);
  }

  .editButton {
    @include u-margin-x(3);
    @include u-margin-y(3);
  }
  .marketCodeIndicator {
    font-weight: 100;
    font-size: 16px;
    margin-right: 2px;
  }
}

.storyBookWrap {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  @include u-margin-x(2);

  h3 {
    font-weight: 700;
    @include u-font-size('body', 'md');
  }

  .shipmentTypeHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  h5 {
    font-weight: normal;
    @include u-text('gray-cool-50', 'normal');
  }

  .shipmentLocator {
    margin-top: 1px;
  }
}

.headerContainer .shipmentTypeHeader h3,
.headerContainer .shipmentLocator h5 {
  margin: 0;
  padding: 0;
}