@use 'styles/uswds/milmove' as milmove_uswds;

.ShipmentCard {
  .heading {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    @include milmove_uswds.u-text('base-darkest');
    @include milmove_uswds.u-margin(0);
    @include milmove_uswds.u-border-bottom('1px');
    @include milmove_uswds.u-border-bottom('base-lighter');
    @include milmove_uswds.u-padding(2);

    h3 {
      display: inline;
      font-weight: normal;
      @include milmove_uswds.u-margin(0);
      @include milmove_uswds.u-margin-x(1);
    }

    .serviceCounselingShipments {
      h3 {
        font-weight: 700;
        @include milmove_uswds.u-font-size('body', 'md');
      }
    }

    :global(.usa-tag) {
      @include milmove_uswds.u-font-size('body', 3xs);
      background-color: milmove_uswds.$info-light;
      &.ppmStatus {
        @include milmove_uswds.u-font-size('body', 'sm');
        @include milmove_uswds.u-margin-left(1);
        background-color: milmove_uswds.$base-lightest;
      }
    }

    :global(.usa-tag--red) {
      @include milmove_uswds.u-font-size('body', 3xs);
      background-color: milmove_uswds.$error-light;
    }

    .headingTagWrapper {
      display: flex;
      align-items: center;
      flex-grow: 1;
    }

    :global(.usa-checkbox__label) {
      @include milmove_uswds.u-margin(0);
    }

    :global(.usa-checkbox) + h3 {
      @include milmove_uswds.u-margin-left(1);
    }

    svg + h3 {
      @include milmove_uswds.u-margin-left(2);
    }
    .approved {
      color: milmove_uswds.$success;
      width: 24px;
      height: 24px;
    }
  }

  .container {
    @include milmove_uswds.u-padding-left(0);
    @include milmove_uswds.u-padding-right(0);
    @include milmove_uswds.u-padding-bottom(2);
  }

  .shipmentDisplayInfo {
    @include milmove_uswds.u-margin-x(6);
    @include milmove_uswds.u-margin-y(0);
  }

  .noIcon .shipmentDisplayInfo {
    @include milmove_uswds.u-margin-x(3);
    @include milmove_uswds.u-padding-y(1.5);
  }

  .editButton {
    @include milmove_uswds.u-margin-x(3);
    @include milmove_uswds.u-margin-y(3);
  }
}

.storyBookWrap {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
