@import '../../../shared/styles/basics';
@import '../../../shared/styles/mixins';
@import '../../../shared/styles/colors';

.ShipmentCard {
  .heading {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    @include u-text('base-darkest');
    @include u-margin(0);
    @include u-border-bottom('1px');
    @include u-border-bottom('base-lighter');
    @include u-padding(2);

    h3 {
      font-weight: normal;
      @include u-margin(0);
      flex-grow: 1;
    }

    :global(.usa-checkbox__label) {
      @include u-margin(0);
    }

    :global(.usa-checkbox) + h3 {
      @include u-margin-left(1);
    }

    svg + h3 {
      @include u-margin-left(2);
    }
    .approved {
      color: $success;
      width:24px;
      height: 24px;
    }
  }

  .container {
    @include u-padding-left(0);
    @include u-padding-right(0);
    @include u-padding-bottom(2);
  }

  dl {
    @include u-margin-x(6);
    @include u-margin-y(0);
  }

  dt {
    display: table-cell;
    @include u-text('bold');
    @include u-text('base-darker');
  }

  dd {
    display: table-cell;
    @include u-margin(0);
  }

  .row {
    display: table-row;
    @include u-font('body', 'xs');
    @include u-line-height('body', 2);

    dt,
    dd {
      @include u-padding-x(1);
      @include u-padding-y(1.5);
    }

    &:not(:last-child) {
      dt,
      dd {
        @include u-border-bottom('1px');
        @include u-border-bottom('base-lighter');
      }
    }
  }
}
