@import '../../../shared/styles/basics';

.hint {
  margin-top: 1em;
  @media (max-width: 840px) {
    margin-bottom: 1.5em;
  }
  flex-grow: 1;
}

.hintError {
  margin-top: 1em;
  @media (max-width: 840px) {
    margin-bottom: 1.5em;
  }
  flex-grow: 1;
  color: red;
}

.container {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 840px) {
    display: block;
  }
}

.column {
  width: 50%;
  padding: 1rem;

  @media (max-width: 840px) {
    width: 100%;
  }
}