@import 'shared/styles/_basics';

.FinalCloseoutForm {
  h2 {
    @include u-margin-top(3);
    @include u-margin-bottom(2);
  }

  @include at-media(mobile-lg) {
    h2 {
      @include u-margin-top(4);
      @include u-margin-bottom(3);
    }
  }

  p.listDescription {
    @include u-margin-y(0);
  }

  p + dl, p + ul, h3 + ul {
    @include u-margin-y(0);
  }

  .incentiveFactors {
    .definitionWrapper {
      display: list-item;
      list-style: disc inside;
      @include u-font-size('body', 'xs');
    }

    dt, dd {
      display: inline;
    }

    dt {
      font-weight: bold;
    }

    dt::after {
      content: ': ';
    }

    dd {
      @include u-margin-left(0);
    }
  }

  .shipmentTotals {
    h3 {
      @include u-margin-top(3);
      @include u-margin-bottom(0);
    }

    ul {
      list-style-position: inside;
      @include u-margin-left(0);
      @include u-padding-left(0);
      @include u-text('bold');
      @include u-font-size('body', 'md');
    }

    @include at-media(mobile-lg) {
      ul {
        @include u-font-size('body', 'lg');
      }
    }
  }

  .finalPaymentFactors {
    @include u-font-size('body', 'xs');

    ul {
      list-style-position: inside;
      @include u-padding-left(0);
    }
  }
}
