@use 'styles/uswds/milmove' as milmove_uswds;

.FinalCloseoutForm {
  h2 {
    @include milmove_uswds.u-margin-top(3);
    @include milmove_uswds.u-margin-bottom(2);
  }

  @include milmove_uswds.at-media(mobile-lg) {
    h2 {
      @include milmove_uswds.u-margin-top(4);
      @include milmove_uswds.u-margin-bottom(3);
    }
  }

  p.listDescription {
    @include milmove_uswds.u-margin-y(0);
  }

  p + dl,
  p + ul,
  h3 + ul {
    @include milmove_uswds.u-margin-y(0);
  }

  .incentiveFactors {
    .definitionWrapper {
      display: list-item;
      list-style: disc inside;
      @include milmove_uswds.u-font-size('body', 'xs');
    }

    dt,
    dd {
      display: inline;
    }

    dt {
      font-weight: bold;
    }

    dt::after {
      content: ': ';
    }

    dd {
      @include milmove_uswds.u-margin-left(0);
    }
  }

  .shipmentTotals {
    h3 {
      @include milmove_uswds.u-margin-top(3);
      @include milmove_uswds.u-margin-bottom(0);
    }

    ul {
      list-style-position: inside;
      @include milmove_uswds.u-margin-left(0);
      @include milmove_uswds.u-padding-left(0);
      @include milmove_uswds.u-text('bold');
      @include milmove_uswds.u-font-size('body', 'md');
    }

    @include milmove_uswds.at-media(mobile-lg) {
      ul {
        @include milmove_uswds.u-font-size('body', 'lg');
      }
    }
  }

  .finalPaymentFactors {
    @include milmove_uswds.u-font-size('body', 'xs');

    ul {
      list-style-position: inside;
      @include milmove_uswds.u-padding-left(0);
    }
  }

  /*
   * Note: This is functionally re-implementing part of the <Grid> component from react-uswds
   * because Storybook (and only Storybook) was experiencing a very strange bug where the non-@media
   * "[grid-row=*]" selector was being added into the compiled CSS multiple times and resolved in an
   * incorrect order. I tried to debug this for four days and couldn't resolve it.
   */

  .signatureField {
    width: 100%;
  }

  .dateField {
    width: 100%;
  }

  @include milmove_uswds.at-media(tablet) {
    .signatureField {
      display: inline-block;
      width: calc((100% / 12) * 6);
    }

    .dateField {
      display: inline-block;
      width: calc((100% / 12) * 4);
      margin-left: calc((100% / 12) * 1);
    }
  }
}
