@import 'shared/styles/_basics';

.FinalCloseoutForm {
  h2 {
    @include u-margin-top(3);
    @include u-margin-bottom(2);
  }

  @include at-media(mobile-lg) {
    h2 {
      @include u-margin-top(4);
      @include u-margin-bottom(3);
    }
  }

  p.listDescription {
    @include u-margin-y(0);
  }

  p + dl, p + ul, h3 + ul {
    @include u-margin-y(0);
  }

  .incentiveFactors {
    .definitionWrapper {
      display: list-item;
      list-style: disc inside;
      @include u-font-size('body', 'xs');
    }

    dt, dd {
      display: inline;
    }

    dt {
      font-weight: bold;
    }

    dt::after {
      content: ': ';
    }

    dd {
      @include u-margin-left(0);
    }
  }

  .shipmentTotals {
    h3 {
      @include u-margin-top(3);
      @include u-margin-bottom(0);
    }

    ul {
      list-style-position: inside;
      @include u-margin-left(0);
      @include u-padding-left(0);
      @include u-text('bold');
      @include u-font-size('body', 'md');
    }

      @include at-media(mobile-lg) {
      ul {
        @include u-font-size('body', 'lg');
      }
    }
  }

  .finalPaymentFactors {
    @include u-font-size('body', 'xs');

    ul {
      list-style-position: inside;
      @include u-padding-left(0);
    }
  }
}

.W2AddressForm {
  p {
    @include u-margin-bottom(0);
    @include u-margin-top(0);
  }

  .AddressFieldSet {
      @include u-margin-top(0);
      border-bottom: none;

      :global(.usa-form-group:first-of-type .usa-label) {
        @include u-margin-top(0);
      }

      :global(.usa-input) {
        width: 100%;
      }

      :global(.grid-row.grid-gap) {
          div:nth-child(1), div:nth-child(2) {
            @include at-media('desktop'){
              width: 50%;
            }
            :global(.usa-form-group) {
              width: 100%;
            }
          }
      }
  }

}

.signatureBox {
  :global(.usa-input#signature) {
    width: 100%;
  }

  :global(.usa-input#date) {
    width: 100%;
  }

p {
  @include u-margin-bottom(3);

  &:last-of-type {
    @include u-margin-bottom(0)
  }
}

  :global(.usa-form-group--error) {
    @include u-margin-left(0);
  }

  :global(.usa-fieldset) {
    @include u-margin-top(0)
  }
}


