@import 'shared/styles/uswdsImports';
@import 'shared/styles/colors.scss';

.EditOrdersForm {
  .calloutLabel {
    @include u-margin-top(5);
    @include u-margin-bottom(1);
    font-size: 17px;
    line-height: 20px;
    color: $base-darkest;
  }
}
