@import 'shared/styles/colors';
@import 'shared/styles/_basics';

.Helper {
  border: 1px solid $base-lighter;
  border-radius: 5px;
  background-color: $bg-blue-warm-10;

  @include u-padding-y(2);
  @include u-padding-x(1);
  @include u-margin-bottom(4);

  ul {
    @include u-margin(0);
    @include u-padding-left(2.5);

    li {
      font-size: 15px;
    }

    li + li {
      @include u-margin-top(1);
    }
  }
}

.header {
  @include u-margin(0);
  font-weight: normal;
  font-size: 21px;
}

.header + ul {
  @include u-margin-top(1.5);
}
