@use 'styles/uswds/milmove' as milmove_uswds;

.closing-section {
  ul {
    @include milmove_uswds.u-padding-left(2.5);
    @include milmove_uswds.u-margin-top(0);
    @include milmove_uswds.u-font-size('body', 'xs');
  }

  p:last-of-type {
    @include milmove_uswds.u-margin-bottom(0);
  }
}

.about-ppm {
  ul {
    @include milmove_uswds.u-margin-bottom(0);
  }

  p:nth-of-type(1){
    @include milmove_uswds.u-margin-bottom(0);
    @include milmove_uswds.u-font-weight(bold);
  }

  h2 {
    @include milmove_uswds.u-margin-top(3);
    @include milmove_uswds.u-margin-bottom(3);

    @include milmove_uswds.at-media('tablet') {
      @include milmove_uswds.u-margin-top(4);
      @include milmove_uswds.u-margin-bottom(4);
    }
  }

  p:nth-of-type(2), p:nth-of-type(3) {
    @include milmove_uswds.u-margin-top(0);
    @include milmove_uswds.u-margin-bottom(0);
  }

  p:last-of-type {
    @include milmove_uswds.u-margin-top(4);
    @include milmove_uswds.u-margin-bottom(4);
  }
}
