@import 'shared/styles/_basics';
@import 'shared/styles/_variables';
@import 'shared/styles/colors';

.closing-section {
  ul {
    @include u-padding-left(2.5);
    margin-top: 0;
    font-size: 1rem;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}
