@use 'styles/uswds/milmove' as milmove_uswds;

.pageHeader {
  @include milmove_uswds.u-margin-y(4);
  display: flex;
  justify-content: space-between;

  h1 {
    @include milmove_uswds.u-margin(0);
  }
  h6 {
    margin: 0;
    line-height: 1.25;
  }
  h6 + h6 {
    @include milmove_uswds.u-margin-top(1);
  }
}

.pageHeaderDetails {
  color: milmove_uswds.$base;
  text-align: right;
}

.sideBySideDetails {
  display: flex;
  justify-content: space-between;
}

.detailsRight {
  @include milmove_uswds.u-margin-bottom(3);
}

.detailsLeft {
  @include milmove_uswds.u-margin-right(2);
  @include milmove_uswds.u-margin-bottom(3);
}

.section {
  @include milmove_uswds.u-margin-top(2);
  @include milmove_uswds.u-padding(5);
  @include milmove_uswds.u-radius('05');
  @include milmove_uswds.u-border('base-lighter');
  @include milmove_uswds.u-border('1px');
  h2 {
    @include milmove_uswds.u-margin(0);
  }
  h3 {
    @include milmove_uswds.u-margin-top(1);
  }
  dl {
    @include milmove_uswds.u-margin(0);
  }
}

.shipmentDisplayContainer {
  @include milmove_uswds.u-margin-top(2);
}

.qaeRemarks {
  width: 711px;
}

.label {
  width: 200px !important;
  @include milmove_uswds.u-padding-x(1 !important);
  @include milmove_uswds.u-padding-y(1.5 !important);
}

.qaeAndCustomerInfo {
  @include milmove_uswds.u-margin-left(4);
  @include milmove_uswds.u-margin-top(6);
}
