@import 'shared/styles/_basics';
@import 'shared/styles/colors';

.evaluationReportPreview {
  @include u-border-top('base-lighter');
}

.pageHeader {
  @include u-margin-y(4);
  display: flex;
  justify-content: space-between;

  h1 {
    @include u-margin(0);
  }
  h6 {
    margin: 0;
    line-height: 1.25;
  }
  h6 + h6 {
    @include u-margin-top(1);
  }
}

.pageHeaderDetails {
  color: $base;
  text-align: right;
}

.sideBySideDetails {
  display: flex;
  justify-content: space-between;
}

.detailsRight {
  @include u-margin-left(2);
  @include u-margin-bottom(3);
}

.detailsLeft {
  @include u-margin-right(2);
  @include u-margin-bottom(3);
}

.counselingDetails {
  @include u-margin-bottom(3);
}

.section {
  @include u-margin-top(2);
  @include u-padding(4);
  @include u-radius('05');
  @include u-border('base-lighter');
  @include u-border('1px');
  h2 {
    @include u-margin(0);
  }
  h3 {
    @include u-margin-top(1);
  }
}

.shipmentDisplayContainer {
  @include u-margin-top(2);
}

.qaeRemarks {
  width: 75%;
}

.qaeRemarksLabel {
  width: 25%;
}

.qaeAndCustomerInfo {
  @include u-margin-left(4);
  @include u-margin-top(6);
}
