.sb-show-main {
  #root {
    .officeApp {
      .usa-form {
        min-width: 100%;
      }
      @media (max-width: 840px) {
        min-width: 630px;
        overflow-x: scroll;
      }
    }
  }
}
