@import '../../shared/styles/basics';
@import '../../shared/styles/mixins';
@import '../../shared/styles/colors';
@import '../../shared/styles/custom';

.form-buttons {
  @include u-display('flex');

  :global .usa-button {
    @include u-margin-top('2');
    &:first-of-type {
      @include u-margin-left(0);
    }
  }
}