@import '../../shared/styles/basics';
@import '../../shared/styles/mixins';
@import '../../shared/styles/colors';

.RequestedShipments {
  @include u-bg('white');
  @include u-padding-x(4);
  @include u-padding-y(2);

  h4 {
    @include u-margin(0);
    font-weight: bold;
  }

  h4 + .shipmentCards,
  h4 + table {
    @include u-margin-top(2);
  }

  .serviceItems {
    @include u-padding-top(4);
    @include u-border-top('1px');
    @include u-border-top('base-lighter');

    :global(.usa-fieldset) {
      @include u-padding-x(2);
    }

    :global(.usa-checkbox) {
      @include u-margin-bottom(2);
    }
  }

  .shipmentCards {
    display: flex;
    flex-wrap: wrap;
    @include u-margin-x(-2);

    > * {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: calc(50% - 2em);
      @include u-margin-x(2);
      @include u-margin-bottom(4);

      &:only-child {
        flex-grow: 1;
      }
    }
  }
}

.serviceItemApproval {
  @include u-height(1rem);
  @include u-width(1rem);
  fill: #00aa2a;
}

.serviceItemRejection {
  @include u-height(1rem);
  @include u-width(1rem);
  fill: #da3613;
}

.approveButton {
  @include u-margin-top(2);
  @include u-margin-left(0);
}
