@import '../../shared/styles/basics';
@import '../../shared/styles/mixins';
@import '../../shared/styles/colors';

.shipmentHeading {
  h3 {
    @include u-margin-bottom(0);
  }

  .shipmentHeadingType {
    @include u-display(flex);

    :global(.usa-tag) {
      @include u-font-size('body', 3xs);
      @include u-margin-left(1);
      background-color: $info-light;
      align-self: center;
    }
  }

  small {
    @include u-text('base-light');
  }

  .row {
    display: flex;
    justify-content: space-between;

    button {
     color: $link;
     padding: 2px 8px;
     font-size: 13px;
    }

    button:disabled {
        background-color: $base-dark;
        text-transform: uppercase;
        border-radius: 2px;
        color: #ffffff;

    }
  }
}


