@import '../../shared/styles/basics';
@import '../../shared/styles/mixins';
@import '../../shared/styles/colors';

.approval-close {
  @include u-float('right');
  color: $color-icon-gray;
}

.approvalPreviewModal {
  min-width: 80rem;

  button[type='submit'] {
    @include u-margin-left(0);
  }
}

.previewShipments {
  @include u-margin-left(0);
}

.customerName {
  @include u-margin-bottom(0);
}

.containerTop {
  @include u-margin-bottom(2);
}
.sectionBorder {
  min-width: 80rem;
  margin-left: -2.1rem;
  color: #dfe1e2;
  height: 1px;
  border: 0;
  background-color: #dfe1e2;
}

.previewContainer {
  @include u-padding-top(0);
  border-radius: 3px;
  border: 1px solid #dfe1e2;

  .tableH4 {
    @include u-margin-top(2);
    @include u-margin-bottom(2);
  }

  h2 {
    @include u-margin-bottom(2);
    @include u-margin-top(2);
  }

  h4 {
    @include u-margin-top(2);
    @include u-margin-bottom(4);
  }
  table {
    h4 {
      @include u-margin-bottom(2);
    }
  }
  :global .table--stacked {
    width: 100%;
  }
  :global .stackedtable-header {
    h4 {
      @include u-margin-bottom(2);
    }
  }
}
