@import '../../shared/styles/basics';
@import '../../shared/styles/mixins';
@import '../../shared/styles/colors';

.shipment-display {
  &__heading {
    @include u-text('base-darker');
    @include u-text('bold');
    @include u-margin(0);
  }

  &__container {
    @include u-padding-left(0);
    @include u-padding-right(0);
  }

  &__label {
    @include u-text('bold');
  }

  table {
    @include u-width(full);


    th:first-child {
      @include u-padding-left('2');
    }

    th, td {
      min-width: 11.01rem;
      @include u-vertical-align('top');
      @include u-border('base-lighter');
      @include u-font('body', 'xs');
      @include u-line-height('body', 2);
      @include u-padding('105');
      &:first-child, &:last-child {
        line-height: 1.6rem;
        @include u-border(0);
      }
    }

    th {
      @include u-padding-y('105');
    }

    td:first-child, th:first-child {
      @include u-width(6);
    }

    td:last-child, th:last-child {
      @include u-minw(6);
    }

    th:nth-child(2), td:nth-child(2) {
      @include u-padding-left(0);
    }

    tr:last-child td {
      @include u-border(0);
    }
  }

  &__checkbox__label {
    @include u-margin(0);
    @include u-vertical-align('middle');
    @include u-padding-left(1);
    @include u-text-indent(-1);
  }

  &__checkbox__label:before {
    @include u-margin-right(0);
  }

}