@import '../../shared/styles/basics';

.shipmentContainer {
  @include u-padding-top(0);
  @include u-padding-x(2);
<<<<<<< HEAD
  @include u-padding-bottom(3);
  @include u-bg('white');
=======
  @include u-padding-bottom(2);
  @include u-bg('white');

  :global .table--data-point-group {
    @include u-margin-bottom(3);
  }

  :global .shipment-heading {
    @include u-margin-bottom(3);
  }
>>>>>>> master
}
