@import 'shared/styles/colors.scss';
@import 'shared/styles/basics';

.SubmitSITExtensionModal {
  //min-width: 45rem !important;
  overflow-y: auto;
  max-height: 90vh;

  .summarySITComponent {
    @include u-margin-bottom(3);
  }

  .ApprovedDaysInput {
    max-width: 3rem;
  }

  .ModalPanel {
    @include u-border('base-lighter');
    @include u-border('1px');
    @include u-radius('05');
    @include u-padding(3);

    .reasonDropdown label {
      @include u-margin-top(0);
    }
  }

  .CancelButton {
    @include u-bg('transparent');
  }
}
