@use 'styles/uswds/milmove' as milmove_uswds;

.SubmitSITExtensionModal {
  //min-width: 45rem !important;
  overflow-y: auto;
  max-height: 90vh;

  .summarySITComponent {
    @include milmove_uswds.u-margin-bottom(3);
  }

  .ApprovedDaysInput {
    max-width: 3rem;
  }

  .ModalPanel {
    @include milmove_uswds.u-border('base-lighter');
    @include milmove_uswds.u-border('1px');
    @include milmove_uswds.u-radius('05');
    @include milmove_uswds.u-padding(3);

    .reasonDropdown label {
      @include milmove_uswds.u-margin-top(0);
    }
  }

  .CancelButton {
    @include milmove_uswds.u-bg('transparent');
  }
}
