label.inline_radio {
	margin-top: 1px;
	margin-bottom: 1px;
}

h2 {
  margin-top: 1em;
}

.grey {
	color: rgb(100, 100, 100);
}

.days-in-storage > input {
	max-width: 100px;
}

.storage-estimate {
	margin-top: 3rem;
	background-color: #f4f2f2;
	border: 1px solid #cccccc;
	padding: 1em;
	max-width: 700px;
}
