.payment-request .instructions {
  padding-right: 5em;
}

.payment-request .usa-width-two-thirds {
  border-right: 1px black solid;
}

.payment-request .doc-list-title {
  border-bottom: 1px solid #d7d7d7;
}

@media only screen and (max-width: 481px) {
  .payment-request .usa-width-two-thirds {
    border-right-width: 0;
  }
}

.customer-agreement {
  background-color: #ededed;
  padding: 1em;
  max-width: 500px;
}

.customer-agreement p {
  margin-top: 0;
  margin-bottom: 0;
}

.customer-agreement label {
  margin-top: 0;
  margin-bottom: 0;
}
