.ppm-payment-req-intro .title,
.allowable-expenses-container .title {
  font-size: 2.2rem;
  font-family: sans-serif;
}

.ppm-payment-req-intro a:visited {
  color: #0071bc; /* original link color */
}

.color_blue_link {
  color: #205493;
}

.ppm-payment-request-footer {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  margin-top: 2.3rem;
  padding-top: 0.5rem;
}

@media only screen and (max-width: 481px) {
  .ppm-payment-request-footer {
    flex-direction: column;
  }
}

.allowable-expenses-container li {
  margin-bottom: 0px;
}

.allowable-expenses-container .icon {
  margin-left: 0px;
}
