.ppm-payment-req-intro .title,
.allowable-expenses-container .title,
.weight-ticket-example-container .title {
  font-size: 2.2rem;
  font-family: sans-serif;
}

.weight-ticket-example-container .subheader {
  margin-bottom: 10px;
  font-weight: bold;
}

.weight-ticket-example-container p {
  margin: 0px;
}

.weight-ticket-example-img {
  vertical-align: middle;
}

.dashed-divider {
  margin-top: 1rem;
  border-bottom: 1px dashed #e9e8e8;
}

.ppm-payment-req-intro a:visited {
  color: #0071bc; /* original link color */
}

.color_blue_link {
  color: #205493;
}

.ppm-payment-request-footer {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  margin-top: 2.3rem;
  padding-top: 0.5rem;
}

@media only screen and (max-width: 481px) {
  .ppm-payment-request-footer {
    flex-direction: column;
  }
}

.allowable-expenses-container li {
  margin-bottom: 0px;
}

.allowable-expenses-container .icon {
  margin-left: 0px;
}

.button-bar {
  border-top: 1px solid black;
  margin-top: 2.3rem;
  padding-top: 1rem;
}

.text-gray {
  color: #767676;
}

.secondary-label {
  font-size: 1.5rem;
}

.dashed-divider {
  border-bottom: 1px dashed #e9e8e8;
  padding: 1rem;
}

.radio-group-header {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.radio-group-wrapper {
  margin-bottom: 2em;
}

.short-field {
  max-width: 46rem;
  display: inline-block;
  margin-right: 0px;
}

.uploader-wrapper {
  padding-top: 1em;
}

.uploader-wrapper:nth-child(2) {
  padding-top: 2em;
}

.uploader-label {
  font-size: 1.5em;
}

.full-weight-label {
  margin-top: 0px;
}

.input-header {
  display: block;
}
