.ppm-size-content h3 {
  margin-bottom: 3rem;
  font-weight: bold;
  font-size: 2.5rem;
}

.button-container {
  display: flex;
}

.contents {
  width: 100%;
}

.text {
  min-height: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.radio {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #468ac8;
}

.radio.selected {
  font-size: 20px;
  line-height: 25px;
  color: white;
  background-color: #0071bc;
  border: 1px solid #0071bc;
}

.radio-container {
  margin: 10px 10px 0 0;
}