div.info {
  background-color: rgb(250, 250, 250);
  padding: 2rem;
  margin-top: 1em;
  border: 1px solid #808080;
  border-radius: 7px;
}

.info > h3 {
  margin-top: 0;
}

div.slider-container {
  margin: 4em;
}

table.numeric-info th {
  border: none;
}

.slider-container .rangeslider__fill {
  background-color: #0071bc;
}

.rangeslider__labels .rangeslider__label-item:first-child {
  width: 60px;
}

@media only screen and (max-width: 481px) {
  span.incentive {
    margin-left: 0em;
  }
}

.whole_box {
  overflow: hidden;
}

.top-buffered {
  margin-top: 1em;
}

.ppmquestion {
  font-weight: bold;
  margin-top: 1em;
}

.ppmmuted {
  color: grey;
}
