@use 'styles/uswds/milmove' as milmove_uswds;

div.info {
  background-color: rgb(250, 250, 250);
  padding: 2rem;
  margin-top: 1em;
  border: 1px solid #808080;
  border-radius: 7px;
}

form > h2 {
  margin-top: 1em;
}

.info > h2 {
  margin-top: 0;
}

h2 {
  margin-bottom: 16px;
}

div.slider-container {
  margin: 4em;
}

div.progear-slider-container {
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
}

#incentive-estimation-slider:focus {
  outline: none;
  box-shadow: none;
}
:global {
  label.inline_radio {
    padding-bottom: 1em;
  }
}

table.numeric-info th {
  border: none;
}

@media only screen and (max-width: 481px) {
  span.incentive {
    margin-left: 0em;
  }
}

.whole_box {
  overflow: hidden;
}

.top-buffered {
  margin-top: 1em;
}

.ppmquestion {
  font-weight: bold;
  margin-top: 1em;
}

.ppmmuted {
  color: grey;
}

.incentive-estimate-box {
  margin-top: 2em;
  padding: 2em;
}

.incentive-estimate-box h4 {
  margin-bottom: 0;
}

.incentive-estimate-box h3 {
  margin-top: 0;
}

.incentive-range-text {
  color: green;
}

:global {
  .rangeslider-horizontal .rangeslider__fill {
    background-color: #005ea2;
  }

  // pro-gear estimate slider outline
  input:not([disabled]):focus {
    outline: none;
  }

  table th,
  table td {
    border: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
  }

  th {
    font-weight: bold;
  }
}
