@import 'shared/styles/colors.scss';
@import 'shared/styles/_mixins.scss';
@import 'shared/styles/_variables.scss';
@import 'shared/styles/_basics.scss';

// 24px margin in between Alert and SectionWrapper
:global(.usa-alert) + .sectionWrapper {
  @include u-margin-top(3);
}

.sectionWrapper {
  @media (min-width: $tablet) {
    @include u-bg('white');
    @include u-radius('05');
    @include u-border('base-lighter');
    @include u-border('1px');
    @include u-padding(5);
    @include u-margin-bottom(4);

    hr {
      color: $base-lighter;
      background-color: $base-lighter;
      height: 1px;
      border: 0;
    }

    h2,
    h3,
    h4 {
      &:first-child {
        @include u-margin-top(0);
      }
    }

    :global {
      .usa-card-group:first-child > .usa-card--header-first:first-child .usa-card__header {
        @include u-padding-top(0);
      }

      .usa-card-group:last-child > .usa-card:last-child {
        .usa-card__container {
          border-bottom: 0;
        }

        .usa-card__body {
          @include u-padding-bottom(0);
        }
      }
    }
  }
}
