// Mm Header styles

@import '../../shared/styles/basics';
@import '../../shared/styles/mixins';
@import '../../shared/styles/colors';

.custHeader {
  background: $base-darker;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include u-padding-x(4);
  padding-top: 13px;
  padding-bottom: 13px;
  @include u-text('white');
  height: 80px;
  .details {
    color: $base-lighter;
  }
  .nameBlock {
    display: flex;
    align-items: center;
    h2 {
      @include u-margin(0);
      margin-right: 10px;
      line-height: 1.1;
    }
    span {
      margin-right: 5px;
    }
    span {
      display: flex;
      align-items: center;
    }
    :global(.usa-tag) {
      line-height: normal;
    }
  }
  .verticalBar {
    color: $mm-periwinkle;
    padding-left: 6px;
    padding-right: 6px;
  }

  p {
    @include u-margin(0);
    @include u-font-size('body', '3xs');
  }
  .infoBlock {
    display: flex;
    div {
      border-left: 4px solid $mm-periwinkle;
      @include u-padding-left(2);
      @include u-padding-right(3);
      &:last-child {
        @include u-padding-right(0);
      }
    }
    p,
    h4 {
      margin: 0;
    }
    h4 {
      font-weight: bold;
      text-wrap: balance;
    }
    p {
      @include u-text('base-lighter');
      @include u-font-size('body', '3xs');
      margin-bottom: 7px;
      text-wrap: nowrap;
    }
  }
  .specialMovesLabel {
    @include u-margin-left(2);
    @include u-margin-right(2);

    p {
      font-size: 2.33rem;
      color: red;
      line-height: 1;
      text-align: center;
      text-wrap: nowrap;

      @media screen and (max-width: 1600px) {
        width: min-content;
        font-size: 1.67rem;
      }
    }
  }
}
