@import 'shared/styles/colors.scss';

.ButtonDropdown {
  position: relative;
  display: inline-block;
  .ButtonDropDownSelect {
    color: white;
    background-color: $primary;
    background-image: none;
    border: 0;
    border-radius: 4px;
    text-align: left;
    padding-right: 40px;
    padding-left: 16px;
    &:hover {
      background-color: $primary-dark;
    }
  }
  .ButtonDropdownIcon {
    position: absolute;
    right: 16px;
    top: 21px;
    font-size: 18px;
    color: white;
    pointer-events: none;
  }
}
