@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/_variables';
@import 'shared/styles/colors';

.form {

  h2 {
    @include u-margin-bottom(0);
  }

  .formSection {
    p {
      @include u-margin-bottom(0);
    }

    > :global(.usa-form-group:first-of-type .usa-label),
    > :global(.usa-fieldset > .usa-form-group:first-of-type .usa-label) {
      @include u-margin-top(3);
    }

    > :global(.usa-fieldset > .usa-form-group.usa-form-group--error:first-of-type .usa-label) {
      @include u-margin-top(0);
    }
  }

  .buttonRow {
    display: flex;
    justify-content: flex-end;
    @include u-margin-bottom(6);

    :global {
      .usa-button--unstyled {
        @include u-font-weight(700);
      }
    }
  }

  .grow {
    flex-grow: 1;
  }

  .center {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
  }
}

.formSection {
  width: 40vw;
}