@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';

.ServiceItemTable {
  :global .table--service-item {
    @include u-margin-bottom(4);
    td {
      @include u-padding-y(2);
      vertical-align: top;
      p {
        @include u-margin-top(0);
      }
    }
  }
}

.nameAndDate {
  p {
    @include u-margin-y(0);
  }

  .codeName {
    @include u-margin-bottom(1);
    @include u-font-weight(bold);
  }
}

.detailLine {
  @include u-font-size('body', '3xs');
}

// abstract called for thin semi bold which isn't a variant
.detailType {
  @include u-font-weight(600);
}

.detailImage {
  @include u-display(flex);
  align-items: center;
}

.siThumbnail {
  width: 100px;
  height: 100px;
}

.statusAction {
  @include u-display(flex);

  button {
    @include u-margin-top(0);
  }
}
