@use 'styles/uswds/milmove' as milmove_uswds;

.SearchResultsTable {
  @include milmove_uswds.u-display(flex);
  @include milmove_uswds.u-margin-x(0);
  @include milmove_uswds.u-padding-x(0);
  flex-direction: column;
  flex: auto;

  p {
    @include milmove_uswds.u-margin(0);
    @include milmove_uswds.u-padding-left(0.5);
  }

  h2 {
    @include milmove_uswds.u-margin-top(4);
    @include milmove_uswds.u-margin-bottom(2);
    @include milmove_uswds.u-padding-left(0.5);
  }

  .tableContainer {
    flex: auto;
    @include milmove_uswds.u-margin-top(1);
    width: 100%;
    overflow-x: auto;
  }

  table {
    width: 100%;

    tbody tr {
      cursor: pointer;
    }
  }
}
