@import '../../shared/styles/basics';
@import '../../shared/styles/mixins';
@import '../../shared/styles/colors';

.TableQueue {
  @include u-display(flex);
  flex-direction: column;
  flex: auto;

  .tableContainer {
    flex: auto;

    @include u-margin-top(1);
    max-width: 100%;
    overflow-x: auto;
  }

  table {
    width: 100%;

    tbody tr {
      cursor: pointer;
    }
  }
}

.tableTabs {
  @include u-margin-x(1);
  @include u-margin-bottom(2);
}
