@import 'shared/styles/uswdsImports';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';

.Table {
  @include u-margin-x(1);
  min-height: 300px;

  table {
    @include u-font('body', 'xs');
    width: 100%;
    color: $base-darkest;
    border-collapse: collapse;

    td,
    th {
      @include u-padding-y(1.5);
      @include u-padding-x(1);
      @include u-text('left');
      @include u-bg('white');
      @include u-border(0);
      @include u-border-bottom(1px);
      @include u-border('base-lighter');
      @include u-minw(1);
    }

    tr {
      &:hover {
        background-color: rgb(217, 231, 247);

        td {
          @include u-bg('transparent');
        }
      }
    }

    thead tr .sortHeader {
      @include u-margin-top('05');
      @include u-margin-bottom('05');
    }

    th {
      color: $base-darker;
      @include u-text('bold');

      &.sortAscending {
        @include u-border-top('05', 'black');
      }

      &.sortDescending {
        @include u-border-bottom('05', 'black');
      }
    }

    .tableHeaderFilters {
      background-color: $base-lighter;

      th {
        @include u-bg('transparent');
        @include u-padding-top(0);
        @include u-padding-bottom(1);
      }

      &:hover {
        background-color: $base-lighter;

        th {
          @include u-bg('transparent');
        }
      }
    }
  }

  .paginationSectionWrapper {
    @include u-margin-y(2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .paginationSelect {
      @include u-margin-x(0);
      width: unset;
    }

    .tableControlPagination {
      display: flex;
      align-items: center;
      flex-grow: 1;
      justify-content: flex-end;

      .pageControlButton {
        @include u-bg('transparent');
        @include u-text('primary-vivid');
        @include u-text('no-underline');
        @include u-padding(1);
        @include u-margin-top(1);
        @include u-margin-bottom(0);
        display: flex;
        align-items: center;

        &.pageControlButtonPrev {
          @include u-padding-left(0);
          @include u-margin-right(1.5);

          .paginationIconLeft {
            @include u-margin-left(0);
            @include u-margin-right(0.5);
          }
        }

        &.pageControlButtonNext {
          @include u-padding-right(0);
          @include u-margin-left(1.5);

          .paginationIconRight {
            @include u-margin-right(0);
            @include u-margin-left(0.5);
          }
        }

        &:disabled {
          @include u-text('base-light');
        }
      }
    }

    .tableControlRowsPerPage {
      display: flex;
      align-items: center;
      flex-grow: 1;

      div {
        @include u-padding(1);
        @include u-margin-top(1);
      }
    }
  }
}
