@import '../../shared/styles/basics';
@import '../../shared/styles/mixins';
@import '../../shared/styles/colors';

.TableQueue {
  @include u-display(flex);
  @include u-margin-x(0);
  @include u-padding-x(0);
  flex-direction: column;
  flex: auto;
  min-width: 100%;

  p {
    @include u-margin(0);
    @include u-padding-left(0.5);
  }

  h2 {
    @include u-margin-top(4);
    @include u-padding-left(0.5);
  }

  .queueHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .queueButtonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .csvDownloadLink {
    padding: 10px;
    cursor: pointer;
  }

  .tableContainer {
    flex: auto;
    @include u-margin-top(1);
    max-width: 100%;
    overflow-x: auto;
  }

  table {
    width: 100%;

    tbody tr {
      cursor: pointer;
    }
  }
}

.pillButton {
  border: 1px solid #252f3e;
  color: #000000;
  padding: 6px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 10px;
}

.pillButtonRow {
  padding-left: 8px;
}
