@use 'styles/uswds/milmove' as milmove_uswds;

.TableQueue {
  @include milmove_uswds.u-display(flex);
  flex-direction: column;
  flex: auto;

  .tableContainer {
    flex: auto;

    @include milmove_uswds.u-margin-top(1);
    max-width: 100%;
    overflow-x: auto;
  }

  table {
    width: 100%;

    tbody tr {
      cursor: pointer;
    }
  }
}

.tableTabs {
  @include milmove_uswds.u-margin-x(1);
  @include milmove_uswds.u-margin-bottom(2);
  border-bottom: (2px solid rgb(236, 234, 234));
}
