// Mm Header styles

@import '../../shared/styles/basics';
@import '../../shared/styles/mixins';
@import '../../shared/styles/colors';

.cui-header {
  @include u-bg('black');
  @include u-width(100%);
  &--text {
    @include u-text('bold');
    color: #a2d63d;
    @include u-font-size('body', 'xs');
    @include u-text('uppercase');
    @include u-text('center');
    @include u-line-height('body', 3);
  }
}
