@import 'shared/styles/uswdsImports';
@import '../../shared/styles/mixins';
@import '../../shared/styles/colors';

.dataTableWrapper {
  @include u-padding(1);
  box-sizing: border-box;

  table {
    width: 100%;
    table-layout: fixed;
  }

  table:not(:first-child) {
    @include u-margin-top(2);
  }
}
