@import 'shared/styles/uswdsImports';
@import '../../shared/styles/mixins';
@import 'shared/styles/colors';

.signIn,
.signOut {
  height: 46px;
  &:hover {
    @include underline(0.25rem, 'white');
  }
  &:hover::after {
    left: 16px;
    background-color: currentColor;
  }
}

.signIn {
  &:hover::after {
    width: 46px;
  }
}

.signOut {
  &:hover::after {
    width: 56px;
  }
}

:global(.my-move-header .usa-nav__primary-item) > .profileLink {
  @include at-media('desktop') {
    color: white;
  }
  &:hover,
  &:focus {
    color: $link-light-hover;
  }
}

:global(.my-move-header .usa-nav__primary button) {
  color: black;
  display: block;
  @include at-media('desktop') {
    color: white;
  }
  &:hover,
  &:focus {
    background-color: inherit;
    color: white;
  }
}
