@use 'styles/uswds/milmove' as milmove_uswds;

.signIn,
.signOut {
  height: 46px;
  &:hover {
    @include milmove_uswds.underline(0.25rem, 'white');
  }
  &:hover::after {
    left: 16px;
    background-color: currentColor;
  }
}

.signIn {
  &:hover::after {
    width: 46px;
  }
}

.signOut {
  &:hover::after {
    width: 56px;
  }
}

:global(.my-move-header .usa-nav__primary-item) > .profileLink {
  @include milmove_uswds.at-media('desktop') {
    color: white;
  }
  &:hover,
  &:focus {
    color: milmove_uswds.$link-light-hover;
  }
}

:global(.my-move-header .usa-nav__primary button) {
  color: black;
  display: block;
  @include milmove_uswds.at-media('desktop') {
    color: white;
  }
  &:hover,
  &:focus {
    background-color: inherit;
    color: white;
  }
}
