@use 'styles/uswds/milmove' as milmove_uswds;

.ReviewDocumentsSidePanel {
  main {
    padding: 0;
  }

  header {
    @include milmove_uswds.u-padding(2);
  }

  hr {
    @include milmove_uswds.u-margin-top(0);
    @include milmove_uswds.u-margin-bottom(0);
  }

  h3 {
    &:nth-of-type(1) {
      @include milmove_uswds.u-margin-top(0);
      @include milmove_uswds.u-margin-bottom(1);
    }

    &.send {
      @include milmove_uswds.u-margin-top(0);
      @include milmove_uswds.u-margin-bottom(0);
      @include milmove_uswds.u-padding(2);
    }
  }

  .rowContainer {
    @include milmove_uswds.u-padding-left(2);
    @include milmove_uswds.u-padding-right(2);

    p {
      margin: 12px 8px;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
  .row {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #dcdee0;
    padding: 12px 8px;

    .tripNumber {
      @include milmove_uswds.u-font-size('body', 'xs');
      @include milmove_uswds.u-margin-bottom(0);
      font-weight: normal;
      width: 220px;
      min-width: 184px;
    }

    span {
      font-weight: bold;
      @include milmove_uswds.u-font-size('body', 'xs');
      color: milmove_uswds.$base-darker;
    }

    .iconRow {
      flex-shrink: 0;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  [data-icon='check'] {
    color: milmove_uswds.$success;
    margin-left: 17px;
    margin-right: 9px;
  }

  [data-icon='ban'] {
    color: milmove_uswds.$warning;
    margin-left: 17px;
    margin-right: 9px;
  }

  [data-icon='xmark'] {
    color: milmove_uswds.$error;
    margin-left: 17px;
    margin-right: 9px;
  }
}

.container .ReviewDocumentsSidePanel main {
  padding: 0;
}

.sidebar {
  @include milmove_uswds.u-margin-top(0);
  @include milmove_uswds.u-margin-bottom(0);
}
