@import 'shared/styles/_basics';
@import 'shared/styles/colors';
@import 'shared/styles/variables';

.ReviewDocumentsSidePanel {
  header {
    @include u-padding(2);
  }

  hr {
    @include u-margin-top(0);
    @include u-margin-bottom(0);
  }

  h3 {
    &:nth-of-type(1) {
      @include u-margin-top(0);
      @include u-margin-bottom(1);
    }

    &.send {
      @include u-margin-top(0);
      @include u-margin-bottom(0);
      @include u-padding(2);
    }
  }

  .rowContainer {
    @include u-padding-left(2);
    @include u-padding-right(2);

    p {
      margin: 12px 8px;
    }
  }
  .row {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #dcdee0;
    padding: 12px 8px;
    h3 {
      @include u-font-size('body', 'xs');
      @include u-margin-bottom(0);
      font-weight: normal;
      width: 220px;
    }

    span {
      font-weight: bold;
      @include u-font-size('body', 'xs');
      color: $base-darker;
    }

    .iconRow {
      flex-shrink: 0;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  [data-icon='check'] {
    color: $success;
    margin-left: 17px;
    margin-right: 9px;
  }

  [data-icon='ban'] {
    color: $warning;
    margin-left: 17px;
    margin-right: 9px;
  }

  [data-icon='xmark'] {
    color: $error;
    margin-left: 17px;
    margin-right: 9px;
  }
}
