@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';

.requestButton {
  background-color: #d73e21;
}

.cancelButton {
  color: #008bfb;
  box-shadow: inset 0 0 0 2px #dcdee0;
}
