@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/_variables';
@import 'shared/styles/colors';

.callOutContainer {
  color: $base-darker;
  @include u-margin-y('105');
  @include u-padding(2);
  border-radius: 4px;
  border: 1px solid $base-lighter;
  background-color: $bg-gray;
  font-size: 13px;
  line-height: 18px;

  p {
    font-size: 13px;
    line-height: 18px;
  }

  ul {
    color: $base-darker;
    list-style-position: inside;
    padding: 0;
    margin: 0;
  }
}
