@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/_variables';
@import 'shared/styles/colors';

.center {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
  }

.centerColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
        margin-top: -8px;
    }

    .hint {
        margin: -10px 0 10px;
    }
}

.formSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 18px;
    @media(max-width: $tablet) {
        padding-left: 0;
    }
}

.confirmContainer {
    display: flex;
    justify-content: space-evenly;
}

.buttonRow {
    margin-top: 2vh;
    display: flex;
    @media(max-width: $tablet) {
        padding-left: 5px;
    }
}

.error {
    width: 100%;
}