@use 'styles/uswds/milmove' as milmove_uswds;

.forbidden {
  width: 640px;
  margin: auto;
  @include milmove_uswds.u-margin-top(10);
  @include milmove_uswds.u-margin-bottom(0);
  h1 {
    @include milmove_uswds.u-margin-top(0);
    @include milmove_uswds.u-margin-bottom(4);
    color: milmove_uswds.$base-darkest;
  }

  .subHeading {
    @include milmove_uswds.u-margin-y(3);
    @include milmove_uswds.u-font-size('body', 9);
    color: milmove_uswds.$base-darkest;
  }

  .explanation {
    @include milmove_uswds.u-margin-bottom(3);
    line-height: 23px;
    @include milmove_uswds.u-font-size('body', 4);
    color: milmove_uswds.$base-darkest;
  }
}
