/*PreApproval Table styles*/
.pre-approval-panel {
  border-width: 3px;
  empty-cells: hide;
  margin-bottom: 18px;
}
.pre-approval-panel-table-cont table {
  table-layout: fixed;
  display: table;
  width: 100%;
  border-spacing: 2px;
}

.pre-approval-panel-table-cont {
  width: 90%;
}

/* Custom widths for columns in the preapproval request table */
/*Code */
.pre-approval-panel-table-cont table > tbody > tr > th:nth-child(1) {
  width: 5%;
}
/* Loc. */
.pre-approval-panel-table-cont table > tbody > tr > th:nth-child(3) {
  width: 9%;
}
/*Base Quantity*/
.pre-approval-panel-table-cont table > tbody > tr > th:nth-child(4) {
  width: 10%;
}
/*Item*/
.pre-approval-panel-table-cont table > tbody > tr > th:nth-child(2) {
  width: 15%;
}
/*Notes*/
.pre-approval-panel-table-cont table > tbody > tr > th:nth-child(5) {
  width: 16%;
}
/*Status*/
.pre-approval-panel-table-cont table > tbody > tr > th:nth-child(7) {
  width: 12%;
}
/* submitted, action icons*/
.pre-approval-panel-table-cont table > tbody > tr > th:nth-child(6),
.pre-approval-panel-table-cont table > tbody > tr > th:nth-child(8) {
  width: 9%;
}

.cancel-link {
  padding: 1em 1em 1em 0;
  cursor: pointer;
}
.pre-approval-panel th,
.pre-approval-panel td {
  border: none;
  text-align: left;
}

.pre-approval-panel-table-cont th {
  font-weight: bold;
  font-size: 0.8em;
  border-bottom: solid 1px #a2a2a2;
  text-align: left;
  padding: 0rem 2rem 1rem 0rem;
}

.pre-approval-panel-table-cont table > tbody > tr > td {
  border-bottom: 1px solid #f1f1f1;
  font-size: 0.8em;
  padding: 1rem 1rem 1rem 0rem;
}

.actionable {
  color: #0071bc;
  cursor: pointer;
}

/*Creator styles*/
.add-request {
  margin: 1.5rem 0rem 1.5rem 0rem;
  cursor: pointer;
}

.pre-approval-panel-modal {
  border: 3px dashed #00a6d2;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 8px;
  padding-bottom: 9px;
}

.pre-approval-panel-modal .usa-grid-full {
  max-width: 100% !important;
}

.pre-approval-panel-modal textarea[name='description'] {
  height: 8rem;
}

.pre-approval-edit {
  background-color: #f6fdfe;
}

.pre-approval-panel-modal .title {
  font-size: 2rem;
  font-weight: bold;
}
.pre-approval-panel .align-right {
  text-align: right !important;
}

.pre-approval-form {
  padding: 0 0 1rem 0;
}

.cancel button {
  -webkit-box-shadow: inset 0 0 0 0px;
  -moz-box-shadow: inset 0 0 0 0px;
  box-shadow: inset 0 0 0 0px;
}

.cancel button:hover {
  -webkit-box-shadow: inset 0 0 0 0px;
  -moz-box-shadow: inset 0 0 0 0px;
  box-shadow: inset 0 0 0 0px;
}

/*PreApprovalForm Styles*/
.half-width {
  width: 50%;
  vertical-align: top;
}

.one-third-width {
  width: 33%;
  vertical-align: top;
}

.bq-explanation {
  font-size: 0.8em;
  padding: 0rem 0rem 3rem 0rem;
}

.bq-explanation p {
  line-height: 2rem;
  padding: 0rem 0rem 0rem 0rem;
  margin-bottom: 0;
}

.bq-explanation li {
  line-height: 1.5em;
  margin: 0rem 0rem 0rem 0rem;
}

.bq-explanation ul {
  margin-top: 0;
}

tr.delete-active {
  border-top: 2px dashed #00a6d2;
  border-left: 2px dashed #00a6d2;
  border-right: 2px dashed #00a6d2;
  border-bottom: 2px solid #6bd7f4;
  background-color: #d3f3fa;
}

tr.delete-active td {
  background-color: transparent;
}

tr.delete-confirm-row td.delete-confirm {
  border-bottom: 2px dashed #00a6d2;
  border-left: 2px dashed #00a6d2;
  border-right: 2px dashed #00a6d2;
  background-color: #f6fdfe;

  display: table-cell;
  border-collapse: collapse;

  padding: 0;
  font-size: 1em;
}

td.delete-confirm strong {
  margin: 0 5%;
}

.tariff400__control {
  height: 5rem;
  border-color: #5b616b !important;
  background-color: rgb(248, 248, 248) !important;
  box-shadow: none !important;
  border-radius: 7px !important;
}

.location__control {
  height: 5rem;
  border-color: #5b616b !important;
  background-color: rgb(248, 248, 248) !important;
  box-shadow: none !important;
  border-radius: 7px !important;
}

.dimensions-form {
  margin: 0;
}
.dimensions-form .dimensions-form-input {
  margin: 0;
}

.dimensions-form .dimensions-form-input-cell {
  padding: 0;
}

.dimensions-form .multiplication-sign {
  text-align: center;
}

.dimensions-form .dimensions-form-header {
  padding: 0;
}