@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';

.ServiceItemsTable {
  @include u-margin-bottom(4);
  td {
    @include u-padding-top(2);
  }
}

.nameAndDate {
  p {
    @include u-margin-y(0);
  }

  .codeName {
    @include u-margin-bottom(1);
    @include u-font-weight(bold);
  }

  .codeDescription {
    @include u-margin-top(-1);
    @include u-margin-bottom(1);
    @include u-font-weight(thin);
  }
}

.statusAction {
  @include u-display(flex);

  button {
    @include u-margin-top(0);
  }
}

.resubmissionDetails {
  @include u-margin-bottom(2);

  .detailValue {
    font-weight: 500;
  }
}

.serviceItemName {
  @include u-margin-right(4px);
}