@import 'shared/styles/colors.scss';
@import 'shared/styles/basics';

.EditPPMHeaderSummaryModal {
  max-height: 90vh;

  .ModalPanel {
    @include u-border('base-lighter');
    @include u-border('1px');
    @include u-radius('05');
    @include u-padding(3);
    display: flex;

    .reasonDropdown label {
      @include u-margin-top(0);
    }
  }

  .CancelButton {
    @include u-bg('transparent');
  }
  .errors {
    margin-top: 0;
    color: #b50909;
    font-weight: 700;
    font-size: 15px;
    padding: 4px 0px;
  }

  .ModalTitle {
    h2 {
      font-size: 1.87rem;
      color: $base-darker;
    }
  }

  .AddressFieldSet {
    :global(.labelWrapper .usa-label) {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    :global(.usa-legend) {
      font-size: 1.25rem;
    }

    @include u-margin-top(0);
    border-bottom: none;

    :global(.usa-form-group:first-of-type .usa-label) {
      @include u-margin-top(0);
    }

    :global(.usa-input) {
      width: 100%;
    }

    :global(.grid-row.grid-gap) {
      div:nth-child(1), div:nth-child(2) {
        @include at-media('desktop'){
          width: 50%;
        }
        :global(.usa-form-group) {
          width: 100%;
        }
      }
    }
  }

  .buttonGroup {
    display: flex;
  }
}