@import 'shared/styles/_basics';
@import 'shared/styles/colors';

.HeaderSection {
  color: $base-darker;
  @include u-margin-top(2);
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  :global(.usa-label) {
      width: auto;
      display: inline-block;
      @include u-margin-top(.5);
    }

  h4 {
    @include u-margin-y(2.5);
  }
  .edit-btn-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .edit-btn {
    margin: 0;
    padding: 0 0 0 3px;
    display: inline;
    color: $primary;
    background-color: transparent;
    height: auto;

    &:hover,
    &:focus {
      color: $primary;
      background-color: transparent;
    }
  }
  .edit-btn:disabled {
    cursor: not-allowed;
  }
}

.Details {
  display: block;
    box-sizing: border-box;
    @include u-padding-x(0);
    width: 100%;
    overflow: hidden;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
  }

  .label {
    flex: 1;
    text-align: left;
    white-space: nowrap;
    margin-right: 0.5rem;
  }

  .value {
    text-align: right;
    white-space: nowrap;
    margin-right: 0;
  }

  .rightAlign {
    text-align: right;
  }

  div {
    display: block;
    @include u-margin-y(1);
    width: 100%;

    span {
      @include u-margin-top(.5);
    }
  }
}

.toggleDrawer {
  @include u-display(flex);
  flex: 1;
  justify-content: flex-end;

  svg {
    margin-right: 0.5em;
  }

  button {
    @include u-padding-x(0);
  }
}