@import 'shared/styles/_basics';
@import 'shared/styles/colors';

.PPMHeaderSummary {
    .header {
        :global(.usa-label) {
            width: auto;
            display: inline-block;
            @include u-margin-top(.5);
            @include u-margin-right(1);
        }
    }

    .light {
        @include u-font('body', '3xs');
        color: $base;
    }
}