@use 'styles/uswds/milmove' as milmove_uswds;

.PPMHeaderSummary {
    .header {
        :global(.usa-label) {
            width: auto;
            display: inline-block;
            @include milmove_uswds.u-margin-top(.5);
            @include milmove_uswds.u-margin-right(1);
        }
    }

    section {
        color: milmove_uswds.$base-darker;
    }

    .light {
        @include milmove_uswds.u-font('body', '3xs');
    }
}