@import 'shared/styles/_basics';
@import 'shared/styles/colors';

.PPMHeaderSummary {
    padding: 0 !important;

    .header {
        :global(.usa-label) {
            width: auto;
            display: inline-block;
            @include u-margin-top(.5);
            @include u-margin-right(1);
        }
    }

    section {
        color: $base-darker;
    }

    h4 {
        @include u-margin-y(2.5);
    }

    .light {
        @include u-font('body', '3xs');
    }
    
    .tagInfo {
        background-color: $info-light;
    }
}