@import 'shared/styles/colors';
@import 'shared/styles/mixins';


// hoist this mixins to a standard module later on
// overrides .usa-select style properties. --background-url is the svg with background black, and foreground white.
@mixin mix-mm-select-dropdown {
    margin: 0;
    background: {
        image: var(--background-url);
        repeat: no-repeat;
        position: right 0.5rem center;
        size: 1.25rem;
    }
    appearance: none;
}


// hoist this mixins to a standard module later on
@mixin mix-mm-row-container{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 0.5rem;
}

// using :scope to maintain specificity precedence over any uswds selector properties.
.dropdown-wrapper-style{
    @include mix-mm-row-container;
    @include mix-mm-header-font-properties;
    --top-color: #{$link-light};
    color: var(--top-color);
    padding: 0rem 1rem;

    border-left: 1px solid $base-dark;
    height: 100%;
    $background-main: var(--background-url);
    $background-hover: linear-gradient(to bottom, transparent calc(100% - 0.25rem), var(--top-color) calc(100% - 0.25rem), var(--top-color) 100%) center / 1.3333333333rem;
    a {
        align-content: center;
        height: 100%;
        --top-color: #{$link-light-hover};
        color: var(--top-color);

        &:hover{
            background: #{$background-hover};
        }
    }
    select {
        @include mix-mm-header-font-properties;
        @include mix-mm-dropdown($top-color: white, $background-color: transparent){
            text-align: center;
            background: #{$background-main};
            background-color: var(--bg-color);
            border-radius: 0;
            height: 100%;
            &:focus,
            &:hover{
                --top-color: #{$link-light-hover};
                color: var(--top-color);
                background: #{$background-main}, #{$background-hover};
            }
        }
    }
}

.dropdown-ul-container-style{
    list-style-type: none;
}