.storage-in-transit-panel-modal {
  border: 3px dashed #00a6d2;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 8px;
  padding-bottom: 9px;
  margin-top: 20px;
}

.storage-in-transit-panel-modal .title {
  font-size: 2rem;
  font-weight: bold;
}

.storage-in-transit-hr-top {
  border-top: 1px solid #f1f1f1;
  margin-top: 1.5em;
  padding-top: 0.5em;
}

.storage-in-transit-location {
  width: calc(60% + 1.9rem);
}

.storage-in-transit-request-form textarea {
  height: 9rem;
}

.storage-in-transit-warehouse-id {
  width: calc(60% + 1.9rem);
}

#sit-status-text {
  margin-left: 1.8em;
}

.storage-in-transit-panel .column-subhead {
  margin-top: 0.9em !important;
  border-bottom: 1px #BBBBBB solid;
}

.add-storage-in-transit {
  border-top: 1px solid #f1f1f1;
  padding-top: 0.5em;

}

.storage-in-transit {
  display: table-row;
  margin-top: 1em;
  margin-bottom: 1em;
}

.storage-in-transit-panel .basic-panel-content {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.column-subhead {
  margin-bottom: 4px;
  line-height: 1.5em;

}

.sit-notes .field-title {
  width: 100%;
}