@use 'styles/uswds/milmove' as milmove_uswds;

.AboutForm {
  :global(.usa-form-group.usa-form-group--error) {
    input.actualMoveDate {
      @include milmove_uswds.u-margin-top(1);
    }
  }

  .advanceFieldset {
    @include milmove_uswds.u-border-bottom(0);
    @include milmove_uswds.u-padding-bottom(0);
  }

  .W2Address {
    p {
      @include milmove_uswds.u-margin-bottom(0);
      @include milmove_uswds.u-margin-top(0);
    }

    .AddressFieldSet {
      @include milmove_uswds.u-margin-top(0);
      border-bottom: none;

      :global(.usa-form-group:first-of-type .usa-label) {
        @include milmove_uswds.u-margin-top(0);
      }

      :global(.usa-input) {
        width: 100%;
      }

      :global(.grid-row.grid-gap) {
        div:nth-child(1), div:nth-child(2) {
          @include milmove_uswds.at-media('desktop'){
            width: 50%;
          }
          :global(.usa-form-group) {
            width: 100%;
          }
        }
      }
    }
  }
}
