@import '../../../shared/styles/basics';
@import '../../../shared/styles/colors';

.QAECSRMoveSearch {
  @include u-padding-y(3);
  @include u-padding-x(4);
  @include u-bg('white');
  @include u-radius(4px);
  @include u-margin-x(3);
  border: 1px solid $border-color;
}

.searchBar {
  width: 320px;
  height: 43px;
  display: flex;
}

.searchButton {
  height: 43px;
}
