@import '../../../shared/styles/basics';
@import '../../../shared/styles/colors';
@import 'styles/office.scss';

.QAECSRMoveSearchPage {
  @include u-padding-y(3);
  @include u-padding-x(3);

  h1, h2, h3 {
    color: $mm-blue;
    @include u-margin-x(1);
  }

  h1 {
    font-size: 40px;
  }
}

.QAECSRMoveSearchWrapper {
  @include u-display(flex);
  flex-direction: column;
  flex: auto;
  background-color: $bg-gray;
}
