@import '../../../shared/styles/basics';
@import '../../../shared/styles/colors';
@import 'styles/office.scss';

.QAECSRMoveSearchPage {
  @include u-padding-y(3);
  @include u-padding-x(4);
  width: 100%;
}

.QAECSRMoveSearchWrapper {
  @include u-display(flex);
  flex-direction: column;
  flex: auto;
  background-color: $bg-gray;
}
