@import 'shared/styles/uswdsImports';

.CreatePaymentRequestForm {
  .serviceItemInputGroup {
    @include u-display(flex);
    justify-content: flex-end;

    label {
      @include u-margin-top(0);
      @include u-margin-right(1);
      @include u-font-size('body', 'xs');
      @include u-font-weight(normal);
      width: auto;
    }
  }
}
