@use 'styles/uswds/milmove' as milmove_uswds;

.ExpandableServiceItemRow {
  .accepted {
    svg {
      @include milmove_uswds.u-margin-right(1);
      height: 18px;
      width: 18px;
      display: inline-block;
      position: relative;
      top: 2px;

      path {
        fill: milmove_uswds.$success;
      }
    }
  }

  .rejected {
    svg {
      @include milmove_uswds.u-margin-right(1);
      height: 18px;
      width: 18px;
      display: inline-block;
      position: relative;
      top: 2px;

      path {
        fill: milmove_uswds.$error;
      }
    }
  }

  .needsReview {
    svg {
      @include milmove_uswds.u-margin-right(1);
      height: 18px;
      width: 18px;
      display: inline-block;
      position: relative;
      top: 2px;

      path {
        fill: milmove_uswds.$warning;
      }
    }
  }

  &.isExpandable {
    cursor: pointer;
  }

  &.expandable {
    .icon {
      @include milmove_uswds.u-margin-left(-1);
      @include milmove_uswds.u-margin-right(2);
      color: milmove_uswds.$primary;
    }
  }

  &.expandedRow,
  &.expandedDetail {
    border: 1px solid milmove_uswds.$base-lighter;
  }

  &.expandedRow td {
    background-color: milmove_uswds.$link-light;
  }

  &.expandedDetail td {
    padding: 0;
  }
}
