@use 'src/shared/standardUI/' as *;
@use 'src/shared/standardUI/Buttons/mm_buttons' as *;

.oktaEditLink {
  @extend %layout-button;
}

.serviceInfoContainer {
  .header {
    @include mix-mm-header-layout;
    @include mix-mm-header-action-button-layout{
      .oktaEditLink {
          @extend .usa-button--outline, %layout-button;
      }
    }
    h2 {
      flex-shrink: 0;
      @include u-margin(0);
      @include at-media('desktop') {
        @include u-padding-bottom(1);
      }
    }
  }

  .oktaInfoSection {
    dl {
      dt {
        @include u-width(33%);
      }
      dd {
        @include u-width(67%);
      }
      @include u-margin-bottom(0);
    }
  }

  .oktaLogo {
    height: 60px;
    max-width: 120px;
    margin-left: -15px;
  }

}
