.admin-system-wrapper {
  // overflowing entire content for now until bug is fixed
  // https://github.com/marmelab/admin-on-rest/issues/2
  overflow: auto;
}

.system-admin-filters {
  div {
    font-size: 13px;
    margin: 1.5em 0 0 0;
  }
  input {
    width: 30em;
    font-size: 13px;
    padding: 0;
    margin: 1.5em 0 0 0;
  }
  label {
    width: 25em;
  }
}
