@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';

.tabContent {
  background: $bg-gray;
  scroll-behavior: smooth;
  flex-grow: 1;
  padding-top: 26px;

  .pageHeader {
    @include u-margin-y(3);

    h1 {
      @include u-margin(0);
    }
  }

  h1:first-child,
  .pageHeader:first-child,
  nav,
  .emptyMessage p {
    @include u-margin-top(0);
  }

  h1 {
    @include u-margin-bottom(4);
  }

  .div {
    justify-content: flex-end;
    float: right;
    padding-right: 15px;
  }

  .buttonDropdown {
    margin-left: auto;
  }

  .tooMoveDetailsHeadingFlexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .tooMoveDetailsH1 {
    @include u-margin-bottom(0);
    align-self: center;
  }

  .tooCancelMoveContainer {
    @include u-margin-bottom(3);
    padding-left: 810px;
  }

  .gridContainer {
    .shipmentCard {
      @include u-padding-left(4);
    }
  }

  .alertWithButton {
    span:first-child {
      display: flex;
      button {
        padding-left: 0;
      }
    }
    :nth-child(2) {
      button {
        padding-right: 0;
        color: $base-darker;
      }
    }
  }
}

.container {
  display: flex;
  position: relative;
  max-width: calc(230px + 40px + 1024px); // sidebar + 5units margin + desktop container
  margin-left: auto;
  margin-right: auto;

  .gridContainer {
    flex-grow: 1;
  }
}

.pageHeader {
  display: flex;
  align-items: flex-end;

  h1 {
    flex-grow: 1;
  }

  h6 {
    margin: 0;
    line-height: 1.25;
  }

  h6 + h6 {
    @include u-margin-top(1);
  }

  .pageHeaderDetails {
    color: $base;
    text-align: right;
  }
}

.pageFooter {
  display: flex;
  @include u-margin-top(4);

  h6 {
    margin: 0;
    line-height: 1.25;
    text-transform: none;
  }

  h6 + h6 {
    @include u-margin-top(2);
  }

  .pageFooterDetails {
    color: $base;
    text-align: left;
    @include u-margin-bottom(64px);
  }
}

.section {
  background: $bg-white;
  border-radius: 3px;
  border: 1px solid #dfe1e2;
}

.buttonDropdown {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.section + .section,
.shipmentCard + .shipmentCard {
  @include u-margin-top(4);
}

.section:last-child,
.shipmentCard:last-child {
  margin-bottom: 135px;
}

.movePaymentRequests {
  table-layout: fixed;
  border: 5px solid red;
}
.PaymentRequestDetails_PaymentRequestDetails .table--stacked {
  table-layout: fixed;
}
