@import 'shared/styles/_basics';
@import 'shared/styles/colors';

.DetailsPanel {
  @include u-padding-y(2);
  @include u-padding-x(4);
  background: $bg-white;

  :global .stackedtable-header {
    max-width: unset;
    h2 {
      span {
        @include u-margin-left(2);
      }
    }

    .button-row {
      display: flex;
      justify-content: space-between;
      div:only-child {
        margin-left: auto;
      }
      width: 50%;
      margin-top: 0.5333333333rem;
      margin-bottom: 0.5333333333rem;
    }

    a.usa-button--secondary {
      @include u-margin-right(0);

      &:visited {
        color: $primary;
      }

      &:hover {
        color: #1a4480;
        text-decoration: none;
      }
    }

    .usa-button {
      margin-top: .5333333333rem;
    }
  }

  :global .table--stacked {
    width: 100%;
  }

  th {
    @include u-font-weight(bold);
    color: $base-darker;
  }
}
