@import 'shared/styles/uswdsImports';
@import 'shared/styles/colors';

.DetailsPanel {
  @include u-padding-y(2);
  @include u-padding-x(4);
  background: $bg-white;

  :global .stackedtable-header {
    max-width: unset;
    h2 {
      span {
        @include u-margin-left(2);
      }
    }

    a.usa-button--secondary {
      @include u-margin-right(0);

      &:visited {
        color: $primary;
      }

      &:hover {
        color: #1a4480;
        text-decoration: none;
      }
    }
  }

  :global .table--stacked {
    width: 100%;
  }

  th {
    @include u-font-weight(bold);
    color: $base-darker;
  }
}
