@import 'shared/styles/_basics';
@import 'shared/styles/colors';

.reviewProGear {
  @include u-padding(2);

  hr {
    @include u-margin-top(2);
    @include u-margin-bottom(2);
    position: absolute;
    left: 0;
    right: 0;
  }

  h3,
  h2 {
    @include u-margin-top(1);
    @include u-margin-bottom(1);
  }

  .tripNumber {
    @include u-margin-top(4);
  }

  .label {
    @include u-margin-bottom(1);
  }

  .displayValue {
    @include u-margin-bottom(2);
  }

  :global(.usa-legend) {
    @include u-margin-bottom(1);
    @include u-margin-top(1);
  }

  .reviewHeader {
    @include u-margin-top(3);
  }

  .rejectionReason {
    @include u-margin-top(0);
  }

  .characters {
    color: $base-darker;
  }
}
