@use 'styles/uswds/milmove' as milmove_uswds;

.reviewProGear {
  @include milmove_uswds.u-padding(2);

  hr {
    @include milmove_uswds.u-margin-top(2);
    @include milmove_uswds.u-margin-bottom(2);
    position: absolute;
    left: 0;
    right: 0;
  }

  h3,
  h2 {
    @include milmove_uswds.u-margin-top(1);
    @include milmove_uswds.u-margin-bottom(1);
  }

  .tripNumber {
    @include milmove_uswds.u-margin-top(4);
  }

  .label {
    @include milmove_uswds.u-margin-bottom(1);
  }

  .displayValue {
    @include milmove_uswds.u-margin-bottom(2);
  }

  :global(.usa-legend) {
    @include milmove_uswds.u-margin-bottom(1);
    @include milmove_uswds.u-margin-top(1);
  }

  .reviewHeader {
    @include milmove_uswds.u-margin-top(3);
  }

  .rejectionReason {
    @include milmove_uswds.u-margin-top(0);
  }

  .characters {
    color: milmove_uswds.$base-darker;
  }

  div.reject {
    @include milmove_uswds.u-margin-top(2);
  }
}
