.invoice-panel {
  font-size: 0.8em;
}

.invoice-panel table {
  table-layout: fixed;
  display: table;
  width: 100%;
  border-spacing: 2px;
  text-align: left;
}

.invoice-panel-table-cont {
  width: 90%;
}

.invoice-panel h1,h2,h3,h4,h5{
  font-family: sans-serif;
}

/* Custom widths for columns in the invoice panel table */
/* Code */
.invoice-panel table > tbody > tr > th:nth-child(1) {
  width: 10%;
}
/* Item */
.invoice-panel table > tbody > tr > th:nth-child(2) {
  width: 25%;
}
/* Loc. */
.invoice-panel table > tbody > tr > th:nth-child(3) {
  width: 8%;
}
/*Base Quantity*/
.invoice-panel table > tbody > tr > th:nth-child(4) {
  width: 15%;
}
/*Invoice Amount*/
.invoice-panel table > tbody > tr > th:nth-child(5) {
  width: 15%;
  text-align: right;
}

/* Further customization specific to invoice table*/
.invoice-panel table > tbody > tr > td:nth-child(5) {
  text-align: right;
}
/* Total border */
.invoice-panel table > tbody > tr:nth-last-child(2) > td {
  border-bottom: solid 1px #a2a2a2;
}
.invoice-panel table > tbody > tr:last-child > td {
  border-bottom: none !important;
}


.invoice-panel table th,
.invoice-panel table td {
  border: none;
}

.invoice-panel table th {
  font-weight: bold;
  border-bottom: solid 1px #a2a2a2;
  padding: 0rem 1rem 1rem 0rem;
}

.invoice-panel table > tbody > tr > td {
  border-bottom: 1px solid #f1f1f1;
  padding: 1rem 1rem 1rem 0rem;
}

.invoice-panel .align-right {
  text-align: right;
}

.invoice-panel-header-cont {
  margin-top: .2em;
  display: flex;
  align-items: center;
}

.warning--header {
  font-size: 1.2em;
  display: block;
}

h5 > span.detail {
  font-weight: 400;
  font-size: 0.9em;
}
