@import 'shared/styles/colors.scss';

.BulkModal {
  min-width: 650px !important;
  max-width: 50vw;
  overflow-y: auto;
  max-height: 90vh;
  overflow-x: hidden;

  button,
  :global(.usa-button) {
    margin: 0;
    flex-grow: 0;
    flex-basis: auto;
    text-decoration: none;
    font-size: 1rem;
  }

  /* these styles are used to fix an issue with duplicate usa-button--secondary definitions in USWDS */
  .cancelNoButton {
    border-radius: 0.2666666667rem;
    color: #0050d8;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #0050d8;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
    height: 42px;
    width: 68px;
  }

  .errorMessage {
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    color: $error;
    font-size: large;
  }
}

.BulkAssignmentTable {
  table {
    table-layout: fixed;
    width: 100%;

    th {
      max-width: 10px;
      text-align: center;
      input[type="checkbox"] {
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      &:first-child {
        width: 20px;
        padding-right: 3em;
      }
    }

    .UserNameHeader {
      text-align: left;
    }

    td {
      input[type="checkbox"] {
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
    .BulkAssignmentDataCenter {
      text-align: center;
    }
    .BulkAssignmentAssignment {
      width: 60px;
      text-align: center;
      padding-left: 15px;
      padding-top: 4px;
    }
    .officeUserFormattedName {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.areYouSureSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;

  .confirmButtons {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    max-height: 42px;
  }

  .cancelYesButton {
    font-size: 12px;
    max-width: 100px;
    height: 42px;
    align-items: center;
  }
}

.BulkAssignmentButtonsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .BulkAssignmentButtonsRight {
    display: flex;
    flex-direction: row;
  }
}
