@import 'shared/styles/colors.scss';

.BulkModal {
  min-width: 650px !important;
  max-width: 90vw;
  overflow-y: auto;
  max-height: 90vh;
  overflow-x: hidden;

  button,
  :global(.usa-button) {
    margin: 0;
    flex-grow: 0;
    flex-basis: auto;
    text-decoration: none;
    font-size: 1rem;
  }
}

.BulkAssignmentTable {
  table {
    th {
      max-width: 10px;
      text-align: center;
    }
    .BulkAssignmentDataCenter {
      text-align: center;
    }
    .BulkAssignmentAssignment {
      width: 60px;
      text-align: center;
      padding-left: 15px;
      padding-top: 4px;
    }
  }
}

.areYouSureSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;

  .confirmButtons {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    max-height: 42px;
  }

  .cancelYesButton {
    font-size: 12px;
    max-width: 100px;
    height: 42px;
    align-items: center;
  }
}
