.BulkModal {
  min-width: 900px !important;
  overflow-y: auto;
  max-height: 90vh;
}

.BulkAssignmentTable {

  table {
    th {
      max-width: 10px;
      color: blue;
      text-align: center;
    }
    .BulkAssignmentDataCenter {
      text-align: center;
    }
    .BulkAssignmentAssignment {
        width: 60px;
        text-align: center;
    }
  }
}
