@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';
@import 'shared/styles/colors';

.SubmitMoveForm {
  :global(.usa-button--unstyled) {
    padding: 0;
    width: auto;
  }
}
.disabledCheckbox {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.readOnlyInput {
  background-color: #dcdee0;
  pointer-events: none;
  cursor: not-allowed;
}
.dateGrid {
  @media (max-width: 640px) {
    margin-top: 1rem;
  }
}

.signatureBox {
  @include u-padding(2);
  @include u-margin-top(2);
  background-color: $base-lightest;

  h3 {
    text-transform: uppercase;
  }

  p {
    margin-bottom: 0;
  }

  :global(.usa-form-group--error) {
    @include u-margin-left(0);
  }
}

@media print {
  .hideForPrint {
    display: none;
  }


}
