@use 'styles/uswds/milmove' as milmove_uswds;

.SubmitMoveForm {
  :global(.usa-button--unstyled) {
    padding: 0;
    width: auto;
  }
}

.signatureBox {
  @include milmove_uswds.u-padding(2);
  @include milmove_uswds.u-margin-top(2);
  background-color: milmove_uswds.$base-lightest;

  h3 {
    text-transform: uppercase;
  }

  p {
    margin-bottom: 0;
  }

  :global(.usa-form-group--error) {
    @include milmove_uswds.u-margin-left(0);
  }
}

@media print {
  .hideForPrint {
    display: none;
  }
}
