@import 'shared/styles/_basics';
@import 'shared/styles/colors';

.serviceItemUpdateModal {
  overflow-y: auto;
  max-height: 90vh;
  max-width: 700px;
  width: 100%;
  .titleSection {
    @include u-margin-top(1);
  }
}

.serviceItemDetails {
  text-align: left;
  width: 100%;
  .nameDateContainer {
    vertical-align: top;
    p {
      @include u-margin-y(0);
    }
    .serviceItemName {
      @include u-margin-bottom(1);
      @include u-font-weight(bold);
      border: none;
    }
  }
  .detailsContainer {
    width: auto;
    vertical-align: top;
  }
  tr {
    border: 1px $base-lighter solid;
  }
  td {
    border: none;
    background-color: $bg-gray;
  }
  dl {
    @include u-margin-y(0);
    border: none;
    display: block;
  }
  dt {
    display: inline;
  }
  dd {
    display: inline;
    @include u-margin-left(0);
  }
}
.editSitAddressChangeForm {
  @include u-margin-top(2);
  .initialAddress{
    @include u-padding-left(0);
    td {
    vertical-align: top;
  }
  border: none;
  background-color: white;
  }
}
