@use 'styles/uswds/milmove' as milmove_uswds;

.dataTable {
  .table--small {
    th {
      @include milmove_uswds.u-padding-x(1);
    }
  }

  td {
    @include milmove_uswds.u-padding-x(1);
    white-space: pre-wrap;
  }

  .iconCellContainer {
    display: flex;
    align-items: center;
  }

  span:first-child {
    flex: 1 1 auto;
  }

  svg {
    @include milmove_uswds.u-margin-right(2);
    flex-shrink: 0;
    fill: #000000;
    width: 15px;
    height: 15px;
  }
}
