.transition-box {
  text-align: center;
  vertical-align: middle;
}

div.hhg-icon p {
  margin-top: 0rem;
  font-size: 2rem;
  color: lightgrey;
}

.transition-text {
  margin-top: 3.5rem;
}

.transition-text p {
  font-size: 2.5rem;
  margin: 0rem;
}

.ppm-icon {
  margin-top: 3.5rem;
  margin-bottom: 4rem;
}

div.ppm-icon p {
  margin-top: 0rem;
  font-size: 2rem;
}