@import 'shared/styles/colors';
@import 'shared/styles/_basics';
@import 'shared/styles/_variables';

.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 64rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  .secondaryBtn {
    box-shadow: inset 0 0 0 2px $primary;
  }
}

.customer-header {
  color: white;
  background-color: $base-darker;

  // undoes padding of parent container
  margin-top: -21px;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  @include u-margin-bottom(2);

  @include u-padding-top(3);
  @include u-padding-bottom(3);
  padding-left: 20px;
  padding-right: 20px;

  h2 {
    font-size: 28px;
    margin: 0px;
  }
  p {
    font-size: 15px;
    margin: 0px;
  }
}

.description {
  margin: 0px;
  font-size: 15px;

  .descriptionExtra {
    @include u-padding-bottom(3);
  }

  .printBtn {
    padding: 0;
    justify-content: start;
    text-decoration: underline;
  }
}

.moveSubmittedDescription {
  a {
    text-decoration: underline;

    &:visited {
      color: $link;
    }
  }
}

@media print {
  .homeContainer {
    display: none;
  }
}

@media (min-width: $tablet) {
  .subheaderContainer {
    .subheaderWeightAllowance {
      margin-right: 15px;
    }

    .subheaderWeightAllowance,
    .subheaderMoveCode {
      display: inline-block;

      > * {
        display: inline-block;
      }

      div:first-child {
        margin-right: 5px;
      }
    }
  }
}
