@import 'shared/styles/colors';
@import 'shared/styles/_basics';
@import 'shared/styles/_variables';

.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 64rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  .secondaryBtn {
    box-shadow: inset 0 0 0 2px $primary;

    &:disabled {
      box-shadow: none;
    }
  }

  > :global(.usa-alert) {
    @include u-margin-top('205');
    @include u-margin-bottom(2);
  }
}

.customer-header {
  color: white;
  background-color: $base-darker;

  // undoes padding of parent container
  margin-top: -21px;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  @include u-margin-bottom(2);

  @include u-padding-top(3);
  @include u-padding-bottom(3);
  padding-left: 20px;
  padding-right: 20px;

  h2 {
    font-size: 28px;
    margin: 0px;
  }

  p {
    font-size: 15px;
    margin: 0px;
  }
}

.description {
  margin: 0px;
  font-size: 15px;

  .descriptionExtra {
    @include u-padding-bottom(3);
  }

  .printBtn {
    padding: 0;
    justify-content: start;
    text-decoration: underline;
  }
}

.moveSubmittedDescription {
  a {
    text-decoration: underline;

    &:visited {
      color: $link;
    }
  }
}

@media print {
  .homeContainer {
    display: none;
  }
}

.subheaderContainer {
  display: flex;
  justify-content: space-between;
  color: $base-lighter;
  @include u-margin-top(1.5);
  @include u-margin-bottom(0);

  .subheaderSubsection {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
  }

  .subheaderSubsection+.subheaderSubsection {
    @include u-margin-left(2);
  }

  dt {
    letter-spacing: 0.5px;
    font-size: 13px;
    line-height: 1.23;
  }

  dt+dd {
    @include u-margin-left(0);
    @include u-margin-top(1);
  }

  dd {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2;
    color: white;
  }

  @media (min-width: $tablet) {
    justify-content: flex-start;

    .subheaderSubsection {
      flex-direction: row;
      flex-basis: auto;
      flex-grow: 0;
    }

    dt:after {
      content: ': ';
    }

    dt,
    dd {
      font-size: 13px;
      line-height: 1.38;
    }

    dt+dd {
      @include u-margin-left(0.5em);
      @include u-margin-top(0);
    }
  }
}

.alertMessageSecondLine {
  display: block;
  @include u-margin-y(1em);
}

.alertMessageFirstLine {
  display: block;
}

.helper-submitted-section,
.helper-approved-section {
  h3 {
    @include u-margin-bottom(2);
  }

  p {
    @include u-margin-top(0);
    @include u-margin-bottom(0);
  }

  .top-gap {
    @include u-margin-top(1);
  }

  >div {
    @include u-margin-bottom(3);

    &:last-of-type {
      @include u-margin-bottom(0);
    }

    ul li+li {
      @include u-margin-top(0);
    }

    >p>strong {
      @include u-margin-bottom(1);
    }
  }
}
