@import 'shared/styles/colors';
@import 'shared/styles/_basics';

.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 64rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.customer-header {
  color: white;
  background-color: $base-darker;

  // undoes padding of parent container
  margin-top: -21px;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  @include u-margin-bottom(2);

  @include u-padding-top(3);
  @include u-padding-bottom(3);
  padding-left: 20px;
  padding-right: 20px;

  h2 {
    font-size: 28px;
    margin: 0px;
  }
  p {
    font-size: 15px;
    margin: 0px;
  }
}

.description {
  margin: 0px;
  font-size: 15px;

  .descriptionExtra {
    @include u-padding-bottom(3);
  }
}
