.radio-title {
  padding-top: 1rem;
}

.address-segment {
  padding-bottom: 6rem;
}

.delivery-location {
  position: relative;
  width: 900px;
}

.tool-tip {
  float: right;
  margin-top: -53px;
  margin-right: 120px;
}