form.default {
  padding: 2rem;
}

h3.form-title {
  font-size: 2rem;
}

table th,
table td {
  border: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
}

th {
  font-weight: bold;
}

span.estimate {
  color: #5b616b;
  margin-left: 0.5rem;
}


.DayPicker-Day:focus {
  outline: none;
}

.DayPicker-Day--pack {
  background-color: #a3bddf;
  border-radius: 0;
}

.DayPicker-Day--pickup {
  background-color: #0071bc;
  border-radius: 0;
}

.DayPicker-Day--transit {
  background: repeating-linear-gradient(45deg, transparent, transparent 0.5em, #a3bddf 0.5em, #a3bddf 0.75em);
  border-radius: 0;
}

.DayPicker-Day--delivery {
  background-color: #a3bddf;
  border-radius: 0;
  outline: 0.25em solid #497abf;
  outline-offset: -0.25em;
}

.DayPicker-Day--report {
  color: white;
  background-color: #000000;
  border-radius: 0;
}

.DayPicker-Weekday {
  color: #5b616b
}


.hhg-date-picker .instruction-heading {
  padding: 1rem 0 3rem;
}

.hhg-date-picker .pack-days-notice {
  padding-top: 3rem;
}

.hhg-date-picker .weight-info-box {
  background-color: #eff5fc;
  padding: 1.5rem;
  border: 1px solid #d1d1d1;
}
