form.default {
  padding: 2rem;
}

h3.form-title {
  font-size: 2rem;
}



table th,
table td {
  border: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
}

th {
  font-weight: bold;
}

span.estimate {
  color: gray;
  margin-left: 0.5rem;
}
