.shipment-wizard .form-section {
  margin-top: 3rem;
}

.shipment-wizard h3.instruction-heading {
  font-size: 2rem;
}

.shipment-wizard .entitlement-alert {
  padding-top: 3rem;
}

.shipment-wizard .legend-square {
  font-size: 1rem;
  width: 22px;
  height: 22px;
  display: inline-block;
}

.shipment-wizard .legend-label {
  padding-left: 0;
}

.shipment-wizard .days-for-pounds {
  background-color: #eff5fc;
  padding: 1.5rem;
  border: 1px solid #d1d1d1;
}
