name: F/E bundle diff

# For Truss and how we use this repo, pull_request and
# pull_request_target have no differences
#
# https://securitylab.github.com/research/github-actions-preventing-pwn-requests/
#
#    Workflows triggered via pull_request_target have write permission
#    to the target repository. They also have access to target
#    repository secrets. The same is true for workflows triggered on
#    pull_request from a branch in the same repository, but not from
#    external forks.
#
# Truss always uses branches in the same repository
#
# Using pull_request means changes to the workflow file are used in
# the PR, which is incredibly helpful when testing out changes
on:
  pull_request:
    branches:
      - main

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      frontend: ${{ steps.filter.outputs.frontend }}
    steps:
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            frontend:
              - 'src/**'
              - 'yarn.lock'

  build-head:
    needs: changes
    if: ${{ needs.changes.outputs.frontend == 'true' }}
    name: 'Build head'
    runs-on: ubuntu-latest
    steps:
      - name: Check out branch
        uses: actions/checkout@v3.5.2

      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: '18.13.0'

      - name: Install dependencies
        run: yarn install

      - name: Build head with options
        run: |
          export NODE_OPTIONS="--max-old-space-size=4096"
          echo "Using NODE_OPTIONS:${NODE_OPTIONS}"
          yarn build --stats

      - name: Upload stats.json
        uses: actions/upload-artifact@v3
        with:
          name: head-stats
          path: ./build/bundle-stats.json

  build-base:
    needs: changes
    if: ${{ needs.changes.outputs.frontend == 'true' }}
    name: 'Build base'
    runs-on: ubuntu-latest
    steps:
      - name: Check out base branch
        uses: actions/checkout@v3.5.2
        with:
          ref: ${{ github.base_ref }}

      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: '18.13.0'

      - name: Install dependencies
        run: yarn install

      - name: Build base with options
        run: |
          export NODE_OPTIONS="--max-old-space-size=4096"
          echo "Using NODE_OPTIONS:${NODE_OPTIONS}"
          yarn build --stats

      - name: Upload stats.json
        uses: actions/upload-artifact@v3
        with:
          name: base-stats
          path: ./build/bundle-stats.json

  compare:
    name: 'Compare base & head bundle size'
    runs-on: ubuntu-latest
    needs: [build-head, build-base]
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3
      - name: Diff between base & head
        uses: chronotruck/webpack-stats-diff-action@1.3.0
        with:
          base_stats_path: ./base-stats/bundle-stats.json
          head_stats_path: ./head-stats/bundle-stats.json
          token: ${{ secrets.GITHUB_TOKEN }}
          announcement_percentage_threshold_increase: 0
