on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  run-linters:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: setup go
        uses: actions/setup-go@v1
        with:
          go-version: '1.17'

      - name: install lint cmd
        run: go install ./cmd/ato-linter

      - name: Run custom go linter on codebase
        run: go run ./cmd/ato-linter/main.go -- ./...
