on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  run-linters:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up node
        uses: actions/setup-node@v1
        with:
          node-version: '16.15.0'

      - name: Install dependencies
        run: yarn install

      - name: Run eslint production
        run: yarn run lint:production
