on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  run-linters:
    concurrency:
      group: run-linters-${{ github.event.action || 'unknown' }}-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4.1.0

      - name: Set up node
        uses: actions/setup-node@v3
        with:
          cache: 'yarn'
          node-version-file: '.tool-versions'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run eslint tests
        run: yarn test:lint-rules

      - name: Run eslint production
        run: yarn run lint:production
