name: Happo CI

on:
  pull_request:
    branches: [integrationTesting]

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      frontend: ${{ steps.filter.outputs.frontend }}
    steps:
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            frontend:
              - 'src/**'
              - '.storybook/**'
              - '.happoInt.js'
              - 'yarn.lock'

  happo:
    needs: changes
    if: ${{ needs.changes.outputs.frontend == 'true' }}
    concurrency:
      group: happo-${{ github.event.action || 'unknown' }}-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4.1.6

      - name: Set up node
        uses: actions/setup-node@v4
        with:
          cache: 'yarn'
          node-version-file: '.tool-versions'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Start Happo run
        run: yarn happo-ci-github-actions
        env:
          HAPPO_API_KEY: ${{ secrets.HAPPO_API_KEY }}
          HAPPO_API_SECRET: ${{ secrets.HAPPO_API_SECRET }}
