name: Happo CI (main)

on:
  push:
    branches: [main]

jobs:
  happo:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3.3.0

      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: '18.13.0'

      - name: Install dependencies
        run: yarn install

      - name: Start Happo run
        run: yarn happo-ci-github-actions
        env:
          HAPPO_API_KEY: ${{ secrets.HAPPO_API_KEY }}
          HAPPO_API_SECRET: ${{ secrets.HAPPO_API_SECRET }}
