name: Happo CI (main)

on:
  push:
    branches: [main]

jobs:
  happo:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4.1.6

      - name: Set up node
        uses: actions/setup-node@v4
        with:
          cache: 'yarn'
          node-version-file: '.tool-versions'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      # Rebuild the "canvas" dependency, when you yarn install canvas it doesn't come with a prebuilt binary
      # this means we gotta build the binary itself before we yarn install.
      # Expect this to be a required step until they release https://github.com/Automattic/node-canvas/releases/tag/v3.0.0-rc2
      - name: Rebuild dependencies without binaries
        run: |
          ./scripts/rebuild-dependencies-without-binaries

      - name: Start Happo run
        run: yarn happo-ci-github-actions
        env:
          HAPPO_API_KEY: ${{ secrets.HAPPO_API_KEY }}
          HAPPO_API_SECRET: ${{ secrets.HAPPO_API_SECRET }}
