@use 'styles/uswds/milmove' as milmove_uswds;

.ShipmentModificationTag {
  background-color: milmove_uswds.$info-light;
  display: inline-block;
  font-size: 13px;
  line-height: 1.38;
  height: 18px;
  width: 89px;
}
