@import '../../shared/styles/colors';

.ShipmentModificationTag {
  background-color: $info-light;
  display: inline-block;
  font-size: 13px;
  min-height: 18px;
  width: 89px;
  margin-left: 0.5333333333rem !important;
  font-size: 0.87rem;
  text-align: center;
}
