@import 'shared/styles/colors';
@import 'shared/styles/_basics';
@import 'shared/styles/_mixins';

.ShipmentModificationTag {
  background-color: $info-light;
  display: inline-block;
  font-size: 13px;
  line-height: 1.38;
  height: 18px;
  width: 89px;
}
